.incentive-limit-data-grid {
    width: 100%;
    margin: 15px 20px;
}
.incentive-limit-data-grid > thead > tr > th {
    text-align: left;
    color: #999999;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 7px;
}
.incentive-limit-data-grid > tbody > tr > td {
    color: #333333;
    font-size: 13px;
    padding: 0 7px;
}
.incentive-limit-data-grid > tbody > tr > td p {
    margin: 0.5em 0;
}
