<table ng-if="settings.dataModel.limitRecords && settings.dataModel.limitRecords.length > 1" class="incentive-limit-data-grid">
    <thead>
    <tr>
        <th ng-if="settings.dataModel.hasLimitAppliesToFields">
            {{getFieldLabel('LimitAppliesTo__c')}}
        </th>
        <th ng-if="settings.dataModel.hasLimitAppliesToFields">
            &nbsp;
        </th>
        <th ng-if="settings.dataModel.hasLimitMetricField">
            {{getFieldLabel('LimitMetric__c')}}
        </th>
        <th ng-if="settings.dataModel.hasLimitValueOrValueSource">
            {{getFieldLabel(CUSTOMFIELDNAMES.MAXLIMITVALUETYPEFIELDNAME)}}
        </th>
        <th ng-if="settings.dataModel.hasLimitValueOrValueSource">
            {{getFieldLabel('LimitValue__c')}}
        </th>
        <th ng-if="settings.dataModel.hasLimitValueOrValueSource">
            {{getFieldLabel('LimitValueSource__c')}}
        </th>
        <th ng-if="settings.dataModel.hasRecurrencyField">
            {{getFieldLabel('RecurrenceType__c')}}
        </th>
        <th ng-if="settings.dataModel.hasRecurrencyField">
            {{getFieldLabel('RecurrenceFrequency__c')}}
        </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="incentiveLimit in settings.dataModel.limitRecords">
        <td ng-if="settings.dataModel.hasLimitAppliesToFields">
            <incentive-field ng-if="incentiveLimit.incentiveLimit[nsPrefix + 'LimitAppliesTo__c']" settings="incentiveLimit.incentiveLimit[nsPrefix + 'LimitAppliesTo__c']" id="{{incentiveLimit.incentiveLimit[nsPrefix + 'LimitAppliesTo__c'].field.id}}"></incentive-field>
        </td>
        <td ng-if="settings.dataModel.hasLimitAppliesToFields">
            <incentive-field ng-if="incentiveLimit.incentiveLimit[nsPrefix + 'LimitAppliesToValueSource__c']" settings="incentiveLimit.incentiveLimit[nsPrefix + 'LimitAppliesToValueSource__c']" id="{{incentiveLimit.incentiveLimit[nsPrefix + 'LimitAppliesToValueSource__c'].field.id}}"></incentive-field>
        </td>
        <td ng-if="settings.dataModel.hasLimitMetricField">
            <incentive-field ng-if="incentiveLimit.incentiveLimit[nsPrefix + 'LimitMetric__c']" settings="incentiveLimit.incentiveLimit[nsPrefix + 'LimitMetric__c']" id="{{incentiveLimit.incentiveLimit[nsPrefix + 'LimitMetric__c'].field.id}}"></incentive-field>
        </td>
        <td ng-if="settings.dataModel.hasLimitValueOrValueSource">
            <incentive-field ng-if="incentiveLimit.incentiveLimit[CUSTOMFIELDNAMES.MAXLIMITVALUETYPEFIELDNAME]" settings="incentiveLimit.incentiveLimit[CUSTOMFIELDNAMES.MAXLIMITVALUETYPEFIELDNAME]" id="{{incentiveLimit.incentiveLimit[CUSTOMFIELDNAMES.MAXLIMITVALUETYPEFIELDNAME].field.id}}"></incentive-field>
        </td>
        <td ng-if="settings.dataModel.hasLimitValueOrValueSource">
            <incentive-field ng-if="incentiveLimit.incentiveLimit[nsPrefix + 'LimitValue__c']" settings="incentiveLimit.incentiveLimit[nsPrefix + 'LimitValue__c']" id="{{incentiveLimit.incentiveLimit[nsPrefix + 'LimitValue__c'].field.id}}"></incentive-field>
        </td>
        <td ng-if="settings.dataModel.hasLimitValueOrValueSource">
            <incentive-field ng-if="incentiveLimit.incentiveLimit[nsPrefix + 'LimitValueSource__c']" settings="incentiveLimit.incentiveLimit[nsPrefix + 'LimitValueSource__c']" id="{{incentiveLimit.incentiveLimit[nsPrefix + 'LimitValueSource__c'].field.id}}"></incentive-field>
        </td>
        <td ng-if="settings.dataModel.hasRecurrencyField">
            <incentive-field ng-if="incentiveLimit.incentiveLimit[nsPrefix + 'RecurrenceType__c']" settings="incentiveLimit.incentiveLimit[nsPrefix + 'RecurrenceType__c']" id="{{incentiveLimit.incentiveLimit[nsPrefix + 'RecurrenceType__c'].field.id}}"></incentive-field>
        </td>
        <td ng-if="settings.dataModel.hasRecurrencyField">
            <incentive-field ng-if="incentiveLimit.incentiveLimit[nsPrefix + 'RecurrenceFrequency__c']" settings="incentiveLimit.incentiveLimit[nsPrefix + 'RecurrenceFrequency__c']" id="{{incentiveLimit.incentiveLimit[nsPrefix + 'RecurrenceFrequency__c'].field.id}}"></incentive-field>
        </td>
    </tr>
    </tbody>
</table>
<div ng-if="settings.dataModel.limitRecords && settings.dataModel.limitRecords.length === 1" class="directives-common incentive-information-fields-cont">
    {{setLimit(settings.dataModel.limitRecords[0].incentiveLimit)}}
        <div style="overflow: auto;">
            <div ng-if="settings.dataModel.hasLimitAppliesToFields && limit[nsPrefix + 'LimitAppliesTo__c']" class="incentive-information-field">
                <label for="{{limit[nsPrefix + 'LimitAppliesTo__c'].field.id}}">{{limit[nsPrefix + 'LimitAppliesTo__c'].field.labelText}}</label>
                <incentive-field settings="limit[nsPrefix + 'LimitAppliesTo__c']" id="{{limit[nsPrefix + 'LimitAppliesTo__c'].field.id}}"></incentive-field>
            </div>
            <div ng-if="settings.dataModel.hasLimitAppliesToFields && limit[nsPrefix + 'LimitAppliesToValueSource__c']" class="incentive-information-field">
                <label for="{{limit[nsPrefix + 'LimitAppliesToValueSource__c'].field.id}}">{{(limit[nsPrefix + 'LimitAppliesToValueSource__c'].field.labelText == "" ? "&nbsp;" : limit[nsPrefix + 'LimitAppliesToValueSource__c'].field.labelText)}}</label>
                <incentive-field settings="limit[nsPrefix + 'LimitAppliesToValueSource__c']" id="limit[nsPrefix + 'LimitAppliesToValueSource__c'].field.id"></incentive-field>
            </div>
        </div>
        <div style="overflow: auto; clear: both;">
            <div ng-if="settings.dataModel.hasLimitMetricField && limit[nsPrefix + 'LimitMetric__c']" class="incentive-information-field">
                <label for="{{limit[nsPrefix + 'LimitMetric__c'].field.id}}">{{limit[nsPrefix + 'LimitMetric__c'].field.labelText}}</label>
                <incentive-field settings="limit[nsPrefix + 'LimitMetric__c']" id="limit[nsPrefix + 'LimitMetric__c'].field.id"></incentive-field>
            </div>
            <div ng-if="settings.dataModel.hasLimitValueOrValueSource && limit[CUSTOMFIELDNAMES.MAXLIMITVALUETYPEFIELDNAME]" class="incentive-information-field">
                <label for="{{limit[CUSTOMFIELDNAMES.MAXLIMITVALUETYPEFIELDNAME].field.id}}">{{limit[CUSTOMFIELDNAMES.MAXLIMITVALUETYPEFIELDNAME].field.labelText}}</label>
                <incentive-field settings="limit[CUSTOMFIELDNAMES.MAXLIMITVALUETYPEFIELDNAME]" id="limit[CUSTOMFIELDNAMES.MAXLIMITVALUETYPEFIELDNAME].field.id"></incentive-field>
        </div>
        <div ng-if="settings.dataModel.hasLimitValueOrValueSource
                && limit[CUSTOMFIELDNAMES.MAXLIMITVALUETYPEFIELDNAME].field.value.value === 'Constant'
                && limit[nsPrefix + 'LimitValue__c']" class="incentive-information-field" class="incentive-information-field">
                <label for="{{limit[nsPrefix + 'LimitValue__c'].field.id}}">{{limit[nsPrefix + 'LimitValue__c'].field.labelText}}</label>
                <incentive-field settings="limit[nsPrefix + 'LimitValue__c']" id="limit[nsPrefix + 'LimitValue__c'].field.id"></incentive-field>
        </div>
        <div ng-if="settings.dataModel.hasLimitValueOrValueSource
                && limit[CUSTOMFIELDNAMES.MAXLIMITVALUETYPEFIELDNAME].field.value.value !== 'Constant'
                && limit[nsPrefix + 'LimitValueSource__c']" class="incentive-information-field">
                <label for="{{limit[nsPrefix + 'LimitValueSource__c'].field.id}}">{{limit[nsPrefix + 'LimitValueSource__c'].field.labelText}}</label>
                <incentive-field settings="limit[nsPrefix + 'LimitValueSource__c']" id="limit[nsPrefix + 'LimitValueSource__c'].field.id"></incentive-field>
            </div>
        </div>
        <div style="overflow: auto; clear: both;">
            <div ng-if="settings.dataModel.hasRecurrencyField && limit[nsPrefix + 'RecurrenceType__c']" class="incentive-information-field">
                <label for="{{limit[nsPrefix + 'RecurrenceType__c'].field.id}}">{{limit[nsPrefix + 'RecurrenceType__c'].field.labelText}}</label>
                <incentive-field settings="limit[nsPrefix + 'RecurrenceType__c']" id="limit[nsPrefix + 'RecurrenceType__c'].field.id"></incentive-field>
        </div>
        <div ng-if="settings.dataModel.hasRecurrencyField
                && incentiveLimit.incentiveLimit['RecurrenceType__c'].value === CONST.LIMITS.RECURRENCYTYPES.RECURRING
                && limit[nsPrefix + 'RecurrenceFrequency__c']" class="incentive-information-field">
                <label for="{{limit[nsPrefix + 'RecurrenceFrequency__c'].field.id}}">{{limit[nsPrefix + 'RecurrenceFrequency__c'].field.labelText}}</label>
                <incentive-field settings="limit[nsPrefix + 'RecurrenceFrequency__c']" id="lmtFldRecurrenceFrequency__c"></incentive-field>
            </div>
        </div>
</div>