	.wizard-icontrol-container {
        	width: 1045px;        	 
         }
        .wizard-icontrol {
            font-weight: bold;    		
    		margin-right: 220px;
         }
        .wizard-btn-new-icontrol {            
        	width: 124px;
    		height: 20px;    		
    		margin-top: 1px;          	
        }       
        .wizard-icontrol-listview {
        	margin-top: 8px;
      	  	margin-bottom: 5px;
        }
        .wizard-icontrol-listview tr td.dataCell:first-child a {
        	color: #006295;
        }
        .wizard-icontrol-listview tr td.dataCell a {
		text-decoration: none;
        }
        .wizard-icontrol-listview tr td.dataCell a:hover {
		text-decoration: underline;
        }
	.wizard-icontrol-pagination {
		width: 100%;
	}
	.wizard-icontrol-pagination a {
		text-decoration: none;
        }
	.wizard-icontrol-pagination a:hover {
		text-decoration: underline;
        }
	.searchTextInputControl{        	         
		float: right; 
        	width: 222px; 
        	height: 20px; 
        	margin-bottom: 7px;
        	text-indent: 5px;       	     	
        }