
<div class="main-configure-product__product-option-container">
  <div class="form-element-container product-option__name">
    <div ng-click="option.option.toggleSelected()" class="checkbox-override">
      <input type="checkbox" ng-checked="option.option.isSelected()" id="{{option.option.data.Id + option.level}}" name="{{option.name + option.level}}"/>
      <label for="{{option.option.Id + option.level}}"></label>
    </div>
    <label for="{{option.option.data.Id + option.level}}">{{option.option.name()}}</label>
  </div>
  <div class="form-element-container"><span>{{option.option.customData(1)}}</span></div>
  <div class="form-element-container"><span>{{option.option.customData(2)}}</span></div>
  <div class="form-element-container product-option__quantity">
    <input ng-if="option.option.optionLine" type="text" ng-model="option.option.optionLine.data.chargeLines[0].lineItemSO.Quantity__c"/>
  </div>
  <div class="form-element-container product-option__price"><span>$ {{option.price()}}</span></div>
</div>