
<div ng-class="{'is--open': group.data.isExpanded}" ng-repeat="group in groups.lineItem.optionGroups" class="main-configure-product__product-option">
  <h3 ng-if="groups.lineItem.isTopLevel()" toggle-class="is--open" parent="main-configure-product__product-option" class="product-option__title"><i class="is--expandable"></i>{{group.data.label}}</h3><a ng-if="!groups.lineItem.isTopLevel()" toggle-class="is--open" parent="main-configure-product__product-option" class="product-option__nested-option-configuration"><i class="is--expandable"></i><span class="nested-option-configuration--hide">Hide</span><span class="nested-option-configuration--show">Show</span>Option Configuration</a>
  <div ng-if="groups.hasAttrConfig()" class="attrs-content">
    <option-attribute-config line-item="groups.lineItem"></option-attribute-config>
  </div>
  <label ng-if="!groups.lineItem.isTopLevel()" class="nested-option-configuration__title">{{group.data.label}}</label>
  <div class="option-content">
    <div ng-if="groups.lineItem.isTopLevel()" class="product-option__label-row">
      <label class="product-option__name">Option</label>
      <label>{{groups.config.pageSettings.optionsPageSettings.ExtraOptionProductColumn1}}</label>
      <label>{{groups.config.pageSettings.optionsPageSettings.ExtraOptionProductColumn2}}</label>
      <label class="product-option__quantity">Qty</label>
      <label class="product-option__price">Price</label>
    </div>
    <radio-option-list ng-if="group.isRadio()" level="{{groups.getLevel()}}" group="group"></radio-option-list>
    <checkbox-option-list ng-if="group.isCheckbox()" level="{{groups.getLevel()}}" group="group"></checkbox-option-list>
    <picklist-option-list ng-if="group.isPicklist()" level="{{groups.getLevel()}}" group="group"></picklist-option-list>
  </div>
</div>