
<div ng-hide="group.isHidden()" ng-class="{expanded: group.isExpanded(), collapsed: !group.isExpanded()}" class="main-configure-product__product-option">
  <h3 ng-click="group.toggleExpanded()">{{group.label()}}</h3>
  <div ng-show="group.isExpanded()" class="option-content">
    <div class="main-configure-product__product-option-label-row">
      <label class="main-configure-product__product-option-name">Option</label>
      <label class="main-configure-product__product-option-quantity">Qty</label>
      <label class="main-configure-product__product-option-price">Price</label>
    </div>
    <picklist-option-list ng-if="group.isPicklist()" group="group.group"></picklist-option-list>
    <radio-option-list ng-if="group.isRadio()" lineitem="group.lineItem" level="{{group.level}}" group="group.group"></radio-option-list>
    <checkbox-option-list ng-if="group.isCheckbox()" group="group.group"></checkbox-option-list>
  </div>
</div>