
<div ng-repeat="group in attrs.lineItem.attrGroups" class="main-configure-product__product-attribute">
  <h3>{{group.Name}}</h3>
  <div ng-class="{'two-column': {{group.TwoColumnAttributeDisplay__c}}}" ng-repeat="attr in group.Attributes__r" class="form-element-container two-column">
    <label>{{attrs.attributeLabel(attr.Field__c)}}</label>
    <p ng-show="false">{{attrs.attributeHelp(attr.Field__c)}}</p>
    <div ng-if="attrs.isPicklist(attr.Field__c)" class="select-override">
      <select ng-model="attrs.attrSO()[attr.Field__c]" ng-options="value.value as value.label for value in attrs.valuesForAttr(attr.Field__c)"></select>
    </div>
    <input ng-if="attrs.isTextArea(attr.Field__c)" ng-model="attrs.attrSO()[attr.Field__c]" type="text"/>
    <div ng-if="attrs.isMultiPickList(attr.Field__c)" ng-repeat="value in attrs.valuesForAttr(attr.Field__c)" class="multipick-item">
      <div class="checkbox-override">
        <input ng-model="attrs.attrSO()[attr.Field__c]" type="checkbox" id="checkbox-{{$index}}"/>
        <label for="checkbox-{{$index}}"></label>
      </div>
      <label for="checkbox-{{$index}}">{{value.label}}</label>
    </div>
  </div>
</div>