
<div class="main-configure-product__product-option-row-container">
  <div class="main-configure-product__product-option-row main-configure-product__product-option-row--select">
    <div class="main-configure-product__product-option-container">
      <div class="main-configure-product__product-option-select">
        <div class="select-override">
          <select ng-change="list.selectOption(list.selected)" ng-model="list.selected" ng-options="option.data.ComponentProductId__r.Name for option in list.group.options"></select>
        </div>
      </div>
      <div class="form-element-container"><span>{{list.selected.customData(1)}}</span></div>
      <div class="form-element-container"><span>{{list.selected.customData(2)}}</span></div>
      <div class="form-element-container product-option__quantity">
        <input ng-if="list.selected.optionLine" type="text" ng-model="list.selected.optionLine.data.chargeLines[0].lineItemSO.Quantity__c"/>
      </div>
      <div class="product-option__price"><span>$ {{list.price()}}</span></div>
    </div>
  </div>
</div>