.nok-slds .uiInput--input.input:focus,
.nok-slds .uiInput--input.input:active, .nok-slds .uiInput--select .uiPopupTrigger a:focus,
.nok-slds .uiInput--select .select:focus, .nok-slds .slds-input:focus,
.nok-slds .slds-textarea:focus, .nok-slds .slds-breadcrumb a:focus, .nok-slds .slds-select:focus, .nok-slds .slds-button:focus, .nok-slds .slds-button.slds-button_neutral:focus, .nok-slds .slds-button.slds-button--neutral:focus, .nok-slds .slds-checkbox [type="checkbox"]:focus + .slds-checkbox_faux,
.nok-slds .slds-checkbox [type="checkbox"]:focus ~ .slds-checkbox--faux,
.nok-slds .slds-checkbox [type="checkbox"]:focus + .slds-checkbox__label .slds-checkbox_faux,
.nok-slds .slds-checkbox [type="checkbox"]:focus + .slds-checkbox__label .slds-checkbox--faux, .nok-slds [role=combobox] input[readonly]:focus, .nok-slds .slds-pill__action:focus {
  border-color: #00C9FF;
  box-shadow: 0 0 3px 0 rgba(0, 201, 255, 0.5);
}

/** CSS override for Napili custom theme **/
@font-face {
  font-family: 'NokiaPureHeadline';
  src: url("NokiaPureFonts/NokiaPureHeadline_Regular.eot");
  src: url("NokiaPureFonts/NokiaPureHeadline_Regular.eot") format("embedded-opentype"), url("NokiaPureFonts/NokiaPureHeadline_Regular.ttf") format("truetype"), url("NokiaPureFonts/NokiaPureHeadline_Regular.svg#NokiaPureHeadline_Regular") format("svg");
}

@font-face {
  font-family: 'NokiaPureHeadline_Light';
  src: url("NokiaPureFonts/NokiaPureHeadline_Light.eot");
  src: url("NokiaPureFonts/NokiaPureHeadline_Light.eot") format("embedded-opentype"), url("NokiaPureFonts/NokiaPureHeadline_Light.woff2") format("woff2"), url("NokiaPureFonts/NokiaPureHeadline_Light.woff") format("woff"), url("NokiaPureFonts/NokiaPureHeadline_Light.ttf") format("truetype"), url("NokiaPureFonts/NokiaPureHeadline_Light.svg#NokiaPureHeadline_Light") format("svg");
}

@font-face {
  font-family: 'NokiaPureHeadline_Ultralight';
  src: url("NokiaPureFonts/NokiaPureHeadline_Ultralight.eot");
  src: url("NokiaPureFonts/NokiaPureHeadline_Ultralight.eot") format("embedded-opentype"), url("NokiaPureFonts/NokiaPureHeadline_Ultralight.ttf") format("truetype"), url("NokiaPureFonts/NokiaPureHeadline_Ultralight.svg#NokiaPureHeadline_Ultralight") format("svg");
}

@font-face {
  font-family: 'NokiaPureTextRegular';
  src: url("NokiaPureFonts/NokiaPureTextRegular.eot");
  src: url("NokiaPureFonts/NokiaPureTextRegular.eot") format("embedded-opentype"), url("NokiaPureFonts/NokiaPureTextRegular.woff2") format("woff2"), url("NokiaPureFonts/NokiaPureTextRegular.woff") format("woff"), url("NokiaPureFonts/NokiaPureTextRegular.ttf") format("truetype"), url("NokiaPureFonts/NokiaPureTextRegular.svg#NokiaPureTextRegular") format("svg");
}

.nok-slds {
  font-family: "NokiaPureTextRegular", "Salesforce Sans", Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  color: #4D5766;
}

.ncp-text-headline_hero {
  font-family: "NokiaPureHeadline_Ultralight", "Salesforce Sans", Arial, Helvetica, sans-serif;
  font-size: 3rem;
  line-height: 3.5rem;
}

.ncp-text-headline_one {
  font-family: "NokiaPureHeadline_Light", "Salesforce Sans", Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  line-height: 1.75rem;
}

.ncp-text-headline_two {
  font-family: "NokiaPureHeadline", "Salesforce Sans", Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.ncp-text-headline_three {
  font-family: "NokiaPureHeadline_Light", "Salesforce Sans", Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
  line-height: 1.25rem;
}

.ncp-text-headline_four {
  font-family: "NokiaPureHeadline", "Salesforce Sans", Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
  line-height: 1.25rem;
}

.ncp-text-subheader {
  font-family: "NokiaPureHeadline_Light", "Salesforce Sans", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: calc(1rem + 1px);
}

.ncp-text-body_regular {
  font-family: "NokiaPureTextRegular", "Salesforce Sans", Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  line-height: calc(1rem + 1px);
}

.ncp-text-body_regular-bold {
  font-family: "NokiaPureTextRegular", "Salesforce Sans", Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  line-height: calc(1rem + 1px);
  font-weight: bold;
}

.ncp-text-caption {
  font-family: "NokiaPureTextRegular", "Salesforce Sans", Arial, Helvetica, sans-serif;
  font-size: 0.75rem;
  line-height: 0.875rem;
}

.ncp-text-caption-bold {
  font-family: "NokiaPureTextRegular", "Salesforce Sans", Arial, Helvetica, sans-serif;
  font-size: 0.75rem;
  line-height: 0.875rem;
  font-weight: bold;
}

::-moz-selection {
  background: #EDF3F5;
}

::selection {
  background: #EDF3F5;
}

.ncp-text-color-primary-brand {
  color: #124191;
}

.ncp-text-color-primary-background {
  color: #FFFFFF;
}

.ncp-text-color-main {
  color: #001135;
}

.ncp-text-color-secondary {
  color: #4D5766;
}

.ncp-text-color-disabled {
  color: #98A2AE;
}

.ncp-background-color-primary-brand {
  background-color: #124191;
}

.ncp-background-color-primary-background {
  background-color: #FFFFFF;
}

.ncp-background-color-grey-1 {
  background-color: #EDF3F5;
}

.ncp-svg-fill-color-primary-brand {
  fill: #124191;
}

.ncp-svg-fill-color-primary-background {
  fill: #FFFFFF;
}

.ncp-border-around_grey-1 {
  border: 1px solid #EDF3F5;
}

.ncp-border-around_grey-2 {
  border: 1px solid #BEC8D2;
}

.ncp-border-around_grey-3 {
  border: 1px solid #98A2AE;
}

.ncp-border-color-grey-1 {
  border-color: #EDF3F5;
}

.ncp-border-color-grey-2 {
  border-color: #BEC8D2;
}

.ncp-border-color-grey-3 {
  border-color: #98A2AE;
}

@media (min-width: 320px) {
  .nok-slds .ncp-text-headline_hero {
    font-family: "NokiaPureHeadline_Light", "Salesforce Sans", Arial, Helvetica, sans-serif;
    font-size: 2rem;
  }
  .nok-slds .slds-rp-horizontal_xxx-large {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (min-width: 480px) {
  .nok-slds .ncp-text-headline_hero {
    font-family: "NokiaPureHeadline_Light", "Salesforce Sans", Arial, Helvetica, sans-serif;
    font-size: 2rem;
  }
  .nok-slds .slds-rp-horizontal_xxx-large {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (min-width: 768px) {
  .nok-slds .ncp-text-headline_hero {
    font-family: "NokiaPureHeadline_Light", "Salesforce Sans", Arial, Helvetica, sans-serif;
    font-size: 3rem;
  }
  .nok-slds .slds-rp-horizontal_xxx-large {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (min-width: 1024px) {
  .nok-slds .ncp-text-headline_hero {
    font-family: "NokiaPureHeadline_Ultralight", "Salesforce Sans", Arial, Helvetica, sans-serif;
    font-size: 3rem;
  }
  .nok-slds .slds-rp-horizontal_xxx-large {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.nok-slds .slds-p-horizontal_xxx-large {
  padding-left: 5rem;
  padding-right: 5rem;
}

.nok-slds .slds-container_x-small {
  max-width: 25rem;
}

@media (min-width: 80em) {
  .nok-slds [class*="slds-x-large-size_"],
  .nok-slds [class*="slds-x-large-size--"] {
    flex: none;
  }
  .nok-slds .slds-x-large-size_1-of-1,
  .nok-slds .slds-x-large-size--1-of-1 {
    width: 100%;
  }
  .nok-slds .slds-x-large-size_1-of-2,
  .nok-slds .slds-x-large-size--1-of-2 {
    width: 50%;
  }
  .nok-slds .slds-x-large-size_2-of-2,
  .nok-slds .slds-x-large-size--2-of-2 {
    width: 100%;
  }
  .nok-slds .slds-x-large-size_1-of-3,
  .nok-slds .slds-x-large-size--1-of-3 {
    width: 33.3333333333%;
  }
  .nok-slds .slds-x-large-size_2-of-3,
  .nok-slds .slds-x-large-size--2-of-3 {
    width: 66.6666666667%;
  }
  .nok-slds .slds-x-large-size_3-of-3,
  .nok-slds .slds-x-large-size--3-of-3 {
    width: 100%;
  }
  .nok-slds .slds-x-large-size_1-of-4,
  .nok-slds .slds-x-large-size--1-of-4 {
    width: 25%;
  }
  .nok-slds .slds-x-large-size_2-of-4,
  .nok-slds .slds-x-large-size--2-of-4 {
    width: 50%;
  }
  .nok-slds .slds-x-large-size_3-of-4,
  .nok-slds .slds-x-large-size--3-of-4 {
    width: 75%;
  }
  .nok-slds .slds-x-large-size_4-of-4,
  .nok-slds .slds-x-large-size--4-of-4 {
    width: 100%;
  }
  .nok-slds .slds-x-large-size_1-of-5,
  .nok-slds .slds-x-large-size--1-of-5 {
    width: 20%;
  }
  .nok-slds .slds-x-large-size_2-of-5,
  .nok-slds .slds-x-large-size--2-of-5 {
    width: 40%;
  }
  .nok-slds .slds-x-large-size_3-of-5,
  .nok-slds .slds-x-large-size--3-of-5 {
    width: 60%;
  }
  .nok-slds .slds-x-large-size_4-of-5,
  .nok-slds .slds-x-large-size--4-of-5 {
    width: 80%;
  }
  .nok-slds .slds-x-large-size_5-of-5,
  .nok-slds .slds-x-large-size--5-of-5 {
    width: 100%;
  }
  .nok-slds .slds-x-large-size_1-of-6,
  .nok-slds .slds-x-large-size--1-of-6 {
    width: 16.6666666667%;
  }
  .nok-slds .slds-x-large-size_2-of-6,
  .nok-slds .slds-x-large-size--2-of-6 {
    width: 33.3333333333%;
  }
  .nok-slds .slds-x-large-size_3-of-6,
  .nok-slds .slds-x-large-size--3-of-6 {
    width: 50%;
  }
  .nok-slds .slds-x-large-size_4-of-6,
  .nok-slds .slds-x-large-size--4-of-6 {
    width: 66.6666666667%;
  }
  .nok-slds .slds-x-large-size_5-of-6,
  .nok-slds .slds-x-large-size--5-of-6 {
    width: 83.3333333333%;
  }
  .nok-slds .slds-x-large-size_6-of-6,
  .nok-slds .slds-x-large-size--6-of-6 {
    width: 100%;
  }
  .nok-slds .slds-x-large-size_1-of-7,
  .nok-slds .slds-x-large-size--1-of-7 {
    width: 14.2857142857%;
  }
  .nok-slds .slds-x-large-size_2-of-7,
  .nok-slds .slds-x-large-size--2-of-7 {
    width: 28.5714285714%;
  }
  .nok-slds .slds-x-large-size_3-of-7,
  .nok-slds .slds-x-large-size--3-of-7 {
    width: 42.8571428571%;
  }
  .nok-slds .slds-x-large-size_4-of-7,
  .nok-slds .slds-x-large-size--4-of-7 {
    width: 57.1428571429%;
  }
  .nok-slds .slds-x-large-size_5-of-7,
  .nok-slds .slds-x-large-size--5-of-7 {
    width: 71.4285714286%;
  }
  .nok-slds .slds-x-large-size_6-of-7,
  .nok-slds .slds-x-large-size--6-of-7 {
    width: 85.7142857143%;
  }
  .nok-slds .slds-x-large-size_7-of-7,
  .nok-slds .slds-x-large-size--7-of-7 {
    width: 100%;
  }
  .nok-slds .slds-x-large-size_1-of-8,
  .nok-slds .slds-x-large-size--1-of-8 {
    width: 12.5%;
  }
  .nok-slds .slds-x-large-size_2-of-8,
  .nok-slds .slds-x-large-size--2-of-8 {
    width: 25%;
  }
  .nok-slds .slds-x-large-size_3-of-8,
  .nok-slds .slds-x-large-size--3-of-8 {
    width: 37.5%;
  }
  .nok-slds .slds-x-large-size_4-of-8,
  .nok-slds .slds-x-large-size--4-of-8 {
    width: 50%;
  }
  .nok-slds .slds-x-large-size_5-of-8,
  .nok-slds .slds-x-large-size--5-of-8 {
    width: 62.5%;
  }
  .nok-slds .slds-x-large-size_6-of-8,
  .nok-slds .slds-x-large-size--6-of-8 {
    width: 75%;
  }
  .nok-slds .slds-x-large-size_7-of-8,
  .nok-slds .slds-x-large-size--7-of-8 {
    width: 87.5%;
  }
  .nok-slds .slds-x-large-size_8-of-8,
  .nok-slds .slds-x-large-size--8-of-8 {
    width: 100%;
  }
  .nok-slds .slds-x-large-size_1-of-12,
  .nok-slds .slds-x-large-size--1-of-12 {
    width: 8.3333333333%;
  }
  .nok-slds .slds-x-large-size_2-of-12,
  .nok-slds .slds-x-large-size--2-of-12 {
    width: 16.6666666667%;
  }
  .nok-slds .slds-x-large-size_3-of-12,
  .nok-slds .slds-x-large-size--3-of-12 {
    width: 25%;
  }
  .nok-slds .slds-x-large-size_4-of-12,
  .nok-slds .slds-x-large-size--4-of-12 {
    width: 33.3333333333%;
  }
  .nok-slds .slds-x-large-size_5-of-12,
  .nok-slds .slds-x-large-size--5-of-12 {
    width: 41.6666666667%;
  }
  .nok-slds .slds-x-large-size_6-of-12,
  .nok-slds .slds-x-large-size--6-of-12 {
    width: 50%;
  }
  .nok-slds .slds-x-large-size_7-of-12,
  .nok-slds .slds-x-large-size--7-of-12 {
    width: 58.3333333333%;
  }
  .nok-slds .slds-x-large-size_8-of-12,
  .nok-slds .slds-x-large-size--8-of-12 {
    width: 66.6666666667%;
  }
  .nok-slds .slds-x-large-size_9-of-12,
  .nok-slds .slds-x-large-size--9-of-12 {
    width: 75%;
  }
  .nok-slds .slds-x-large-size_10-of-12,
  .nok-slds .slds-x-large-size--10-of-12 {
    width: 83.3333333333%;
  }
  .nok-slds .slds-x-large-size_11-of-12,
  .nok-slds .slds-x-large-size--11-of-12 {
    width: 91.6666666667%;
  }
  .nok-slds .slds-x-large-size_12-of-12,
  .nok-slds .slds-x-large-size--12-of-12 {
    width: 100%;
  }
}

@media (min-width: 90em) {
  .nok-slds [class*="slds-xx-large-size_"],
  .nok-slds [class*="slds-xx-large-size--"] {
    flex: none;
  }
  .nok-slds .slds-xx-large-size_1-of-1,
  .nok-slds .slds-xx-large-size--1-of-1 {
    width: 100%;
  }
  .nok-slds .slds-xx-large-size_1-of-2,
  .nok-slds .slds-xx-large-size--1-of-2 {
    width: 50%;
  }
  .nok-slds .slds-xx-large-size_2-of-2,
  .nok-slds .slds-xx-large-size--2-of-2 {
    width: 100%;
  }
  .nok-slds .slds-xx-large-size_1-of-3,
  .nok-slds .slds-xx-large-size--1-of-3 {
    width: 33.3333333333%;
  }
  .nok-slds .slds-xx-large-size_2-of-3,
  .nok-slds .slds-xx-large-size--2-of-3 {
    width: 66.6666666667%;
  }
  .nok-slds .slds-xx-large-size_3-of-3,
  .nok-slds .slds-xx-large-size--3-of-3 {
    width: 100%;
  }
  .nok-slds .slds-xx-large-size_1-of-4,
  .nok-slds .slds-xx-large-size--1-of-4 {
    width: 25%;
  }
  .nok-slds .slds-xx-large-size_2-of-4,
  .nok-slds .slds-xx-large-size--2-of-4 {
    width: 50%;
  }
  .nok-slds .slds-xx-large-size_3-of-4,
  .nok-slds .slds-xx-large-size--3-of-4 {
    width: 75%;
  }
  .nok-slds .slds-xx-large-size_4-of-4,
  .nok-slds .slds-xx-large-size--4-of-4 {
    width: 100%;
  }
  .nok-slds .slds-xx-large-size_1-of-5,
  .nok-slds .slds-xx-large-size--1-of-5 {
    width: 20%;
  }
  .nok-slds .slds-xx-large-size_2-of-5,
  .nok-slds .slds-xx-large-size--2-of-5 {
    width: 40%;
  }
  .nok-slds .slds-xx-large-size_3-of-5,
  .nok-slds .slds-xx-large-size--3-of-5 {
    width: 60%;
  }
  .nok-slds .slds-xx-large-size_4-of-5,
  .nok-slds .slds-xx-large-size--4-of-5 {
    width: 80%;
  }
  .nok-slds .slds-xx-large-size_5-of-5,
  .nok-slds .slds-xx-large-size--5-of-5 {
    width: 100%;
  }
  .nok-slds .slds-xx-large-size_1-of-6,
  .nok-slds .slds-xx-large-size--1-of-6 {
    width: 16.6666666667%;
  }
  .nok-slds .slds-xx-large-size_2-of-6,
  .nok-slds .slds-xx-large-size--2-of-6 {
    width: 33.3333333333%;
  }
  .nok-slds .slds-xx-large-size_3-of-6,
  .nok-slds .slds-xx-large-size--3-of-6 {
    width: 50%;
  }
  .nok-slds .slds-xx-large-size_4-of-6,
  .nok-slds .slds-xx-large-size--4-of-6 {
    width: 66.6666666667%;
  }
  .nok-slds .slds-xx-large-size_5-of-6,
  .nok-slds .slds-xx-large-size--5-of-6 {
    width: 83.3333333333%;
  }
  .nok-slds .slds-xx-large-size_6-of-6,
  .nok-slds .slds-xx-large-size--6-of-6 {
    width: 100%;
  }
  .nok-slds .slds-xx-large-size_1-of-7,
  .nok-slds .slds-xx-large-size--1-of-7 {
    width: 14.2857142857%;
  }
  .nok-slds .slds-xx-large-size_2-of-7,
  .nok-slds .slds-xx-large-size--2-of-7 {
    width: 28.5714285714%;
  }
  .nok-slds .slds-xx-large-size_3-of-7,
  .nok-slds .slds-xx-large-size--3-of-7 {
    width: 42.8571428571%;
  }
  .nok-slds .slds-xx-large-size_4-of-7,
  .nok-slds .slds-xx-large-size--4-of-7 {
    width: 57.1428571429%;
  }
  .nok-slds .slds-xx-large-size_5-of-7,
  .nok-slds .slds-xx-large-size--5-of-7 {
    width: 71.4285714286%;
  }
  .nok-slds .slds-xx-large-size_6-of-7,
  .nok-slds .slds-xx-large-size--6-of-7 {
    width: 85.7142857143%;
  }
  .nok-slds .slds-xx-large-size_7-of-7,
  .nok-slds .slds-xx-large-size--7-of-7 {
    width: 100%;
  }
  .nok-slds .slds-xx-large-size_1-of-8,
  .nok-slds .slds-xx-large-size--1-of-8 {
    width: 12.5%;
  }
  .nok-slds .slds-xx-large-size_2-of-8,
  .nok-slds .slds-xx-large-size--2-of-8 {
    width: 25%;
  }
  .nok-slds .slds-xx-large-size_3-of-8,
  .nok-slds .slds-xx-large-size--3-of-8 {
    width: 37.5%;
  }
  .nok-slds .slds-xx-large-size_4-of-8,
  .nok-slds .slds-xx-large-size--4-of-8 {
    width: 50%;
  }
  .nok-slds .slds-xx-large-size_5-of-8,
  .nok-slds .slds-xx-large-size--5-of-8 {
    width: 62.5%;
  }
  .nok-slds .slds-xx-large-size_6-of-8,
  .nok-slds .slds-xx-large-size--6-of-8 {
    width: 75%;
  }
  .nok-slds .slds-xx-large-size_7-of-8,
  .nok-slds .slds-xx-large-size--7-of-8 {
    width: 87.5%;
  }
  .nok-slds .slds-xx-large-size_8-of-8,
  .nok-slds .slds-xx-large-size--8-of-8 {
    width: 100%;
  }
  .nok-slds .slds-xx-large-size_1-of-12,
  .nok-slds .slds-xx-large-size--1-of-12 {
    width: 8.3333333333%;
  }
  .nok-slds .slds-xx-large-size_2-of-12,
  .nok-slds .slds-xx-large-size--2-of-12 {
    width: 16.6666666667%;
  }
  .nok-slds .slds-xx-large-size_3-of-12,
  .nok-slds .slds-xx-large-size--3-of-12 {
    width: 25%;
  }
  .nok-slds .slds-xx-large-size_4-of-12,
  .nok-slds .slds-xx-large-size--4-of-12 {
    width: 33.3333333333%;
  }
  .nok-slds .slds-xx-large-size_5-of-12,
  .nok-slds .slds-xx-large-size--5-of-12 {
    width: 41.6666666667%;
  }
  .nok-slds .slds-xx-large-size_6-of-12,
  .nok-slds .slds-xx-large-size--6-of-12 {
    width: 50%;
  }
  .nok-slds .slds-xx-large-size_7-of-12,
  .nok-slds .slds-xx-large-size--7-of-12 {
    width: 58.3333333333%;
  }
  .nok-slds .slds-xx-large-size_8-of-12,
  .nok-slds .slds-xx-large-size--8-of-12 {
    width: 66.6666666667%;
  }
  .nok-slds .slds-xx-large-size_9-of-12,
  .nok-slds .slds-xx-large-size--9-of-12 {
    width: 75%;
  }
  .nok-slds .slds-xx-large-size_10-of-12,
  .nok-slds .slds-xx-large-size--10-of-12 {
    width: 83.3333333333%;
  }
  .nok-slds .slds-xx-large-size_11-of-12,
  .nok-slds .slds-xx-large-size--11-of-12 {
    width: 91.6666666667%;
  }
  .nok-slds .slds-xx-large-size_12-of-12,
  .nok-slds .slds-xx-large-size--12-of-12 {
    width: 100%;
  }
}

.nok-slds .slds-input,
.nok-slds .slds-textarea {
  border-radius: 0;
}

.nok-slds .slds-form-element__label {
  color: #4D5766;
  line-height: 1;
  font-size: 0.875rem;
}

.nok-slds .slds-input_light .slds-input[type="search"] {
  border: none;
}

.nok-slds .slds-input_light [role=combobox] input[readonly] {
  border: none;
}

.nok-slds .slds-accordion__list-item {
  border-top: 1px solid #BEC8D2;
}

.nok-slds .slds-accordion__list-item:first-child {
  border-top: 1px solid #BEC8D2;
}

.nok-slds .slds-accordion__list-item:last-child {
  border-bottom: 1px solid #BEC8D2;
}

.nok-slds .slds-accordion__section.slds-is-open {
  padding-top: 0;
}

.nok-slds .slds-accordion__section.slds-is-open .slds-accordion__summary {
  position: relative;
  padding: 0.75rem 0;
}

.nok-slds .slds-accordion__section.slds-is-open .slds-accordion__summary:after {
  content: "";
  position: absolute;
  width: calc(100% + 1.5rem);
  bottom: 0;
  left: -0.75rem;
  border-bottom: 1px solid #BEC8D2;
}

.nok-slds .slds-accordion__summary-heading,
.nok-slds .slds-section__title {
  font-family: "NokiaPureHeadline_Light", "Salesforce Sans", Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
  line-height: 1.25rem;
}

.nok-slds .slds-accordion__summary-heading .slds-button:focus {
  box-shadow: none;
  text-decoration: underline;
}

.nok-slds .slds-section__title {
  border-radius: 0;
}

.nok-slds .slds-section__title-action {
  padding: 0.4rem 0;
  border-top: 1px solid #BEC8D2;
  border-bottom: 1px solid #BEC8D2;
  background: transparent;
  color: #4D5766;
}

.nok-slds .slds-section__title-action .lightningPrimitiveIcon {
  position: relative;
  top: -2px;
}

.nok-slds .slds-section__title-action .slds-icon {
  fill: #124191;
}

.nok-slds .slds-breadcrumb__item {
  font-size: 0.875rem;
  line-height: 1.5;
}

.nok-slds .slds-breadcrumb a {
  color: #124191;
}

.nok-slds .slds-breadcrumb a:hover {
  text-decoration: underline;
}

.nok-slds .slds-breadcrumb a:focus {
  box-shadow: none;
}

.nok-slds .ncp-standard-link a,
.nok-slds .ncp-standard-link a:hover,
.nok-slds .ncp-standard-link a:focus,
.nok-slds .ncp-standard-link a:active {
  color: #124191;
}

.nok-slds .ncp-standard-link_underline-on-hover {
  text-decoration: underline;
}

.nok-slds .slds-button {
  border-radius: 0;
  color: #124191;
}

.nok-slds .slds-button:hover {
  color: #124191;
  text-decoration: underline;
}

.nok-slds .slds-button.slds-button_icon, .nok-slds .slds-button.slds-button_icon-bare, .nok-slds .slds-button.slds-button--icon-bare {
  color: #124191;
}

.nok-slds .slds-button.slds-button_icon:hover, .nok-slds .slds-button.slds-button_icon-bare:hover, .nok-slds .slds-button.slds-button--icon-bare:hover {
  color: #124191;
  text-decoration: none;
}

.nok-slds .slds-button_brand, .nok-slds .slds-button--brand {
  background-color: #124191;
  border-color: #124191;
  color: #FFFFFF;
  transition: none;
}

.nok-slds .slds-button_brand:hover, .nok-slds .slds-button--brand:hover {
  border-color: #00C9FF;
  background-color: #00C9FF;
  color: #FFFFFF;
  text-decoration: none;
}

.nok-slds .slds-button_brand[disabled], .nok-slds .slds-button--brand[disabled] {
  background-color: #BEC8D2;
  border-color: #BEC8D2;
  color: #FFFFFF;
}

.nok-slds .slds-button_destructive, .nok-slds .slds-button--destructive {
  background-color: #FF3154;
  border-color: #FF3154;
  color: #FFFFFF;
}

.nok-slds .slds-button_destructive:hover, .nok-slds .slds-button--destructive:hover {
  background-color: #b1001e;
  border-color: #b1001e;
  color: #FFFFFF;
  text-decoration: none;
}

.nok-slds .slds-button_neutral, .nok-slds .slds-button--neutral {
  color: #124191;
  border-color: #BEC8D2;
}

.nok-slds .slds-button_neutral:hover, .nok-slds .slds-button--neutral:hover {
  background-color: #EDF3F5;
  text-decoration: none;
}

.nok-slds .slds-button.slds-button_neutral, .nok-slds .slds-button.slds-button--neutral {
  color: #124191;
  border-color: #BEC8D2;
}

.nok-slds .slds-button.slds-button_neutral:hover, .nok-slds .slds-button.slds-button--neutral:hover {
  background-color: #EDF3F5;
  text-decoration: none;
}

.nok-slds .slds-button.slds-button_neutral:focus, .nok-slds .slds-button.slds-button--neutral:focus {
  color: #124191;
}

.nok-slds .slds-button-group .slds-button {
  border-radius: 0;
}

.nok-slds .slds-input::-webkit-input-placeholder,
.nok-slds .slds-input::-moz-placeholder,
.nok-slds .slds-input:-ms-input-placeholder,
.nok-slds .slds-input:-moz-placeholder {
  opacity: 1;
}

.nok-slds .slds-input::placeholder {
  opacity: 1;
}

.nok-slds .slds-input[type="search"] {
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 24px;
  padding-left: 49px;
}

.nok-slds .slds-input__icon-group_right .slds-input__icon--right {
  left: auto;
  right: 0.8rem;
}

.nok-slds .slds-checkbox .slds-checkbox_faux,
.nok-slds .slds-checkbox .slds-checkbox--faux {
  border-radius: 0;
  border-color: #98A2AE;
}

.nok-slds .slds-checkbox [type="checkbox"][disabled] + .slds-checkbox_faux,
.nok-slds .slds-checkbox [type="checkbox"][disabled] + .slds-checkbox--faux,
.nok-slds .slds-checkbox [type="checkbox"][disabled] ~ .slds-checkbox--faux,
.nok-slds .slds-checkbox [type="checkbox"][disabled] ~ .slds-checkbox--faux,
.nok-slds .slds-checkbox [type="checkbox"][disabled] + .slds-checkbox__label .slds-checkbox_faux,
.nok-slds .slds-checkbox [type="checkbox"][disabled] + .slds-checkbox__label .slds-checkbox--faux {
  background-color: #EDF3F5;
  border-color: #BEC8D2;
}

.nok-slds .slds-checkbox_toggle [type="checkbox"]:checked + .slds-checkbox_faux_container .slds-checkbox_faux:hover,
.nok-slds .slds-checkbox_toggle [type="checkbox"]:checked + .slds-checkbox_faux_container .slds-checkbox_faux:focus,
.nok-slds .slds-checkbox_toggle [type="checkbox"]:checked:focus + .slds-checkbox_faux_container .slds-checkbox_faux {
  border-color: #00C9FF;
}

.nok-slds .slds-checkbox [type=checkbox]:checked + .slds-checkbox_faux:after,
.nok-slds .slds-checkbox [type=checkbox]:checked + .slds-checkbox--faux:after,
.nok-slds .slds-checkbox [type=checkbox]:checked ~ .slds-checkbox_faux:after,
.nok-slds .slds-checkbox [type=checkbox]:checked ~ .slds-checkbox--faux:after,
.nok-slds .slds-checkbox [type=checkbox]:checked + .slds-checkbox__label .slds-checkbox_faux:after,
.nok-slds .slds-checkbox [type=checkbox]:checked + .slds-checkbox__label .slds-checkbox--faux:after {
  border-color: #124191;
}

.nok-slds .slds-has-inline-listbox {
  border-radius: 0;
}

.nok-slds .slds-has-inline-listbox .slds-combobox__input:focus {
  border-width: 0;
  outline: 0;
  box-shadow: none;
}

.nok-slds .slds-listbox_vertical .slds-listbox__option_plain .slds-listbox__icon-selected,
.nok-slds .slds-listbox_vertical .slds-listbox__option--plain .slds-listbox__icon-selected,
.nok-slds .slds-listbox--vertical .slds-listbox__option_plain .slds-listbox__icon-selected,
.nok-slds .slds-listbox--vertical .slds-listbox__option--plain .slds-listbox__icon-selected {
  display: none;
}

.nok-slds .slds-dropdown {
  border-radius: 0;
  box-shadow: none;
}

.nok-slds .slds-dropdown_length-5,
.nok-slds .slds-dropdown--length-5 {
  max-height: calc(((0.8125rem * 1.5) + 1.6rem) * 5);
}

.nok-slds .slds-pill:hover .slds-pill__action {
  border-color: transparent;
}

.nok-slds .slds-pill__action {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.25rem;
  border-radius: 0;
  color: #124191;
}

.nok-slds .slds-tabs_default__nav {
  border-bottom-width: 0;
}

.nok-slds .slds-tabs_default__item {
  text-transform: none;
}

.nok-slds .slds-tabs_default__item:after {
  bottom: 2px;
}

.nok-slds .slds-tabs_default__item:hover:after {
  background-color: #124191;
}

.nok-slds .slds-tabs_default__item .slds-tabs_default__link:hover {
  color: #000000;
}

.nok-slds .slds-tabs_default__item.slds-is-active, .nok-slds .slds-tabs_default__item.slds-active {
  color: #124191;
}

.nok-slds .slds-tabs_default__item.slds-is-active:after, .nok-slds .slds-tabs_default__item.slds-active:after {
  background-color: #124191;
}

.nok-slds .slds-tabs_default__item.slds-is-active .slds-tabs_default__link:hover, .nok-slds .slds-tabs_default__item.slds-active .slds-tabs_default__link:hover {
  color: #124191;
}

.nok-slds .slds-tabs_scoped__nav {
  border-radius: 0;
}

.nok-slds .slds-tabs_scoped__nav .slds-tabs_scoped__link {
  border-radius: 0;
}

.nok-slds .slds-tabs_scoped__nav .slds-tabs_scoped__link:hover {
  color: #000000;
}

.nok-slds .slds-tabs_scoped__nav .slds-is-active .slds-tabs_scoped__link,
.nok-slds .slds-tabs_scoped__nav .slds-active .slds-tabs_scoped__link {
  color: #124191;
}

.nok-slds .slds-tabs_scoped__nav .slds-is-active .slds-tabs_scoped__link:hover,
.nok-slds .slds-tabs_scoped__nav .slds-active .slds-tabs_scoped__link:hover {
  color: #124191;
}

.nok-slds .slds-icon_container {
  border-radius: 0;
}

.nok-slds .slds-icon_container.slds-icon-background-brand, .nok-slds .slds-icon_container.slds-icon-background_brand {
  border: 1px solid #124191;
  background-color: #124191;
}

.nok-slds .slds-icon_container.slds-icon-background-brand .slds-icon, .nok-slds .slds-icon_container.slds-icon-background_brand .slds-icon {
  fill: #FFFFFF;
}

.nok-slds .slds-icon_container.slds-icon-background-inverse, .nok-slds .slds-icon_container.slds-icon-background_inverse {
  background-color: #FFFFFF;
  border: 1px solid #124191;
}

.nok-slds .slds-icon_container.slds-icon-background-inverse .slds-icon, .nok-slds .slds-icon_container.slds-icon-background_inverse .slds-icon {
  fill: #124191;
}

.nok-slds .slds-icon_container.slds-icon-is-disabled {
  background-color: #98A2AE;
  border-color: #98A2AE;
}

.nok-slds .slds-icon_container.slds-icon-fill-brand .slds-icon {
  fill: #124191;
}

.nok-slds .slds-icon_container.slds-icon-shrink {
  padding: 0.5rem;
}

.nok-slds .slds-icon_container.slds-icon-shrink .slds-icon {
  width: 2rem;
  height: 2rem;
}

.nok-slds .slds-icon_container.slds-icon-shrink-small, .nok-slds .slds-icon_container.slds-icon-shrink_small {
  padding: 0.25rem;
}

.nok-slds .slds-icon_container.slds-icon-shrink-small .slds-icon, .nok-slds .slds-icon_container.slds-icon-shrink_small .slds-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.nok-slds lightning-helptext {
  position: relative;
  top: -2px;
}
