.displayNone { 
    display:none; 
}
.displayBlock {
    display:block;
}
.ui-autocomplete-loading { 
    background: white url(/img/loading32.gif) right center no-repeat;
    background-size:15px 15px; 
}
.ui-autocomplete { 
    max-height: 200px; 
    overflow-y: scroll; 
    overflow-x: hidden;
}
.placeHolder {
    width: 90%;
}
div[id$='searchBarInfoIcon'] {
    margin-top: 0px;
}
div[id$='searchBarInfoIconInner'] {
  display: none; 
}

.multi-select-widget {
  height: auto !important;
  background-color: #fff;
  border-radius: 3px;
}

.initial-menu-item {
        margin-left: 0px;
}x