    html{
        background:none!important;
    }
    
    body {
        margin: 0px;background-color:rgba(176, 196, 223)!important;
    }
     .reviewC1 {
         width: 25%;
         float: left;
     }
    
     .reviewC1 .bPageBlock {
         margin-bottom: 0px;
         height : 96vh;
         overflow: auto;
     }
     
     .reviewC2 .detailList {
         background-color: #f3f2f2;
     }
     
     body .bPageTitle .ptBody .pageDescription.headerFont {
         font-size: 18px;
         font-family: Arial, Helvetica, sans-serif;
     }
     
     body .btn {
         margin-right: 10px;
     }
     
     .reviewC2 {
         background: white!important;
         padding: 3px;
     }
     
     .bPageTitle {
         background-color: #f3f2f2;
     }
     
     .boldFont {
         font-weight: bold;
         font-size: 14px;
     }
     
     .greyBackground {
         background: #f3f2f2;
     }
     
     .reviewerP {
         float: right;
         height: 100%;
     }
     
     .floatRight {
         float: right;
     }
     
     .reviewerC .bPageBlock{
        border:0px;
        border-radius:0px;
     }
     .reviewerC {
         height: 100%;
         min-height:94vh;
         margin: 10px;
         box-shadow: 0 2px 2px 0;
         border: 1px solid rgb(221, 219, 218);
         background: #FFFFFF;
         border-radius:.25rem;
     }
     
     body .headerRow,
     .slds-vf-scope .headerRow {
         text-transform: none;
     }
     
     body .bPageBlock .detailList .labelCol {
         text-align: left;
     }
     
     .greyBackground table.detailList tbody tr th,
     .greyBackground table.detailList tbody tr td {
         font-size: 0.75rem !important;
     }
     
     .greyBackground table.detailList {
         display: flex;
     }
     
     .greyBackground .detailList .dataCol{
         padding-left:2px;
     }

    .reviewCyleBorderGreen {
        border-left-width: 4px;
        border-left-style: solid;
        border-left-color: #00cc44;
        padding-left : 6px;
        padding-bottom : 3px;
        padding-top : 3px;
    }

    .reviewCyleBorderBlue {
        border-left-width: 4px;
        border-left-style: solid;
        border-left-color: #0099ff;
        padding-left : 6px;
        padding-bottom : 3px;
        padding-top : 3px;
    }

    .reviewCyleBorderRed {
        border-left-width: 4px;
        border-left-style: solid;
        border-left-color: #ff3300;
        padding-left : 6px;
        padding-bottom : 3px;
        padding-top : 3px;
    }

    .redColor{
        color : #ff3300;
        float: right;
    }
    
    .blueColor{
        color : #0099ff;
        float: right;
    }

    .greenColor{
        color : #00cc44;
        float: right;
    }
    
    .reviewCycleStyle {
         background: white!important;
         padding: 3px;
     }

    .reviewCycleDetail {
         background: #f3f2f2;
         margin-top: 10px;
         margin-left: 10px;
     }

     .marginleftTableCell {
        padding-left:10px;
     }
     .marginLeftRight {
        margin:0px 40px 0px 80px;
     }
     