html {
  -webkit-touch-callout: default;
}

#container {
  font-size: 14px;
  font-weight: 500;
  /* font-family: "Salesforce Sans", "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif; */
	
  font-family: "Salesforce Sans", Arial, sans-serif;
  color: #080707;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;
  background-color: #f3f2f2;
  overflow: hidden;
  padding-bottom: 15px;
  outline: none;
}

ul li {
  margin-left: 0px;
}

* {
  margin: 0;
  padding: 0;
}

.card {
  margin: 0 auto 2rem;
  padding: 1rem;
  min-width: 10rem;
  max-width: 20rem;
  background-color: lightgray;
  word-wrap: break-word;
}

.tree {
  margin-left: auto;
  margin-right: auto;

}

.tree ul {
  padding-top: 20px;
  position: relative;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  display: flex;
  margin: 0 auto;
}

.tree li {
  float: left;
  text-align: center;
  list-style-type: none;
  position: relative;
  padding: 20px 3px 0 3px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/
.tree li::before,
.tree li::after {
  content: "";
  position: absolute;
  top: 0;
  right: 50%;
  border-top: 2px solid #95aec5;
  width: 50%;
  height: 20px;
}

.tree li::after {
  right: auto;
  left: 50%;
  border-left: 2px solid #95aec5;
}

/*We need to remove left-right connectors from elements without 
any siblings*/
.tree li:only-child::after,
.tree li:only-child::before {
  display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child {
  padding-top: 0;
  margin: auto;
}

/*Remove left connector from first child and 
right connector from last child*/
.tree li:first-child::before,
.tree li:last-child::after {
  border: 0 none;
}

/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before {
  border-right: 2px solid #95aec5;
  border-radius: 0 5px 0 0;
  -webkit-border-radius: 0 5px 0 0;
  -moz-border-radius: 0 5px 0 0;
}

.tree li:first-child::after {
  border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  border-left: 2px solid #95aec5;
  width: 0;
  height: 20px;
}

.tree li div.rectangle {
  text-decoration: none;
  display: inline-flex;
  padding: 12px 12px 12px 12px;
  align-items: center;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  height: auto;
  width: 300px;
  border: 1px solid #dddbda;
  background-color: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
}

/* .tree li div.rectangle:hover {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) !important;
} */

.tree li div.rectangle div.icon {
  float: left;
}

.tree li div.rectangle div.detail {
  float: left;
  display: block;
  margin-left: 13px;
  color: #080707;
  font-size: 12px;
  background-color: #ffffff;
}

p.agreement-name {
  font-size: 14px;
  margin: 0 0 0 0;
  text-align: left;
  line-height: 19px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 240px;
}

p.agreement-detail {
  font-size: 13px;
  margin: 0 0 0 0;
  text-align: left;
  line-height: 19px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 240px;
  color: #3e3e3e;
}

.bg-white {
  background-color: #ffffff;
}

.child-header {
  height: 30px;
  width: 375px;
  border: 1px solid #dddbda;
  background-color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  display: inline-flex;
  text-align: left;
  align-items: center;
}

.child-header p {
  line-height: 30px;
  padding-left: 12px;
  background-color: #ffffff !important;
  color: #3e3e3c;
}

.treeNode {
  width: 375px;
  margin-left: 5px;
  margin-right: 5px;
}

.treeNode .rectangle {
  margin-top: 9px;
}

#root .rectangle:first-child,
#popup-tree .rectangle:first-child {
  background-color: #e7f3fd;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid #1589ee;
}

#root > .rectangle .detail *{
  background-color: #e7f3fd;
}

#popup-tree .rectangle:first-child * {
  background-color: #e7f3fd;
}

#related-group .rectangle,
#popup-related-group .rectangle {
  border: 1px dashed #949494;
  background-color: #f7f7f7;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
}


#popup-related-group .rectangle * {
  background-color: #f7f7f7;
}

#related-group .detail,
#related-group .agreement-name,
#related-group .agreement-detail {
  background-color: #f7f7f7;
}

.child-group-header {
  height: 30px;
  width: 375px;
  background-color: #ffffff !important;
  display: inline-flex;
  text-align: left;
  align-items: center;
}

.child-group-header p {
  line-height: 30px;
  padding-left: 12px;
  background-color: #ffffff !important;
  color: #3e3e3c;
}

#child-group.treeNode,
#popup-child-group.treeNode {
  border: 1px solid #dddbda;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  padding-bottom: 30px;
}

.show-more,
.parent-show-more {
  box-shadow:
    0 0.0625em 0.1875em 0 rgba(0, 0, 0, 0.15),
    0 0.5em 0 -0.25em #f2f2f2,
    0 0.5em 0.1875em -0.25em rgba(0, 0, 0, 0.15),
    0 1em 0 -0.5em #e5e5e5,
    0 1.1em 0.1875em -0.5em rgba(0, 0, 0, 0.15) !important;
  /* box-shadow:  */
  /* The top layer shadow */
  /* 0 1px 1px rgba(0, 0, 0, 0.15), */
  /* The second layer */
  /* 0 10px 0 -5px #eee, */
  /* The second layer shadow */
  /* 0 10px 1px -4px rgba(0, 0, 0, 0.15), */
  /* The third layer */
  /* 0 20px 0 -10px #eee, */
  /* The third layer shadow */
  /* 0 20px 1px -9px rgba(0, 0, 0, 0.15) !important; */
  cursor: pointer;
}

.document-icon {
  height: 20px;
  width: 20px;
  background-color: #E53535 !important;
  padding: 4px 2px 4px 4px;
  border-radius: 4px;
  margin-top: auto;
  margin-bottom: auto;
}

.info-icon {
  height: 16px;
  width: 16px;
  opacity: 0.5;
}

.amend-header {
  width: 350px;
  display: flex;
  line-height: 36px;
  height: 30px;
  font-size: 14px;
  font-weight: 300;
  color: #2b2826;
}

.dot {
  flex: 1;
  border-bottom: 1px dashed #4d4d4d;
  opacity: 0.39;
  height: 60%;
}

.amend-block {
  display: block;
  margin: 5px 20px 0px 20px;
}

.amend-rect {
  display: inline-flex;
  padding-top: 5px;
  padding-left: 20px;
  width: 300px;
}

.timeline {
  display: flex;
  flex-direction: column;
}

.amend-icon {
  margin-top: 2px;
  display: block;
}

.box {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-self: stretch;
  margin-top: 4px;
}

.box1 {
  order: 1;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  align-self: stretch;
  border-right: 2px solid #4dca76;
}

.box2 {
  order: 2;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  align-self: stretch;
}

.amend-document-icon {
  height: 17px;
  width: 17px;
  background-color: #E53535 !important;
  padding: 3px 1px 3px 3px;
  border-radius: 1px;
  margin-top: auto;
  margin-bottom: auto;
}


.amend-shadow-bottom,
.renew-shadow-bottom {
  cursor: pointer;
  padding-bottom: 10px;
  box-shadow: 0 0.0625em 0.0625em -0.0625em rgba(0, 0, 0, 0.15),
    0 0.5em 0 -0.25em #f2f2f2, 0 0.5em 0.1875em -0.25em rgba(0, 0, 0, 0.15),
    0 1em 0 -0.5em #e5e5e5, 0 1em 0.1875em -0.5em rgba(0, 0, 0, 0.15) !important;
}

.amend-most-recent .amend-document-icon,
.renew-most-recent .amend-document-icon {
  background-color: #E53535 !important;
}

.amend-most-recent .box1,
.renew-most-recent .box1 {
  border-right: 2px solid #E53535;
}

#amend-renew-group p.agreement-name {
  color: #1570d2 !important;
}

.context-menu-item {
  font-size: 12px !important;
  padding: 0.2em 1em 0.2em 1em !important;
  /* font-family: "Salesforce Sans";  */
  font-family: "Salesforce Sans", Arial, sans-serif;
}

/* #dialog {
  height: 600px;
  width: 800px;
  background-color: #f3f2f2;
  margin: auto;
  z-index: 999;
} */

#popup-tree {
  margin: auto;
  font-size: 14px;
  /* font-family: "Salesforce Sans", "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif; */
	
	font-family: "Salesforce Sans", Arial, sans-serif;
	
  color: #080707;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;
  background-color: #f3f2f2;
  overflow: hidden;
  padding-bottom: 15px;
}

.ui-widget-overlay.custom-overlay {
  background-color: #2B2B2B;
  opacity: 0.53;
  z-index: 1040;
}

.ui-dialog {
  position: fixed;
}

.ui-dialog .ui-dialog-content {
  padding: 0 !important;
  background-color: #f3f2f2;
}

.ui-dialog .ui-dialog-titlebar {
  height: 26px;
  /* font-family: "Salesforce Sans"; */
  font-family: "Salesforce Sans", Arial, sans-serif;
  color: #2B2826;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  padding-left: 85px;
}

.top-corner {
  position: relative;
  width: 205px;
  background-color: #d8d8d8ba !important;
  color: #080707cf;
  font-size: 13px;
  padding: 5px;
  z-index: 99;
  display: block;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) !important;

}

.top-corner td,
.filter-toggle td {
  color: #080707cf;
  font-size: 12px;
  padding: 0px 3px 0px 3px;
  /* font-family: "Salesforce Sans"; */
  font-family: "Salesforce Sans", Arial, sans-serif;
}



.mytoggle {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: -99999px;
}

.mytoggle + label {
  font-family: arial;
  vertical-align: middle;
  width: 35px;
  height: 21px;
  display: inline-block;
  position: relative;
  border-radius: 40px;
  overflow: hidden;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #bdc3c7;
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-out;
  -o-transition: .25s ease-out;
  transition: .25s ease-out;
}

.mytoggle + label:before {
  width: 20px;
  height: 21px;
  left: 0px;
  top: 0px;
  border-radius: 11px;
  z-index: 2;
  content: "";
  display: block;
  position: absolute;
  background: #7f8c9a;
  text-transform: uppercase;
  text-indent: -32px;
  word-spacing: 40px;
  color: #fff;
  white-space: nowrap;
  -webkit-transition: .25s ease-out;
  -moz-transition: .25s ease-out;
  -o-transition: .25s ease-out;
  transition: .25s ease-out;
}

.mytoggle:checked + label {
  background-color: #0070d2;
}

input.mytoggle:focus + label {
  outline: 0;
}

.mytoggle:checked + label:before{
  background-color: #fff;
  color: #fff;
  left: 15px;
}

.filter-header {
  padding: 5px 5px 5px 0;
  position: relative;
}

.filter-image {
  height: 18px;
  width: 18px;
  position: relative;
  float: right;

}

.filter-toggle {
  width: 220px;
  position: relative;
  z-index: 99999;
}

.filter {
  float: right;
  position: relative;
}

.account-icon {
  height: 20px;
  width: 20px;
  background-color: #E53535 !important;
  padding: 4px 2px 4px 4px;
  border-radius: 4px;
  margin-top: auto;
  margin-bottom: auto;
}

.not-found {
  padding: 20px;
  align-items: center;
  color: #080707;

}

.headerfieldsContainer {
  width: 100%;
  float: left;
  padding: 10px;
  padding-bottom: 20px;
  font-size: 11px !important;
 /* font-family: "Salesforce Sans" !important; */
  font-family: "Salesforce Sans", Arial, sans-serif !important;
}

.fieldCls {
  width: 15% !important;
  word-wrap: break-word;
  float: left;
  box-sizing: border-box;
  border-left: 1px solid #c7c7c7;
  padding-right: 10px;
  padding-left: 10px;
}

.fieldClsClauseTab {
  width: 45% !important;
  float: left;
  padding: 15px 20px 25px 5px;
}

.fieldCls:first-child {
  border-left: none;
}

.labelCls {
  font-size: 13px;
  color: #4a4a4a !important;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.fieldCls a,
.fieldCls span {
  cursor: pointer;
  text-decoration: none;
  outline: 0;
  color: #0077c5;
  font-size: 14px;
  font-weight: 700 !important;
}

.bpageTitleExtra {
  background-color: #F6F2F1;
  padding-bottom: 10px !important;
}

.bPageBlock {
  border-top: 1px solid #B1CAE0 !important;
}

.content {
 /* font-family: "Salesforce Sans" !important; */
  font-family: "Salesforce Sans", Arial, sans-serif !important;
}



/* .menu {
  display: none;
  float: right;
  height: 14px;
  width: 12px;
  border: #3e3e3c 1px;
  background-color: #706e6b7a !important;
  align-self: normal !important;
}

 .rectangle:hover .menu {
  display: block;
} */


.dropbtn {
  height: 14px;
  width: 16px;
  border: 1px solid #E0E5EE !important;
  border-radius: 2px;
  background-color: white !important;
  cursor: pointer;
  display: none;
  outline: none;
}

#container .rectangle:hover .dropbtn {
  display: block;
}

#container .amend-rect:hover .dropbtn {
  display: block;
}



.dropdown {
  position: relative;
  /* display: inline-block; */
  align-self: normal !important;
  font-size: 12px;
  /* font-family: 'Salesforce Sans'; */
  font-family: "Salesforce Sans", Arial, sans-serif;
  float: right;

}

#amend-renew-group .dropdown {
  margin-left: 25px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white !important;
  overflow: auto;
  border: 1px solid #DDDBDA !important;
  box-shadow: 0 2px 3px 0 rgba(112, 110, 107, 0.5);
  width: 170px;
  z-index: 1;
  cursor: pointer;
}

.dropdown-content a {
  color: #3E3E3C !important;
  padding: 8px 8px 8px 10px;
  text-decoration: none !important;
  display: block;
  text-align: left;
}

.dropdown a:hover {
  background-color: #ddd !important;
}

.show {
  display: block;
}

.down-icon {
  height: 14px;
  width: 14px;
}
body .x-btn button, body .btn, body .btnImportant, body .btnDisabled, body .btnCancel, body .menuButton .menuButtonButton, body .menuButton .menuButtonMenu a, body .menuButton .menuButtonMenu input.theOption, h1, h2, h3, h4, h5, h6 {
    font-family: "Salesforce Sans", Arial, sans-serif !important;
}