/*#content {
	margin-top: -1.5rem;
}*/

.notification-card {
	padding-left: 0.5rem;
	border-bottom: 1px solid #e3e3e3;
	margin-top: -0.5rem;
}

.notification-card:first-child {
	margin-top: -2.2rem;
}

.notification-title {
	color: #2a94d7;
	font-size: 1rem;
}

.notification-title .title-header {	
	font-weight: bold;
}

.notification-detail {
	color: #999999;
	margin-top: -1rem;
	font-size: 0.85rem;
}