.edit--warning--dlg {
	display:none;
}

.edit--warning--dlg p.content {
	margin-left: 25px;
	margin-top: 30px;
}

.edit--warning--dlg p.content .warn--icon {
	margin: 4px 20px 0 0; 
	font-size: 25px;
}

.secondary-ctrl {
    font-size: 14px !important;
	border-radius: 4px;
	display: inline-block;
    background-image: none !important;
}

.secondary-ctrl.default {
	background-color: #21a5e0;
	color: #fff;
	border: 1px solid #21a5e0;
}

.secondary-ctrl.disabled {
	cursor: default;
	background-color: #e4e4e4;
	color: #A1A1A1;
}

.secondary-ctrl.disabled:hover {
    background-color: #e4e4e4;
    color: #A1A1A1;
    border: 1px solid #c9c9c9;
}

/* ------------- JQUERY UI OVERWRITES ------------*/
.ui-dialog, .ui-dialog .ui-dialog-content {
	padding: 0;
}

.ui-dialog-titlebar {
	display: none;
}

.ui-dialog-titlebar > .ui-button {
	outline-width: 0px !important;
}

.ui-widget-overlay {
	background: #000 !important;
	opacity: 0.2 !important;
}

.ui-widget-header {
	background: #e4e4e4;
	border-color: #c9c9c9;
}

.ui-dialog-title {
	color: #666;
}
