html, body, form, fieldset, table, tr, td, img, div, a {
    color: #666666;
}

h1, h2, h3, h4, h5, h6 {
    display: block;
}

body {
    font-size: 1em;
}

input, select {
    text-indent: 5px;
}

input, textarea, select {
    border-radius: 4px;
    border: 1px solid #c9c9c9;
}

select:disabled, input:disabled {
    background-color: #f2f2f2;
}

span.readonly {
    height: 1.813em;
    font-size: 0.875em;
    min-width: 16.875em;
    background-color: #f2f2f2;
    color: #aaa;
    border-radius: 4px;
    border: 1px solid #c9c9c9;
    padding: 0 5px;
    display: inline-block;
}

textarea {
    padding: 5px;
    box-sizing: border-box;
}

h3 {
    font-size:0.875em;
    color: #a09999;
    margin: 0;
}

.header, .header .tabs {
    height: 50px;
}


fieldset {
    margin: 0;
    padding: 0;
}

ul li, ol li {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
    list-style-type: none;
}

.header {
    background-color: #293F54;
    position: fixed;
    width: 100%;
    top: 0;
}

/* main pane with form fields */
.header .header-container {
    margin: 0 auto;
    width: 1324px;
}
.primary-form {
    min-width: 1000px;
}

/* right hand searchable library pane */
.side-pane {
    width: 294px;
    margin-left: 14px;
}

.side-pane > div.head > h3 {
    color: #000;
    margin-bottom: 10px;
}

.side-pane input[type="text"] {
    height: 25px;
}

.side-pane input[type="text"] {
    color: #000;
}

.side-pane input {
    font-size: 0.875em;
}

.search {
    border-radius: 0.250rem;
    border: 1px solid #c9c9c9;
    background-color: #fff;
    position: relative;
}

.search input {
    border: none;
    padding-right: 1.875em;
    text-indent: .5em;
    width: 100%;
    box-sizing: border-box;
    font-size: 0.750em;
}

.search > .fa-search {
    display: inline-block;
    position: absolute;
    top: 0.188em;
    right: 0.438em;
    color: #21A5E0;
    text-decoration: none;
}

.header-controls-wrapper {
    float: left;
    width: 1000px;
}

.header .header-container .controls-container  {
    float: right;
}

.header .title {
    display: inline-block;
    font-size: 1.125em;
    color: #fff;
    vertical-align: middle;
}
.logo-container > div {
    float: left;
}

.logo-container {
    position: absolute;
    left: 0;
}

.header .title {
    line-height: 50px;
    padding-left: 15px;
}

.header .logo > img {
    height: 50px;
}

/* upper right hand primary controls */
.controls-container {
    padding-top: 15px;
}

.primary {
    background-color: #f2f2f2;
    padding: 5px 17px;
    border-radius: 4px;
    border: 1px solid #c9c9c9;
    color: #309BD3;
    margin-left: 8px;
    font-size: 0.875em;
    text-decoration: none;
}

.primary:hover {
    border: 1px solid #21A5E0;
    background-color: #21A5E0;
    color: #FFFFFF;
    text-decoration: none;
}

.primary.disabled:hover {
    border: 1px solid #c9c9c9;
}

.secondary-ctrl-cont {
    text-align: right;
    margin-top: 10px;
}


/* secondary controls */
.secondary-ctrl {
    color: #309BD3;
    font-size: 0.750em;
    background-color: #f2f2f2;
    padding: 6px 15px;
    border-radius: 4px;
    border: 1px solid #c9c9c9;
    display: inline-block;
    text-decoration: none;
}

    .secondary-ctrl:hover {
        color: #309BD3;
        border: 1px solid #c9c9c9;
        background-color: #f2f2f2;
        cursor: pointer;
        text-decoration: none;
    }

    .secondary-ctrl.default {
        background-color: #21a5e0;
        color: #fff;
        border: 1px solid #21a5e0;
    }

    .secondary-ctrl.disabled {
        cursor: default;
        background-color: #e4e4e4;
        color: #A1A1A1;
        border: 1px solid #c9c9c9;
    }

        .secondary-ctrl.disabled:hover {
            background-color: #e4e4e4;
            color: #A1A1A1;
            border: 1px solid #c9c9c9;
        }

    .secondary-ctrl:hover {
        background-color: #21a5e0;
        color: #fff;
        border: 1px solid #21a5e0;
    }

    .disabled {
        cursor: default;
        color: #A1A1A1;
    }

    .disabled:hover {
        background-color: #f2f2f2;
        color: #A1A1A1;
}

.main-pane-container {
    margin: 0 auto;
    margin-top:67px;
    width: 1324px;
}

.main-pane-container > div {
    float: left;
}

.form-pane > .head {
    border-radius: 7px 7px 0 0;
    background-color: #e4e4e4;
    padding: 9px 16px;
    border: 1px solid #c9c9c9;
    position: relative;
}

.form-pane .head .active {
    color: #66668d;
}

.form-pane .head .breadcrumb, .form-pane .head .active {
    font-weight: bold;
}

.form-pane .head  .breadcrumb {
    font-size: 0.875em;
    color: #a09999;
}

.form-pane > .body {
    background-color: #f2f2f2;
    border-left: 1px solid #c9c9c9;
    border-right: 1px solid #c9c9c9;
    border-bottom: 1px solid #c9c9c9;
    overflow-y: auto;
    border-radius: 0 0 7px 7px;
}

.side-pane > .body {
    border-bottom: none;
    border-radius: 0;
    min-height: 365px;
    max-height: calc(100vh - 165px); /* must include spaces around (minus) sign */
}

.form-pane > .foot {
    border-radius: 0 0 7px 7px;
    background-color: #f2f2f2;
    border-left: 1px solid #c9c9c9;
    border-right: 1px solid #c9c9c9;
    border-bottom: 1px solid #c9c9c9;
    height: .5rem;
}

.form-pane.condensed .body > div {
    padding: 8px;
}
.form-pane.condensed .head {
    padding: 9px 8px;
}


.form-pane .body .tabs > a {
    padding: 7px 16px;
    display: inline-block;
    border-top: 3px solid transparent;
    color: #999999;
    text-decoration: none;
}

.form-pane .body .tabs > a.active {
    color: #666666;
    border-top: 3px solid #21a5e0;
}

.form-pane .body .tabs > a:hover {
    color: #666666;
}

.form-pane .body .tabs > a.disabled:hover {
    color: #999999;
    cursor: default;
}

.form-container {
    padding-bottom: 16px;
}

.form-container > ul.form-column, .form-container > div.form-column {
    margin: 0 15px;
}

/* input form column styling */
.form-column {
    width: 299px;
    display: inline-block;
    padding: 0;
    list-style: none none;
    vertical-align: top;
}

.form-column li, div.form-column {
    padding-top: 10px;
}

.form-column > li > label, .form-column > label {
    font-size: 0.750em;
    display: block;
    margin: 4px 0;
}

/* SFDC radio button */
.form-column > li > fieldset label, .form-column > li > div label {
    font-size: 0.875em;
    color: #000;
}

.form-column > li > fieldset > table tr {
    height: 23px;
}

.form-column > li > fieldset {
    padding: 0 0 5px 0;
}



.form-column > li .small-indent {
    margin-left: 20px;
}

.form-column input[type="text"],
.form-column textarea,
.form-column select {
    width: 100%;
    font-size: 0.875em;
    color: #000;
    box-sizing: border-box;
}

.form-column textarea {
    height: 78px;
}

.form-column select {
    height: 29px;
}

.form-column input[type="text"] {
    height: 28px;
}

.form-column .indent {
    margin-left: 42px;
}

.form-column textarea.short {
    height: 48px;
}

/* sub right-hand pane */
.subpane {
    font-size: 1em;
    border: 1px solid #c9c9c9;
    height: auto;
    min-height: 275px;
    max-height:275px;
    overflow-y: scroll;
}

.subpane label {
    font-size: 0.750rem;
}

.draggable-list {
    padding: 0;
    margin: 0;
    list-style: none none;
    vertical-align: top;
    height: 100%;
    padding-bottom: 30px;
}

.draggable-list li {
    padding: 0;
    background-color: #fff;
    /*font-size: 0.750rem;*/
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    border-bottom: 1px solid #f2f2f2;
}

.draggable-list li > span {
    font-size: 0.750em;
}

.draggable-list .controls {
    text-align: right;
}

.draggable-list .text-data {
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: middle;
}

.draggable-list .controls > a {
    display: none;
}

.draggable-list .controls a.edit, .draggable-list .controls a.delete {
    background-color: #e7e5e2;
    padding: 8px 14px;
    text-decoration: none;
}

.draggable-list .controls a.edit {
    color: #21a5e0;
}

.draggable-list .controls a.edit:hover {
    background-color: #21a5e0;
    color: #fff;
}

.draggable-list .controls a.delete {
    color: #CC0000;
}

.draggable-list .controls a.delete:hover {
    background-color: #CC0000;
    color: #fff;
}

.draggable-list .handle {
    display: inline-block;
    height: 28px;
}
.draggable-list .handle > span {
    display: inline-block;
}

.draggable-list > li {
    height: 28px;
}

.draggable-list > li.hoverable {
    cursor: pointer;

}

.draggable-list .mouse-over .move-icon {
    background-color: #21a5e0;
    color:#fff;
}

.draggable-list .mouse-over .text-data {
    width: 100%;
}

.draggable-list .mouse-over .text-data.no-resize {
    width: auto;
}

.draggable-list .mouse-over .controls > a {
    display: inline;
}

.draggable-list .handle .move-icon {
    color: #e7e5e2;
    font-size: .9rem;
    height: 28px;
    padding-left: 3px;
}

.draggable-list .handle .move-icon .fa-ellipsis-v {
    margin-right: 3px;
    margin-top: .35em;
}

.draggable-list .notification, .draggable-list .std-step {
    padding-top: 7px;
}

.draggable-list .std-step-cont .notification {
    float: right;
}
.draggable-list .std-step-cont .std-step {
    float: left;
    padding-left: 18px;
}

.draggable-list .fa-exclamation-triangle {
    padding-left: 2px;
    padding-right: 2px;
    font-size: 0.875em;
    margin-top: 5px;
}

.draggable-list .notification {
    color: #FF6600;
    padding-right: 18px;

}

.draggable-list .empty-placeholder.transparent {
    height: 4px;
    background: transparent;
}


.input-field-class-form {
    border: 1px dashed #c9c9c9;
    border-radius: 7px;
    padding: 0.1rem 1rem;
    height: 275px;
    overflow-y: auto;
}

.input-field-class-form label {
    margin: 1em 0;
}

.subpane .form-column {
    width: 100%;
    margin: 0;
}

.fa-exclamation-triangle {
    color: #ff6600;
}

/* warning messages container */
.warning-message-cont {
    font-size: 1rem;
    margin-left: 14px;
    padding: 0;
    margin: 0;
    list-style: none none;
}

.warning-message-cont li {
    background-color: #ffcc00;
    height: 2.750em;
    line-height: 2.750em;
    padding: 0 0.563em;
    border-radius: 0.313em;
    margin-bottom: 0.938em;
    position: relative;
}

.warning-message-cont li .fa-exclamation-triangle {
    font-size: 1.500em;
    vertical-align: middle;
}

.warning-message-cont li, .warning-message-cont li a.nav-to {
    color: #000;
}

.warning-message-cont li a.nav-to {
    text-decoration: underline;
}

.warning-message-cont li a.close {
    position: absolute;
    right: 0.563em;
}

.warning-message-cont li .fa-times {
    color: #fff;
    font-size: 1.500em;
}

.warning-message-cont li .fa-times:hover {
    color: #CC0000;
}

.activate-wizard {
    position: absolute;
    top: 7px;
    right: 15px;
    padding: 3px 12px;
}

.activated {
    background-color: #00d031;
    color: #dfd;
    font-weight: bold;
    border: none;
}

.activated:hover {
    background-color: #00d031;
    color: #dfd;
    font-weight: bold;
    border: none;
    cursor: default;
}

.aborted {
    background-color: #c00;
    color: #fee;
    font-weight: bold;
    border: none;
}

.aborted:hover {
    background-color: #c00;
    color: #fee;
    font-weight: bold;
    border: none;
    cursor: default;
}

.abort {
    background-color: #d14836;
    color: #fee;
    border: 1px solid #d14836;
}

.abort:hover {
    background-color: #d14836;
    color: #fee;
    border: none;
    border: 1px solid #d14836;
}

.fa-question-circle {
    color: #CCC;
}

.fa-question-circle:hover {
    color: #21A5E0;
}

.runtime-container-preview {
    margin: 0.938em 0.938em 0 0.938em;
    padding: 0.938em;
    border-radius: 0.438em;
    background-color: #fff;
    border: 1px dashed #e7e5e2;
    font-size: 1rem;
    position: relative;
}

.runtime-header {
    border-bottom: 1px solid #dbd8d3;
    padding: 0.438em 0;
}

.runtime-container-preview .secondary-ctrl {
    margin-right: 0.625em;
}

.runtime-field {
    margin-top: 25px;
    margin-right: 0.625em;
}

.runtime-field > label {
    margin-right: 0.625em;
}

.field-container {
    color: #000;
}

.field-container input[type="text"],
.field-container input[type="date"],
.field-container input[type="number"],
.field-container select {
    font-size: 0.875em;
    min-width: 16.875em;
}

.field-container select {
    height: 1.813em;
}

.field-container select[multiple="multiple"] {
	height: auto;
}

.field-container input[type="text"],
.field-container input[type="date"],
.field-container input[type="number"] {
    height: 1.563em;
}

.body .required {
    border-left: 4px solid #e60000;
}

.field-container .required {
    border-left: 4px solid #e60000;
}

.field-container > label {
    font-weight: bold;
    font-size: 0.875em;
    display: inline-block;
}

.field-container > div {
    margin: 0.938em 0 0.938em 0.188em;
}

.field-container fieldset {
    border: none;
    font-size: 1rem;
}

.field-container .radio-picklist label {
    font-size: 0.875em;
    white-space: nowrap;
}

.field-container .radio-picklist td {
    padding: 0.125em 0;
    border: none;
}

.field-container .radio-picklist td input[type="radio"] {
    vertical-align: middle;
}

.runtime-table-layout {
    margin: 1.563em 0;
    width: 100%;
    font-size: 1rem;
}

.runtime-table-layout .field-container input[type="text"],
.runtime-table-layout .field-container input[type="date"],
.runtime-table-layout .field-container input[type="number"],
.runtime-table-layout .field-container select {
    font-size: 0.875em;
    min-width: 0;
}

.runtime-table-layout th {
    text-align: center;
    font-size: 0.813em;
    background-color: #e4e4e4;
    padding: 7px 5px;
	max-width:280px; 
	white-space: normal;
}

.runtime-table-layout > tbody > tr > td {
    padding: 0.250em 0.625em;
    font-size: 0.875em;
}

.runtime-table-layout > tbody > tr > td a {
    text-decoration: none;
}

.runtime-table-layout, .runtime-table-layout td, .runtime-table-layout th {
    border: 1px solid #ccc;
    color: #666666;

}

/* runtime styling */
.header .runtime-header-container {
    margin: 0 auto;
    width: 1024px;
    box-sizing: border-box;
    padding: 0 25px;
}

.runtime-header-container .title {
    padding-left: 0px;
}

.runtime {
    background-color: #eee;
}

.runtime-container {
    margin: 0 auto;
    width: 1024px;
    box-sizing: border-box;
    margin-top: 50px;
    background-color: #fff;
    padding: 15px 25px;
    min-height: calc(100vh - 50px);
}

.runtime-container .secondary-ctrl {
    margin-bottom: 7px;
}

.runtime-container-preview h2, .runtime-container h2 {
    margin: 0.250em 0 0 0;
    font-size: 1.125em;
    color: #617E8D;
    display: inline-block;
}

.runtime-footer {
    border-top: 1px solid #dbd8d3;
    padding: 0.625em 0;
    margin-top: 0.625em;
    text-align: right;
}

.runtime-footer .controls a {
    margin-left: 5px;
}

.secondary-section .secondary-ctrl {
    font-weight: normal;
}

.runtime-review-section {
    font-weight: bold;
    font-size: 0.750em;
}

.runtime-review-section {
    margin-bottom: 1.875em;
}


.runtime-review-section > li > label {
    display: inline-block;
    width: 50%;
    text-align: right;
    color: #a09999;
    box-sizing: border-box;
    padding: 0.313em 0.625em;
}

.runtime-review-section > li > span {
    width: 50%;
    text-align: left;
}

.runtime-review-section > li > span, .runtime-review-section > li > textarea {
    box-sizing: border-box;
    padding: 0.313em 0.625em;
}

.runtime-review-section > li > input {
    margin: 0.313em 0.625em;
}

.runtime-review-section > li > textarea {
    width: calc(50% - 1.250em);
    height: 4.5em;
}

.runtime-header.review {
    margin-bottom: 14px;
}

.runtime-header.review h3 {
    color: #717171;
}

.layout-options {
    font-size: 0.875em;
    float:right;
    margin: 12px 0.938rem 0 0;
}

.layout-options > label { display: inline; }
.layout-options > select { height: 1.813em; }

/*    SALESFORCE STYLE OVERRIDES    */
.runtime-table-layout .field-container .lookupInput input[type="text"] {
    width: 80%;
	min-width:15em;
}

.message.errorM3 {
    margin-top: 3.750em;
}

.runtime-container .message {
    margin-left: 0;
    margin-right: 0;
}

.runtime-container .message.errorM3 {
    margin-top: 0;
}

.errorMsg {
    font-size: 0.875em;
}

span.dateInput > span > a:hover {
    text-decoration: underline;
}

.fa-trash-o {
    color: #c00;
    font-size: 1.125em;
    display: inline-block;
    width: 100%;
    text-align: center;
}

    .fa-trash-o:hover {
        color: #ff0000;
    }

/**********    INLINE STYLES FROM PAGE    **********/
/* ------------- Generic Styles  ------------*/

.tertiary--btn {
    color: #2d66cc !important;
    text-decoration: underline !important;
    font-size: 13px;
    font-family: 'Arial';
}

.tertiary--btn:hover {
    cursor: pointer;
}

.spacer--field {
    margin-right: 15px;
}

.index, .pre-icon {
    margin-right: 5px;
    color: #21a5e0;
}

.wizard--dialog {
    display: none;
}

.wizard--dialog .content .content--text {
    font-family: 'Arial';
    font-weight: 700;
    font-size: 14px;
    margin-left: 5px;
    margin-bottom: 25px;
    float: left;
    line-height: 30px;
    width: 400px;
}

/* ------------- Canvas  ------------*/

.workflow--container, .step--container {
    background: #faf6e9;
    width: 100%;
}

.step {
    padding: 20px;
    margin: 0 auto;
    width: 270px;
    font-size: 12px;
    font-family: 'Arial';
    color: #666;
	width:70%;
}

.step.extra--wide {
    width: 350px;
}

li {
    list-style-type: none;
}

/* ------------- STEP HEAD  ------------*/
.step--head {
    height: 25px;
    background: #e4e4e4;
    border: 1px solid #cacaca;
    line-height: 25px;
    padding-left: 5px;
    font-weight: 700;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow:hidden;
	position: relative;
}
.step--head.step--exit {
    font-size: 14px;
    border-radius: 3px;
}

.step--head.step--exit.step--submit {
    background-color: #e1f8e2;
}

.step--head.step--exit.step--abort {
    background-color: #f9e6e5;
}

/* ------------- STEP RULE  ------------*/
.step--rule {
    height:24px;
    line-height: 24px;
    border: 1px solid #cacaca;
    border-top: none;
    background: #fff;
    padding-left: 10px;
}
.step--rule:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.goto {
    font-weight: 700;
}

/* ------------- STEP RULE  ------------*/
.step--input {
    height:24px;
    line-height: 24px;
    border: 1px solid #cacaca;
    border-top: none;
    background: #fff;
    padding-left: 10px;
}
.step--input:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.step--input .input--title {
    display: inline-block;
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 700;
}

.step--input .input--title .input--ctx, .step--input .input--title .input--ctx--type {
    font-weight: normal;
}

.step--input:hover .input--title {
    display: inline-block;
    width: 240px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.step--input .input--actions {
    display: none;
    background-color: #f2f2f2;
    float: right;
    border-bottom-right-radius: 5px;
}

.step--input .input--edit {
    color: #21a5e0;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
}

.step--input .input--delete {
    color: #cc0000;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
}

.step--input .input--new {
    color: #21a5e0;
    padding-left: 12px;
    padding-right: 12px;
    display: inline-block;
}

.step--input .input--edit:hover {
    background-color: #21a5e0;
    color: #fff;
    cursor: pointer;
}

.step--input .input--delete:hover {
    background-color: #cc0000;
    color: #fff;
    cursor: pointer;
}

.step--input .input--new:hover {
    background-color: #21a5e0;
    color: #fff;
    cursor: pointer;
}

.step--input:hover .input--actions {
    display: inline-block;
}

/* ------------- ACTION BUTTONS (ADD/EDIT/DELETE RULES)  ------------*/
.step--head .step--add--btn {
    float: right;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-size: 15px;
    color: #21a5e0;
    right: 0;
    position: absolute;
}
.step--head .step--add--btn:hover {
    background-color: #21a5e0;
    color: #fff;
    cursor: pointer;
}

.step--rule:hover .rule--title {
    display: inline-block;
    width: 140px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.step--rule .rule--actions {
    display: none;
    background-color: #f2f2f2;
    float: right;
    border-bottom-right-radius: 5px;
}

.step--rule .rule--edit {
    color: #21a5e0;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
}

.step--rule .rule--delete {
    color: #cc0000;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
}

.step--rule .rule--new {
    color: #21a5e0;
    padding-left: 12px;
    padding-right: 12px;
    display: inline-block;
}

.step--rule .rule--edit:hover {
    background-color: #21a5e0;
    color: #fff;
    cursor: pointer;
}

.step--rule .rule--delete:hover {
    background-color: #cc0000;
    color: #fff;
    cursor: pointer;
}

.step--rule .rule--new:hover {
    background-color: #21a5e0;
    color: #fff;
    cursor: pointer;
}

.step--rule:hover .rule--actions {
    display: inline-block;
}

/* ------------- SVG ------------*/
svg.blueLine path {
    stroke: #96cdeb;
    fill: #96cdeb;
    stroke-width: 2;
}


/* ------------- JQUERY UI OVERWRITES ------------*/
.ui-widget {
    font-family: 'Arial','Helvetica', sans-serif;
    font-size: 1em;
}

.ui-widget input, .ui-widget select, .ui-widget textarea {
    font-family: 'Arial','Helvetica', sans-serif;
    font-size: 0.875em;
    height: 25px;

}

.dlg--section .dlg--fieldset > select {
    width: 185px;
}

.ui-dialog, .ui-dialog .ui-dialog-content {
    padding: 0;
}

.ui-dialog-titlebar {
    display: none;
}

.ui-dialog-titlebar > .ui-button {
    outline-width: 0px !important;
}

.ui-widget-overlay {
    background: #000 !important;
}

.ui-widget-header {
    background: #e4e4e4;
    border-color: #c9c9c9;
}

.ui-dialog-title {
    color: #666;
}

/* ------------- Dialog Container Styling ------------*/
.dialogContainer {
    display: none;
}

.dialogContainer .dlg--section {
    margin-left: 25px;
    margin-top: 10px;
}

.dialogContainer .dlg--section label {
    color: #999;
    font-weight: bold;
}

.dialogContainer .dlg--section .enter--url {
    margin-left: 10px;
    width: 500px;
}

.dialogContainer .dlg--section fieldset {
    padding-left: 0;
}

.dialogContainer .dlg--section fieldset legend {
    font-size: 12px;
    padding-top: 15px;
    color: #666;
    font-weight: normal;
}

.dlg--inputs.dlg--section {
    margin-left: 50px;
}

.dialogContainer .dlg--fieldset {
    display: inline-block;
    border: none;
}

.dialogContainer .dlg--fieldset legend {
    margin-bottom: 5px;
}

.step--title {
    display: none;
}

.custom--titlebar {
    border-bottom: 1px solid #c9c9c9;
    background: #e4e4e4;
    padding: 7px;
}
.custom--titlebar .title--text {
    display: inline-block;
    font-weight: 700;
    font-family: 'Arial'
}
.custom--titlebar .close--btn {
    float: right;
    color: #cc0000;
}
.custom--titlebar .close--btn:hover {
    cursor: pointer;
}

.saveAndCancelWrapper {
    margin-right: 0;
    margin-top: 30px;
    padding: 10px 10px 15px 10px;
    position: relative;
    height: 25px;
    border-top: 1px solid #c9c9c9;
    background: #e4e4e4;
}

.saveAndCancel {
    position: absolute;
    right: 0;
}

.saveAndCancel .action--btn {
    width: 80px;
    margin-right: 10px;
}

.dlg--table {
    margin-left: 55px;
}
.dlg--table tr td {
    padding-top: 10px;
}

.dlg--table tr.rule--row td {
    padding-right: 10px;
}

/*.dlg--table tr:last-child td {
    padding-top: 15px;
}*/

.dlg--table .add--another--btn {
    display: block;
    margin-top: 10px;
}

.dlg--table .del--rule--row {
    padding-left: 10px;
}

.dlg--table .del--rule--row:hover {
    cursor: pointer;
}

select.fixed--width, select.fixed--width option {
    width: 200px;
}

/* ------------- Wizard Activation Confirm Dialog ------------*/

.secondary-ctrl {
    font-size: 14px !important;
    background-image: none !important;
}

.secondary-ctrl.disabled:hover {
    background-color: #e4e4e4;
    color: #A1A1A1;
    border: 1px solid #c9c9c9;
}

.ui-button-text-only .ui-button-text {
    padding: 0;
}

.activation--dlg div.content {
    margin-left: 25px;
    margin-top: 30px;
}

.activation--dlg div.content .warn--icon {
    float: left;
    margin: 10px 20px 0 0;
    font-size: 25px;
    display: block;
}

.wizardItemAddWarning div.content {
    padding: 25px;
}

.wizardItemAddWarning .content .warn--icon {
    float: left;
    margin: 4px 20px 0 0;
    font-size: 25px;
}

.wizardItemAddWarning .content .content--header {
    font-family: "Arial";
    font-weight: 600;
    margin-left: 5px;
    float: left;
}

.wizardItemAddWarning .content .content--text {
    line-height: 20px;
    font-weight: normal;
    margin-top: 10px;
}

.pageIconSizeLightning {
    width: 32px;
    height: 32px;
    float: left;
    margin-right: 6px;
}

html body.sfdcBody {
    padding-left: 0px;
}

.pageTitleHeaderStyle{
	font-size: .9em;
	font-weight: bold;
	color: #4a4a56;
	padding-left: 1px;
}

.pageDescription{
	font-weight: normal;
	line-height: 1.1em;
}