<md-button class="ands-btn--icon  no-border-button" md-no-ink>
		<md-icon class="ands-icon-material ands-icons" ng-click="customAction.close()" aria-label="Close dialog">close</md-icon>
	</md-button>
	<md-dialog-content class="ands-dialog-content abandon-cart-dialog-content">
		<div ng-if="customAction.systemConstants.customSettings.systemProperties.isCartVersioningDisabled">
			<p>{{::customAction.labels.AbandonDisabledCartVersioning}}</p>
			<p>{{::customAction.labels.AbandonDisabledCartVersioningConfirm}}</p>
		</div>
		<div ng-if="!customAction.systemConstants.customSettings.systemProperties.isCartVersioningDisabled">
			<p>{{::customAction.labels.AbandonCartMessage}}</p>
		</div>
	</md-dialog-content>
	<md-dialog-actions layout="row" class="ands-dialog-footer abandon-cart-dialog-footer">
		<md-button ng-click="customAction.close()" class="ands-btn ands-flat">
			{{ ::customAction.labels.Cancel }}
		</md-button>
		<md-button ng-click="customAction.abandonCart()" class="ands-btn ands-primary">
			{{ ::customAction.labels.Ok }}
		</md-button>
	</md-dialog-actions>
