<div class="modal-header">
	<div class="modal-title"> {{customAction.labels.ConfirmFinalization}} </div>
	<span class="modal-header__close-modal" ng-click="customAction.close()">
	</span>
</div>
<div class="modal-content">
	<div class="modal-content__description">
		{{customAction.labels.ConfirmFinalizationWarning}}
	</div>
</div>
<div class="modal-footer">
	<md-button class="ands-btn ands-primary" ng-click="customAction.confirmFinalize()">
		{{customAction.labels.Ok}}
	</md-button>
	<md-button class="ands-btn ands-flat" ng-click="customAction.close()">
		{{customAction.labels.Cancel}}
	</md-button>
</div>