<div layout="column" class="">
    <div flex class="submit-for-pricing-header-content">
        <md-dialog-content>
            <h1>{{ ::customAction.labels.SubmitForPricing }}</h1>
        </md-dialog-content>
    </div>
    <div flex class="submit-for-pricing-dialog-content">
        <md-dialog-content>
            <h4 ng-bind-html="customAction.labels.SubmitForPricingConfirmationMessage"></h4>
        </md-dialog-content>
    </div>
   <div flex class="submit-for-pricing-footer-content">
       <md-dialog-actions layout="row" >
           <md-button ng-click="customAction.close()" class="ands-btn ands-secondary">
               {{ ::customAction.labels.DontSubmit }}
           </md-button>
           <md-button ng-click="customAction.submitForAsyncPricing({ navigateToProposal: true})" class="ands-btn ands-secondary">
               {{ ::customAction.labels.Submit }} & {{ ::customAction.labels.GoToProposal }}
           </md-button>
           <md-button ng-click="customAction.submitForAsyncPricing()" class="ands-btn ands-primary">
               {{ ::customAction.labels.Submit }} & {{ ::customAction.labels.StayOnCart }}
           </md-button>
       </md-dialog-actions>
   </div>
</div>
