	.wizard-design-modal-header{
            padding: 5px 15px;       
            height: 37px;
            font-size: 14px;
            font-weight: 400;   
    	}
    	.wizard-design-modal-header h4{
           font-family: "Arial Regular","Arial";
           font-size: 14px;
           font-weight: 400;
           padding-top: 5px;   
    	}
    	.wizard-design-modal-footer{    	
            height: 27px;
            padding: 5px 20px;
    	}
    	.wizard-design-modal-header,.wizard-design-modal-footer{
    	    background-color:#e7e5e2;
    	}
    	.wizard-design-modal-body{
            font-family: "Arial Regular","Arial";
            /*height:206px;*/
            height:150px;
            padding: 10px 0px;
            /*overflow-y:scroll;*/
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
    	}              
    	.wizard-design-modal-body .headerRow{
    	    display:none;
    	}
	.wizard-design-modal-header{
            padding:1px 15px 0px;
        }
        .wizard-design-modal-header h4{
            padding-top:8px;
        }
        .wizard-design-modal-footer {
            height: 30px;
        }
        .wizard-design-modal-body{
            padding:5px 0px;
        }
        .wizard-design-modal-body a,.modalDocName:hover{
            text-decoration: none;
            font-weight: 400;
            font-size: 13px;
            color: #333333;
        }
        .wizard-design-modal-body a.fa-close{
            font-size: 14px;
    	    color: #666666;
        }
	.ui-widget-content a.modalClose{
            float: right;
            border:none;
            margin-top:6px;
            color:#999;
            outline:none;
            font-size:18px;
            font-weight:bold;
            text-decoration:none;
        } 
        .ui-widget-content a.modalClose:hover{
            color:#333;
            text-decoration:none;
        }
        .ui-dialog{
            width:428px !important;
            border:none;
            border-radius:6px;
        }
        .ui-widget-overlay{
            background-color:black !important;
            opacity:0.4 !important;   
        }        
        .saveCloneWizardDesign{
            text-align: right;
            float: right;
            margin-top: 2px;            
            display: inline-block;            
            text-decoration: none;
            font-size: 13px;
            font-weight: 400;
            cursor: pointer;
        }        
        .saveCloneWizardDesignDisable {
            text-align: right;
            float: right;
            margin-top: 2px;            
            display: inline-block;            
            text-decoration: none;
            font-size: 13px;
            font-weight: 400;
            cursor: pointer;
            color: #CCC;
        }        
        .saveCloneWizardDesignDisable:hover {
            background-color:#f2f2f2;
            color: #CCC;
            border: 1px solid #c9c9c9;
            cursor: default;
        }
        .popupWizardDesignLabel {
            margin-left: 15px; 
            float:left; width: 95%; 
            font-weight: bold;
            font-size: 1em;
            margin-bottom: 15px;
            margin-top: 10px;
        }
        .popupWizardDesignText {
            display: block;
            margin-top: 12px;
            margin-left: 15px;
            height: 1.563em;
            font-size: 0.875em;
            min-width: 16.875em;
            text-indent: 5px;
        }
        .message.errorM3 {
            margin-top: 0px;
            margin-left: 12px
        }