.incentive-information-container {
    padding-top: 10px;
}
.incentive-information-radio-input-cont {
    font-size: 14px;
    font-weight: normal;
}
.incentive-information-section-header {
    cursor: pointer;
    padding: 10px 20px;
    border-bottom: solid 1px #eee;
}
    .incentive-information-section-header:hover {
        /*background-color: #fafafa;*/
}
.incentive-information-additional-data {
	pointer-events: none;
}