.incentive-information-field.scope {
    max-width: 30%;
    display: table;
    flex: 1;
}

.incentive-scope-field {
}
.incentive-scope-val {
    display: table-cell;
    width: 40%;
}
.incentive-scope-operator {
    display: table-cell;
    text-align: left;
}

.incentive-scope-field-cont {
	padding: 0px 32px 10px 32px;
	display: flex;
}