<div class="incentive-scope-cont">
    <div class="incentive-scope-field-cont">
        <div ng-if="settings.dataModel[nsPrefix + 'PriceListScope__c']" class="incentive-information-field scope">
            <div class="incentive-scope-field incentive-scope-val">
                <label for="{{settings.dataModel[nsPrefix + 'PriceListScope__c'].field.id}}">{{settings.dataModel[nsPrefix + 'PriceListScope__c'].field.labelText}}</label>
                <incentive-field settings="settings.dataModel[nsPrefix + 'PriceListScope__c']" id="{{settings.dataModel[nsPrefix + 'PriceListScope__c'].field.id}}"></incentive-field>
            </div>
            <div class="incentive-scope-field incentive-scope-operator">
                <label>&nbsp;</label>
                <incentive-field settings="settings.dataModel[nsPrefix + 'PriceListScopeOper__c']" id="{{settings.dataModel[nsPrefix + 'PriceListScopeOper__c'].field.id}}"></incentive-field>
            </div>
        </div>
        <div ng-if="settings.dataModel[nsPrefix + 'ProductFamilyScope__c']" class="incentive-information-field scope">
            <div class="incentive-scope-field incentive-scope-val">
                <label for="{{settings.dataModel[nsPrefix + 'ProductFamilyScope__c'].field.id}}">{{settings.dataModel[nsPrefix + 'ProductFamilyScope__c'].field.labelText}}</label>
                <incentive-field settings="settings.dataModel[nsPrefix + 'ProductFamilyScope__c']" id="{{settings.dataModel[nsPrefix + 'ProductFamilyScope__c'].field.id}}"></incentive-field>
            </div>
            <div class="incentive-scope-field incentive-scope-operator">
                <label>&nbsp;</label>
                <incentive-field settings="settings.dataModel[nsPrefix + 'ProductFamilyScopeOper__c']" id="{{settings.dataModel[nsPrefix + 'ProductFamilyScopeOper__c'].field.id}}"></incentive-field>
            </div>
        </div>
        <div ng-if="settings.dataModel[nsPrefix + 'ProductScope__c']" class="incentive-information-field scope">
            <div class="incentive-scope-field incentive-scope-val">
                <label for="{{settings.dataModel[nsPrefix + 'ProductScope__c'].field.id}}">{{settings.dataModel[nsPrefix + 'ProductScope__c'].field.labelText}}</label>
                <incentive-field settings="settings.dataModel[nsPrefix + 'ProductScope__c']" id="{{settings.dataModel[nsPrefix + 'ProductScope__c'].field.id}}"></incentive-field>
            </div>
            <div class="incentive-scope-field incentive-scope-operator">
                <label>&nbsp;</label>
                <incentive-field settings="settings.dataModel[nsPrefix + 'ProductScopeOper__c']" id="{{settings.dataModel[nsPrefix + 'ProductScopeOper__c'].field.id}}"></incentive-field>
            </div>
        </div>
    </div>
    <div class="incentive-scope-field-cont">
        <div ng-if="settings.dataModel[nsPrefix + 'RegionScope__c']" class="incentive-information-field scope">
            <div class="incentive-scope-field incentive-scope-val">
                <label for="{{settings.dataModel[nsPrefix + 'RegionScope__c'].field.id}}">{{settings.dataModel[nsPrefix + 'RegionScope__c'].field.labelText}}</label>
                <incentive-field settings="settings.dataModel[nsPrefix + 'RegionScope__c']" id="{{settings.dataModel[nsPrefix + 'RegionScope__c'].field.id}}"></incentive-field>
            </div>
            <div class="incentive-scope-field incentive-scope-operator">
                <label>&nbsp;</label>
                <incentive-field settings="settings.dataModel[nsPrefix + 'RegionScopeOper__c']" id="{{settings.dataModel[nsPrefix + 'RegionScopeOper__c'].field.id}}"></incentive-field>
            </div>
        </div>
        <div ng-if="settings.dataModel[nsPrefix + 'CountryScope__c']" class="incentive-information-field scope">
            <div class="incentive-scope-field incentive-scope-val">
                <label for="{{settings.dataModel[nsPrefix + 'CountryScope__c'].field.id}}">{{settings.dataModel[nsPrefix + 'CountryScope__c'].field.labelText}}</label>
                <incentive-field settings="settings.dataModel[nsPrefix + 'CountryScope__c']" id="{{settings.dataModel[nsPrefix + 'CountryScope__c'].field.id}}"></incentive-field>
            </div>
            <div class="incentive-scope-field incentive-scope-operator">
                <label>&nbsp;</label>
                <incentive-field settings="settings.dataModel[nsPrefix + 'CountryScopeOper__c']" id="{{settings.dataModel[nsPrefix + 'CountryScopeOper__c'].field.id}}"></incentive-field>
            </div>
        </div>
        <div ng-if="settings.dataModel[nsPrefix + 'ProductGroupScope__c']" class="incentive-information-field scope">
            <div class="incentive-scope-field incentive-scope-val">
                <label for="{{settings.dataModel[nsPrefix + 'ProductGroupScope__c'].field.id}}">{{settings.dataModel[nsPrefix + 'ProductGroupScope__c'].field.labelText}}</label>
                <incentive-field settings="settings.dataModel[nsPrefix + 'ProductGroupScope__c']" id="{{settings.dataModel[nsPrefix + 'ProductGroupScope__c'].field.id}}"></incentive-field>
            </div>
            <div class="incentive-scope-field incentive-scope-operator">
                <label>&nbsp;</label>
                <incentive-field settings="settings.dataModel[nsPrefix + 'ProductGroupScopeOper__c']" id="{{settings.dataModel[nsPrefix + 'ProductGroupScopeOper__c'].field.id}}"></incentive-field>
            </div>
        </div>
    </div>
    <div class="incentive-scope-field-cont">
        <div ng-if="settings.dataModel[nsPrefix + 'AccountTypeScope__c']" class="incentive-information-field scope">
            <div class="incentive-scope-field incentive-scope-val">
                <label for="{{settings.dataModel[nsPrefix + 'AccountTypeScope__c'].field.id}}">{{settings.dataModel[nsPrefix + 'AccountTypeScope__c'].field.labelText}}</label>
                <incentive-field settings="settings.dataModel[nsPrefix + 'AccountTypeScope__c']" id="{{settings.dataModel[nsPrefix + 'AccountTypeScope__c'].field.id}}"></incentive-field>
            </div>
            <div class="incentive-scope-field incentive-scope-operator">
                <label>&nbsp;</label>
                <incentive-field settings="settings.dataModel[nsPrefix + 'AccountTypeScopeOper__c']" id="{{settings.dataModel[nsPrefix + 'AccountTypeScopeOper__c'].field.id}}"></incentive-field>
            </div>
        </div>
        <div ng-if="settings.dataModel[nsPrefix + 'AccountScope__c']" class="incentive-information-field scope">
            <div class="incentive-scope-field incentive-scope-val">
                <label for="{{settings.dataModel[nsPrefix + 'AccountScope__c'].field.id}}">{{settings.dataModel[nsPrefix + 'AccountScope__c'].field.labelText}}</label>
                <incentive-field settings="settings.dataModel[nsPrefix + 'AccountScope__c']" id="{{settings.dataModel[nsPrefix + 'AccountScope__c'].field.id}}"></incentive-field>
            </div>
            <div class="incentive-scope-field incentive-scope-operator">
                <label>&nbsp;</label>
                <incentive-field settings="settings.dataModel[nsPrefix + 'AccountScopeOper__c']" id="{{settings.dataModel[nsPrefix + 'AccountScopeOper__c'].field.id}}"></incentive-field>
            </div>
        </div>
    </div>
</div>
