.advanced-search-container {
    font-size: 14px;
}
    .advanced-search-container input {
        box-sizing: border-box;
        display: block;
        outline: none;
        color: #666666;
    }
.advanced-search-inner-container {
    min-width: 917px;
}
.advanced-search-grid-head {
    width: calc(100% - 10px);
}
    .advanced-search-grid-head-fa.fa-filter {

    }

    .advanced-search-grid-head-fa {
        float: right;
        padding: 16px 10px 16px 0;
    }

    .advanced-search-grid-head .sortable {
        cursor: pointer;
    }

.advanced-search-scrollable > table {
    width: 100%;
}
.advanced-search-head, .advanced-search-grid-head {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
}
.advanced-search-title {
    margin:13px 0 4px 19px;
    font-size: 18px;
}

.advanced-search-tabs-cont {
    list-style: none;
    margin: 0;
    padding: 0 0 0 9px;
    font-size: 16px;
}
    .advanced-search-tabs-cont li {
        display: inline-block;
        padding: 11px;
        cursor: pointer;
    }
    .advanced-search-tabs-cont li:hover {
        color: #2a94d7;
    }
    .advanced-search-tabs-cont li.advanced-search-active {
        border-bottom: solid 3px #2a94d7;
        cursor: default;
    }
        .advanced-search-tabs-cont li.advanced-search-active:hover {
            color: inherit;
        }
.advanced-search-container a {
    text-decoration: none;
}
.advanced-search-container input[type='checkbox'] {
    width: auto;
}
.advanced-search-close {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    color: #666;
    width: 20px;
    height: 20px;
    background-color: #aeaeae;
}
    .advanced-search-close:hover {
        cursor: pointer;
    }
    .advanced-search-close .fa-times {
        margin-left: 5px;
        margin-top: 2px;
        color: #fff;
    }

.advanced-search-search-container {
    border: 1px solid #d7d7d7;
    border-radius: 3px;
    width: 100%;
    height: 32px;
    display: table;
    padding: 0 7px;
    margin: 7px 0;
}
    .advanced-search-search-container input {
        border: 0;
        width: 100%;
        text-indent: 0;
        font-size: 14px;
    }
    .advanced-search-search-container .fa-search {
        display: table-cell;
        vertical-align: middle;
        color: #999999;
        font-size: 20px;
        width: 19px;
        padding: 7px;
    }

    .advanced-search-input-wrapper {
        display: table-cell;
        vertical-align: middle;
    }

.advanced-search-head {
    border-top: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
    padding: 0 10px;
    overflow: auto;
    display: table;
    width: 100%;
}
    .advanced-search-head > div {
        display: table-cell;
    }
    .advanced-search-head .pagination {
    }

.advanced-search-container table {
    table-layout: fixed;
    border-collapse: collapse;
}

/* checkbox column */
th.advanced-search-checkbox:nth-child(1) {
    width: 60px;
}
.advanced-search-checkbox {
    text-align: center;
    width: 40px;
}

.advanced-search-scrollable {
    overflow-y: auto;
    border-bottom:1px solid #ccc;
    border-top:1px solid #ccc;
    margin-bottom: 0px;
    color: #666;
    font-weight: bold;
    height: calc(100% - 242px);
}
.advanced-search-scrollable.selected-items-only-view {
    height: calc(100% - 225px);
}
.advanced-search-scrollable.single-select-selected-view {
    height: calc(100% - 191px);
}
.advanced-search-grid-head {
    width: 100%;
}
    .advanced-search-grid-head th {
        height: 16px;
        background-color: #f2f2f2;
        font-weight: normal;
        position: relative;
    }
    .advanced-search-grid-head th > div {
        white-space: nowrap;
        overflow: hidden;
        padding-right: 50px;
    }
        .advanced-search-grid-head th.sortable:hover {
            background-color: #fff;
        }
    th.advanced-search-sorted {
        font-weight: bold;
    }
    .advanced-search-scrollable td {
        font-weight: normal;    
        padding: 16px 10px;
    }
    .advanced-search-scrollable td, .advanced-search-grid-head th {
        text-align: left;

    }
    .advanced-search-col-name {
        padding: 16px 10px;
        display: inline-block;
    }
    .advanced-search-scrollable table tbody tr {
        border-bottom: 1px solid #ccc;
    }

.advanced-search-container .command-button-container {
    float: left;
}
.advanced-search-btn {
    box-sizing: border-box;
    border-radius: 4px;
    padding: 8px 15px;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 7px;
    display: inline-block;
}
.advanced-search-primary {
    background-color: #b4bcc4;
    color: #fff;
    cursor: default;
}
.advanced-search-cancel {
    background-color: #647687;
    color: #fff;
    font-weight: normal;
}
.advanced-search-highlighted {
    background-color: #4bc077;
    color: #fff;
    cursor: pointer;
}
    .advanced-search-highlighted:hover {
        background-color: #379965;
    }
.advanced-search-footer {
    padding: 14px 14px;
    overflow: auto;
}
.advanced-search-footer .pagination {
    padding: 7px 0;
}

.advanced-search-command-buttons {
    float: left;
}

.advanced-search-head  .advanced-search-pagination-container {
    text-align: right;
    white-space: nowrap;
}

.advanced-search-footer .advanced-search-pagination-container {
    float: right;
}

.advanced-search-search-wrapper {
    text-align: center;
}

.advanced-search-pagination-container {
    font-weight: 700;
    color: #5E5E5E;
}
.advanced-search-container .pagination {
}
    .advanced-search-container .pagination a {
        color: #5E5E5E;
        padding: 5px 9px;
    }
    .advanced-search-container .pagination .disabled {
        color: #aeaeae;
    }
    .advanced-search-container .pagination .active {
        background-color: #e4e4e4;
        border-radius: 3px;
    }
.advanced-search-container .numbering a {
    color: #5E5E5E;
}
    .advanced-search-container .numbering a:hover {
        color: #2A94D7;
    }
.advanced-search-paging-status {
    color: #a1a1a6;
    line-height: 33px;
    width: 22%;
    padding-left: 17px;
    white-space: nowrap;
}

/* -------------------  modal styling ------------------- */
/* The Modal (background) */
.advanced-search-modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.advanced-search-modal-content {
    background-color: #fefefe;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #888;
    width: 90%;
    height: 80%;
    border-radius: 10px;
}

.advanced-search-description-summarized {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}