<!-- Uses controllerAs: CartCtrl -->
<style>
.strikethrough {
	text-decoration: line-through;
}
</style>
<div class="container">
	<div class="col-md-12 bottom-padding">
		<pageactions page-name="cartPageActions" action-location="topbar"></pageactions>
	</div>
	<div class="row">
		<div class="col-md-4"></div> 
		<div class="col-md-4">
			<input type="button"
						class="btn btn-primary"
						ng-click="CartCtrl.saveCart();"
						value="Save Cart"></input>
		</div> 
		<div class="col-md-4"></div> 
	</div>
	<hr/>
	<div class="container-fluid lineItemContent">
		<div class="row">
			<div class="col-md-1">Actions</div> 
			<div class="col-md-1" ng-repeat="column in CartCtrl.columns">
				{{column.Label}}
			</div> 
		</div>
		<span data-ng-repeat="lineItem in CartCtrl.lineItems">
			<div class="row" cart-line-item line-item="lineItem" display-columns="CartCtrl.columns"></div>
			<span data-ng-repeat="optionLine in lineItem.optionLines">
				<div class="row" cart-line-item line-item="optionLine" display-columns="CartCtrl.columns"></div>
			</span>
		</span>
	</div>
</div>