<style>
.strikethrough {
	text-decoration: line-through;
}
</style>
<div class="form-group">
	<div class="col-md-1">
		<input type="button"
					class="btn btn-xs btn-danger"
					data-ng-if="!cartLineItem.getIsOption()"
					ng-click="cartLineItem.removeFromCart(lineItem);"
					ng-disabled="cartLineItem.getDisabled(lineItem)"
					value="&#8998">
		</input>
	</div> 
	<div class="col-md-1" ng-repeat="column in cartLineItem.displayColumns">
		<span ng-switch="column.FieldType">
			<input class="input-sm form-control"
						 ng-switch-default
						 ng-disabled="!column.IsEditable"
						 ng-model="cartLineItem.lineItem.chargeLines[0].lineItemSO[column.FieldName]"
						 ng-change="cartLineItem.modifyLineItem()">
			</input>
			<input class="input-sm form-control"
						 type="currency"
						 ng-switch-when="CURRENCY"
						 ng-disabled="!column.IsEditable"
						 ng-model="cartLineItem.lineItem.chargeLines[0].lineItemSO[column.FieldName]"
						 ng-change="cartLineItem.modifyLineItem()">
			</input>
			<select class="input-sm form-control"
						 ng-switch-when="PICKLIST"
						 ng-disabled="!column.IsEditable"
						 ng-options="entry.value as entry.label for entry in column.pickListEntries"
						 ng-model="cartLineItem.lineItem.chargeLines[0].lineItemSO[column.FieldName]"
						 ng-change="cartLineItem.modifyLineItem()">
			</select>
			<h5 ng-switch-when="REFERENCE">
				{{cartLineItem.getFieldByReference(column.FieldName)}}
			</h5>
		</span>
	</div>
</div>
