<div class="col-md-12">
	<span pagination-controls 
				start="MinicartCtrl.pageStart"
				end="MinicartCtrl.pageEnd"
				size="MinicartCtrl.pageSize"
				items="MinicartCtrl.numberOfItems">
	</span>
	<div class="row">
		<div class="col-md-1">#</div> 
		<div class="col-md-6">Product/Option</div> 
		<div class="col-md-2">Qty</div> 
		<div class="col-md-2">Action</div> 
	</div>
	<div class="row" 
				ng-repeat="lineItem in (MinicartCtrl.lineItems.slice(MinicartCtrl.pageStart, MinicartCtrl.pageEnd))">
		<div class="col-md-1">
			<span data-ng-show="lineItem.lineItemSO.ItemSequence__c == 1">
				{{lineItem.lineItemSO.LineNumber__c}}
			</span>
			<span data-ng-hide="lineItem.lineItemSO.ItemSequence__c == 1">
				{{lineItem.lineItemSO.LineNumber__c}}
			</span>
		</div> 
		<div class="col-md-6 apt{{lineItem.lineItemSO.LineType__c}}">
			<span data-ng-hide="lineItem.lineItemSO.OptionId__c">
				<a>
					{{lineItem.lineItemSO.ProductId__r.Name}}
				</a>
			</span>	
			<span data-ng-show="lineItem.lineItemSO.OptionId__c">
				<a data-ng-click="(lineItem.lineItemSO.OptionId__c)">
					{{lineItem.lineItemSO.OptionId__r.Name}}
				</a>
			</span>	
		</div> 
		<div class="col-md-1">{{lineItem.lineItemSO.Quantity__c | aptQuantity}}</div> 
		<div class="col-md-1">
			<span data-ng-show="lineItem.lineItemSO.HasOptions__c">
				<a href="#/options/{{lineItem.txnPrimaryLineNumber}}">Opt</a>
			</span>
		</div> 
		<div class="col-md-1">
			<span data-ng-show="lineItem.lineItemSO.HasAttributes__c">
				<a href="#/attributes/{{lineItem.txnPrimaryLineNumber}}">Attr</a>
			</span>	
		</div>
				 
	</div>
</div>