<div class="row">
	<div class="col-md-12" style="font-size: 20px; padding-left: {{level*10}}px;">
		{{group1.label}}-->level={{level}}
	</div>	
	<div class="col-md-12" data-ng-if="group1.isLeaf == false" data-ng-repeat="node in group1.childGroups">
		<div class="col-md-12" data-ng-if="node.isLeaf == false">
			<subgroup group2="node" level="level1+1" ctrl="ctrl"></subgroup>
		</div>
		<div class="col-md-12" data-ng-if="node.isLeaf == true">
			<optionitems group3="node" level="level+1" parentLine="parentLine" ctrl="ctrl"></optionitems>
		</div>
	</div>
	<div class="col-md-12" data-ng-if="group1.isLeaf == true" data-ng-repeat="option in group1.options">
		<optionitem option="option" level="level+1" parentLine="parentLine" ctrl="ctrl"></optionitem>
	</div>
</div>