<!-- Controller as page -->
<div class="container">
	<div class="row">
		<input type="button"
					 class="btn btn-xs"
					 ng-disabled="page.currentPage == 1"
					 ng-click="page.goTo(1)"
					 value="First">
		</input>
		<input type="button"
					 class="btn btn-xs"
				   ng-disabled="page.currentPage <= 1" 
					 ng-click="page.previous()"
					 value="Previous">
		</input>
		<input type="button"
					 class="btn btn-xs"
					 ng-disabled="true"
					 value="{{page.currentPage}} / {{page.numberOfPages}}">
		</input>
		<input type="button"
					 class="btn btn-xs"
					 ng-disabled="page.currentPage >= page.numberOfPages" 
					 ng-click="page.next()"
					 value="Next">
		</input>
		<input type="button"
					 class="btn btn-xs"
				 	 ng-disabled="page.currentPage == page.numberOfPages"
					 ng-click="page.goTo(page.numberOfPages)"
					 value="Last">
		</input>
	</div>
	<br/>
	<div class="row"
			 ng-hide="page.hideSizeOptions">
		<label for="idPageSize">Page Size</label>
		<select id="idPageSize" 
						ng-model="page.size"
						ng-change="page.calculatePages()"
						ng-options="sizeOption.value as sizeOption.name for sizeOption in page.sizeOptions">
		</select>
	</div>
</div>