<div id="idAngularWorkbench" class="container">
	<style>	
		.json-format {
			background-color: rgb(206,239,255); 
			padding: 2px;
			-moz-border-radius: 10px; 
			border-radius: 10px;
			white-space: pre-wrap; 
			font-family: courier, monotype;
		}
		
		.log-grid {
			width: 240px;
			height: 400px;
			max-height: 500px;
		}

		.ui-grid-header-cell{
			max-height: 60px;
		}

		#idControllerTable td {
			padding: 3px;
		}

		.tree ul li {
			margin: 0px;
			padding: 0px;
		}

		.tree ul {
			margin-left: 6px;

		}
		.hideable.ng-hide-add {
			-webkit-transition: all linear 0.5s;
 			transition: all linear 0.5s;;
			
		}
		.hideable.ng-hide {
			line-height: 0;
			opacity: 0;
			
		}
	</style>

	<div class="row" id="idCatalogControls">
		<div class="col-md-3">
			<input type="button" 
						 value="Get Categories"
						 ng-click="getCategories()"/>
			<select ng-options="cat.label for cat in categories track by cat.nodeId"
							ng-model="selectedCategory">
				<option value="">--</option>
			</select>
			<br/>
			<input type="button" 
						 value="Get Products from {{selectedCategory.label}}"
						 ng-click="getProducts()"
						 ng-show="!!selectedCategory"/>
		</div>
		<div class="col-md-3">
			<input type="text" 
						 ng-model="searchText"
						 placeholder="Search {{selectedCategory.label}}">
			<br/>
			<input type="button" 
						 value="Search Products"
						 ng-click="searchProducts()">
			<input type="button" 
						 value="Sample Request"
						 ng-click="getSampleRequest()">
		</div>
		<div class="col-md-6">
			Include:
			<span ng-repeat="option in includeParamsOptions">
				<input type="checkbox" ng-model="option.checked">{{option.name}}</input>
			</span>
		</div>
	</div>
	<hr/>
	<div class="row" id="idCartControls">
		<!-- <input type="button" 
						 value="Get Line Items"
						 ng-click="getCartLineItems()"/> -->
		<span ng-repeat="fnName in testFunctionNames">
			<input type="button" 
						 value="{{fnName}}"
						 ng-click="testFunctions[fnName]();"/>
		</span>

	</div>
	<hr/>
	<div class="row">
		<div class="col-md-3">	
			<h3>Category Tree Display</h3>
			<div class="tree" ng-include="'node.html'"></div>

		</div>
		
		<div class="col-md-6">
			<h3 ng-click="hideRequest = !hideRequest">
				Request JSON
			</h3>
			<div class="json-format hideable" ng-hide="hideRequest">
				{{requestJSON}}
			</div>
			<h3 ng-click="hideResult = !hideResult">
				Result JSON
			</h3>
			<div class="json-format hideable" ng-hide="hideResult">
				{{resultJSON}}
			</div>
		</div>
		
		<div class="col-md-3">
			<h3> Average Time: {{timeAverage | number: 2}} </h3>
			<!-- Ui grid displays time -->
			<div ui-grid="timeLogGrid" class="log-grid"></div>
			<input type="button" ng-click="clearTimeLog()" value="Clear"/>
		</div>
	</div>
</div>

<!-- Template html for recursive tree -->
<script type="text/ng-template"  id="node.html">
	<span ng-show="!treeData.root">
		{{treeData.label}}
	</span>
	<ul>
		<li ng-repeat="treeData in treeData.childCategories" ng-include="'node.html'"></li>
	<ul>
	
</script>
