<div class="block-refine-search block">
	<h3 class="block-refine-search__heading">{{assetCtrl.lables.FilterAssets}}</h3>
	<ul class="block-refine-search__filters">
    <li ng-repeat="filter in assetCtrl.filterList">
      <div class="filter-spacing" ng-include="'filterFieldType'+ filter.FieldType"></div>
    </li>
  </ul>
  <div ng-if="assetCtrl.filterList.length > 0">
  	<button class="tertiary filter-button-spacing"><span>Apply</span></button>
  	<button class="tertiary filter-button-spacing" ng-click="assetCtrl.clearSelectedFilters()"><span>Clear</span></button> 
  </div>
</div>
<!-- DATE type Search-Filter -->
<script type="text/ng-template" id="filterFieldTypeDATE">
	<div ng-if="filter.FieldName == 'EndDate__c'">
		<label class="filter-date-label" for="{{filter.FieldName}}_{{$index}}">{{filter.Label}}</label>
		<input class="filter-date-input" pikaday="filter.dateValue" id="{{filter.FieldName}}_{{$index}}">
	</div>
	<div ng-if="filter.FieldName == 'StartDate__c'">
		<label class="filter-date-label" for="{{filter.FieldName}}_{{$index}}">{{filter.Label}}</label>
		<input class="filter-date-input" pikaday="filter.dateValue" id="{{filter.FieldName}}_{{$index}}">
	</div>
</script>
<!-- Picklists type Search-Filer -->
<script type="text/ng-template" id="filterFieldTypePICKLIST">
	<h4 class="block-refine-search__filter-label">{{filter.Label}}</h4>
  <ul>
    <li ng-repeat="filterValue in filter.pickListEntries">
      <div class="checkbox-override">
        <input type="checkbox" name="{{filterValue.label}}" id="{{filter.FieldName}}_{{$index + 1}}" ng-model="filterValue.selected" ng-change="assetCtrl.filterSelectHandler(filterValue)"/>
        <label for="{{filter.FieldName}}_{{$index + 1}}"></label>
      </div>
      <label for="{{filter.FieldName}}_{{$index + 1}}">{{filterValue.label}}</label>
    </li>
  </ul>
</script>
