
<!--/ http://jsfiddle.net/emn13/YMvk9/-->
<!--/ http://codepen.io/ajkochanowicz/pen/KHdih-->
<!--/ CPQ 1.0-->
<!--/	cl: Standard Price-->
<!--/ cl: Implementation Fee-->
<!--/ cl: Installation Fee-->
<!--/ ol: CPQ Installation-->
<!--/ ol: + CPQ Master-->
<!--/			ol: EchoSiqn CPQ-->
<!--/				cl: Implementation Fee-->
<!--/ 		ol: CPQ Admin-->
<!--/-->
<!--/-->
<!--/	top level: lineItemCart.item.lineItemSO.Apttus_Config2__ProductId__r.Name-->
<!--/ option line: subOption.lineItemSO.Option_Name__c-->
<!--/ charge line: chargeLine.lineItemSO.Apttus_Config2__ChargeType__c-->
<!--/-->
<!--/-->
<td ng-repeat="column in lineItemCart.columnKeys">cell value</td>