
<div class="main-cart-totals-wrapper main-cart-totals--overflow">
  <div class="main-cart-totals-container--positioning">
    <div class="main-cart-totals-container">
      <table>
        <thead>
          <tr>
            <td ng-repeat="column in cartTotals.totalColumns" class="totals-col">
              <div>
                <label>{{column.Label}}</label>
              </div>
            </td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="lineTotal in cartTotals.totals" item="lineTotal">
            <td ng-repeat="column in cartTotals.totalColumns" ng-include="'totalFieldTypes'" ng-switch="column.FieldType" class="totals-col"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<script type="text/ng-template" id="totalFieldTypes">
  <div ng-switch-when="CURRENCY">
    <p>{{lineTotal.summaryGroupSO[column.FieldName] | currency}}</p>
  </div>
  <div ng-switch-when="PERCENT">
    <p>{{lineTotal.summaryGroupSO[column.FieldName] * 100| number :1}}%</p>
  </div>
  <div ng-switch-default="ng-switch-default">
    <p>{{lineTotal.summaryGroupSO[column.FieldName]}}</p>
  </div>
</script>