
<div class="cart-header">
  <div class="cart-header__cart-title">
    <h1><span class="ss-icon ss-cart"></span>{{cartHeader.labels.CartViewPageTitle}}</h1>
  </div>
  <div class="cart-header__product-batch-actions">
    <div class="checkbox-override">
      <input type="checkbox" id="checkbox-all" ng-checked="cartHeader.isSelected()" ng-click="cartHeader.checkAll()"/>
      <label for="checkbox-all"></label>
    </div>
    <div class="button-row">
      <!--button.tertiary(ng-click="cartHeader.editConfig()")span Edit Product Configuration
      -->
      <!--button.tertiary(ng-click="cartHeader.priceAdjust()")span Price Adjustment
      -->
      <button ng-click="cartHeader.createDupe()" ng-show="cartHeader.canDupe()" class="tertiary"><span>Create Duplicate</span></button>
      <button ng-click="cartHeader.removeFromCart()" ng-show="cartHeader.canRemove()" class="tertiary"><span>Remove From Cart</span></button>
    </div>
    <div class="pagination-group">
      <dir-pagination-controls></dir-pagination-controls>
    </div>
  </div>
</div>