
<div class="main-configure-product__product-information"><img ng-src="{{configureProductHeader.img_url}}"/>
  <p>{{configureProductHeader.productDescription}}</p>
</div>
<div class="main-configure-product__product-header-col">
  <div class="main-configure-product__product-config">
    <div class="main-configure-product__quantity">
      <label>Qty</label>
      <input type="text" ng-model="configureProductHeader.config.lineItem.data.chargeLines[0].lineItemSO.Quantity__c"/>
    </div>
    <div class="main-configure-product__term">
      <label>Term</label>
      <input type="text" ng-model="configureProductHeader.config.lineItem.data.chargeLines[0].lineItemSO.SellingTerm__c"/>
    </div>
  </div>
  <div class="main-configure-product__frequency">
    <label>Frequency</label><span>{{configureProductHeader.frequency}}</span>
  </div>
</div>