
<div ng-repeat="group in config.configure.lineItem.attrGroups" class="main-configure-product__product-attribute">
  <h3>{{group.Name}}</h3>
  <div ng-class="{'two-column': {{group.TwoColumnAttributeDisplay__c}}}" ng-repeat="attr in group.Attributes__r" class="form-element-container">
    <label>{{config.attributeLabel(attr.Field__c)}}</label>
    <div ng-if="config.isPicklist(attr.Field__c)" class="select-override">
      <select ng-model="config.attrSO()[attr.Field__c]" ng-options="value.value as value.label for value in config.valuesForAttr(attr.Field__c)"></select>
    </div>
    <input ng-if="config.isTextArea(attr.Field__c)" ng-model="config.attrSO()[attr.Field__c]" type="text"/>
    <div ng-if="config.isMultiPickList(attr.Field__c)" ng-repeat="value in config.valuesForAttr(attr.Field__c)" class="multipick-item">
      <div class="checkbox-override">
        <input ng-model="config.attrSO()[attr.Field__c]" type="checkbox" id="checkbox-{{$index}}"/>
        <label for="checkbox-{{$index}}"></label>
      </div>
      <label for="checkbox-{{$index}}">{{value.label}}</label>
    </div>
  </div>
</div>

