
<div class="sidebar sidebar--configure-product">
  <h3>Summary</h3>
  <div class="configure-product__product-prices">
    <div ng-repeat="chargeLine in summary.lineItem.data.chargeLines" class="configure-product__price-row"><span class="configure-product__price-name">{{chargeLine.lineItemSO.ChargeType__c}}</span><span class="configure-product__price-value">${{chargeLine.lineItemSO.NetPrice__c}}</span></div>
    <div class="configure-product__price-row"><span class="configure-product__price-name">Net Price</span><span class="configure-product__price-value">$ {{summary.multiplyTotal()}}</span></div>
  </div>
  <button ng-click="" class="primary"><i class="ss-addcart"></i><span>{{summary.labels.AddToCart}}</span></button>
  <button class="secondary">Save Configuration for later</button>
  <div class="configure-product__product-options">
    <h4>Options</h4>
    <div ng-repeat="group in summary.lineItem.optionGroups">
      <h5>{{group.data.label}}</h5>
      <div ng-repeat="item in group.optionLinesFromGroup()">
        <div class="configure-product__product-options-row"><span class="configure-product__product-name">{{item.data.chargeLines[0].lineItemSO.ProductId__c}} x{{item.quantity()}}</span><span class="configure-product__product-price">${{item.data.chargeLines[0].lineItemSO.NetPrice__c}}</span>
          <div ng-if="item.subItems.length &gt; 0" ng-repeat="subOption in item.subItems" class="configure-product__product-options-row"><span class="configure-product__product-name">{{subOption.data.chargeLines[0].lineItemSO.ProductId__c}}</span><span class="configure-product__product-price">${{subOption.data.chargeLines[0].lineItemSO.NetPrice__c}}</span>
            <div ng-if="subOption.subItems.length &gt; 0" ng-repeat="subSubOption in subOption.subItems" class="configure-product__product-options-row"><span class="configure-product__product-name">{{subSubOption.data.chargeLines[0].lineItemSO.ProductId__c}}</span><span class="configure-product__product-price">${{subSubOption.data.chargeLines[0].lineItemSO.NetPrice__c}}</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>