
<div ng-show="modalDialog.prompt() &amp;&amp; modalDialog.visible" class="modal-overlay"></div>
<div ng-show="modalDialog.visible" class="modal-dialog">
  <div class="modal-header">
    <h3>Constraint Rule Message</h3><span ng-click="modalDialog.close()" class="modal-header__close-modal"></span>
  </div>
  <div class="modal-content">
    <div class="modal-content__notification"></div>
    <div class="modal-content__description">
      <p>{{modalDialog.prompt().Message__c}}</p>
    </div>
    <div class="modal-content__label-row">
      <label>Product</label>
    </div>
    <div class="modal-content__modal-row-container">
      <div ng-repeat="product in modalDialog.promptOptions" class="modal-row">
        <div class="form-element-container">
          <div class="checkbox-override">
            <input type="checkbox" id="{{product.productSO.Id}}" ng-click="modalDialog.toggleProduct(product)"/>
            <label for="{{product.productSO.Id}}"></label>
          </div>
          <label for="{{product.productSO.Id}}">{{product.productSO.Name}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="button-row">
      <button ng-click="modalDialog.close()" ng-disabled="!modalDialog.minSelected()" class="primary"><span>Add to Cart</span></button>
      <button ng-click="modalDialog.close()" class="cancel"><span>Cancel</span></button>
    </div>
  </div>
</div>