
<div ng-class="{ 'is--installed' :  lineItem.product.isInstalled }" class="main__listings_item listing-item"><span class="listing-check checkbox-override">
    <input type="checkbox" id="#product-{{lineItem.product.productSO.Id}}"/>
    <label for="#product-{{lineItem.product.productSO.Id}}"></label></span>
  <div class="listing-info">
    <div class="image"><img ng-show="lineItem.product.productSO.IconId__c" ng-src="{{lineItem.baseFileUrl + lineItem.product.productSO.IconId__c}}"/></div>
    <div class="details">
      <h3 class="listing-title"><a href="#">{{ lineItem.product.productSO.Name }}</a><span ng-show="{{ lineItem.product.isInstalled }}" class="listing-installed"><i class="ss-check"></i>Installed</span><span ng-show="false" class="listing-in-cart"><i class="ss-cart"></i>In Cart</span></h3>
      <p class="listing-description">{{lineItem.product.productSO.Description}}</p>
    </div>
  </div>
  <div class="listing-meta">
    <div class="listing-meta__listing-prices">
      <div ng-repeat="charge in lineItem.product.chargeList" class="listing-price">
        <h4 class="listing-price__standard">{{charge.ChargeType__c}}</h4>
        <h5 class="listing-price__s-price">{{charge.ListPrice__c | currency}}</h5>
      </div>
    </div>
    <div class="listing-quantity">
      <input type="text" value="{{lineItem.product.quantity}}" ng-change="updateQuantity(lineItem.product)" ng-model="lineItem.product.quantity" class="listing-quantity__amnt"/>
    </div>
    <div ng-class="{ 'is--group' :   !lineItem.product.productSO.Customizable__c }" class="listing-actions">
      <button ng-hide="lineItem.product.productSO.Customizable__c" ng-click="lineItem.addToCart(lineItem.product)" ng-class="{'is--alone' : !lineItem.product.productSO.HasAttributes__c &amp;&amp; !lineItem.product.productSO.HasOptions__c}" class="primary"><span>{{lineItem.labels.AddToCart}}</span><span ng-show="false">Add Another</span></button>
      <button ng-show="{{lineItem.product.productSO.HasAttributes__c || lineItem.product.productSO.HasOptions__c}}" ng-click="lineItem.configure()" class="secondary"><span>Configure...</span></button>
    </div>
  </div>
</div>