
<h3>Location Attributes</h3>
<div class="main-configure-product__product-option-row main-configure-product__product-option-row--select">
  <div class="main-configure-product__product-option-container">
    <div class="main-configure-product__product-option-select">
      <label>Country</label>
      <div class="select-override"><span class="select-placeholder">Choose country...</span></div>
    </div>
    <div class="main-configure-product__product-option-select">
      <label>Insulation</label>
      <div class="select-override"><span>Air</span></div>
    </div>
  </div>
</div>
<div class="main-configure-product__product-option-row main-configure-product__product-option-row--select">
  <div class="main-configure-product__product-option-container">
    <div class="main-configure-product__product-option-select">
      <label>Altitude (meters)</label>
      <div class="select-override"><span>1500</span></div>
    </div>
    <div class="main-configure-product__product-option-select">
      <label>Factory</label>
      <div class="select-override"><span>None</span></div>
    </div>
  </div>
</div>
<div class="main-configure-product__product-option-row main-configure-product__product-option-row--select">
  <div class="main-configure-product__product-option-container">
    <div class="main-configure-product__product-option-select">
      <label>Family</label>
      <div class="select-override"><span class="select-placeholder">Choose Family...</span></div>
    </div>
    <div class="main-configure-product__product-option-select">
      <label>Location type</label>
      <div class="select-override"><span>Skyscraper</span></div>
    </div>
  </div>
</div>