select{
	background: none !important;
	padding: 0;
}
#idSearchDiv .apt-select-wrap:before {
    background: none !important;
}
.apt-select-wrap:before {
	background: none !important;
}
.idCurrentPageNumber{
	line-height: 15px;
}
.apt-doSearchButton {
	background-position:right center !important;
}
.apt-list-dropdown .aptListButton {
	filter: none !important;
	border: none !important;
	font-size: 15px !important;
	padding: 7px 15px 9px 15px !important;
	display: block !important;
	line-height: 12px;
	color: #0061b2 !important;
	text-align: left;
	background: #ffffff !important;
	width: auto;
}
.apt-list-dropdown .aptListButton:hover {
	filter: none !important;
	background: #2093D9 !important;
	border:none !important;
	font-size:15px !important;
	padding:7px 15px 9px 15px !important;
	display:block !important;
	line-height:12px;
	text-align:left;
	width:auto;
	color: #ffffff !important;
}