/**************************************************************************************************************************************************************
 * Apttus CPQ CSS file
 * @2010-2013 Apttus Inc. All rights reserved.
 * SelectConfigProductsFilterView -----------------------------------------------------------------------------------------------------------------------------
 *************************************************************************************************************************************************************/
.aptBrowsePanel{
	margin: 2px;
}

#breadCrumbContainer {
	border:none;
}
.breadCrumb ul li.first {
	display: none;
}
.apt-browseCatalogDropDown .tree-commands {
	display:none;
}
.apt-browseCatalogContainer {
	border:none;
}
.apt-browseCatalogDropDown {
	border: 1px solid #DDD;
}
.apt-browseCatalogDropDown div.jstree {
	font-size: 12px;
	padding: 5px;
	overflow: auto;
	width: 320px;
	height: 350px;
}
.idCommands2 {
}
#aptTopButtons {
 	margin:0;
 	padding:0;
 	list-style-type: !important none;
 }
 .cartTable{
 	-webkit-box-shadow: none !important;
	-moz-box-shadow:    none !important;
	box-shadow:         none !important;
 }

 #aptTopButtons > li {
 	display: inline-block !important;
 	margin:0;
 }

.aptHelpMeChoosePanel {
	background:#f3f3f5;
	padding-left:10px;
}

.aptHelpMeChoosePanel .help {
	padding:3%;
	font-family:Calibri;
	font-size:1.2em;
	width:60%;

}

.aptHelpMeChoosePanel div {
	padding: 20px 0px 10px 0px;
}

.aptHelpMeChoosePanel .buttonPanel,
.aptHelpMeChoosePanel .help {
	float: left;
}

#aptSelectedProducts {
	/*padding-left:10px;*/
	float: left;
	width: 100%;
}

.aptsPaginator {
	float: left;
}

.aptProductsTable td{
	border:none !important;
}


.aptFilterField {
	font-weight:normal;
}

.aptFilterField .aptFilterValue {
	list-style-type: none;
	padding-left: 0.4em;
	margin: 0px;
	
}



.aptSearchProductName {
	font-weight:bold; 
	font-size:1.3em;
}


.aptFilterOptions {
	list-style: none; 
	padding-left: 2em;
	display: block;
	padding-top: 0.5em;
}




.aptRefineCategory a {
	background: none;
	padding-left: 18px;
}

#navContent {
	padding: 0 0 4px 18px;
	font-size: 1.4em;
	line-height: 1em;
	color: #333;
}
.aptCarrouselImage {
	height:100px;
}
.aptProductImage {
	width:100%;
}
.aptProductCatalogLine .aptProductImage {
}
.aptProductPriceList {
	list-style: none; 
	padding-right: 5px; 
	margin-top:0px; 
	margin-left:0px; 
	padding-left:0px;
	margin-bottom:0px;
	padding-bottom:0px;
}
.aptProductPriceList td {
	margin-left:0px;
	font-weight:bold;
	color: #1644D8;
}
.apt-charge-list-value{
	text-align: right;
	display: table-cell !important
}
.aptProductPriceList.disabled li {	
	color: lightgrey !important;
}
body:last-child .aptRoundedDiv {
/* Remove filter from IE9 */
filter: none;
}

div.aptProductCatalogLine {
	width:100%; 
}

.aptProductsCatalogNoResults {
padding-left: 4px;
}
.aptProductInfoContainer,  {	
	float:left;
}
.apt-product-charge-fields{
	float: right;
}
.aptProductInfoContainer {	
	padding: 5px;
	width: 70%;
	float: left;
}
.aptProductQuantity {
	float: right;
	margin-right: 15px;
	padding-top: 5px;
}
.aptProductInfoContainer > div {
	display:inline-block;	
	padding-right: 10px;
	vertical-align: top;	
}
.aptProductImgContainer {		
	padding: 0px;
	width: 15%;
}
.apt-product-charge-fields {	
	
}
.aptProductInfoFields{
	width: 50%;
}
.aptProductButttons {	
	width: 127px;
	float: right;
	vertical-align: top;
	padding: 5px 5px 0 0;
	text-align: right;
}
.aptProductButttons .aptListButton {
	width: 75px;
	text-align: center
}
div.aptProductBottomButttons {	
	clear:both;
	padding-top: 10px;
}

div.aptProdLongDescShort {
width:100%;
float:left;
height:80px;
overflow:hidden;
}

div.aptProdLongDescLong {
width:100%;
float:left;
height:100%;
}

.aptLeafNode {
border-collapse: collapse;
padding: 0px 10px;
}

.aptLeafNodeActive {
border:2px solid #069;
}

b.aptLeafNodeActive {
color:white
}

.aptLeafNode table:hover {
background-color: #ccc;
cursor: pointer;
}	

.aptLeafNode table:visited {
background-color: #000;
cursor: pointer;
}

.aptRightColumn {
	padding-left: 5px;
}
.aptRightColumn > div {
	/*padding-left: 7px;
	margin-right: 5px;*/
}
.aptLeftColumn > div  {
	padding-right: 5px;
}

.aptScroll {
overflow-x: {!carrouselStyle};
}

.aptFilterList {
float: left;
width: 100%;
}

.aptFirstPageBG {
background-image: url("img/sprites.png");
background-position: -17px -184px;
width: 16px;
height: 14px;
}

.aptPrevPageBG {
background-image: url("img/sprites.png");
background-position: 0px -184px;
width: 16px;
height: 14px;
}

.aptNextPageBG {
background-image: url("img/sprites.png");
background-position: --34px -184px;
width: 16px;
height: 14px;
}

.aptLastPageBG {
background-image: url("img/sprites.png");
background-position: -51px -199px;
width: 16px;
height: 14px;
}

.sliderBar {
background-color: lightblue;
}

a.sliderBar {
background-color: #ccc;
}

#slider-range {
margin: 10px;
border: 1px solid #aaaaaa;
}
    
.aptPriceRangeInput input{
width: 4em;
}

.aptPriceRangeInput {
text-align: center;
padding: 10px;
}

.aptCurrency, .aptPercentage, .aptQuantity {
display: inline;
}



#rootItem {
	background-color: #1b9bff;
	margin-right: 0;
}

#menuName {
	font-weight: normal;
	float: left;
	text-decoration: none;
	/*padding-right: 0;
	margin-right: 0;*/
	/*margin-left: 0;
	padding-left: 0;*/
	color: white;
	
}

#menu {
	background-color: #1b9bff;
	margin-right: 0;
}

#menu img {
	height: 24px; 
	float: left; 
	padding: .3em 0em;
}


/*HOVER CSS MENU*/



#nav, #nav li { 
	margin:0px; 
	padding:0px; 
}
#nav li {  
	cursor:pointer; 
	list-style:none; 
	padding:0px 10px 0px 10px; 
	border:1px #000 solid; 
	position:relative;
}
#nav li ul.first {
	left:-1px; 
	top:100%;
}

/*li, li a {
	color:#000; 
	text-decoration:none;
}*/
#nav li {
	text-indent:10px;  
	/*margin-right:10px;*/ 
	border-top:1px #000 solid; 
	border-bottom:1px #000 solid; 
	border-left:none; 
	border-right:none; 
	background:#fff;
}
#nav li a {
	display:block; 
	width:auto; 
	height:inherit;
	font-weight: normal;
}

.firstnav li:hover > a, .firstnav li:hover { 
	color:#fff; 
	background:#1b9bff !important;  
}

/*#stuff li {list-style:none;}*/

#nav, .firstnav, #nav .firstnav li { 
	margin:0px; 
	padding:0px; 
}
#nav li {  
	cursor:pointer; 
	list-style:none; 
	padding:0px 10px 0px 10px; 
	border:1px #000 solid; 
	position:relative;
}

#nav li ul.first {
	left:-1px; 
	top:100%;
}

/*li, li a {
	color:#000; 
	text-decoration:none;
}*/

#nav .firstnav li { 
	width:100%; 
	text-indent:10px;  
	/*margin-right:10px;*/ 
	border-top:1px #000 solid; 
	border-bottom:1px #000 solid; 
	border-left:none; border-right:none; 
	background:#333;
}

#nav li a {
	display:block;
	/*width:inherit;*/ 
	height:inherit;
	color: #fff;
}

ul.firstnav { 
	display:none; 
}

li:hover > .firstnav { 
	display:block; 
	position:absolute; 
	width:200px; 
	top:30px; 
	left:0; 
	z-index:1000; 
	background:#1b9bff !important; 
	border:1px #000 solid; 
} 
nav.li:hover { 
	position:relative;
	
	z-index:2000; 
}

#menu:hover{
	background-color: #333 !important;
}



/*JSTREE*/

.jstree-default.jstree-focused {
	background: none !important;
}

.tree-commands{
	font-size:12px;
	padding:12px 0 0 12px;
} 

.jstree{
	overflow-y:auto;
}

#sidetree{
	height:auto;
	padding:10px;
}

.jstree-clicked{
	border-left:1px solid #eeeeee;
	border-top:1px solid #eeeeee;
	border-bottom:1px solid #eeeeee;
}

.tree-commands{
	margin-bottom:5px;
	margin-top: 22px;
}

.aptCatalogSearchHeader {
	float:left;
	width:40%;
	text-align:left;
	white-space: nowrap;
	//overflow-x: hidden;
}

.aptSelectedProductName {
	max-width: 100px;
	overflow: hidden;
	
}

.aptSelectedProductColumn2 {
	padding-left: 3px;
}


/***************************
*  CAROUSSEL 
**************************/
.image_carousel {
	padding: 0 25px 0 25px;
	position: relative;
}

.image_carousel div.aptCarrouselItem  { 
	background-color: white;
	padding: 5px;
	margin: 5px;
	display: block;
	float: left;
	box-shadow: rgb(204, 204, 204) 2px 3px 5px;
}
.image_carousel div.aptCarrouselItem:hover {
	
	box-shadow: 0px 1px 5px #ccc;
	transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	border-radius: 3px;
	border: 1px solid rgb(30, 148, 226);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 0px 0px 15px rgba(67, 99, 139, 1) !important;
}

.image_carousel div.aptCarrouselItemLabel  { 
	background-color: white;
	display:block;
	position: relative;
	bottom: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}


/* .aptCarrouselItem:hover {
	
	background-color: gray;
	/* border: 2px solid gray; 
	cursor: pointer;
	box-shadow: none;
} */

.aptCarrouselItemActive{

	box-shadow: 0px 1px 2px #ccc !important;
	transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	border-radius: 3px;
	border: 1px solid rgb(30, 148, 226);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 0px 0px 15px rgba(67, 99, 139, 1) !important;
}
		
a.prev, a.next {
	background: url('img/CPQCarouselArrowsSprite.png') no-repeat transparent;
	width: 40px;
	height: 100px;
	display: block;
	position: absolute;
	top: 36px;
}

a.prev {			
	left: 0px;
	background-position: -60px -83px; 
}

a.prev:hover {		
	background-position: 0px -83px; 
}

a.prev.disabled {	
	background-position: -100px -100px !important;  
}

a.next {			
	right: 0px;
	background-position: -60px -183px; 
}

a.next:hover {	
	background-position: 0px -183px; 	
	
}

a.next.disabled {	
	background-position: -100px -100px !important;  
}

a.prev.disabled, a.next.disabled {
	cursor: default;
}

a.prev span, a.next span {
	display: none;
}

.pagination {
	text-align: center;
}

.pagination a {
	background: url('img/Caroussel_Sprite.png') 0 -100px no-repeat transparent;
	width: 15px;
	height: 15px;
	margin: 0 5px 0 0;
	display: inline-block;
}
 
.pagination a.selected {
	background-position: -25px -100px;
	cursor: default;
}

.pagination a span {
	display: none;
}

.clearfix {
	float: none;
	clear: both;
}

.caroufredsel_wrapper div{
	text-align:center;
}



/**** Delight CSS ***/
.aptPageBodyPanel{
	-moz-border-bottom-left-radius: 3px;
	-moz-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-left: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;

}

.breadCrumb {
	margin: 10px 6px !important;
	overflow: hidden;
}

#idSearchDiv select {
	width: 120px;
	background-color: #DFE0E1;
	border: 1px solid #cccccc;
	padding: 4px 6px;
	color: #555555;
	-moz-border-bottom-left-radius: 4px;
	-moz-border-top-left-radius: 4px;
	
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
	margin: 0;
	-moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: "";
    float:left;
	background-image:url("img/blue-down-arrow.png");
	background-position:100px 10px;
	background-repeat:no-repeat;
	
}
#idSearchDiv select::-ms-expand {
    display: none;
}

#clearSearch {
	position: relative;
	top: 1px;   
    left: -17px;		    
    color: #5C5C5F;
    font-weight: bold;
    cursor: pointer;
    font-size: 12px !important;
}

#idSearchDiv select[size] {
}

.navbar-inner {
   filter: none\9;
}

.navbar {
	margin-bottom: 0;
}

.navbar .nav {
	margin: 2px 0;
	width:100%;
}

.navbar .nav > li {
	margin-right: 5px;
}

.navbar .dropdown-menu {
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;

    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.navbar .nav > .open .dropdown-toggle {
	-webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
	-moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
	box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}

.navbar .nav > .active .dropdown-toggle {
	background-color: #fafafa;
	background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
	background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
	background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
	background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
	border: 1px solid #d4d4d4;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

.navbar .container {
    float: left;		    
    max-width: 600px;
	min-width: 325px;
}

#rootMenuContainer {
	width:100%;
	height:auto;
	font-size:16px;
}
        
.doSearchButton {
	border-radius: 0 14px 14px 0 !important;
	margin-top: 0;
	margin-left: -1px;
	height: 30px;
	line-height: 20px;		    
    padding: 4px 12px;

	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: #CCCCCC #CCCCCC #B3B3B3;
    border-image: none;
   
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    		    
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);

    display: inline-block;
	margin-bottom: 0;
	vertical-align: middle;
	height:30px;
	outline:none; 
	position:relative;
	left:-7px;          	

}

.tree-commands {
	margin-top:0;
}

/* hide the default jstree icon */
.noImage a .jstree-icon {
	background:none; 
}

#idCommandButtonsSection{
	width:100%;
	float:left;
}
.idCommands{
	background-color:#ffffff;
	position: static;
}
#idCommandButtonsSection .apt-powered-logo{
    display: none;
}
.idCommands .aptLocationSection{
	display: none;
}
.apt-doSearchButton {
	margin-top: 0 !important;
	margin-left: -1px !important;
	height: 30px !important;
	line-height: 20px !important;
	padding: 4px 30px 4px 12px !important;
	color: #ffffff !important;
	background-color:#2093D9 !important;
	border:none !important;
	cursor: pointer !important;
	text-align: center !important;
	display: inline-block !important;
	margin-bottom: 0 !important;
	vertical-align: middle !important;
	height: 30px !important;
	outline: none !important;
	position: relative !important;
	left: -7px !important;
	border-radius: 2px !important;
	margin-left: 2px !important;
	background-image:url("img/white-search.png") !important;
	background-position:right 5px center !important;
	background-repeat:no-repeat !important;
	font-size: 12px !important;
	font-weight: normal !important;

}
.apt-search-query {
	width: 300px;
	-webkit-appearance: none;
	-webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
	-webkit-rtl-ordering: logical;
	-webkit-transition-delay: 0s, 0s;
	-webkit-transition-duration: 0.2s, 0.2s;
	-webkit-transition-property: border, box-shadow;
	-webkit-transition-timing-function: linear, linear;
	-webkit-user-select: text;
	-webkit-writing-mode: horizontal-tb;
	background-color: rgb(255, 255, 255);
	border-bottom-color: rgb(204, 204, 204);
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 2px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-color: rgb(204, 204, 204);
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: rgb(204, 204, 204);
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: rgb(204, 204, 204);
	border-top-left-radius: 0px;
	border-top-right-radius: 2px;
	border-top-style: solid;
	border-top-width: 1px;
	box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
	color: rgb(85, 85, 85);
	cursor: auto;
	display: inline-block;
	float: none;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	height: 20px;
	letter-spacing: normal;
	line-height: 20px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	min-height: 1px;
	padding-bottom: 4px;
	padding-left: 14px;
	padding-right: 14px;
	padding-top: 4px;
	position: relative;
	text-align: start;
	text-indent: 0px;
	text-shadow: none;
	text-transform: none;
	transition-delay: 0s, 0s;
	transition-duration: 0.2s, 0.2s;
	transition-property: border, box-shadow;
	transition-timing-function: linear, linear;
	vertical-align: middle;
	white-space: nowrap;
	word-spacing: 0px;
	writing-mode: lr-tb;
}
.apt-idSearchClasses{
	background: transparent;
	width: 268px;
	padding: 5px;
	border: 0;
	border-radius: 0;
	font-size: 12px;
	line-height: 1;
	height: 30px;
	-webkit-appearance: none;
	background-color:#F2F2F2;
	cursor:pointer;
}

#idSearchContainer{
		padding-top:7px;
}
#apt-BrowseCatalogOr{
	float:left;
	color:#000000;
	margin:10px 20px 0 20px;
}
#apt-catalogLinks{
	float:right;
	margin-top:10px;
	margin-right: 20px;
	list-style: none;
}
#apt-catalogLinks li{
	float: left;
}

#apt-browseCatalog{
	cursor:pointer;
}
.apt-browseCatalogDropDown:before {
	left: 118px;
}
.apt-browse-catalog-title{
	border: none;
	border-bottom: 1px solid #dee1e4;
	border-radius: 6px 6px 0 0;
	padding: 0 5px;
	line-height: 40px;
	background-color: #428BCA;
	font-size: 16px;
	color: #ffffff;
}

#apt-browseCatalog{
	cursor:pointer;
}
.apt-browseCatalogDropDown:before {
	left: 118px;
}
.apt-browse-catalog-title{
	border: none;
	border-bottom: 1px solid #dee1e4;
	border-radius: 6px 6px 0 0;
	padding: 0 5px;
	line-height: 40px;
	background-color: #428BCA;
	font-size: 16px;
	color: #ffffff;
}
#overlayColumns{
	padding:0;
	border-radius:7px;
}
.columnview-li{
	color:#000000;
}
#overlayColumns:before{
	border-bottom: 7px solid #428BCA !important;
	left:118px !important;
}
.idCurrentPageNumber {
	height: 15px;
	font-size:10px;
	border-radius: 4px;
	vertical-align: middle;
	line-height: 0;
}
.idProductListPaginator {
	float:right; 
	text-align:right;
	right: 5px;
	top:3px;
	position: relative;
}
.apt-disabled-product-img img{
	opacity: .25;
}
.apt-results-panel {
	background-color:#F3F3F5;
	color:#333333;	
	border: none;
	border-bottom: 1px solid #dedfe0;
	height:auto;
	min-height:30px;
	line-height: 30px;
}
.idSelectedProductsBlock {	
	float: left;
	z-index: 15;
	margin-bottom: 10px;
}
.apt-charge-list-row{
	white-space: nowrap;
}
.taskPageButtons .aptProductListHeader{
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-top-left-radius: 6px;
}