/* -----------------------------------*/
/* ------>>> ICONS <<<----------------*/
/* -----------------------------------*/
.aptShoppingCartBtn {
	background: url("img/cart-delight.png") no-repeat center center;   
	color:#FFF;    
}
.aptSmallbasket {
	background: url("img/cart-delight.png") no-repeat center center;
	color:#000;   
}

/* -----------------------------------*/
/* ------>>> GENERAL NAV <<<----------*/
/* -----------------------------------*/
#idCommandButtonsSection{
	text-align: center;

}
.apt-tab {
	color:#ffffff;
	padding:7px 20px 12px 15px;
	float:left;
}
.apt-active-tab {
	background:#ffffff;
	color:#324960;
}
.apt-powered-logo:before{
	content: " ";
	position: relative;
	width: 1px;
	margin: 0 10%;
	background: #cccccc;
	float: left;
	height: 26px;
	top: 1px;
}
 .leftPageButtons::after, .apt-bottom-btn-divider:before{
	content: " ";
	position: relative;
	width: 1px;
	margin: 0 15px;
	background: #cccccc;
	display: inline-block;
	vertical-align: middle;
	height: 26px;
	top: -1px;
}
.apt-powered-logo {
	float: right;
}
/* -----------------------------------*/
/* ----------->>> INPUTS <<<----------*/
/* -----------------------------------*/
.input-append, .input-prepend {
	margin-top: 0px;
	display:block;
	float:left;
}


/* -----------------------------------*/
/* ---------->>> BUTTONS <<<----------*/
/* -----------------------------------*/
.idCommands{	
	position:fixed;
	bottom:0;
	width:100%;
	border-top: 1px solid #eaeaea;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
	-moz-box-shadow:    0px 0px 10px 0px rgba(0,0,0,0.25);
	box-shadow:         0px 0px 10px 0px rgba(0,0,0,0.25);
}

ul.pageButtons{	
  	list-style: none;
  	display: inline;
}

a.aptListButton {
	border: none !important;
	outline:none;
	cursor: pointer;
	color: #000000 !important;
	border: 1px solid #E2E2E2 !important;
	background: #F8F8F8 !important;
	background-color: #F8F8F8 !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	filter:none !important;
}
.aptListButton[disabled=disabled]{
	color:#BBBBBB !important;
	background: #FFFFFF !important;
	background-color: #FFFFFF !important;
	cursor:default !important;
	filter:none !important;
}
.aptListButton:hover {
	border: none !important;
	outline:none;
	cursor: pointer;
	color: #ffffff !important;
	border: 1px solid #E2E2E2 !important;
	background: #2093D9 !important;
	background-color: #2093D9 !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	border-radius:2px !important;
	filter:none !important;
}
.aptListButton {
	margin:0;
}
.pageButtons{
	margin: 0;
	padding: 0;
}
a.aptMoreButton{
	background:#F8F8F8 url("img/black-up-arrow.png") 60px center no-repeat !important;
}
a.aptMoreButton:hover{
	background:#2093D9 url("img/white-up-arrow.png") 60px center no-repeat !important;
}
a.apt-left-btn{
	background:#F8F8F8 url("img/black-left-arrow.png") left 5px center no-repeat !important;
}
a.apt-left-btn:hover{
	background:#2093D9 url("img/white-left-arrow.png") left 5px center no-repeat !important;
}
a.apt-right-btn{
	background:#F8F8F8 url("img/black-right-arrow.png") right 5px center no-repeat !important;
}
a.apt-right-btn:hover{
	background:#2093D9 url("img/white-right-arrow.png") right 5px center no-repeat !important;
}
.rightPageButtons{
	float: right;;
}
.leftPageButtons{
	float: left;
}
.centerPageButtons{
	display: inline-block;
	width: auto !important;
	float: none !important;
}
.apt-list-dropdown .aptListButton {
	border:none !important;
	font-size:15px !important;
	padding:7px 15px 9px 15px !important;
	display:block !important;
	line-height:12px;
	color:#0061b2;
	text-align:left;
	background:#ffffff !important;
	width:auto;
}
.apt-list-dropdown .aptListButton:hover {
	background: #2093D9 !important;
	border:none !important;
	font-size:15px !important;
	padding:7px 15px 9px 15px !important;
	display:block !important;
	line-height:12px;
	text-align:left;
	width:auto;
}
.aptListButton[disabled=disabled]:hover{
	color:#BBBBBB !important;
	background: #FFFFFF !important;
	background-color: #FFFFFF !important;
	cursor:default !important;
	filter:none !important;
}
.aptButtonDisabled {
	color: #BBBBBB !important;
	background: #FFFFFF !important;
	cursor: default !important;
}
.aptButtonDisabled:hover {
	color: #BBBBBB !important;
	background: #FFFFFF !important;
	cursor: default !important;
}
/* -----------------------------------*/
/* ------>>> DROPDOWNS <<<------------*/
/* -----------------------------------*/

.apt-cartPage .apt-moreDropDown:before{
	top:auto !important;
	position: absolute !important;
	bottom: -7px !important;
	left: 60px !important;
	display: inline-block !important;
	border-bottom: none;
	border-right: 7px solid transparent !important;
	border-top: 7px solid #ffffff !important;
	border-bottom: none !important;
	border-left: 7px solid transparent !important;
	content: '';
}
.apt-cartPage .apt-moreDropDown{
	top: auto !important;
	bottom: 100% !important;
}
/* -----------------------------------*/
/* ------>>> CART HEADER <<<----------*/
/* -----------------------------------*/
.cartTopContainer {
	width:100%;
	position: fixed;
	top: 0;
	z-index: 10;
	-moz-box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 1.0);
	-webkit-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 1.0);
	box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 1.0);
}
.taskPageButtons li{
	margin:0;
	padding:0;
	
}
.cartTable {
	width: 100%; 
	background:#2A94D6;
	line-height:30px;
	padding:3px 0;
	-moz-box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 1.0);
	-webkit-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 1.0);
	box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 1.0);
	border:none;
}
.cartTable .apt-quote-panel{
	float:left;
	margin-left:10px;
}
.cartTable .apt-aprroval-panel:before, .apt-mini-cart-panel:before, #apt-catalogLinks li:before{	
	background:#ffffff;	
}
.cartTable, .cartTable a{
	color:#ffffff;
}
.apt-mini-cart-panel {
	right: 8px;
}
.apt-cartDropDown {
	position: absolute;
	top: 35px;
}
.approvalText {
	background: none !important;
}
.approvalIcon {
	height: 20px;
	vertical-align:middle; 
	padding-left:6px;
	width: 16px;
	display: inline-block;
}
#apt-miniCartPanel{
}
#apt-catalogLinks li a{
	color: #ffffff;
}
.cartTable .taskPageButtons{
	color:#000000;
}
#rootMenuContainer{
	background-color: #324960;
}
.navbar-inner {
	min-height: 0;
	padding-left: 0;
	padding-right: 0;
	background-color: #324960;
	background-image: none;
	background-repeat: repeat-x;
	filter: none;
	border: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: 0;
	-moz-box-shadow: 0;
	box-shadow: 0;
}
#apt-BrowseCatalogOr{
	color:#ffffff;
}
.apt-tab {
	color: #ffffff;
}
.apt-cart-head-label {
	color: #ffffff !important;
	font-weight: normal;
	padding-left: 6px;
}
.cartTable .apt-mini-cart-panel {
	right: 8px;
}
.cartTable{
	position: fixed;
	top:0;
	z-index:1000;
}
.idCommands{
	background:#EDEFF0;
	padding:5px 5px 18px;
	position:fixed;
	bottom:0;
	z-index: 2;
}
#idCommandButtonsSection .apt-powered-logo{
    display: block;
}

/* -----------------------------------*/
/* ------>>> CONTENT <<<----------*/
/* -----------------------------------*/

/*.aptBrowsePanel{
	padding-top: 100px;
	padding-bottom:50px;
}*/
/*.apt-main-content{
	padding-top:20px;
	padding-bottom:50px;
}*/
/* -----------------------------------*/
/* ------>>> COLUMNVIEW <<<----------*/
/* -----------------------------------*/
.columnview {
  overflow-y: scroll;
  height: 100%;
  width: 220px;
  float: left;
  list-style: none;
  padding: 0;
  margin: 0;
}
.columnview li.ui-state-active {
	background: #428BCA !important;
	color:#ffffff !important;
}

.columnview li {
  width: 100%;
  white-space: nowrap;
  position: relative;
  padding: 2px 0 2px 0px;
  font-size: 14px;
}
.columnview li:hover {
  cursor: pointer;
  background-color: #428BCA;
  color:#ffffff;
}
li.apt-nonleaf-node:hover:before {
	border-left-color: #ffffff;
	
}
li.apt-nonleaf-node:before {
	content: '';
	border: 5px solid transparent;
	border-left-color: #0061b2;
	top: 5px;
	right: 2px;
	z-index: 2;
	position: absolute;
	
}
li.ui-state-active:before {
	border-left-color: #ffffff;
}
.apt-browseCatalogDropDown{
	height:500px;
	font-size: inherit;
}