/*common css*/
body{padding:10px 0px 0; font-size:13px; font-family:arial; background:#fff;}
body, td{color:#666;}
input[type="text"]{border:solid 1px #cfd0d2; border-radius:3px; padding-top:4px; padding-bottom:4px; font-size:12px;}
.ui-widget{font-family:arial;}
.ui-dialog .ui-dialog-title{margin-left:0px!important;}
a{color:#2a94d6; text-decoration:none;}
a:hover{color:#2483bd; text-decoration:none;}
/*common css*/

/*header css*/
.cartTopContainer{box-shadow:none!important; -moz-box-shadow:none!important; -webkit-box-shadow:none!important;}
.cartTable{background:#293f54; box-shadow:none!important; -moz-box-shadow:none!important; -webkit-box-shadow:none!important;}
.cartTable, .cartTable a{color:#fff;}
.cartTable a:hover{color:#fff; text-decoration:underline;}
.cartTable a{text-decoration: underline;}
.apt-cart-head-label{font-weight:bold; color: #fff !important;}
#rootMenuContainer{font-size:13px;}

#idSearchDiv{margin:0 auto !important; float:none !important}
.apt-location-panel{margin-right:0px;}
.apt-location-panel label{font-weight:bold;}
.cartTable .apt-help-panel{margin-left:0px;}
.cartTable .apt-aprroval-panel:before, .apt-mini-cart-panel:before, #apt-catalogLinks li:before{background:#999;}
#apt-catalogLinks li:before{height:17px;}

.apt-doSearchButton{text-indent:-9999em; padding:3px 17px 4px 9px !important; background-position:right 7px center !important; min-width:34px;}
#idSearchDiv select{background:#fff;}
#idSearchDiv .apt-select-wrap:before{background-color:#fff !important; height:92%;}
#idSearchDiv .apt-select-wrap {margin-right: 10px;}
.apt-select-wrap:before{height:92%}
#idSearchContainer{padding-top:2px;}
.input-append, .input-prepend{margin-bottom:7px;}
[class^="icon-utility-"], [class*=" icon-utility-"]{position:relative; top:2px;}
#apt-BrowseCatalogOr{margin:10px 20px 0 10px;}
#clearSearch{top:4px;}
.icon-utility-help{padding:0 20px 0 10px}
.apt-search-query{border-radius:0px 3px 3px 0px !important; margin-left:-1px !important;}
/*header css*/

/*nav css*/
.navbar-inner{background-color:#f3f3f3; box-shadow:0 2px 2px #d3d3d3; -moz-box-shadow:0 2px 2px #d3d3d3; -webkit-box-shadow:0 2px 2px #d3d3d3;}
#apt-catalogLinks li a, #apt-BrowseCatalogOr{color:#2a94d6; text-decoration:none; font-weight:bold;}
#apt-catalogLinks li a:hover, #apt-BrowseCatalogOr:hover{color:#2483bd;}
.apt-doSearchButton{background-color:#344a5f !important;}
.navbar .dropdown-menu{box-shadow:0 2px 4px #bababa;}
.no
/*nav css*/

/*carousel css*/
.image_carousel div.aptCarrouselItem{box-shadow:none!important; -moz-box-shadow:none!important; -webkit-box-shadow:none!important; border:1px solid #ccc; margin:5px 10px; border-radius:5px; height:80px; padding:5px 0;}
.image_carousel div.aptCarrouselItem div:first-child{height:65px !important;}
.image_carousel div.aptCarrouselItem:hover{box-shadow:none!important; -moz-box-shadow:none!important; -webkit-box-shadow:none!important;
border:solid 1px #bababa; border-radius:5px!important; }
div.caroufredsel_wrapper{color:#666; font-size:13px;}
.image_carousel div.aptCarrouselItemLabel{background:transparent; padding:0 5px;}
.aptCarrouselImage{width:60px !important; height:60px!important;}
.image_carousel{padding:10px 0; margin:0 0 20px; border-top:solid 1px #f0f1f2; border-bottom:solid 1px #f0f1f2; max-height:105px;}
.image_carousel div.aptCarrouselItemActive,
.image_carousel div.aptCarrouselItemActive:hover{background-color:#f5fafd !important; border:solid 1px #2b94d6!important; box-shadow:0 2px 3px #bababa !important;}
/*carousel css*/

.aptProductListHeader, .apt-product-list-panel .header, #rightSideColumn .aptRoundedDiv .header{color:#2e4153; height:25px; line-height:25px; margin:0px 0px 0px 0px; padding-bottom:5px; border-bottom:0px solid #e4e3e3 !important;}
.aptProductListHeader h2, .apt-product-list-panel .header h2, #rightSideColumn .aptRoundedDiv .header h2, .aptProductListHeader .title, .apt-product-list-panel .header .title, #rightSideColumn .aptRoundedDiv .header .title{
    font-weight:bold; font-size:14px; font-family:arial; margin-left:0px!important; 
}
#rightSideColumn .aptRoundedDiv h2 {background: #f5fafd;}
.idCommands{background:#fff; box-shadow:0 -3px 5px #fff; padding:12px 5px 12px; border-top:2px solid #e6e6e6;}
.sfdc_richtext span a{font-size:13px !important; text-decoration:none; font-family: georgia;}

.jstree li{padding:5px!important;}
.jstree-default .jstree-hovered{background:none!important; border:0 none!important; padding:1px 2px!important;}
.jstree .selectedBundle{background:none !important; border:0px !important; color:#666 !important;}
.jstree .selectedBundle:hover{color:#666 !important;}
.noImage a .jstree-icon{width: 20px; margin-right:5px !important;}
.jstree a{color:#2a94d6;}
.jstree-default .jstree-clicked{background:none !important; border:0px solid #fff !important; font-weight:bold !important; padding:0px 2px !important;
color:#666 !important; cursor:auto;}
.jstree-default .jstree-clicked:hover{color:#666 !important;}
.jstree a:hover{text-decoration:none; color:#015ba7 !important;}
.aptShoppingCartTable tr{height:2em;}
.aptShoppingCartTable tr th{background:#e3e3e3;}
.apt-treeView{width:18%!important; margin-right:20px; margin-left:5px;}
.idSelectedProductsBlock{}

.aptProductInfoContainer{width:80%; padding:0px;}
.aptProductRow{padding-bottom:0px; margin:0 14px 15px !important; border-bottom:1px dotted #ccc!important; border-left:0px!important; border-right:0px!important; border-top:0px!important;}
.aptProductImgContainer{width:10%; margin-right:15px; float:left;}
.aptProductInfoFields{width:46%; line-height:22px;}
.aptProductImage{padding:5px; border:solid 1px #ccc;}
.aptProductImage:hover{border:solid 1px #666;}
a.aptListButton{background:#2b94d6!important; border:solid 1px #2b94d6!important; color:#fff!important; font-weight:bold !important; border-radius:5px!important;}
a.aptListButton:hover{background-color:#1d84c5!important; color:#fff!important; border:solid 1px #2a94d6!important; font-weight:bold !important; border-radius:5px!important;}
a.aptListButton:active{background-color:#edeff0 !important; color:#5c7995!important; font-weight:bold !important; border-radius:5px!important;}
.aptSearchProductName{display:block; margin-bottom:0px; color:#2e4153; font-size:13px;}

#CustomAction3 a.aptListButton,
#CustomAction7 a.aptListButton{background-color:#2a94d6!important; color:#fff!important; border:solid 1px #2a94d6!important; font-weight:bold !important;
margin-right:10px!important;}
#CustomAction3 a.aptListButton:hover,
#CustomAction7 a.aptListButton:hover{background-color:#1378b7 !important; color:#fff!important; font-weight:bold !important;}
#CustomAction7 a.aptListButton{margin:0 0 0 10px!important;}
.aptCatalogSearchHeader{margin-left:14px; margin-top:4px;}
.aptCatalogSearchHeader h2{font-size:13px;}
.aptPageBodyPanel{border-left:0 none; border-right:0 none; border-bottom:0 none;}
.aptPageTitleBarPanel{background:none; border:0 none; border-bottom:solid 1px #ddd; color:#2e4153; font-weight:normal; line-height:25px; height:25px; margin-bottom:10px; font-size:18px;}
.aptPageTitleBarPanel .title{margin-left:10px; font-size:18px; font-weight:normal;}
.apt-product-charge-fields{float:right; padding-right:0px!important;}
.aptProductPriceList td{color:#666; font-family:georgia; font-weight:normal; font-size:14px;}
.aptPageContainer{width:97%;}
.aptPageContainer .aptPageTitleBarPanel{padding-bottom:5px;}
.aptPageContainer .aptPageTitleBarPanel .title{font-size:18px; font-weight:normal;}
.aptRoundedDiv .aptPageTitleBarPanel .title{font-size:14px; padding-bottom:4px;}

.breadCrumb ul{margin:0 0 0 0.6em;}
.aptShoppingCartBtn, .aptSmallBasket{margin-top:-4px;}


/*cart panel css*/

.aptRoundedDiv{border-left:0 none; border-right: 0 none;}

/*cart panel css*/

/*shopping cart*/
#itemsTable{border-radius:8px 8px 0px 0px; border:solid 1px #e4e3e3;}
.idErrorMsg a {text-decoration: underline;}
.aptQuantityItem-2-1, .aptQuantityItem-3-1, .aptQuantityItem-4-1,
.aptQuantityItem-4-1, .aptQuantityItem-5-1, .aptQuantityItem-6-1,
.aptQuantityItem-7-1, .aptQuantityItem-8-1, .aptQuantityItem-9-1{text-align:right !important;}
.dateOnlyInput input{text-align:center;}
.aptQuantityItem-1-1{text-align:center !important;}
.aptQuantityItem-1-1 input[type="text"]{width:40px !important; padding:4px 4px;}
.lineItemsTable tr th{font-size:13px !important;}
.lineItemsTable tr td{padding:4px; font-size:13px;}
.lineItemsTable thead{border:1px solid #e4e3e3 !important; border-top:0px solid #ffffff !important;}
.lineItemsTable tr th{/*background:url(/img/alohaSkin/metaBar_sprite.png) repeat-x 0 -104px;*/ background:#e9e7e7; border-right:1px solid #d1d1d1 !important; border-bottom:0px solid #e9e7e7; padding:7px 7px;}
.lineItemsTable td{border-width:0 1px 1px 0; vertical-align:top !important; padding:10px 3px !important; border-color:#e4e3e3 !important;}
.optionTableRow td.optionsTd{background:none; border:1px solid #d1d1d1; padding:0px;}
.optionTableRow .optTable{margin:0px;}
.optionTableRow .optTable .idOptionsList{background:#e5eeff !important; padding: 15px 10px 15px !important;}
.optionTableRow .optTable .aptProductListHeader{background-color:rgba(0, 0, 0, 0);}


.apt-select-wrap:before {border-top: 1px solid #cccccc; border-bottom: 1px solid #cccccc;}
.lineItemsTable{margin-bottom:15px;}
td.actionsColumn .apt-list-dropdown .aptListButton{padding:7px 15px 7px !important;}
td.actionsColumn .apt-list-dropdown .aptListButton:hover{padding:7px 15px 7px !important; border-radius:0px !important;}
.apt-list-dropdown .aptListButton{margin-right:0px !important; }
td.actionsColumn .apt-list-dropdown .apt-cartActions{margin-top:10px}
.apt-page-content{ background:#fff; margin:35px 0px 90px; padding:0 0px 30px 0px !important; border-radius:5px;
-moz-border-radius:5px 5px 0 0; -webkit-border-radius:5px 5px 0 0;}
.aptBrowsePanel{margin:90px 0px;}
.apt-main-content{margin:30px 10px 60px!important; padding-left:5px!important; width:98%!important;}
/*.lineItemsTable{margin-top:10px;}*/
.aptProductListHeader .aptsPaginator{margin-top:-1px;}  
.lineItemsTable img.aptCartLineItemIcon{padding:4px; max-height:100px;}
.breadCrumb ul li{font-size:12px;   }
div.aptProductBottomButttons{clear:both;margin:0 0px; padding:0px 0px 10px 0px; float:left;}
div.aptProductBottomButttons span div{margin-left:0px !important; }
.aptLineStatus div span{ font-size:11px !important;}
.aptsPaginator select{height:24px;}
.aptsPaginator .idCurrentPageNumber{height:14px; margin-top:-3px;}
.clearfix a {text-decoration: underline;}
/*shopping cart*/

/*total table css*/
.totalsTable{border-top:0px !important;}
.totalsTable thead{border:1px solid #d1d1d1; border-top:0px solid #ffffff;}
.totalsTable th, .totalsTable td{font-size:13px;}
.totalsTable th{/*background:url(/img/alohaSkin/metaBar_sprite.png) repeat-x 0 -104px;*/ background:#eeeeee; border-right:1px solid #d1d1d1 !important; border-bottom:1px solid #d1d1d1;}
.totalsTable td{border:0 none;}
.totalsLastRow{background:#ecf7fd; border-top:0px solid #fff; border-bottom:1px solid #e0e0e0; height:35px!important;}
/*total table css*/

/*browse by*/
.apt-browseCatalogDropDown{height:auto;}
.dropdown-menu{top:20px; -webkit-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.2);  -moz-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.2);  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.2);}
.columnview{overflow-y:auto; overflow-x:hidden;}
.apt-browse-catalog-title{background-color:#293f54; color:#fff; font-size:13px; line-height:30px; padding:0 10px;}
#overlayColumns:before{border-bottom:7px solid #293f54 !important; left:15px !important;}
li.apt-nonleaf-node:before{top:10px; border-color:transparent transparent transparent #999;}
.columnview li{font-size:13px; padding:7px 0; color:#666; border-bottom:solid 1px #dfe0e1; font-weight:normal;}
.columnview li:hover{background:#f1f3f2 !important; color:#666 !important; border:0 none; border-bottom:solid 1px #dfe0e1;}
.columnview li.ui-state-active{background:#e9e9e9 !important; color:#666 !important; font-weight:bold; border:0 none;}
li.apt-nonleaf-node:hover:before{border-left-color:#666!important;}
.apt-browseCatalogDropDown{border:0 none;}
/*browse by*/

/*Recommended css*/
.recommendedProductsBlock{padding-top:15px;}
/*Recommended css*/

#ctxProductDescription{line-height:20px;}

/*steps menu css*/
.taskPageButtons li.aptProductListHeader{text-align:left; font-size:13px; font-weight:bold; color:#fff; background:#293f54;}
.apt-list-dropdown .aptListButton{font-size:13px !important;}
.dropdown-menu-top:before{border-bottom:7px solid #293f54;}
.cartTable .taskPageButtons{top:37px;}
.apt-list-dropdown .aptListButton:hover{font-size:13px!important;}
/*steps menu css*/


/*left side css*/
.jstree li{border-bottom:1px dotted #cccccc !important; padding-left:0px !important; margin-left:10px !important; padding:5px 0 !important;}
.jstree li.jstree-open{border-bottom:0px dotted #cccccc !important;}
.tree-commands{padding:0px 0 0 7px; margin-top:10px;}
/*left side css*/

/*pagination css*/
.aptsPaginator img{top:2px;}

/*pagination css*/

/*apt Right Column css*/

.idSelectedProductsBlock{background-color:#f5fafd !important; border:1px solid #dddddd;box-shadow:0 1px 2px #bababa; -moz-box-shadow:0 1px 2px #bababa; -webkit-box-shadow:0 1px 2px #bababa; width:19% !important; padding:5px; border-radius:3px;}
.idSelectedProductsBlock .apt-product-list-panel{border:0px !important; background-color:transparent !important; }
#rightSideColumn .aptRoundedDiv {background-color:transparent !important;}
.apt-product-list-panel, #rightSideColumn .aptRoundedDiv{margin-bottom:10px !important;}
.idSelectedProductsBlock  a.aptListButton{margin:0px 0px 10px !important;}
.apt-product-list-panel .header, #rightSideColumn .aptRoundedDiv .header{background-color:transparent !important; border-bottom:solid 1px #e4e3e3 !important;}
.idSelectedProductsBlock .aptsPaginator table tr td:first-child{width:100px !important;}
.idSelectedProductsBlock .aptsPaginator table tr td:last-child{width:200px !important;}
.idSelectedProductsBlock .apt-product-list-panel table, #rightSideColumn .aptRoundedDiv table{border-collapse:unset !important;}
.idSelectedProductsBlock .aptShoppingCartTable tr th{border-bottom:1px solid #dddddd; border-top:1px solid #dddddd; background-color:transparent !important;
padding-top:10px !important; padding-bottom:10px !important;}
.idSelectedProductsBlock .aptShoppingCartTable tr th:first-child{width:10% !important;}
.idSelectedProductsBlock .aptShoppingCartTable tr td{border-bottom:1px solid #dddddd;}
.idSelectedProductsBlock .aptShoppingCartTable tr.oddRow{background-color:transparent !important;}
.idSelectedProductsBlock .aptShoppingCartTable tr.evenRow{background-color:transparent !important;}
.aptSelectedProducts{overflow:hidden !important;}

.apt-product-list-panel, #rightSideColumn .aptRoundedDiv, #rightSideColumn .aptRoundedDiv{background-color:#f5fafd !important;}
#rightSideColumn .aptRoundedDiv a {text-decoration: none;}
.aptShoppingCartTable tr th{background:transparent !important;}
.aptShoppingCartTable tr.oddRow{background:transparent !important;}
/*apt Right Column css*/

/*recommended products */
.aptRecommendedProductsContainer{margin:0px 5px;}

/*recommended products */

/*Configure option page */
.aptGroupHeader{background:none !important; border-bottom:1px solid #dddddd;}
.aptLeafProductsTableContainer div{border:0px !important}
.aptLeafProductsTable table tr td{padding:4px 4px !important;}
.aptLeafProductsTable table tr{height:auto !important;}
.aptLeafProductsTable table tr ul{margin:0px  !important;}

.aptCurrency .formatted{font-weight:bold;}
.aptRoundedDiv .aptPageTitleBarPanel{margin:1px 1px 10px !important; }
#aptSelectedProducts{overflow:hidden !important;}

/*Configure option page */

.aptLeafItemImageContainer{background:#f5f7f6; color:#3492d3;}
.aptLeafItemImageContainer .aptLeafProductsTableLongDescription{width:125%;}
.aptLeafItemImageContainer .sfdc_richtext{color:#3492d3;}

/*Attribute page */
.apexp .individualPalette .productBlock div {background-color: #f5fafd}