:host {
    position: relative;
    height: 100% !important;
    width: 100% !important;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
}

.container {
    position: relative;
    max-height: 100% !important;
    width: 100% !important;
    overflow: hidden;
}

.metric {
    text-align: center;
    font-size: 115px;
    color: var(--color, gray);
    opacity: .8;
    transition: opacity .3s ease-in-out;
    cursor: default;
}
.metric:hover { opacity: 1; }

.gauge {
    position: relative;
    width: calc(100% - 5vw);
    padding-top: calc(50% - 2.5vw);
    display: block;
    margin: 0 2.5vw 2rem;
}

.gauge > .scales {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
    overflow: hidden;
}

.gauge > .scales > div:not(.needle) {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50% 50% 50% 50%/100% 100% 0% 0%;
    border: 15px solid var(--color, lightgray);
    border-bottom: none;
    transform-origin: bottom;
    transform: rotate(var(--rotate, 0deg)) translate3d(0,0,0);
    opacity: 0.8;
    transition: opacity .3s ease-in-out;
}
.gauge > .scales > div:not(.needle):hover { opacity: 1; }

.gauge > .scales > div:not(.needle)::after {
    position: absolute;
    content: attr(data-value);
    transform: rotate(calc(-1 * var(--rotate))) translate3d(0,0,0);
    display: block;
    left: 10px;
    bottom: -5px;
    font-size: .8rem;
    color: gray;
}
.gauge > .scales > div:not(.needle):first-child::after { left: unset; right: 10px; }

.gauge > .scales > div:not(.needle)::before {
    position: absolute;
    content: '';
    display: block;
    height: 2px;
    width: 7px;
    background: lightgray;
    bottom: -1px;
    left: 0;
}
.gauge > .scales > div:not(.needle):nth-child(1)::before { bottom: 0; right: 0; left: unset; }
.gauge > .scales > div:not(.needle):nth-child(2)::before { bottom: 0; }

.gauge > .needle {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: -2rem;
    left: 0;    
    font-size: 1.5rem;
    line-height: 1rem;
    color: var(--color, gray)
}

.gauge > .needle::before {
    position: absolute;
    content: '';
    display: block;
    height: 8px;
    width: calc(50% - 40px);
    background: rgba(0, 0, 0, 0.8);
    border: 1px solid black;
    bottom: calc(2rem - 4px);
    left: 40px;
    border-radius: 5px;
    transform: rotate(var(--rotate));
    transform-origin: right;
}

.gauge > .needle::after {
    position: absolute;
    content: '';
    display: block;
    height: 20px;
    width: 20px;
    background: black;
    bottom: calc(2rem - 10px);
    left: calc(50% - 10px);
    border-radius: 50%;
}

table {
    flex: none;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    padding: 0;
}
table * { color: var(--color, currentColor); }
      
table thead, table tbody {
    display: flex;
    flex-flow: row wrap;
    max-width: 100%;
    flex: 0 0 100%;
    align-content: flex-start;
    border-top: 1px solid var(--border, rgba(0, 0, 0, 0.1));
}
      
table tr {
    display: flex;
    flex-flow: row wrap;
    flex: 0 0 100%;
    font-size: .75rem;
    text-align: center;
    width: 100%;
    padding: 0.5rem 0.25rem;
}

table th, table td {
    flex: 1 0 0%;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 .125rem;
}
table tbody { max-height: calc(35vmin - 34px); overflow-y: auto; }
table tbody tr { border-bottom: 1px solid var(--border, rgba(0, 0, 0, 0.1)); }
table tbody tr * { pointer-events: none; }