/**
 *	Apttus Contract Management
 *	agreementdocumentemail-uistyles.css
 *	 
 *	@2019 Apttus Inc. All rights reserved.
 * 
 */
.txtCls {
	text-decoration:none;
}
.labelCls {
	font-weight:bold;
}
.rightCls {
	text-align:right;
}
.highlightSelected {
	background: yellow;
    font-weight: bold;
    padding: 1px;
	cursor:pointer;
}
.linkCls {
	text-decoration:none;
	cursor:pointer;
}
.iconsCls {
	width:15px;
	height:15px;
	vertical-align:middle;
	cursor:pointer;
	padding-left:1%;
	padding-right:1%;
}
.outerUlCls {
	list-style-type: none;
	background:white; 
	padding-left:0px;
	border: 1px solid #e0e3e5;
	line-height:25px;
}
.innerUlCls {
	list-style-type: none;
	background:white; 
	padding-left:0px;
	line-height: 30px;
}
.fileContainerCls {
	border-bottom:1px solid #e0e3e5;
	margin-left:0px;
	padding-left: 7%;
}
.agrmentCls {
	border: 1px solid #e0e3e5;
	background: #f2f3f3;
}
.checkBoxes {
	vertical-align:middle;
	margin-left:1%;
	cursor:pointer;
}
.disable {
	pointer-events : none;
	color: grey;
	text-decoration: none;
	cursor: not-allowed;
}
.disable:hover {
	pointer-events : none;
	color: grey;
	text-decoration: none;
	cursor: not-allowed;
}

.bPageTitle {
	margin-bottom: 0px!important;
}

.fileCls:hover { 
	background: #f2fafd;
}