.node {
      cursor: pointer;
    }
.link {
    fill: none;
    stroke: #2a94d6;
    stroke-width: 1.5px;
        }    
.column {
    position: absolute;
    bottom: 10px;
    width: 140px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}
.header-bottom
{
position:relative;
}
