	#table-scroll {
      	  height: 250px;
	  overflow: auto; 
	  margin-top: 20px;
	}
	#table-wrapper table * {
	  background: #f5fafd;
	  color: black;
	  padding-left: 5px;
	}
	#table-wrapper table thead th .text {
	  position: absolute;   
	  top: -20px;
	  z-index: 2;
	  height: 20px;
	  width: 35%;
	  border: 1px solid red;
	}
	.searchedHierarchyName {
		font-weight: bold;
		padding-top: 15px;
		padding-left: 20px;
	}
	.readOnlyFiltersBlock {
		display: flex;
	}
	.readOnlyFiltersSeparator {
		border-bottom: 1px solid #bfbfbf;
		width: 100%;
	}
	.viewSavedListingSearch {
		display: none;
	}
	.viewSavedListingTitle {
		font-weight: bold;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.viewSavedListingSeparator {
		border-bottom: 1px solid #70a3c2;
		margin-top: 5px;
	}
	.viewSavedListingSearchSeparator {
		border-bottom: 1px solid #a5a5a5;
		margin-bottom: 5px;
		margin-top: 5px;
	}
	.viewSavedListingSearchBlock {
		margin-right: 15px;
		margin-left: 15px;
	}
	.viewSavedListingSearchBlockBackground {
		background-color: #f0f0f0;
		width: 100%;
		padding-top: 5px;
	}
	.viewSavedListingSearchActions {
		display: flex;
	}
	.viewSavedListingSearchInput {
		margin-left: 15px;
		width: 100%;
	}
	.viewSavedListingSearchInput input {
		border: none;
		background-color: #f0f0f0;
		height: 25px;
		border-radius: 5px;
		width: 80%;
	}
	.viewSavedListingTable {
		overflow-y: scroll;
		height: 250px;
	}
	.viewSavedListingColumn {
		text-align: center;
		padding-top: 15px;
		padding-bottom: 10px;
		padding-right: 5px;
		padding-left: 5px;
		border-bottom: 1px solid #e4e4e4;
	}
	.viewSavedListingHeader {
		text-align: center;
		font-weight: bold;
		min-width: 100px;
		max-width: 200px;
		white-space: normal;
		vertical-align: top;
		padding-top: 10px;
		padding-bottom: 5px;
	}
	.saveListingFieldBlock {
		display: inline-block;
		margin-bottom: 10px;
		vertical-align: top;
		min-width: 100px;
	}
	.saveListingTitleBlock {
		padding-bottom: 5px;
		display: flex;
		font-weight: bold;
	}
	.saveListingSeparator {
		height: 1px;
		background-color: #e8eaeb;
		margin-top: 5px;
		margin-bottom: 5px;
	}
	.saveListingClose {
		text-align: right;
		width: 90%;
		color: #8bc7ef;
		font-weight: bold;
	}
	.saveListingFieldLabel {
		padding-top: 15px;
		margin-right: 5px;
	}
	.saveListingInputField input, .saveListingInputField select {
		border-radius: 5px;
		height: 25px;
		margin-right: 5px;
		margin-left: 5px;
	}
	.saveListingActions {
		display: flex;
		height: 60px;
	}
	.saveListingButton {
		margin-top: 30px;
		width: 100px;
		text-align: right;
		margin-right: 10px;
	}
	.saveListingButton input {
		border: #1292DC;
		color: #f0f0f0;
		background: #1292DC;
		background-color: #1292DC;
		font-weight: bold;
		border-radius: 5px;
		padding: 4px;
	}
	.editFiltersButton {
		width: 750px;
	}
	.editBtnDiv {
		text-align: right;
		padding-top: 10px;
		margin-bottom: 5px;
		display: none;
	}
	.editBtnDiv input {
		border: none;
		color: #1292DC;
		background: none;
		background-color: #fcfcfc;
		font-weight: bold;
	}
	.hierarchyMessageBlock {
		background-color: #f5f7f6;
		font-weight: bold;
		margin-top: 20px;
		margin-bottom: 5px;
		padding-top: 10px;
		height: 25px;
		border-radius: 5px;
		border: solid 1px #e4e4e4;
		padding-left: 30px;
		display: flex;
	}
	.hierarchyMessage {
		color: #00bc9c;
		width: 20%;
	}
	.hierarchyTableStyling {
		padding: 0 50px 0 15px;
		min-width: 100px;
		max-width: 200px;
	}
	.closeHierarchyMessage {
		color: #79b338;
		padding-right: 10px;
		width: 80%;
		text-align: right;
	}
.hierarchyPropertyInputField {
	padding-right: 10px;
}	
.hierarchyPropertyInputField input, .hierarchyPropertyInputField select {
	border-radius: 5px;
	height: 30px;
}
.hierarchyPropertyOutputField {
	padding-right: 10px;
}
.hierarchyPropertyLabel {
	padding-bottom: 5px;
	padding-right: 10px;
}
.hierarchyPropertiesBlock {
	display: flex;
	padding-left: 25px;
		padding-top: 10px;
		padding-bottom: 5px;
}
	#containerDiv {
		min-height: 400px;
		padding-left: 15px;
		padding-right: 15px;
	}				
	#titleDiv {
		text-align: left;
		font-size: 18px;
		padding-left: 10px;
		padding-top: 20px;
	}	
	.drawerSeparator {
		background-color: #d9d9d9;
		height: 2px;
		width: 100%;
	}
	#hierarchyPropertiesLeft {
		float: left;
		width: 70%;
	}				
	#btnControlDiv {
		display: flex;
		float: right;
		text-align: left;
	}				
	.titleHeaderBlock {
		display: inline-block;
		width: 100%;
	}				
	.titleHeaderSeparater {
		border-bottom:gray solid 1px;
	}
	.appliedFilterSection {
		background-color:#f0f0f0;
	}
	.appliedFilters {
		display: none;
	}
	.appliedFilterButtons {
		width: 100%;
		background-color: #f0f0f0;
		display: flex;
	}
	.appliedFilterHandle {
		color:#1292DC;
		padding-left:5px;
		padding-top:10px;
		padding-bottom:10px;
		font-weight:bold;
		width: 100%;
	}
	.appliedFilterHandleBlock {
		display: flex;
		cursor: pointer;
	}
	.fieldSets {

	}
	.fieldSetHandle {
		color: #1292DC;
		padding-left: 5px;
		padding-top: 10px;
		padding-bottom: 10px;
		font-weight: bold;
		width: 100%;
	}
	.listingHandle {
		color: #1292DC;
		padding-top: 10px;
		padding-bottom: 10px;
		font-weight: bold;
		width: 100%;
		background: #f0f0f0;
	}
	.fieldSetHandleBlock {
		display: flex;
		cursor: pointer;
	}
	.savedFilters {
		display: none;
	}
	.savedFields {
		display: none;
	}
	.savedFiltersDrawer {
		background-color: #f6f6f6;
	}
	.savedFieldsDrawer {
		background-color: #f6f6f6;
	}
	.savedFiltersSeparator {
		background-color: #a5a5a5;
		height: 1px;
		width: 98%;
	}	
	.savedFiltersHandle {
		color: #1292DC;
		padding-left: 5px;
		padding-top: 10px;
		padding-bottom: 10px;
		font-weight: bold;
		width: 100%;
	}
	.savedFieldsHandle {
		color: #1292DC;
		padding-left: 5px;
		padding-top: 10px;
		padding-bottom: 10px;
		font-weight: bold;
		width: 100%;
	}
	.savedFiltersHandleBlock {
		display: flex;
		cursor: pointer;
	}
	.savedFieldsHandleBlock {
		display: flex;
		cursor: pointer;
	}
	.savedFilterSearchBlock {
		display: flex;
		padding-left: 5px;
	}
	.savedFilterSearchResults {
		overflow-y: scroll;
		height: 160px;
		margin-right: 4px;
	}
	.savedFilterScrollbarStyle::-webkit-scrollbar {
		width: 8px;
		background-color: #F5F5F5;
	}
	.savedFilterScrollbarStyle::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background-color: #dfdfdf;
		height: 35px;
	}
	.savedFilterSearchInput {
		padding-left: 10px;
		width: 50%;
	}
	.savedFilterSearchInput input {
		border: 0px;
		background-color: #f6f6f6;
		width: 50%;
	}
	.accountSearchBox {
		padding-top: 15px;
		padding-left: 25px;
	}
	.accountSearchBox input {
		width: 400px;
		border-radius: 5px;
		height: 20px;
	}
	.accountSearchBox img {
		margin-left: -20px;
	}
	.accountSearchBox input[type="submit"] {
		display: none;
	}
	.agreementSearchBox {
		padding-left: 25px;
	}
	.agreementSearchBox input {
		width: 400px;
		border-radius: 5px;
		height: 20px;
	}
	.agreementSearchBox img {
		margin-left: -20px;
		position: relative;
	}
	.agreementSearchBox input[type="submit"] {
		display: none;
	}
	.searchSection {
		display: flex;
	}
	.accountSearchPanel {
		width: 700px;
	}
	.newBtnDiv {
		text-align: right;
		width: 100%;
		margin-right: 25px;
		margin-top: 15px;
	}
	.newBtnDiv input {
		background: #1292DC;
		border-color: #1292DC;
		color: #f0f0f0;
		width: 110px;
	}
	.secondaryBtnStyle {
		background: #f0f0f0;
		border-color: #1292DC;
		color: #1292DC;
	}
	.cancelBtnDiv {
		background: #f0f0f0;
		border-color: #1292DC;
		color: #1292DC;
		margin-right: 10px;
		margin-left: auto;
		padding-top: 5px;
		padding-right: 5px;
	}
	.cancelBtnDiv input {
		background: #f0f0f0;
		border-color: #1292DC;
		color: #1292DC;
		background: none;
		background-color: #ffffff;
		font-weight: bold;
	}
	.secondaryButton {
		margin-right:3px;
		text-align: right;
		width: 100%;
		background: #f0f0f0;
		border-color: #1292DC;
		color: #1292DC;
		font-weight: bold;
	}
	.viewSavedListing {
		width: 100%;
		display: flex;
	}
	.viewSavedListing input {
		background: #f0f0f0;
		border-color: #1292DC;
		color: #1292DC;
		font-weight: bold;
	}
	.saveListingCancel {
		margin-right: 10px;
		margin-left: auto;
		padding-top: 5px;
	}
	.saveListingCancel input {
		border: none;
		color: #1292DC;
		background: none;
		background-color: #f0f0f0;
		font-weight: bold;
	}
	.saveFieldButton {
		position: relative;
		padding-left: 10px;
		padding-top: 5px;
		margin-top: 5px;
		margin-bottom: 5px;
		width: 100%;
	}
	.saveFieldButton input {
		border:none;
		color:#1292DC;
		background-color: #f0f0f0;
		font-weight: bold;
		background-image:none;
		font-size: .9em;
		cursor: pointer;
	}
	.saveFilterButton {
		position: relative;
		padding-left: 35px;
		padding-top: 5px;
		margin-top: 5px;
		margin-bottom: 5px;
		width: 100%;
	}
	.saveFilterButton input {
		border:none;
		color:#1292DC;
		background-color: #f0f0f0;
		font-weight: bold;
		background-image:none;
		font-size: .9em;
		cursor: pointer;
	}
	.expressionBuilderButton {
		position: relative;
		padding-left: 10px;
		padding-top: 5px;
		margin-top: 5px;
		margin-bottom: 5px;
	}
	.expressionBuilderButton input {
		border:none;
		color:#1292DC;
		background-color: #f0f0f0;
		font-weight: bold;
		background-image:none;
		font-size: .9em;
		cursor: pointer;
	}
	.applyFilterButton {
		margin-right: 25px;
		text-align: right;
		padding-top: 5px;
	}
	.applyFilterButton input {
		border: #1292DC;
		color: #f0f0f0;
		background: #1292DC;
		background-color: #1292DC;
		font-weight: bold;
		border-radius: 2px;
		padding: 4px;
		margin-top: 2px;
	}
	.buildExpression {
		display: flex;
	}
	.saveBtnDiv .buildExpressionButton {
		margin-right: 25px;
		text-align: right;
		padding-top: 5px;
		display: none;
		width: 100%;
	}
	.saveBtnDiv input {
		border: #1292DC;
		color: #f0f0f0;
		background: #1292DC;
		background-color: #1292DC;
		font-weight: bold;
		border-radius: 5px;
		padding: 4px;
	}
	.saveListingSave {
		margin-right: 25px;
		text-align: right;
		padding-top: 5px;
	}
	.saveListingSave input {
		border: #1292DC;
		color: #f0f0f0;
		background: #1292DC;
		background-color: #1292DC;
		font-weight: bold;
		border-radius: 5px;
		padding: 4px;
	}
	#HierarchyProeprtyName {
		float: right;
	}				
	#savedHierarchy,#hierarchyPropertiesRight {
		float: right;
		min-height: 50px;
		text-align: left;
		border: 2px solid;
	}
	#preRunListingProperties {
		text-align: left;
		padding-top: 15px;
		padding-left: 15px;
		padding-bottom: 10px;
		padding-right: 15px;
	}	
	#preRunListing {
		float: right;
		min-height: 50px;
		text-align: left;
		border: 2px solid;
	}				
	#hierarchyListContent {
		background-color: #f5fafd;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		min-height: 200px;
	}
	.tableHierarchyDisplay {
		border-spacing: 0px;
	}
	.tableAnchor {
		text-decoration: none;
	}
	.headerHierarchyDisplay {
		text-align: center;
		font-weight: bold;
		min-width: 100px;
		max-width: 200px;
		white-space: normal;
		vertical-align: top;
		background-color: #e9e7e7;
		padding-top: 10px;
		padding-bottom: 5px;
		padding-right: 5px;
		padding-left: 5px;
	}
	.columnHierarchyDisplay {
		text-align: center;
		border: 1px solid #e8e8e8;
		background-color: #f5fafd;
		padding-top: 15px;
		padding-bottom: 10px;
		padding-right: 5px;
		padding-left: 5px;
	}
	.columnHierarchyDisplayLeftAligned {
		text-align: left;
		border: 1px solid #e8e8e8;
		background-color: #f5fafd;
		padding-top: 15px;
		padding-bottom: 10px;
		padding-right: 5px;
		padding-left: 5px;
		white-space: pre-wrap;
	}
	.listFilterConfig {
		margin-left: 25px;
		background: #fcfcfc;
		margin-top: 10px;
		margin-right: 25px;
		margin-bottom: 5px;
	}
	.listingLabel {
		float:left; 
		margin-top: 5px;
		padding-left: 5px;
		width: 100%;
	}
	.exportExcelButton {
		padding-right: 25px;
	}
	.exportExcelButton input {
		background-color: #ffffff;
	}
	.hierarchyDisplayButton {
		padding-right: 30px;
	}
	#closeAllButton {
		float: left;
		cursor: pointer;
	}
	.hierarchyDisplayButton input {
		background-color: #ffffff;
	}
	.headerSequence {
		padding-top: 10px;
		padding-left: 20px;
		width: 41px;
	}
	.headerObjectFilter {
		padding-top: 10px;
		padding-left: 10px;
		width: 89px;
	}
	.headerField {
		padding-top: 10px;
		padding-left: 10px;
		width: 266px;
	}
	.headerFieldSavedFilters {
		padding-top: 10px;
		padding-left: 10px;
		padding-bottom: 5px;
		width: 266px;
	}
	.headerComparison {
		padding-top: 10px;
		padding-left: 10px;
		width: 189px;
	}
	.headerValue {
		padding-top: 10px;
		padding-left: 10px;
		width: 173px;
	}
	.headerBoolean {
		padding-top: 10px;
		padding-left: 10px;
		width: 55px;
	}
	.columnSequence {
		padding-left: 20px;
	}
	.columnPadding {
		padding-left: 10px;
	}
	.columnPaddingSavedFilters {
		padding-left: 10px;
		padding-top: 5px;
		padding-bottom: 5px;
		border-bottom: #eeeeee solid 1px;
	}
	.dropdownSequence {
		width: 50px;
	}
	.dropdownBoolean {
		border-radius: 5px;
		height: 30px;
		width: 30px;
		display: block;
		-webkit-box-sizing: content-box;
		-moz-box-sizing: content-box;
		box-sizing: content-box;
		float: none;
		z-index: auto;
		position: static;
		content: ;
		cursor: default;
		opacity: 1;
		top: auto;
		right: auto;
		bottom: auto;
		left: auto;
		margin: 3px 0 0 30px;
		padding: 0;
		overflow: visible;
		text-align: left;
		text-transform: none;
		text-indent: 0;
		-o-text-overflow: clip;
		text-overflow: clip;
		letter-spacing: 0;
		white-space: normal;
		word-spacing: 0;
		word-wrap: ;
		-webkit-box-shadow: none;
		box-shadow: none;
		text-shadow: none;
		-webkit-transition: none;
		-moz-transition: none;
		-o-transition: none;
		transition: none;
		-webkit-transform: rotateZ(-45deg) scaleX(1) scaleY(1) scaleZ(1);
		transform: rotateZ(-45deg) scaleX(1) scaleY(1) scaleZ(1);
		-webkit-transform-origin: 0 100% 0;
		transform-origin: 0 100% 0;
	}
	.listingFilterData {
		border-radius: 5px;
		height: 30px;
		margin-bottom: 10px;
		margin-top: 5px;
		padding-left: 5px;
		padding-right:5px;
	}
	.displayOnlyBlock {
		display: flex;
	}
	.displayOnlyInput {
		padding-right: 10px;
	}
	.displayOnlyLabel {
		width: 75px;
		margin-top: 10px;
	}
	.hideBlock {
		display: flex;
	}
	.hideInput {
		padding-right: 10px;
	}
	.hideLabel {
		width: 50px;
		margin-top: 10px;
	}
	.addExpression {
		padding-right: 25px;
		padding-left: 10px;
		padding-top: 5px;
	}
	.addExpression input {
		border: none;
		color: #1292DC;
		background-color: #f0f0f0;
		font-weight: bold;
		background-image: none;
		margin-top: 1.5px;
	}
	.listingFilterReadOnlyColor {
		background-color: #e8eaeb;
	}
	.custPopup{
	    background-color: white;
	    border-width: 2px;
	    border-style: solid;
	    z-index: 9999;
	    left: 50%;
	    padding:10px;
	    position: absolute;
	    width: 500px;
	    margin-left: -250px;
	    top: 100px;
	}
	.popupBackground{
	     background-color:black;
	     opacity: 0.20;
	     filter: alpha(opacity = 20);
	     position: absolute;
	     width: 100%;
	     height: 100%;
	     top: 0;
	     left: 0;
	     z-index: 9998;
	}
	.tabs {
		position: relative;
		clear: both;
	}
	.tabs label {
		padding: 10px;  
		margin-left: -1px; 
		position: relative;
		left: 1px; 
		font-weight:bold;
	}
	.tabs input {
		display: none;   
	}
	.content {
		position: absolute;
		top: 28px;
		left: 0;
		background: white;
		right: 0;
		bottom: 0;
		padding: 20px;
		border: 1px solid #ccc; 
	}
	[type=radio]:checked ~ label {
		background: white;
		border-bottom: 3px solid;
		border-bottom-color: #1292DC; 
		z-index: 2;
	}
	[type=radio]:checked ~ label ~ .content {
		z-index: 1;
	}
	.overlay {
		position: absolute;
		display: none; 
		z-index: 5;

	    /* color with alpha transparency */
	    background-color: rgba(0, 0, 0, 0.7);

	    /* stretch to screen edges */
	    top: 0;
		left: 0;
	    bottom: 0;
	    right: 0;
	}
	.saveListingPopup {
	    position: absolute;
	    width: 50%;
	    display: none;
	    background-color: white;
	    text-align: center;

	    /* center it ? */
	    top: 50%;
	    left: 25%;
	    margin-top: -75px;
	    z-index:10;
	}
	.hierarchyListingHeaderMaxWidth {
		max-width: 250px;
	}
	.hierarchyListingHeaderMinWidth {
		min-width: 100px;
	}
	.treeViewCheckBox {
		padding-left: 25px;
		padding-top: 5px;
		padding-bottom: 15px;
	}