    .filteredOut a, .filteredOut span {
        color:#D1D0CE; 
    }
    
    .input--div .alignRight{
        text-align:right;
        margin-right:20px;
        font-family: 'Arial Bold', 'Arial';
        font-weight: 700;
        font-style: normal;
        font-size: 11px;
    }
        
    body input.btn, body input.btnDisabled, body input.btnCancel {
        padding: 4px 7px;
    }
    
    .agreement-explorer-container {
            width: 1045px;           
    }
    
    .search-setting-label {
        font-size: 16px;
        margin-top: 10px;
        margin-left: 20px;    
        margin-right: 245px;
        display: inline-block;
    }
    
    .header-buttons {       
        height: 22px;    
        font-size: 11px !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 2px !important;
        padding-bottom: 2px !important;
    }
    .goButton {
        height: 22px;    
        font-size: 11px !important;
        margin-left: 50% !important;
    } 
    
    .agreement-buttons {
        height: 22px;    
        font-size: 11px !important;
        padding-left: 15px !important;
        padding-right: 15px !important;        
        padding-top: 2px !important;
        padding-bottom: 2px !important;     
    }
    
    .agreement-label {
        margin-top: 15px;
        margin-left: 20px;     
        font-size: 12px !important;
        font-weight: bold; 
        display: inline-block;
    }
            
    .filter-section {        
        margin-top: 15px;
        margin-left: 20px;                  
    }
    
    .filter-section select {
        margin-right:30px;
        width:160px !important;
        font-size: 0.7rem;
        padding: 2px;
    }
    
    .filter-section label{
        margin-right:10px;
        font-size: 0.7rem;
        font-weight: bold;
    }
    
    .filter-section input {
        margin-right:5px;
        font-size: 0.7rem; 
        padding: 2px;
    }
    .fields-section{
        width:80%;
        margin-top:15px;
    }
    .fields-section select, .fields-section input:not(.btn){
        width: 176px !important;
        height: 20px;
        padding: 0px 0px 0px 5px;
        font-size: 11px;
    }        
    .fields-section tr td.dataCell {
        padding: 1px 2px 1px 5px;       
    }
    .filter-links-section {        
        margin-top: 10px;
        margin-left: 20px;   
        font-size: 0.7rem;
    }     
    
    .filter-validator-section {
       margin-top: px;
       margin-left: 20px; 
       font-size: 0.7rem;
    }
    
    .filter-validator-section input {       
       font-size: 0.7rem;
       padding: 0px;
    }
    
    .filter-validator-section .validator--expr{
        width:180px;
        height:20px;
    }
    .input--div textarea{
        vertical-align:top
    }
    .form--section input[type='checkbox']{
        vertical-align:middle;
    }

    .input--div label{
        width: 100px;
        display: inline-block;
        text-align: center;
    }
    #queryTable table{
          margin-left:0px;
    }
    .input--div{
        margin-bottom: 10px;
    }
    body input.btn, body input.btnDisabled, body input.btnCancel{
        margin:10px 5px;
    }

    .input--div label.staticString{
        width: 200px;
        text-align: left;
        word-wrap: break-word;
        display: inline-flex;
        font-size: 11px;
        color: #666666;
            vertical-align: middle;
        margin-top: -2px;
        padding-left: 5px;
    }

    .input--div label.staticString2{
        width: 330px;
        text-align: left;
        word-wrap: break-word;
        display: inline-flex;
        font-size: 11px;
        color: #666666;
            vertical-align: middle;
        margin-top: -2px;
    }

    div.noMargin{
        margin-left:0px;
    }
    .marginAlign{
        margin:20px 0px;
    }
    .form--section.filter--set div select{
        margin-right:5px;
    }
    .clm--Body--content .form--section.filter--set select, .clm--Body--content .form--section.filter--set input:not(.btn)
    {
        width:140px !important;
            font-size: 11px;
    }
    .saveDialog.customPopup{
        background-color:#c9c9c9;
        padding:0px;
        border-radius: 5px;
        border: 1px solid #c9c9c9 !important;
    }
     .saveDialog.customPopup2{
        background-color:#c9c9c9;
        padding:0px;
        border-radius: 5px;
        border: 1px solid #c9c9c9 !important;
    }
    .saveDialog .bPageBlock.brandSecondaryBrd.apexDefaultPageBlock.secondaryPalette{
        margin:0px;
        border:none;
    }
    .saveDialog textarea,.saveDialog .input--div .requiredInput{
        margin-bottom:0px;   
    }
    body input.btn, body input.btnDisabled, body input.btnCancel {
        padding: 4px 15px;
    }
.saveDialog .input--div label{
    text-align:left;
    margin-left:20px;
    }
 .customPopup{
        background-color: white;
        border-style: solid;
        border-width: 2px;
        left: 50%;
        padding:10px;
        position: absolute;
        z-index: 9999;
        /* These are the 3 css properties you will need to tweak so the pop 
        up displays in the center of the screen. First set the width. Then set 
        margin-left to negative half of what the width is. You can also add 
        the height property for a fixed size pop up.*/
        width: 500px;
        margin-left: -250px;
        top:100px;
    }

    .customPopup2{
        background-color: white;
        border-style: solid;
        border-width: 2px;
        left: 50%;
        padding:10px;
        position: absolute;
        z-index: 9999;
        /* These are the 3 css properties you will need to tweak so the pop 
        up displays in the center of the screen. First set the width. Then set 
        margin-left to negative half of what the width is. You can also add 
        the height property for a fixed size pop up.*/
        width: 700;
        margin-left: -250px;
        top:100px;
    }

    .ui-state-active{
        border: 1px solid #fbd850;
        background: #ffffff;
        font-weight: bold;
        color: #eb8f00;
    }

    .query--report--content .tables--container table tr.marked td {
      background-color: #ADD8E6;
    }


    .form--section.filter--set{
        margin-left:0px;
    }
    
    body { font-size: 75%; font-family: 'Arial','Helvetica',sans-serif }
    .accordionItem h2:hover { cursor: pointer; }
    .accordionItem.hide div { display: none; }
    
   body input.buttonStyle{
        outline:none;
        border: 1px solid #b5b5b5;
        border-radius: 3px;
        height: 22px;
        /* width: 100px; */
        padding: 0px 10px;
        background-color: #f8f8f8;
        display:inline-block;
        margin-right:6px;
    
    }
   .clm--Body--content .form--section .section--fields--row select,.clm--Body--content .form--section .section--fields--row input:not(.btn),.clm--Body--content .form--section select,.clm--Body--content .form--section input:not(.btn){
        width: 176px !important;
        height: 20px;
        padding: 0px 0px 0px 5px;
    }
   .clm--Body--content .form--section .section--fields--row input:not(.btn){
        border-radius: 0px;
    }
    .clm--Body--content .form--section .section--fields--row td{
        padding-right:0px;
    
    }
    .buttonSection{
        margin:auto; 
        display:table;
         margin-top: -20px;
         margin-bottom:5px;
    }
    .form--section.filter--set label{
        margin-right:5px;
    }
    .section--title{
        border-top: 1px solid #ccc;
        padding-top: 10px;
        padding-bottom:10px;
    }
    .buttonPannel{
        display:table;
        margin:auto;
    }
    .ui-state-active{
        border: 1px solid #fbd850;
        background: #ffffff;
        font-weight: bold;
        color: #eb8f00;
    } 
    .agreementHeading{
        padding:10px 0px;
    }
    .query--report--content span{
        text-decoration:none;
        color:default;
    }

    .border {
            border-color: red; 
            border-width: 1px; 
            border-style: solid;
        }
        .new--query--action input.btn{
            outline:none;
            border: 1px solid #b5b5b5;
            border-radius: 3px;
            height: 22px;
            width: auto; 
            line-height:2px;
            padding: 0px 10px;
            background-color: #f8f8f8;
            display:inline-block;
            margin-right:6px;
    
        }
        
        .form--section .input--div input[type='text'],.form--section .input--div select{
            display:inline;
            width:180px;
            height:20px;
            border-radius:0px;
            margin-bottom: 10px;
            border:1px solid #c9c9c9;
            
        }
        .form--section input[type='checkbox']{
        display:inline-block;
            /*margin-bottom: 10px;*/
            width:15px;
            height:15px;
        }
        .select--div{
            display: inline-block;
            border-radius: 3px;
            height: 20px;
            padding: 0px;
            width: 180px;
            margin-left: -3px;
            background:#fff;
        }
        .select--div--wrapper{
            width:auto;
        }
        .new--query--action{
            float:none;
            margin-left: 365px;
        }
        .col {
             float: left;
             margin:15px 100px 15px 0px;
           
        }
        .input--div textarea{
            display:inline;
            display: inline;
            width: 350px;
            height: 53px;
            resize: none;
                margin-bottom: 10px;
            border-radius: 0px;
        }
        .section--title{
            padding:5px;
            clear:both;
            font-weight: 700;
            font-style: normal;
            color: #000000;
            background-color:#D9EEFB;
            margin-bottom:10px;
            margin-top:10px;
        }
        .section--fields--row select,.section--fields--row input[type='text']{
            width:176px !important;
            height:20px;
        }
         .section--fields--row select{
        }
        .pbBody{
        margin:0px !important;
        }
        .input--div .requiredInput {
            display: inline-block;
            height: 23px;
            margin-bottom: 10px;
        } 
        .section--title{
            border:none;
            margin-top:20px;
            margin-bottom:15px;
        }
        .filterSection .bPageBlock{
            border:none;
        }
        ul.filterFor{
            display:inline-block;
            list-style:none;
            overflow:hidden;
            margin:0px 0px -6px 0px;
            padding:0px 
        }
        .filterFor li{
            display:block;
            float:left;
            margin:0px;
        }
        .filterFor li a{
            display:block;
            font-size: 11px;
            text-decoration:none;
            color:#333;
            border:1px solid #d5d5d5;
            background:#fff;
            padding:4px 12px 4px 12px;
        }
        .filterFor li:first-child a{
            border-right:0;
            -webkit-border-radius:5px 0 0 5px;
            -moz-border-radius:5px 0 0 5px;
            border-radius:5px 0 0 5px;
        }
        .set--additions{
            padding:15px 0px;
        }
        .list,.set--additions{
            margin-left:20px;
        }
        .filterFor li:last-child a{
            border-left:0;
            -webkit-border-radius:0 5px 5px 0;
            -moz-border-radius:0 5px 5px 0;
            border-radius:0 5px 5px 0;
        }
        .filterFor li a:hover{
            pointer:cursor;
        }
        .filterFor li a:active,.filterFor li a:focus{
            background:#2A94D6;
            color:#fff;
        }
        .validator{
            display:inline-block;
        }
        .validator .validator--expr{
            width:180px;
            height:20px;
        }
        .alignLeft{
            margin-left:16px;
        }
        .content--action--buttons{
            padding:10px 0px;
            border-top:1px solid #c9c9c9;
        }
    /*---------- Add Padding Classes for Hierarchy  ------------*/

      td.padding1 {
        padding-left: 30px !important;
      }
      td.padding2 {
        padding-left: 60px !important;
      }
      td.padding3 {
        padding-left: 90px !important;
      }
      td.padding4 {
        padding-left: 120px !important;
      }
      td.padding5 {
        padding-left: 150px !important;
      }
      td.padding6 {
        padding-left: 180px !important;
      }
      td.padding7 {
        padding-left: 210px !important;
      }
      td.padding8 {
        padding-left: 240px !important;
      }

    td.padding9 {
        padding-left: 270px !important;
      }

    td.padding10 {
        padding-left: 300px !important;
      }

    td.padding11 {
        padding-left: 330px !important;
      }

    td.padding12 {
        padding-left: 360px !important;
      }

    td.padding13 {
        padding-left: 390px !important;
      }

    td.padding14 {
        padding-left: 420px !important;
      }

    td.padding15 {
        padding-left: 450px !important;
      }

