.slds-form-element__label {
	overflow-wrap: break-word;    
    word-wrap: break-word;    
    hyphens: auto;    
    display: inline-block;    
    color: #3e3e3c;    
    font-size: .75rem;    
    padding-right: .5rem;    
    padding-top: .25rem;    
    margin-bottom: .125rem;
	
}
.slds-form-element__legend {
	font-weight :normal;
    float: left
}