<p id="{{id}}" ng-if="settings.field.type == dateTypes.DATE">{{settings.field.value | aptDateToString}}</p>
<p id="{{id}}" ng-if="settings.field.type == dateTypes.DOUBLE">{{settings.field.value}}</p>
<p id="{{id}}" ng-if="settings.field.type == dateTypes.BOOLEAN">
    {{(settings.field.value == 'true' ? settings.yesnoRadioOptions[0].label : settings.yesnoRadioOptions[1].label )}}
</p>
<p id="{{id}}" ng-if="(settings.field.type == dateTypes.PICKLIST || settings.field.type == dateTypes.REFERENCE) && settings.field.options">
    {{settings.field.value.label}}
</p>
<p id="{{id}}" ng-if="(settings.field.type == dateTypes.MULTIPICKLIST) && settings.field.options" class="incentive-field-cont">
    <span ng-if="settings.field.value.length > 0">
        {{(settings.field.displayColumnName ? settings.field.value[0][settings.field.displayColumnName] : settings.field.value[0].label)}}
    </span>
    <span ng-if="settings.field.value.length > 1"
         class="directives-common-link" ng-click="showSelectedIncentives()">
        <br />{{labels.viewAll}} ({{settings.field.value.length}})

    </span>
    <advanced-search ng-if="settings.field.value.length > 1" settings="settings.advSearch" unique-id="advSearchRelatedIncentives"></advanced-search>
</p>
<p id="{{id}}" ng-if="isOtherDataType(settings.field.type)">
    {{settings.field.value}}
</p>
<p id="{{id}}" ng-if="settings.field.type == dateTypes.RADIOPICKLIST">
    <label ng-repeat="radioOpt in settings.field.options" class="disabled directive-common-radio-vertical">
        <input type="radio" id="{{settings.field.apiName}}" name="{{settings.field.apiName}}"
            disabled="disabled"
            ng-model="settings.field.value.value"
            ng-value="radioOpt.value" /> <span><span></span></span>{{radioOpt.label}}
    </label>
</p>