
<mini-cart class="mini-cart block {{miniCart.cartTotal}}"><span class="mini-cart__display"><i class="ss-emptycart"></i><span class="mini-cart__display__label">cart</span><span class="mini-cart__display__total">({{miniCart.cart.length}})</span></span>
  <div class="mini-cart__container">
    <ul class="mini-cart__items">
      <li dir-paginate="lineItem in miniCart.cart | itemsPerPage:5" pagination-id="miniCartPagi" max-size="5" class="mini-cart__items__item">
        <div class="column-description column">
          <h3 class="mini-cart__items__item__title"><span>{{lineItem.lineItemSO.ProductId__r.Name}}</span><i ui-sref="configure({txnPrimaryLineNumber: lineItem.txnPrimaryLineNumber})" class="mini-cart__items__item__title--configurable ss-wrench"></i></h3>
          <h4 class="mini-cart__items__item__subtitle">{{lineItem.lineItemSO.ProductId__r.Family}}</h4>
        </div>
        <div class="column-price column">
          <h4 class="mini-cart__items__item__price">{{lineItem.chargeLines[0].lineItemSO.NetPrice__c | currency }}<i class="ss-dropdown"></i></h4>
        </div>
        <div class="column-three column">
          <button ng-click="miniCart.removeFromCart(lineItem)" class="mini-cart__items__item__trash"><i class="ss-trash"></i></button>
        </div>
      </li>
    </ul>
    <div class="pagination-group pagination-group--bottom">
      <dir-pagination-controls pagination-id="miniCartPagi"></dir-pagination-controls>
      <li class="mini-cart__items__item mini-cart__items__item--grand-total">
        <div class="column column-title">
          <h3 class="mini-cart__items__item__title">Grand Total</h3>
        </div>
        <div class="column column-price">
          <h4 class="mini-cart__items__item__price">{{miniCart.cartTotal | currency}}</h4>
        </div>
      </li>
    </div>
    <div class="mini-cart__actions">
      <button ui-sref="cart" class="mini-cart__actions__view-cart secondary">View Cart & Adjust Pricing</button>
      <button class="mini-cart__actions__finalize">Finalize...</button>
    </div>
  </div>
</mini-cart>