
<div class="main-configure-product block main-block">
  <div main-configure-product="main-configure-product">
    <h2>{{config.lineItem.productName()}}</h2>
    <configure-product-header></configure-product-header>
    <configure-product-nav view="config.view"></configure-product-nav>
    <configure-product-attributes ng-if="config.view == &quot;attributes&quot;" line-item="config.lineItem"></configure-product-attributes>
    <configure-product-options ng-if="config.view == &quot;options&quot;"></configure-product-options>
  </div>
</div>