
<div class="main-product-block block main-block">
  <div fixed-header="fixed-header" parent=".main-product-block" class="catalog-header">
    <div class="main-product-listings__header">
      <h1>Product Catalog {{title}}</h1><span breadcrumb-trail="breadcrumb-trail"></span>
      <div class="main-product-listing__help main-block__help"><a href="#"><i class="ss-lightbulbon"></i>Help me choose...</a></div>
    </div>
    <div class="pagination-group pagination-group--top">
      <dir-pagination-controls></dir-pagination-controls>
    </div>
  </div>
  <div class="main-product-listings">
    <div dir-paginate="product in productList.category.products | itemsPerPage: 10" class="main-block__listings">
      <ul>
        <li>
          <line-item product="product"></line-item>
        </li>
      </ul>
    </div>
    <div class="pagination-group pagination-group--bottom">
      <dir-pagination-controls></dir-pagination-controls>
    </div>
  </div>
</div>