
<div class="main-product-listings main-search-listings block main-block">
  <h1>Search Results</h1>
  <hr/>
  <div class="pagination-group pagination-group--top">
    <dir-pagination-controls></dir-pagination-controls>
  </div>
  <hr/>
  <div dir-paginate="product in search.products | itemsPerPage: 10" class="main-block__listings">
    <ul>
      <li>
        <line-item product="product"></line-item>
      </li>
    </ul>
  </div>
  <div class="pagination-group pagination-group--bottom">
    <dir-pagination-controls></dir-pagination-controls>
  </div>
</div>