
<div main-cart="main-cart" class="main-cart">
  <div class="main-cart__cart-container main-cart__cart-container--overflow">
    <div cart-header="cart-header"></div>
    <div class="main-cart__cart-products">
      <cart-label-row></cart-label-row>
      <line-item-cart ng-repeat="lineItem in mainCart.cartLineItems" item="lineItem"></line-item-cart>
    </div>
  </div>
  <div class="cart-totals-container cart-totals--overflow">
    <cart-totals></cart-totals>
  </div>
</div>
<footer class="main-cart__save-cart">
  <button>Apply Changes</button>
  <button>Request Approval<span class="ss-directright"></span></button>
</footer>