<style>
	.displayInline {
		display: inline!important; 
	}

	.headerStyle {
		left: 11px;
		right: 12px;
		padding-left: 17px;
		padding-right: 17px;
		border-radius: 4px;
		margin-bottom: 5px;
		margin-top: 11px;
		margin-left: 12px;
		margin-right: 12px;
		height: 67px;
		padding: 16px 17px !important;
	}

	.mediastyle {
		height: 32px;
	}
	.headerTitle {
		font-size: 13px !important;
		color: #3E3E3C !important; 
		margin-left: -5px;
	}
	.agreementTitle {
		margin-left: -5px!important;
	}

	.bodymargin {
		margin: 12px!important;
	}

	html {
		background:none!important;
	}

	body {
		margin: 0px!important;
		background-color:#B0C4DF!important;
		height: 100% !important;
	}

	.pageBody {
		background:white!important;
		border-radius:4px !important;
		min-height: 80vh !important;
	}

	.bPageBlock {
		border-width: 0px !important;
		background-color: white !important;
	}
	.slds .slds-table .slds-truncate {
    min-width: 52px;
    max-width: 218px;
    }

</style>