<?xml version="1.0" encoding="UTF-8"?>
<Network xmlns="http://soap.sforce.com/2006/04/metadata">
    <allowInternalUserLogin>true</allowInternalUserLogin>
    <allowMembersToFlag>true</allowMembersToFlag>
    <changePasswordTemplate>unfiled$public/CommunityChangePasswordEmailTemplate</changePasswordTemplate>
    <communityRoles/>
    <disableReputationRecordConversations>false</disableReputationRecordConversations>
    <emailSenderAddress>nwia.support@nokia.com</emailSenderAddress>
    <emailSenderName>Customers</emailSenderName>
    <enableCustomVFErrorPageOverrides>true</enableCustomVFErrorPageOverrides>
    <enableDirectMessages>true</enableDirectMessages>
    <enableGuestChatter>false</enableGuestChatter>
    <enableGuestFileAccess>true</enableGuestFileAccess>
    <enableGuestMemberVisibility>false</enableGuestMemberVisibility>
    <enableInvitation>false</enableInvitation>
    <enableKnowledgeable>true</enableKnowledgeable>
    <enableMemberVisibility>false</enableMemberVisibility>
    <enableNicknameDisplay>false</enableNicknameDisplay>
    <enablePrivateMessages>false</enablePrivateMessages>
    <enableReputation>true</enableReputation>
    <enableShowAllNetworkSettings>true</enableShowAllNetworkSettings>
    <enableSiteAsContainer>true</enableSiteAsContainer>
    <enableTalkingAboutStats>true</enableTalkingAboutStats>
    <enableTopicAssignmentRules>true</enableTopicAssignmentRules>
    <enableTopicSuggestions>true</enableTopicSuggestions>
    <enableUpDownVote>false</enableUpDownVote>
    <forgotPasswordTemplate>unfiled$public/CommunityForgotPasswordEmailTemplate</forgotPasswordTemplate>
    <gatherCustomerSentimentData>false</gatherCustomerSentimentData>
    <networkMemberGroups>
        <permissionSet>NCP_Customer_Portal_Access</permissionSet>
        <profile>admin</profile>
        <profile>customer community plus user</profile>
        <profile>customer community plus login user</profile>
        <profile>dcp support user</profile>
        <profile>dcp internal portal user</profile>
        <profile>customers login</profile>
        <profile>customers</profile>
        <profile>nokia admin profile</profile>
        <profile>nokia read only</profile>
        <profile>nokia sales profile</profile>
        <profile>non-sales user profile</profile>
        <profile>partner profile</profile>
        <profile>sales ops profile</profile>
        <profile>saas delivery toolkit - nokia user read only</profile>
        <profile>nokia generic files owner profile</profile>
        <profile>marketo sync</profile>
        <profile>excel add-in profile</profile>
        <profile>ch_agent</profile>
        <profile>ch_basic case handling</profile>
        <profile>ch_case handler</profile>
        <profile>contractmanager</profile>
        <profile>marketingprofile</profile>
        <profile>read only</profile>
        <profile>solutionmanager</profile>
        <profile>standard</profile>
        <profile>saas delivery toolkit - nokia user</profile>
        <profile>saas delivery toolkit - accenture user</profile>
        <profile>saas delivery toolkit - nokia ect</profile>
        <profile>marketing profile</profile>
        <profile>global process admin profile</profile>
        <profile>3rd party telemarketing profile</profile>
        <profile>saas delivery toolkit - nokia uat tester</profile>
        <profile>cpq apttus profile</profile>
        <profile>icare profile</profile>
        <profile>ds csc profile</profile>
        <profile>edu ticketing</profile>
        <profile>do not use jive to chatter temporary</profile>
    </networkMemberGroups>
    <networkPageOverrides>
        <changePasswordPageOverrideSetting>Standard</changePasswordPageOverrideSetting>
        <forgotPasswordPageOverrideSetting>Standard</forgotPasswordPageOverrideSetting>
        <homePageOverrideSetting>Standard</homePageOverrideSetting>
        <loginPageOverrideSetting>Standard</loginPageOverrideSetting>
        <selfRegProfilePageOverrideSetting>Designer</selfRegProfilePageOverrideSetting>
    </networkPageOverrides>
    <picassoSite>Customers1</picassoSite>
    <reputationLevels>
        <level>
            <label>Collaborator</label>
            <lowerThreshold>0.0</lowerThreshold>
        </level>
        <level>
            <label>Contributor</label>
            <lowerThreshold>51.0</lowerThreshold>
        </level>
        <level>
            <label>Star Contributor</label>
            <lowerThreshold>151.0</lowerThreshold>
        </level>
        <level>
            <label>Expert Contributor</label>
            <lowerThreshold>401.0</lowerThreshold>
        </level>
        <level>
            <label>Technical Advocate</label>
            <lowerThreshold>801.0</lowerThreshold>
        </level>
        <level>
            <label>Guide</label>
            <lowerThreshold>1501.0</lowerThreshold>
        </level>
        <level>
            <lowerThreshold>2501.0</lowerThreshold>
        </level>
        <level>
            <lowerThreshold>4001.0</lowerThreshold>
        </level>
        <level>
            <lowerThreshold>6001.0</lowerThreshold>
        </level>
        <level>
            <lowerThreshold>10001.0</lowerThreshold>
        </level>
    </reputationLevels>
    <reputationPointsRules>
        <pointsRule>
            <eventType>FeedItemLikeSomething</eventType>
            <points>1</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemSomeoneSharesYourPost</eventType>
            <points>5</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemReceiveALike</eventType>
            <points>5</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemShareAPost</eventType>
            <points>1</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemYourAnswerMarkedBest</eventType>
            <points>20</points>
        </pointsRule>
        <pointsRule>
            <eventType>EndorseSomeoneForKnowledgeOnATopic</eventType>
            <points>5</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemReceiveAnAnswer</eventType>
            <points>5</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemMentionSomeone</eventType>
            <points>1</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemWriteAComment</eventType>
            <points>1</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemPostQuestion</eventType>
            <points>1</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemWriteAPost</eventType>
            <points>1</points>
        </pointsRule>
        <pointsRule>
            <eventType>EndorsedForKnowledgeOnATopic</eventType>
            <points>20</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemAnswerAQuestion</eventType>
            <points>5</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemMarkAnswerAsBest</eventType>
            <points>5</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemReceiveAComment</eventType>
            <points>5</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemReceiveAMention</eventType>
            <points>5</points>
        </pointsRule>
    </reputationPointsRules>
    <selfRegistration>true</selfRegistration>
    <sendWelcomeEmail>false</sendWelcomeEmail>
    <site>Customers</site>
    <status>Live</status>
    <tabs>
        <defaultTab>Chatter</defaultTab>
        <standardTab>Chatter</standardTab>
        <standardTab>Knowledge</standardTab>
    </tabs>
    <urlPathPrefix>customers</urlPathPrefix>
    <welcomeTemplate>unfiled$public/CommunityWelcomeEmailTemplate</welcomeTemplate>
</Network>
