
.slds .slds-table:not(.slds-no-row-hover) tr:hover > td {
	background-color: transparent!important;        
}

.spinner{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.75);
	box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0,0,0,0.15);
	z-index: 999999;   
	display:none; 
}

.spinnerImg {
	margin-left: 50%;
	margin-top: 20%; 
}
.clicked {
	background-color: green;
}

.disabledButtons {
	opacity:0.3;
}
.shadow-button {
	box-shadow: 0px 1px 1px 0px rgba(0,0,0,.05)
}
.visibleoption {
	display: inline-block;
}
.hideoption{
	display: none;
}

.hide-lable{
	font-size:0;
}

.message .messageText h4 {
	display: none;
}

.Custom18Tab .secondaryPalette, .individualPalette .Custom18Block .secondaryPalette {
	background-color: lightblue;
	border-color:white;
}
.Custom18Tab .tertiaryPalette, .individualPalette .Custom18Block .tertiaryPalette, .layoutEdit .individualPalette .Custom18Block .tertiaryPalette {
	background-color: lightblue;
	border-color:white;
}
.bPageBlock .detailList tr td, .bPageBlock .detailList tr th, .hoverDetail .bPageBlock .detailList tr td, .hoverDetail .bPageBlock .detailList tr th {
	 
	background-color: white;
	border-bottom: 1px solid white;
}
.slds-text--label {
    font-weight: bold;
	padding: 5px 0px 5px 0px!important;
}
ul{    
    padding: 5px 0px 5px 40px!important;
	list-style-type: square!important;
}


html{
	background:none!important;
}
body {
    margin: 0px!important;
	background-color:#B0C4DF!important;
}
.pageBody{
	margin:.5%!important;
	background:white!important;
	border-radius:4px!important;
	
}
.pageSectionHeader{ 
	padding: 1rem!important;
	border-bottom: 1px solid #DDDBDA!important;
	display:block!important;
}
.pageStepTitle{
	text-align: left!important; 
	display: inline-block!important; 
	width: 33%!important;
	font-weight: bold!important;
}
.rightButtonsPanel {
	display:inline-block!important;
	float:right!important;
}
.paddingCls{
	padding: .5rem .75rem!important;
}
.leftPadding{
	float:left!important;
	padding-left:4%!important;
}
.fieldWidth{
	width: 8%!important;
	float: left!important;
}
.displayInline {
	display: inline!important; 
}

.headerStyle {
	height: 67px;
	left: 11px;
	right: 12px;
	padding-left: 17px;
	padding-right: 17px;
	border-radius: 4px;
	margin-bottom: 5px;
	margin-top: 11px;
	margin-left: 12px;
	margin-right: 12px;
}
.mediastyle {
	height: 32px;
}
.headerTitle {
	font-size: 13px;
	color: #3E3E3C; 
	margin-left: -5px;
}
.agreementTitle {
	margin-left: -5px!important;
}
.bodymargin {
	margin: 12px!important;
	margin-top: 8px!important;
}
.doc-table .custom-title .slds-icon{
	width: var(--lwc-squareIconMediumBoundary,2rem);
	height: var(--lwc-squareIconMediumBoundary,2rem);
}