.bPageBlock, body #bodyCell .bResource .secondaryPalette, body .secondaryPalette.bPageBlock, body .individualPalette .secondaryPalette.bPageBlock, body .bodyDiv .genericTable, body .genericPageBlockTable, body .bodyDiv .bSubBlock, body .bComponentBlock .bPageBlock, body .bMyDashboard .bPageBlock, body.rlHoverFrame .bPageBlock, body.subjectSelectionPopup div.choicesBox, body.lookupTab .secondaryPalette.bPageBlock, body.popupTab .secondaryPalette.bPageBlock, body.UserTagStatsPage .secondaryPalette.bPageBlock {
	background-color: #f4f6f9;
}
.Custom18Tab .tertiaryPalette, .individualPalette .Custom18Block .tertiaryPalette, .layoutEdit .individualPalette .Custom18Block .tertiaryPalette{
	background-color: #f4f6f9;
}
.Custom18Tab .secondaryPalette, .individualPalette .Custom18Block .secondaryPalette{
	background-color: transperent;
	border-color: #f4f6f9;
}
.bPageBlock {
	border-top: 1px solid lightgray;
}