.tooltipcustom {
  position: relative;
  display: inline-block;
  
}
.tooltipcustom .tooltiptext {
padding: 10px !important;
  visibility: hidden;
  width: 340px;
  background-color: rgb(22, 50, 92);
  color: #fff;  
  border-radius: 6px;
  padding: 5px 0;
  font-size: .75rem;
font-family: 'Salesforce Sans',Arial,sans-serif;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 130%;
  left: -170px;
  margin-left: -60px;
  
 
}
.tooltipcustom .tooltiptext:before {
 left: auto;
    right: 1.5rem;
    top: -.5rem;
    margin-right: -.5rem;    
    width: 1rem;
    height: 1rem;
    position: absolute;
    transform: rotate(45deg);
    content: '';
    background-color: inherit;
    left: 80%;
    top: -.5rem;
    margin-left: -.5rem;
    
    box-sizing: border-box;
}
.tooltipcustom .tooltiptext:after {
    box-shadow: -1px -1px 0 0 rgba(0, 0, 0, 0.16);
    z-index: -1;
    
    width: 1rem;
    height: 1rem;
    position: absolute;
    transform: rotate(45deg);
    content: '';
    background-color: inherit;
    left: 80%;
    top: -.5rem;
    margin-left: -.5rem;
}
.tooltipcustom:hover .tooltiptext {
  visibility: visible;
}                
.slds .slds-page-header {
    padding: 16px;
}

    
.slds .slds-button{
    line-height: 32px ! important;
}    
.slds .slds-button--brand[disabled] {
    background: #e0e5ee !important;
    border-color: transparent !important;
}
    
/* tr.temContent:hover {
          background-color: rgb(216, 237, 255) ! important;
}  */ 
  
.slds .slds-table thead th {

    background-color: rgb(250, 250, 249);
    color: rgb(81, 79, 77);
    padding: .25rem .5rem;
    font-weight: 700 !important;
    line-height: normal;
}
.slds-table td {
    white-space: nowrap !important;
    padding: .25rem .5rem !important;
}
.slds .slds-table tr > td:first-child {
    padding-left: 24px !important;
}
.tooltip .tooltiptext {
    visibility: hidden ;
    width: max-content;
}
.tooltip:hover .tooltiptext {
    visibility: visible !important;  
    width: max-content;
}
.sticky-header{
       position: sticky;
       z-index: 1;
        top: 0;
}
    
.errorMessageStyle{
    color: rgb(255, 255, 255);
    background-color: rgb(194, 57, 52);
    margin: 14px;
    align-items: center;
    height: 44px;
    display: flex;
    padding: 0.75rem;
    -webkit-box-align: start;
    box-sizing: border-box;
    font-size: 14px;
}
.erroricon{
    width: 18px !important; 
    height: 23px !important;
}
    
#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; 
  cursor: pointer; 
}
    
#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  background: white;
  
}  
  //overlaybox
.slds .slds-box{
      padding: 0px !important;
      border: none !important;
}    
.slds .slds-modal__header {
  height: 26px !important;
    width: 489px !important;
    color: #2B2826 !important;
    font-family: "Salesforce Sans" !important;
    font-size: 20px !important;
    letter-spacing: 0 !important;
    line-height: 0px !important;
    text-align: center !important;
}
 
.slds-p-around--medium
{
    padding-left: 0px;
    padding-right: 0px;
} 

.pageIconsize{
    width: 32px !important;
    height: 32px !important;
}

.buttonStyle {
	
	display: flex !important;
	height: 34px;
	align-items: flex-end;
}

.modalheaderstyle {
	
	height: 26px !important;
	width: 489px !important;
	color: #2B2826 !important;
	font-family:Salesforce Sans !important;
	font-size: 20px !important;
	letter-spacing: 0 !important;
	line-height: 0px !important;
	text-align: center !important;
	min-width:100%;
	max-width:100%;
	
}

.modaltextstyle {
	
	padding: 12px;
	color: #3E3E3E;
	padding-left: 21px;
	overflow-wrap: break-word;
}

.docgentext {
	font-size:12px !important;
	color: #080707 !important;
	margin-left: 30px !important;
}

.selectdoctext {
	font-size:12px !important;
	color: #080707 !important;
	margin-top: 24px !important; 
	margin-bottom: -12px !important;
	margin-left: 34px !important;
}

.protectionlevel{
	background-color: rgb(255, 255, 255) !important;
	border: 1px solid rgb(221, 219, 218) !important;
	border-radius: .25rem !important;
	width: 100% !important;
    transition: border .1s linear,background-color .1s linear !important;
}

.includewatermarkstyle {
	
	font-size:12px !important;
	color: #080707 !important;
	margin-top: 24px;
	margin-bottom: -12px !important;
	margin-left: 30px !important;
}

.selecttemplatetext {
	
	font-size:12px;
	color: #080707;
	margin-top: 24px !important;
	margin-bottom: -12px !important; 
	font-weight:400;
	margin-left: 29px !important;
}

.sfdcBody.net-withGlobalHeader {
    background-position: 0 0px !important;
}

.textPosition {
	margin-top: -3px !important;
}

.pageSectionPosition {
    padding: 1rem 0!important;
}

.outputFormatsPosition{
	margin-left: 20px;
}

.checkboxPosition {
	margin-left: 30px !important;
}

.dropboxPosition {
	margin-left: 30px !important;
}

html{                
   overflow-x: hidden !important;
}

.temContent:not(.selectedTr):hover {
    background-color: rgba(0, 112, 210, 0.1) !important;
}

.modalHeaderSize {
	padding-left: 0px !important;
	padding-right: 0px !important; 
	padding-top: 9px !important;
	
}

.buttonPostion {
	margin-top: 0px!important;
	height: 32px !important;
}

