.breakWordCls{
	word-wrap: break-word!important; 
	word-break: break-all!important; 
	white-space: normal!important;
}         
html body.sfdcBody {
	padding: 0px 0px 0 0px!important;
}
.slds input[type="checkbox"], .slds input[type="radio"]{
	width: 1.3em!important; 
	height: 1.3em!important;
}
html{
	background:none!important;
}
body {
    margin: 0px!important;
	background-color:#B0C4DF!important;
}
.slds-progress__item img{
	width:16px!important;
}
.hideCls{
	display:none!important;
}
.pageBody{
	margin:12px!important;
	background:white!important;
	border-radius:4px!important;
	min-height:80vh!important;
}
.pageHeader{
	
	left: 11px;
	right: 12px;
	padding-left: 17px;
	padding-right: 17px;
	border-radius: 4px;
	_margin-bottom: 5px;
	margin-top: 11px;margin-left: 12px;
	margin-right: 12px;
	height: 66.6667px;
padding: 16px 17px !important;
}
.pageSectionHeader{ 
	padding: 1rem!important;
	border-bottom: 1px solid #DDDBDA!important;
	display:block!important;
}
.pageStepTitle{
	text-align: left!important; 
	display: inline-block!important; 
	width: 33%!important;
	font-weight: bold!important;
}
.progressIndicatorPanel {
	max-width:40%!important;
	display:inline-block!important;
	vertical-align:middle!important;
}
.progressIndicatorToolTip {
	position:absolute!important;
	top:-2.8rem!important;
	margin-left:-1rem!important;
}
.rightButtonsPanel {
	display:inline-block!important;
	float:right!important;
}
.paddingCls{
	padding: .5rem .75rem!important;
}
.leftPadding{
	float:left!important;
	padding-left:4%!important;
}
.fieldWidth{
	width: 8%!important;
	float: left!important;
}
.displayInline {
	display: inline!important; 
}
.slds-search-icon
{
    vertical-align : top;
    z-index: 11111;
    margin-left: -23px;
    position: absolute;
    fill: darkgray;
    margin-top: 8px;
}
.slds-lookup-icon{
    margin-left: 9px;
    fill: darkgray;
}
.tooltip .tooltiptext {
    visibility: hidden ;
    width: max-content;
}

.tooltip:hover .tooltiptext {
    visibility: visible !important;  
    width: max-content;
}

td input[type="radio"]{
    float: left;
    margin-right: 5px;
}

td label{
    float: left;
}

.lookupInput{
    position: relative;
}
		   
input[type="text"].emailAddressField{
	width: 100%;
	border: none;
	outline: none;
}

a.emailAddressField{
	right: 8px;
	border: none;
	outline: none;
	position: absolute;
}

.pageHeadertitletext{
	font-size:13px !important;
	margin-left:-5px;
	color: #3E3E3C;
	line-height: 1.2;
}

.recordNameTextAlign{
	margin-left: -5px !important;
	font-size: 18px;
	font-weight: 700;
	color: #080707;
	
}

.pageIconsize{
    width: 32px !important;
    height: 32px !important;
}
.sticky-header{
       position: sticky;
       z-index: 1;
        top: 0;
}