.selectedTr {
	background-color: #005fb2;
}

.selectedTd{
	color: white;
}

.slds .slds-table:not(.slds-no-row-hover) tr:hover > td {
	background-color: transparent!important;        
}

.spinner{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.75);
	box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0,0,0,0.15);
	z-index: 999999;   
	display:none; 
}

.spinnerImg {
	margin-left: 50%;
	margin-top: 20%; 
}
.clicked {
	background-color: green;
}

.disabledButtons {
	opacity:0.3;
}
.shadow-button {
	box-shadow: 0px 1px 1px 0px rgba(0,0,0,.05)
}
.visibleoption {
	display: inline-block;
}
.hideoption{
	display: none;
}
.message .messageText h4 {
	display: none;
}
/** Size of the check boxes and radio*/
.slds input[type="checkbox"], .slds input[type="radio"]{
	width: 1.3em; height: 1.3em;
}

slds.slds-checkbox {
		width: 1.3em; height: 1.3em;
}
