	.wizard-step-container {
        	width: 1045px;        	 
         }
        .wizard-step {
            	font-weight: bold;    		
    		margin-right: 268px;
         }
        .wizard-btn-new {
        	width: 85px;
    		height: 20px;
    		padding: 0;
    		margin-top: 1px;            
        }       
        .wizard-step-listview {
        	margin-top: 8px;
      	  	margin-bottom: 5px;
        }
        .wizard-step-listview tr td.dataCell:first-child a {
        	color: #006295;
        }
	.wizard-step-listview tr td.dataCell a {
		text-decoration: none;
        }
	.wizard-step-listview tr td.dataCell a:hover {
		text-decoration: underline;
        }
	.wizard-step-pagination {
		width: 100%;
        }
	.wizard-step-pagination a {
		text-decoration: none;
        }
	.wizard-step-pagination a:hover {
		text-decoration: underline;
        }
	.searchText {        	         
		float: right; 
        	width: 222px; 
        	height: 20px; 
        	margin-bottom: 7px;
        	text-indent: 5px;       	     	
        }
