.commandlink_icon {
}

.button_link {
	margin: 0 3px !important;
}

.pageblockbutton_right {
	margin: 0 3px !important;
	float: right;
}

.pageblockbutton_center {
	margin: 0 3px !important;
	margin-left: 100px !important;
}

.button_link {
	cursor: pointer;
}

.aptLoadingOverlay {
    background-color: rgba(255, 255, 255, 0.9);
    display:none;
    background-image: url('../img/Image_LoadingBar.gif');
    background-repeat: no-repeat;
    background-position:center center;
}

/* JQuery UI */
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
	font-family: Arial,Helvetica,sans-serif;
	font-size: .9em;
}

.ui-widget-content {
	background: #fff;
	border: 1px solid grey;
}

.ui-dialog-titlebar {
	border: 0;
	background: none;
}

.ui-front {
	z-index: 99;
}