/**
 *  Apttus Contract Management
 *  lightningwebcomponentstyles.css
 *   
 *  @2019 Apttus Inc. All rights reserved.
 */
@supports (display: contents) {
	.slds-slot {	
		display: contents;	
	}
}

@supports not (display: contents) {
	.slds-slot {	
		display: flex;	
		width: 100%;
	}
	
	.c-container .slds-slot {	
		flex-wrap: wrap;
	}
	
}