<div class="ands-dialog--sm md-panel-override">
	<md-button class="ands-btn--icon" ng-click="ctrl.hide()" md-no-ink>
		<md-icon class="ands-icon-material ands-icons" aria-label="Close dialog">close</md-icon>
	</md-button>
	<div class="ands-dialog-content product-option__price">
		<span class="priceIncludedInDetail">
			<span class="PriceListTitle">
				<span class="priceData">{{::ctrl.labels.ChargeType}}</span>
				<span class="priceData">{{::ctrl.labels.Price}}</span>
			</span>
			<span class="PriceListData" ng-repeat="priceList in ctrl.option.optionComponent[ctrl.nsPrefix+'ComponentProductId__r'][ctrl.nsPrefix+'PriceLists__r']">
				<span class="priceData">{{priceList[ctrl.nsPrefix+'ChargeType__c']}}</span>
				<span class="priceData">{{ctrl.option.isChargePriceIncluded(priceList[ctrl.nsPrefix + 'ChargeType__c']) ?
					ctrl.labels.IncludedWithBundle : (priceList[ctrl.nsPrefix+'ListPrice__c'] | aptNumberToCurrency)}}</span>
			</span>
		</span>
	</div>
</div>