/* Custom CSS to support Asset Based Ordering Views */
/* To be merged into main css before Code Freeze    */

/* BEGIN: Assets classes */
.filter-date-label {
  display: inline-block;
  vertical-align: baseline;
}

.filter-date-input {
  display: inline-block !important;
  vertical-align: baseline;
  height: 20px;
  width: 90px;
}

.filter-spacing {
  margin-bottom: 10px;
}

.filter-button-spacing {
  padding: 0.5rem !important; 
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}
/* END: Assets classes */ 