<label ng-show="settings.readOnly" for="{{settings.apiName}}">{{settings.labelText}}</label>
<p id="{{settings.apiName}}" ng-show="settings.readOnly">
    <span ng-if="settings.selectedValues && settings.selectedValues.length > 0">
        {{settings.selectedValues[0][settings.propertyNameDisplay]}}
    </span>
    <span ng-if="settings.selectedValues && settings.selectedValues.length > 1"
          class="directives-common-link" ng-click="showAllSelectedValues()">{{labels.viewAll}} ({{settings.selectedValues.length}})</span>
</p>
<advanced-search settings="advSearchSettings" unique-id="as{{settings.apiName}}"></advanced-search>