.bottom-padding { padding-bottom: 10px; }

hr {
	margin-top: 10px;
	margin-bottom: 10px;
}

.container {
   width: 80%;
}

.aptQuantity{
	text-align: right;
}
.aptQuantity input{
	text-align: right;
	width: 60px;
}

.aptCurrency{
	text-align: right;
}
.aptCurrency input{
	text-align: right;
	width: 80px;
}

.aptDate{
	text-align: right;
}
.aptDate input{
	line-height: 1em;
	width: 10em;
}

.aptOption{
	padding-left: 24px;
	font-size: 80%;
}
