ol{margin:0;}
h1, h2, h3 { margin: 0.25em 0 0 0;}
h2, h3 {font-size:1.5em;}
ul{list-style-type:none;margin:0;}
body {
    background:#f0f1f2;
    font-family: 'Arial Regular', 'Arial', sans-serif;
    margin:0px;
}
input, 
textarea, 
select {
  display: block;
  border: 1px solid #d7d7d7;
  border-radius: 3px;
  outline:none;
}
a, a:link, a:visited, a:hover, a:active {text-decoration:none;color:#000;}
/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}
[type="checkbox"] + label + label {
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; top: 0;
  width: 17px; height: 17px;
  border: 1px solid #aaa;
  background: #f8f8f8;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
}
[type="checkbox"]:checked + label:before {
  background-color: #2a94d7;
  box-shadow:none;
  border: 1px solid #2a94d7;
}

/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 0; left: 4px;
  font-size: 14px;
  color: #fff;
  transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 1px dotted blue;
}

.primary {
    position: fixed;
    top:0;
    left:0;
    background:#071D3E;
    color:#fff;
    width:100%;
    height:59px;
    overflow: hidden;
    min-width: 400px;
    z-index:9999;
}
    .primary h1, .primary h3 {
        margin:0;
    }
    .primary h1 {
        color:#cccccc;
        font-size:1.375em;
    }
    .primary h3 {
        font-size:0.875em;
    }
    .back-nav {
    }
    .primary > div {
        float:left;
        padding:7px 10px 10px 10px;
        height:42px;
    }
        .back-nav i {
            font-size: 1.750em;
            line-height: 39px;
        }
        .back-nav a {
            color:#fff;
        }
        .back-nav i:hover {
            color:rgb(42,148,214);
            cursor:pointer;
        }
.title {
  line-height:41px;

}

.sub-title {
  margin-left:123px;
}
.rollup .sub-title {
    margin-left:10px;
}
.sub-title h3 {
  color:#ff9900
}

.attributeRuleCriteriaPanel {
    display: inline-block;
    padding-left: 20px;
    clear: both;
}

.nav-container {
    width:275px;
    height: 100%;
}
    .nav-container .nav-toggle {
        border-radius: 5px;
        padding:52px 3px;
        margin-left:3px;
        float:left;
        background-color:#e8e9ea;
        color:#cbcccd;
    }
    .nav-container .nav-toggle:hover {
        background-color:#e2e3e4;
        color:#b5b6b6;
        cursor:pointer;
    }

    .nav {
    width:250px;
    padding-left:0;
    list-style-position: inside;
    border: solid 1px #d7d7d7;
        float:left;
}
    .nav li {
        border-top: solid 1px #d7d7d7;
        padding:10px 14px;
    }
    .nav li a {
        display: inline-block;
        padding:10px 14px;
        margin:-10px -14px;
    }
    .nav li a:active {
        color:#000;
    }
    .nav li:hover {
        cursor: pointer;
        background:#ccffcc;
    }
    .nav li.active {
        background: #e4e4e4;
        font-weight: bold;
    }
    .nav li.first {
        border:none;
    }
.main {
    padding: 84px 18px 0 18px;
    margin-bottom: 80px;
}
.main > table {
  width: 100%;
}
.main > table > tbody > tr > td:nth-child(1){
  vertical-align: top;
  width:275px;
}
.main-sub {
    background: #fff;
    border-radius: 5px;
    border: solid 1px #d7d7d7;
}
.main-sub .header {
    padding:8px 18px 18px 18px;
}
.main-sub .section {
  border-top:solid 1px #e5e3e0;
  padding:22px 0;
}
.footer {
    height: 70px;
    width: 100%;
    background: #556A8C;
    position: fixed;
    bottom: 0;
}
.footer .inner-footer {
    padding: 17px 18px 0 286px;
    position: relative;
    min-width: 385px;
}

.inner-footer a {
    box-sizing:border-box;
    border-radius: 3px;
    padding:10px;
    float:left;
}
.inner-footer a.cancel{
  color: #51C983;
  background: #fff;
}

.inner-footer a.cancel:hover{
  color: #fff;
  background: #64b182;
}

.previous-container{
    float:left;
}
.primary-commands {
    float:right;
}
.primary-commands li {
    float:left;
}
.primary-commands li a {
    margin-left:7px;
    padding-left:20px;
    padding-right:20px;
    font-size:0.875em;
    font-weight:700;
}
.primary-commands input.cancel:hover, .primary-commands input.next:hover , .previous-container input.previous:hover {
    background:#379965;
}
.primary-commands input.cancel {
    color:#64b182;
    background: #fff;
    font-weight:bold;
}

.header .secondary-commands {}

/* command buttons */

.command-buttons {
    float:right;
    font-weight:normal;
  font-size:1em;
  padding:0
}
  .command-buttons li, .command-buttons a {
      padding: 10px 0;
}
  .command-buttons li {
      float:left;
  }
  .command-buttons a {
    margin-right:7px;
      box-sizing: border-box;
      border-radius: 3px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .command-buttons a.disabled:hover {
      cursor:default;
  }


/* secondary command buttons */

.secondary-commands a {
      color:#2A94D7;
      background-color:#F2F2F2;
  }
  .secondary-commands li a:hover {
      color:#fff;
      background-color:#2A94D7;
  }
  /* disabled */
  .secondary-commands a.disabled {
      color:#C9C9C9;
  }
  .secondary-commands a.disabled:hover {
      color:#C9C9C9;
      background-color:#F2F2F2;
      cursor:default;
  }

.inner-footer .previous {
    color:#64b182;
    border:solid 1px #a6e0b8;
  background: #fff;
  font-weight:bold;
}
.inner-footer .next {
    color:#64b182;
    font-weight:bold;
    background: #fff;
}

.formbg {
    background: #fff;
    border-radius: 4px;
    padding: 20px 0px 0px 0px;
    border: 1px solid #E3E3E3;
    margin: 20px 45px 20px;
}
.inner-container {
  margin: 80px 45px 0px;
  overflow-x: auto;
  overflow-y: hidden;
  padding-top: 15px;
}
.inner-container-maximize {
  margin: 0 0 0 20px;
  overflow: auto;
}
.form-row {
  overflow: auto;
}
.content .form1{
  float: left;
  width: 300px;
}
.content .form2 {
  float: left;
  margin-left: 55px;
  width:300px;
}
.content .form3 {
  float: left;
  margin-left: 15px;
}
.innerContent {
  border-top: 1px solid #E3E3E3;
}
.actionsection .innerContent {
    border-top:none;
}
.actionsection ul {
    width: auto;
    text-align: center;
    padding-left: 200px!important;
    border-bottom: 1px solid #eaeaea!important;
    margin-top:-34px!important;
 }

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
    margin-bottom: -1px;
    padding-bottom: 0px;
    border-bottom: 3px solid #2093DA;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}
.ui-tabs .ui-tabs-nav li {
    background: none;
    border: none;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active a {
    color: #666;
}

.ui-tabs .ui-tabs-nav li.active a:hover{
    color:#1C78B1;
}

.row-number {
    font-weight: bold;
    padding-right: 10px;
    width: 1%;
}

#section-advanced-actions table tr td { 
    padding-top: 10px; 
    padding-right: 5px;
}

#section-advanced-actions input[type="text"], #section-advanced-actions input[type="number"], #section-advanced-actions textarea, #section-advanced-actions select { 
    margin-top: 0px;
}
#section-advanced-actions .field, #section-advanced-actions div.multi-select-widget {
    margin-top: 0px;
}
#section-advanced-actions .multi-select-widget {
    height: 36px; 
    width: 180px;
}
#section-advanced-actions input[type="text"] {
    height: 34px; 
    width: 140px!important;
}

.content .view {
}

a.advanced-search-link {
    color:#2a94d7;
}

fieldset {
  border: none;
  padding: 0;   
}
.content .field {
  margin-top: 32px;
  position:relative;
}
.search {
   position: relative;
}
  .search a {
    color:#2a94d7;
  }
  .search div {
    cursor:pointer;
  }
  .search .spy-glass {
    position: absolute;
    top: 10px;
    right: 12px;
    color: #079CCE;
    font-size: 20px;
    cursor:pointer;
  }
  .search .spy-glass div {
    display:none;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    position: relative;
    color: #999;
    background-color: #e4e4e4;
  }
  .search .spy-glass div:hover {
    color: #fff;
    background-color: #079CCE;
  }
  .search .spy-glass div i {
    position: absolute;
    top: 4px;
    left: 5px;
    font-size: 14px; 
  }
label, .criteria th {
  font-size: 14px;
  color: #666;
  font-weight: bold;
  text-align:left;
}
input[type="radio"] {
  width:22px;
  height:22px;
}
input[type="text"],
input[type="number"],
textarea, 
select {
  text-indent: 10px;
  width: 300px;
  height: 32px;
  margin-top: 5px;
}

.scope input[type="text"],
.scope textarea, 
.scope select {
  width: 300px;
  height: 32px;
  margin-top: 0;
}

.search.information .multi-select-widget {
  width: 300px;
}

.scope .multi-select-widget {
  margin-top: 5px;
  width: 300px;
}

.scope .search input,
.scope textarea, 
.scope select {
  margin:10px 0;
}
.search > div > input[type="text"] {
  margin: 0;
}
.field .split-column:first-child {
  margin-right:2%;
}
.field .split-column {
  display:inline-block;
  width:48%;
}
.field .split-column select, .field .split-column input {
  width: 100%;
}

.field .split-column input[type="text"], .field .split-column label {
  width:100%;
}
.scope {
  margin-top:12px;
  overflow:auto;
  padding:0;
}
  .scope li {
    float:left;
  }
  .scope .label {
    padding-top:38px;
    width:182px;
  }

.field .scope-search input, .field .scope-search .cards {
  width:385px;
}
.incentive-search input, .incentive-search .cards {
  width:300px;
}
.incentive-save {
    cursor: pointer;
}
.save {
    color: #fff;
    font-weight: bold;
    background: #51C983;
}
.save:hover {
    color: #fff;
    font-weight: bold;
    background: #64b182;
}
.content{
    padding-bottom: 70px;
}
.content .field select {
    height: 40px;
}
.content .field select[multiple="multiple"] {
  height:auto !important;
}
.field .disabled {
  background: #f2f2f2;
}
textarea.field-input {
  height: auto !important;
}

.field > input, .field > textarea, .field > select {
    margin-top: 7px;
}
.field > textarea {
    height: 134px;
}

.field .code {
  text-transform: uppercase;
}
.radio-option {
  font-weight:normal;
}
.exclusion-inclusion {
  padding-top:27px;
  padding:27px 0 0 27px;
}
.vertical .radio-option {
  overflow:auto;
  margin-bottom: 5px;
}
  .radio-option label {
    line-height:22px;
    margin-left: 8px;
  }
  .radio-option label, .radio-option input { }
  
.radio-option > div {
  overflow:auto;
  margin:10px 0 5px 0;
}
  .radio-option label {
    line-height:22px;
    margin-left: 8px;
    font-weight:normal;
  }
  .radio-option label, .radio-option input {
    float:left;
  }
.scope .radio-option > div {
  margin:0 0 5px 0;
}
.field .apply-options {
  margin-top: 10px;
}
.field .apply-options label {
  font-weight: normal;
}
input[type="radio"] + label span {
    display: inline-block;
    height: 20px;
    width: 20px;
    vertical-align: middle;
    cursor: pointer;
    moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #d7d7d7;
    box-sizing: border-box;
}
input[type="radio"]:checked + label span {
    border: 5px solid #2a94d7;
}
.prdgroup {
    margin-top: 55px;
}
.default-option {
    color:#ccc;
}
select.field-input option {
    padding:10px;
}
select.field-input option[disabled="disabled"] {
    color: gray;
}
.date-input{
    background:#ffffff url("../images/calendar-icon.png") right center no-repeat;
}

/* To hide 'X' icon in date fields in IE 8/9/10/11 */
.date-input::-ms-clear {
	display: none;
}
.option-search-control {
  overflow:auto;
}
.circle-btn {
  border-radius:50%;
  text-align:center;
  cursor:pointer;
}

.status {
    margin: 0px;
    color: #FF9900
}
.overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1000000px;
    z-index: 10;
    background-color: rgba(0,0,0,0.5); /*dim the background*/
    font-size: 3em;
}
.overlay i{
    position: fixed;
    top: 50%;
    left: 50%;
}
.search .cards {
  font-size: 0.875em;
  padding:12px 0;
}
  .search .cards div {
    display:inline-block;
  }
  .search .cards .card {
    background-color:#f2f2f2;
    padding:6px 12px;
    border-radius:10px;
    margin-right:10px;
    margin-bottom:7px;
  }
  .search .cards .cancel-btn {
    background-color:#c9c9c9;
    width:18px;
    height:18px;
    margin-left:14px;
  }
  .search .cards .cancel-btn:hover {
    background-color:#079CCE;
  }
  .search .cards span {
    color:#999;
  }
  .search .cards i.fa-times {
    color:#fff;
    font-size:0.813em;
  }
.fa {
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Not implemented yet */
  -o-user-select: none;
  user-select: none;
}
.cell_numbering_1 {
  width: 1%;
  font-weight:bold;
}
.cell_field_15 {
  width: 15%;
}
  .cell_field_15 select {
    width:100%;
  }
.cell_datasource_14 {
  width: 14%;
}
  .cell_datasource_14 select {
    width: 100%;
  }
.cell_value_7 {
  width: 7%;
}
  .cell_value_7 input {
    width: 100%;
  }
.cell_controls_5 {
  width: 6%;

}
.cell_operator_9 {
  width: 9%;
  font-weight:bold;
}
  .cell_operator_9 select {
    width: 100%;
  }

.additional-criteria-container {
  margin-top:15px;
  margin-left:24px;
}
.additional-criteria {
  width:593px;
}
.section .collapsible {
  margin-left: 0px;
  cursor:pointer;
}
.section .header {
    padding: 0px 20px 15px;
}

.collapsible .fa {
  width:15px;
  color: #015ba7;
}
.section-advanced-criteria input, .section-advanced-criteria select {
  margin-top:5px;
  font-size:0.875em;
  text-indent: 5px;
}
.section-advanced-criteria input {
  height:34px;
}
.section-advanced-criteria select {
  height:37px;
}
.criteria {
  width:1097px;
  margin-top:18px;
}
  .criteria tbody tr td {
    padding:0px 10px 5px 0;
  }
  .criteria .cell_controls_5 {
    padding:0px 0px 0px 0;
  }
  .criteria .circle-btn {
    width:20px;
    height:20px;
    font-size:0.875em;
    float:left;
  }
  .criteria .circle-btn i {
    margin-top:2px;
  }
  .criteria .cancel-btn {
    color:#fff;
    background-color:#c9c9c9;
  }
    .criteria .cancel-btn:hover {
      background-color:#ff0000;
    }
  .criteria .add-btn {
    width:17px;
    height:17px;
    color:#00d031;
    background-color:#fff;
    border:dotted 2px #c9c9c9;
  }
  .criteria .search input { }
    .criteria .add-btn:hover {
      color:#fff;
      background-color:#00d031;
      border:dotted 2px #00d031;
    }
  .criteria .search .spy-glass { top:5px; }
  .criteria select {
    height: 37px;
  }
#dialog {
  display:none;
}


.product-search-header {
    width:100%;
    }
  .product-search-header th {
      text-align:left;
  }

.product-search-header, .advanced-search-results {
  font-size:0.875em;
}
.advanced-search-results {
    color:#666;
    width:100%;
}
.advanced-search-results td, .product-search-header th {
    padding:16px 0;
}
.advanced-search-results tr {
    border-bottom: 1px solid #ccc;
}
  .advanced-search-results tr:nth-child(odd) {
      background-color:#f8f8f8;
  }
.scrollable-data {
  overflow-y:auto;
  border-bottom:1px solid #ccc;
  border-top:1px solid #ccc;
  margin-bottom:13px;
}
.product-search-header .checkbox-4 {
    text-align:center;
}
.checkbox-4 {
    width:4%;
    text-align:center;
}
.product-15 {
    width:15%; 
}
.product-family-category-19 {
    width:19%; 
}
.pricelist-12 {
    width:12%; 
}
.charge-type-16 {
    width:16%; 
}

/* paging controls */
.data-controls {
  padding:0 20px;
  font-size:0.875em;
}
.top-data-controls {
  border-top:1px solid #ccc;
  border-bottom:1px solid #ccc;
  margin-top:0;
}
.commands {
  float:left;
  padding-top:9px;
}
  .commands .btn {
    width: 93px;
    color:#fff;
    margin-right:7px;
  }
  .commands .disabled {
    background-color: #b4bcc4;
  }
.btn {
  box-sizing: border-box;
  border-radius: 3px;
  padding: 9px 20px;
  font-weight:bold;
  font-size:0.875em;
}
  .cancel {
      background-color:#647687;
  }
  .select-active {
      background-color:#4bc077;
  }
  a.select:hover, a.cancel:hover {
      background-color:#379965;
  }
  .select {
      color:#64b182;
      background-color:#a6e0b8;
      font-weight:bold;
  }
.paging { 
  float:right;
  font-weight:700;
  color:#5E5E5E;
  padding:10px 0;
}
  .numbering a {
    color:#5E5E5E;
  }
  .numbering a:hover {
    color:#2A94D7;
  }

  .paging .disabled {
    color:#aeaeae;
  }
  .paging .numbering a {
    padding:5px 9px;
  }
  .paging .numbering .active {
    background-color:#e4e4e4;
    border-radius:3px;
  }
.paging-status {
  color:#a1a1a6;
    float:left;
    }
    .clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}
.field-half-width .field {
  float: left;
  margin-right:10px;
}
.field-half-width .field input {
  width: 125px !important;
  min-width:125px !important;
}
.benefit-dimensions div.field {
  float:left;
  margin-right:10px;
}
.circle-btn {
  border-radius:50% !important;
  text-align:center !important;
  cursor:pointer !important;
  width: 20px !important;
  height: 20px !important;
  font-size: 0.875em !important;
}
.cancel-btn {
  float:left;
  color:#fff;
  background-color:#c9c9c9 !important;
}
  .cancel-btn:hover {
  background-color:#ff0000 !important;
}

.add-btn {
  float:left;
  width:17px !important;
  height:17px !important;
  color:#00d031 !important;
  background-color:#fff !important;
  border:dotted 2px #c9c9c9 !important;
}
.add-btn:hover {
  color:#fff !important;
  background-color:#00d031 !important;
  border:dotted 2px #00d031 !important;
}
.benefit-dimensions input, .benefit-dimensions select{
  width:150px;
  min-width:inherit !important;
}
  .paging-status span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;      
  }
.advanced-search-container {
  padding:17px 0 20px 20px;
}
  .advanced-search-container .search, .advanced-search-container .search input {
    width:420px;
    height:32px;
  }
  .advanced-search-container .search input {
    margin:0;
  }
  .advanced-search-container .search .spy-glass {
    top:6px;
  }

/* modal popup styling */
.advanced-search {
  background-color:#fff;
}
.advanced-search-outer-cont {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* jquery modal popup overrides */
.ui-widget {
  font-size: inherit;
  font-family: inherit;
}
.ui-menu .ui-menu-item {
  width:initial; 
}
.ui-dialog-content .circle-btn {
  position: absolute;
  display:inline-block;
}
.ui-dialog-content .modal-dialog-close i {
  position:initial;
}

.ui-widget-header {
  border: none!important;
  background: none!important;
}
.ui-dialog .ui-dialog-content {
  padding: 0!important;
}
.ui-dialog {
  padding: 0!important;
}
.ui-dialog .ui-dialog-titlebar {
  padding:0!important;
}
.ui-dialog .ui-dialog-content {
  overflow: hidden!important;
}
.ui-dialog .ui-dialog-title {
  margin: 0!important;
  height:0!important;
}
span.ui-dialog-title {
  display:none;
}

.modal-dialog-close {
  width: 22px;
  height: 22px;
  position: absolute;
  color: #999;
  background-color: #e4e4e4;
  right: 12px;
  top:10px;
}
.modal-dialog-close:hover {
  color: #fff;
  background-color: #079CCE;
}

.modal-dialog-close i {
  font-size: 14px;
  position: absolute;
  top: 4px;
  left: 5px;
    }

.benefit-summary {
  width:1088px;
  margin-top:18px;
  color: #666;
}
  .benefit-summary tr {
    background-color:#F8F8F8;
  }
  .benefit-summary tbody tr:hover, .benefit-summary tbody tr.selected {
    background-color:#CCFFCC;
    cursor:pointer;
  }
  .benefit-summary th {
    text-align:left;
    font-size: 0.875em;
    font-weight: bold;
    background-color:#F8F8F8;
    border-bottom:solid 1px #E4E4E4;
  }
  .benefit-summary tbody tr td, .benefit-summary thead tr th {
    padding:10px 15px;
  }
  .benefit-summary .line-number {
    width:7%;
  }
  .benefit-summary .benefit-product {
    width:22%;
  }
  .benefit-summary .benefit-type {
    width:17%;
  }
  .benefit-summary .price-matrix {
    width:18%;
  }

/* validation and error messaging */
.is-required, .required {
  border-left:solid 4px #c06057;
}
.required, .fa-exclamation-circle, .section-error h4 {
  color:#c06057;
}
.required, .section-error {
  background-color:#F6E4E4;
}
.required {
  border:solid 1px #c06057;
}
.field .fa-exclamation-circle {
  position: absolute;
  top: 30px;
  right:-20px;
}
.section-error {
  border-top:solid 1px #c06057;
  border-bottom:solid 1px #c06057;
  padding: 0.7em 2.813em;
}
  .section-error span {
    color:#666666;
    font-size: 0.875em;
  }
  .section-error h4 {
    font-size: 1em;
    font-weight: normal;
    margin-bottom: 0.3em;
    margin-top:0;
  }
.field.checkbox {
  height: 20px;
}
.field.checkbox {
  height: 20px;
}


/* coupons page */

.coupon-control-container {
  overflow: auto;
}

.command-buttons.coupon {
  float: left;
}

.command-buttons.coupon li, .command-buttons.coupon a {
    padding: 12px 0;
}

.command-buttons.coupon a {
    color: #fff;
    background-color: #2a94d7;
    padding-left: 20px;
    padding-right: 20px;
}

.command-buttons.coupon li a:hover {
    background-color: #1c78b1;
}

.coupon-control-container .search {
  float: right;
}

.inner-container.coupon .quantity {
  float: left;
  width: 100px;
  margin-right: 10px;
}

/* base table styling */
.datatable {
  border: solid 1px #e4e4e4;
  border-radius: 5px;
  color: #666;
  border-collapse: separate; 
  border-spacing: 0; 
  padding: 0; 
  margin: 0;
}
  .datatable tbody tr td, .datatable thead tr th {
    padding-left:15px;
    padding-right:15px;
  }
  .datatable tbody tr td {padding: 5px 7px; height:30px;}
  .datatable thead tr th {padding: 10px 7px 5px 7px; height:30px;}
  .datatable thead tr.last-head-row th {padding: 0px 7px 7px 7px;}
  .datatable {
    background-color: #F8F8F8;
  }
  .datatable tbody tr:hover, .datatable tbody tr.selected {
    background-color: #CCFFCC;
    cursor: pointer;
  }
  .datatable th {
    text-align: left;
    font-size: 0.875em;
    font-weight: bold;
  }
  .datatable .last-head-row th {
    border-bottom: solid 1px #E4E4E4;
  }
  .datatable .search .spy-glass {
    top: 5px;
  }
  .datatable .last-head-row input[type="text"], .datatable .last-head-row select {
    font-size: initial;
    font-weight: normal;
  }

/* coupons table */
table.coupon { 
  width: 1077px;
  margin-top: 10px;
}
  
  table.coupon .command-buttons.coupon li, table.coupon .command-buttons.coupon a {
    padding: 7px 0;
  }
  table.coupon .command-buttons.coupon a {
    padding-left: 20px;
    padding-right: 20px;
  }
  table.coupon input[type="text"], table.coupon select, table.coupon .multi-select-widget {
    width: 100%;
  }
  table.coupon input[type="text"] {
    height: 26px;
  }
  table.coupon select {
    height: 30px;
  }
  .coupon .check-box {
    width: 2%;
  }
  .coupon .line-number {
    width: 4%;
  }
  .coupon .code {
    width: 13%;
  }
  .coupon .status {
    width: 7%;
  }
  .coupon .active {
    width: 6%;
  }
  .coupon .start-date {
    width: 11%;
  }
  .coupon .end-date {
    width: 10%;
  }
  .coupon .assignee-type {
    width: 14%;
  }
  .coupon .assignee {
    width: 21%;
  }

/* limits page table */
table.benefit-limits { 
  width: 1080px;
  margin-top: 10px;
}
  .benefit-limits .line-number {
    width: 7%;
  }
  .benefit-limits .limit-applied-to {
    width: 20%;
  }
  .benefit-limits .metric {
    width: 26%;
  }
  .benefit-limits .limit-value-type {
    width: 21%;
  }
  .benefit-limits .limit-value {
    width: 13%;
}

.rollup-group-by-params { width: 470px; margin-top:20px;}
.rollup-group-by-params > thead > tr > th:nth-child(1) { width: 4%;}
.rollup-group-by-params > tbody > tr > td:nth-child(1) {
    font-size: 14px;
    color: #666;
    font-weight: bold;
}
.rollup-group-by-params > thead > tr > th:nth-child(2) { width: 31%;}
.rollup-group-by-params > thead > tr > th:nth-child(3) { width: 30%;}
.rollup-group-by-params input { height:29px; }
.rollup-group-by-params select { height:34px; }
.rollup-group-by-params textarea, .rollup-group-by-params select {
    margin-top: 7px;
}

.simple-data-table input, .simple-data-table select {
    width:100%;
    margin-top: 5px;
    font-size: 0.875em;
    text-indent: 5px;
}

.simple-data-table th {
    text-align: left;
    font-size: 14px;
    color: #666;
    font-weight: bold;
}
.simple-data-table tbody tr td {
    padding: 0px 10px 5px 0;
}
.simple-data-table .cancel-btn {
    color: #fff;
    background-color: #c9c9c9;
    margin-right: 10px;
  }
.field .multi-select-widget {
	position: relative;
	border: solid 1px #ddd;
	font-size: 1.2em;
	display: table;
}

td .multi-select-widget {
	position: relative;
	border: solid 1px #ddd;
	font-size: 1.2em;
	display: table;
}

.initial-item .close {
	color: #fff;
	font-weight: normal;
	text-align: right;
}

.initial-item .available-item {
	display: table-cell;
	padding: 8px 8px 8px 0px;
	text-indent: 0.5rem;
}

.field .checkbox-override {
	margin-top: 10px;
	margin-bottom: 34px;
}

input#fieldContentsId {
	height: 36px;
}

.multi-select-widget .ui-autocomplete-input{
	height: 100%;
}

#section-basic-actions .multi-select-widget input[type="text"] {
	width: 200px !important;
	margin-top: 0;
	height: 36px;
}

.criteria a.cancel-btn i.fa-times {
	margin-top: 5px;
}

.criteria .cancel-btn {
	margin-top: 2px;
}