
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Roboto');

//TODO: Have to clean up styles here and throughout the project, most of the classes are redundant
/* @font-face {
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 400;
      src: url("/fonts/robotoregular.ttf")format("ttf");
} */

*:focus {
    outline: none;
    border: 0;
}

.box-frame {
    /*   margin-top: 20px;
    padding: 5px; */
    box-sizing: border-box;
    height: 73px;
    border: 1px solid #e7e7ea;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(37, 49, 66, 0.18);
}

.box-frame input {
    height: 24px;
    color: #6d707d;
    font-size: 14px;
    line-height: 24px;
    margin: 24px;
}

.box-label {
    height: 20px;
    color: #5b5f72;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.34px;
    line-height: 20px;
}

.tab-box-frame {
    height: 20px;
    color: #323232;
    font-size: 14px;
    letter-spacing: 0.4px;
    line-height: 20px;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
}

input,
select {
    color: $form-field-color;
}

select {
    border: none;

    border-bottom: $form-field-color 1px solid;
}

.mat-tab-group {
    width: 100%;
    padding: 10px;
}

.seqcell {
    //have to include !important can remove it once figure out how this flex style is overwritten else where
    flex: 0 0 75px !important;
}

.objcell {
    flex: 0 0 250px;
}

/*.mat-tab-label-active
{
    border-bottom: 2px solid $active-field-color;
    color: $active-field-color;
    font-weight: bold;
 }*/

.mat-cell {
    //have to include !important can remove it once figure out how this color style is overwritten else where
    color: $form-field-color !important;
    padding: 10px;
}
.mat-header-row {
    border-bottom-color: $form-field-color;
    border-bottom-width: 2px;
}

.mat-row {
    border: none;
}

.resetstyles {
    all: initial;
}

.mat-select-value {
    display: table-cell;
    align-items: center;
    padding: 2px 2px 1px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    background-color: transparent;
    position: relative;
    box-sizing: content-box;
    min-width: 64px;
    min-height: 26px;
    flex-grow: 1;
}

mat-form-field {
    .mat-select-value {
        border: none;
    }
    width: 100%;
}

.md-input-container .md-block {
    display: block;
}

.md-input-container {
    display: inline-block;
    position: relative;
    padding: 2px;
    margin: 18px 0;
    vertical-align: middle;
}

.layout-row {
    flex-direction: row;
}

.layout-column {
    flex-direction: column;
}

.leftmar {
    margin-left: 100px;
}

.layout,
.layout-column,
.layout-row {
    box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
}

.flex-35,
.layout-row > .flex-35 {
    flex: 1 1 100%;
    max-width: 35%;
    max-height: 100%;
    box-sizing: border-box;
}

.title-bar {
    padding-left: 0px;
}

.mat-table {
    display: table !important;
    width: 100%;
    > .mat-header-row,
    > .mat-row {
        display: table-row;
        padding: 0;
        border: 0px;
        > .mat-header-cell {
            color: #5b5f72 !important;
            border-bottom: 4px solid rgba(0, 0, 0, 0.12);
        }
        > .mat-header-cell,
        > .mat-cell {
            display: table-cell;
            height: 48px;
            vertical-align: middle;
        }
        > .mat-header-cell {
            height: 20px;
            color: #5b5f72 !important;
            font-size: 12px;
            font-weight: 500;
            letter-spacing: 0.34px;
            line-height: 20px;
            padding: 2px 4px;
        }
        > .mat-cell {
            height: 24px;
            color: #6d707d !important;
            font-size: 14px;
            line-height: 24px;
            .mat-select-arrow {
                color: #0000008a !important;
            }
        }
        > .mat-cell.custom-input {
            width: 188px;
            height: 24px;
            color: #6d707d !important;
            font-size: 14px;
            line-height: 24px;
        }
    }
}

.mat-tab-label {
    opacity: 1 !important;
    font-family: "Roboto";
    margin: 10px 0px;
    padding: 0 20px;
}

.mat-tab-label-active {
    color: $blue-darken-1 !important;
    .mat-tab-label-content {
        color: $blue-darken-1 !important;
    }
}

.mat-tab-group.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus {
    background-color: $white !important;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: $blue-darken-1 !important;
    border-bottom: 2px solid $blue-darken-1 !important;
}

.full-width {
    min-width: 100%;
    width: 100%;
    display: table;
}

div.scrollable-y {
    max-height: -webkit-fill-available;
}

ul.collayout {
    float: left;
    list-style-type: none;
    display: table;
    -webkit-padding-start: 0;
}

/* ul.collayout li {
    float: left;
    padding-left:0px;
    padding-right: 100px;
}
ul.collayout li:last-child {
     float: left;
     padding-left:100px;
     padding-right: 0px;
} */
ul.collayout li {
    float: left;
    padding-left: 0px;
    padding-right: 64px;
}

.ands-icons {
    cursor: pointer;
}

/* Absolute Center Spinner */
.loading-indicator {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Transparent Overlay */
.loading-indicator:before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.slide-toggle.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: $white;
}

.slide-toggle.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: #0079cc;
}

/*
    CSS Changes for OM Lightning look and feel - Customer Purchase Order
*/

html {
    font-family: "Salesforce Sans", Arial, sans-serif !important;
}

html body.sfdcBody {
    font-family: "Salesforce Sans", Arial, sans-serif !important;
    padding: 0px;
}

body.sfdcBody .header .header-title h4 {
    margin-top: 20px;
}

a.header-logo {
    display: none !important;
}

.header-title h4:first-of-type {
    display: none;
}

body.vf-body,
body.sfdcBody,
.slds-vf-scope.vf-body,
.slds-vf-scope.sfdcBody {
    padding: 0rem 0rem 0;
}

.header {
    color: #080707;
    height: 58px;
    padding: 1rem;
    border-bottom: 1px solid #dddbda;
    border-radius: 0.25rem;
    background: #f3f2f2;
    background-clip: padding-box;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #dddbda;
    align-items: initial;
    z-index: 1;
}

.header .header-title {
    background: #f3f2f2;
    color: #080707;
}

.header .header-title h4 {
    font-size: 18px;
    color: #080707;
    margin-top: 40px;
    padding-left: 0rem;
    margin-left: 0rem;
    font-family: "Salesforce Sans", Arial, sans-serif !important;
}

.title-bar.sub-header {
    height: auto;
    background-color: transparent;
    -webkit-box-shadow: 0 0px 0px 0 rgba(50, 65, 83, 0.18);
    box-shadow: 0 0px 0px 0 rgba(50, 65, 83, 0.18);
    position: fixed;
    width: calc(100% - 130px);
    top: 43px;
    left: 83px;
    z-index: 2;
    padding-left: 0px !important;
}

.sub-header .material-icons {
    font-family: "Salesforce Sans", Arial, sans-serif !important;
}

.approval-admin .main-content {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: #fff;
    margin-top: 36px;
}

.sub-header a,
.sub-header span#process-main-header-title {
    font-size: 13px;
}

.align-btn-right {
    top: -18px;
    right: -10px;
}

.btn.primary,
button.primary {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    border: 1px solid #dddbda;
    transition: border 0.15s linear;
    background: #0070d2;
    border-color: #0070d2;
    border-radius: 0.25rem;
    font-weight: normal;
}

.btn.primary:hover,
button.primary:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #0265bb;
}

.highlights-icon-container {
    border-radius: 0.25rem;
    margin-top: 34px;
}

.slds-m-right_small img {
    width: 2.5rem;
    height: 2.5rem;
    fill: #fff;
    border-radius: 0.25rem;
}

.approval-admin .main-content .left-panel {
    margin-top: 80px;
    width: 340px;
    -webkit-box-shadow: 0 0px 0px 0 rgba(50, 65, 83, 0.18);
    box-shadow: 0 0px 0px 0 rgba(50, 65, 83, 0.18);
    border-right: 1px solid #dddbda;
    background: #f3f2f2;
    border-right-width: 0px;
}

.approval-admin .main-content .left-panel .cardMainWrapper .list-selection .list-view .process-details {
    width: 250px;
}

.approval-admin .main-content .left-panel .cardMainWrapper .list-selection .list-view .process-details .process-label {
    width: 250px;
}

.list-selection-active span {
    color: #006dcc !important;
}

.mat-row:hover {
    background-color: #f3f2f2;
}

.btn,
button {
    border-radius: 0.25rem;
}

.btn.secondary,
button.secondary {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    border: 1px solid #dddbda;
    transition: border 0.15s linear;
    border-color: #dddbda;
    background-color: #fff;
    border-color: #0070d2;
    border-radius: 0.25rem;
    color: #0070d2;
    font-weight: normal;
}

.btn.secondary:hover,
button.secondary:hover,
.btn.flat:hover,
button.flat:hover {
    background-color: #f4f6f9;
    box-shadow: none;
}

.btn:hover,
button:hover {
    -webkit-box-shadow: 0 0px 0px 0 rgba(50, 65, 83, 0.5);
    box-shadow: 0 0px 0px 0 rgba(50, 65, 83, 0.5);
    background-color: #f4f6f9;
}

.btn.flat,
button.flat {
    background-color: #fff;
    color: #0079cc !important;
    background: #fff;
    height: 36px;
    border-radius: 0.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    border: 1px solid #dddbda;
    transition: border 0.15s linear;
    border-color: #dddbda;
    font-weight: normal;
}

/* Avatar */

.slds-avatar {
    width: var(--lwc-squareIconMediumBoundary, 2.5rem);
    height: var(--lwc-squareIconMediumBoundary, 2.5rem);
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    border-radius: var(--lwc-borderRadiusMedium, 0.25rem);
    line-height: var(--lwc-lineHeightReset, 1);
    font-size: var(--lwc-fontSizeHeadingSmall, 0.875rem);
    color: var(--lwc-colorTextInverse, rgb(255, 255, 255));
    float: left;
    margin-right: 18px;
    margin-top: 33px;
}

.slds-avatar img {
    max-width: 100%;
    height: auto;
}

/*Left Section */

.approval-admin .sticky-section {
    top: 0px;
    width: 339px;
    border-right: 1px solid #dddbda;
    height: 87px;
    z-index: 0;
}

.approval-admin .sticky-section .filter-section {
    padding: 0 16px;
}

.approval-admin .sticky-section #filForRules {
    height: 32px;
    width: 300px;
    color: #333;
    line-height: 32px;
}

.approval-admin .main-content .left-panel {
    margin-top: 88px;
    height: calc(100vh - 200px);
    width: 340px;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #f3f2f2;
    border-right-width: 0px;
}

.approval-admin .main-content .left-panel .cardMainWrapper .list-selection {
    height: 68px;
    width: 339px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-right: 1px solid #dddbda;
    background-color: transparent;
}

.approval-admin .main-content .left-panel .cardMainWrapper .list-selection .list-view .process-details,
.approval-admin .main-content .left-panel .cardMainWrapper .list-selection .list-view .process-details .process-label {
    width: 315px;
}

.approval-admin .main-content .left-panel .cardMainWrapper {
    border-right: 1px solid #dddbda;
    border-bottom: 1px solid #dddbda;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-right-width: 0px;
}

.approval-admin .main-content .left-panel .cardMainWrapper .list-selection .list-view {
    width: 290px;
    height: 100%;
    border-left: 0px solid #fff;
    padding: 8px 0 0 16px;
}

.approval-admin .main-content .left-panel .cardMainWrapper .list-selection.list-selection-active {
    background-color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-right-color: #fff;
}

.approval-admin .main-content .left-panel .cardMainWrapper .list-selection.list-selection-active .list-view {
    border-left: 0px solid #0079cc;
}

.approval-admin .main-content .left-panel .cardMainWrapper .list-selection:hover .list-view {
    border-left: 0px solid #0079cc;
}

.approval-admin .main-content .left-panel .cardMainWrapper .list-selection:hover {
    background-color: #dddbda;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.approval-admin .main-content .left-panel .cardMainWrapper .list-selection .list-view .process-name {
    height: 26px;
    width: 270px;
}

.approval-admin .main-content .left-panel .cardMainWrapper .list-selection .list-view .process-details .process-status {
    border-radius: 100%;
    margin: 0px;
    margin-right: 10px;
    margin-top: -25px;
    height: 12px;
    width: 12px;
}

.approval-admin .main-content .admin-process-detail {
    margin: 0px;
    height: calc(100vh - 100px) !important;
}

.approval-admin .main-content .admin-process-detail .process-details .process-action-buttons {
    padding: 10px 40px;
    border-bottom: 1px solid #dddbda;
}

.approval-admin .main-content .admin-process-detail .process-details .process-action-buttons h4 {
    margin: 10px 0;
    height: 21px;
    font-size: 18px;
    line-height: 23px;
    font-family: "Salesforce Sans", Arial, sans-serif !important;
}

/* Summary Area */

.summary-brief {
    height: 75px;
    width: 49%;
    float: left;
}

.process-summary {
    padding-left: 40px;
    height: 75px;
    border-bottom: 1px solid #dddbda;
}

.popup-step-content .section-scroll .section-content,
.process-summary .section-content {
    padding: 0;
}

.approval-admin
    .main-content
    .admin-process-detail
    .process-details
    .process-summary
    .section-content.summary-brief
    > div {
    margin-left: 0px;
    margin-top: 10px;
}

/* Tabs */

.approval-admin .main-content .admin-process-detail .process-details .tab-section {
    padding-top: 20px;
}

.approval-admin .main-content .admin-process-detail .process-details .tab-section .mat-tab-label {
    height: unset;
}

.mat-tab-label-container {
    margin-left: 40px;
}

.mat-tab-label,
.mat-tab-link {
    font-family: "Salesforce Sans", Arial, sans-serif !important;
    font-variant: normal !important;
}

.mat-tab-label-active,
.mat-tab-label-content {
    color: #000 !important;
    font-weight: 600;
}

.section-content {
    padding: 2px 40px 10px;
}

/* Table */

.mat-table {
    font-family: "Salesforce Sans", Arial, sans-serif !important;
    border-bottom: 1px solid #dddbda;
    width: 100%;
    margin-bottom: 10px;
}

.mat-header-row {
    min-height: unset;
}

.mat-table > .mat-header-row > .mat-header-cell,
.mat-table > .mat-row > .mat-header-cell {
    border-bottom: 0px solid rgba(0, 0, 0, 0.12);
    height: unset;
    color: #514f4d !important;
    font-size: 14px;
    font-weight: 700;
    line-height: unset;
    padding: 0.5rem;
    background-color: #fafaf9;
}

.mat-table > .mat-header-row > .mat-cell,
.mat-table > .mat-row > .mat-cell {
    border-top: 1px solid #dddbda;
    height: unset;
    color: #080707 !important;
    font-size: 14px;
    line-height: unset;
}

.mat-row {
    min-height: unset;
}

.mat-cell {
    color: #9c9ea8 !important;
    padding: 0.5rem;
}

/* Popup */

.admin-popup-section .popup-content {
    background-color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 2px solid #dddbda;
    height: calc(100vh - 68px);
}

/* Steps */

.admin-popup-section .progress-section {
    background-color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-right: 1px solid #dddbda;
    overflow: auto !important;
}

.admin-popup-section .progress-section #approval-setup-progress li.completed .relative .material-icons.check-circle {
    font-size: 14px;
    left: -12px;
    color: #5eb4ff;
    border: 4px solid #fff;
    background: #fff;
}

.admin-popup-section .progress-section #approval-setup-progress li.active .relative .material-icons.active-circle {
    box-shadow: 0 0 0 4px #fff;
    color: #fff;
    border: 4px solid #1589ee;
    border-radius: 50%;
    font-size: 8px;
    background: #fff;
}

.admin-popup-section .progress-section #approval-setup-progress li.active .relative .material-icons {
    left: -9px;
    top: -12px;
}

.admin-popup-section .progress-section #approval-setup-progress li .relative .circle {
    top: -2px;
    left: -9px;
    width: 9px;
    height: 9px;
    background: #dddbda;
    border: 4px solid #fff;
}

.admin-popup-section .progress-section #approval-setup-progress li {
    height: 45px;
    border-left: 2px solid #dddbda;
}

.admin-popup-section .progress-section #approval-setup-progress li .relative label {
    color: #080707;
}

/* Steps Details Section */

.admin-popup-section .popup-content .popup-step-content {
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0px 24px 0;
    height: calc(100%-35px);
}

.step-header {
    height: unset;
    color: #080707;
    line-height: unset;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 1.25;
    border-bottom: 1px solid #dddbda;
    display: block;
    padding: 20px 0px;
}

.box-frame {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 76px;
    border: 1px solid #e7e7ea;
    border-radius: 3px;
    background-color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: rgba(21, 137, 238, 1);
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: rgba(21, 137, 238, 0.5);
}

input,
select,
.mat-option-text,
.mat-form-field-label,
.mat-hint,
.mat-error,
.box-label,
.tab-box-frame {
    font-family: "Salesforce Sans", Arial, sans-serif !important;
}

.admin-popup-section .popup-footer {
    padding: 10px 24px;
    width: 100%;
    background-color: #f3f2f2;
    text-align: right;
}

mat-row.mat-row.ng-star-inserted {}html{
    overflow: unset !important;
}

button, .btn {
    font-family: "Salesforce Sans",Arial,sans-serif!important;
    font-size: 13px !important;
}

.admin-popup-section .popup-content .step-header {
    position: fixed;
    background: #fff;
    width: 100%;
    top: 0px;
}

.popup-step-content {
    margin-top: 80px;
}