$global-header-bgcolor: #314154;
$title-color: #314154;
$summary-field-subLabel: #c8cace;
$success-color: #349d2a;
$danger-color: #ad1c3b;
$warning-color: #FFEE7A;
$primary-btn-color: #3ba1d9;
$mobile-breakpoint : '960px';
$mobile-sm-breakpoint : '400px';
$gray-background-color: #f6f6f7;
$form-field-color:#9c9ea8;
$active-field-color: #0079CC;
$border-color:rgba(0,0,0,.12);

/* ==========================================================================
   Colors
   ==========================================================================
*/


$yellow: #FDE561;

$orange: #FB6426;

$red: #E9003A;
 
$blue-darken-1:#0079CC;
$blue-darken-2:#0077c5;
$blue: #4DB2DE;
$blue-lighten-1:#8BCCE9;
$blue-lighten-2:#B4D6E4;
$blue-lighten-3:#3C9CC3;
$blue-lighten-5:#f1fafd;

$purple: #653E8F;

$grey-darken-9: #505766;
$grey-darken-8: #404a59;
$grey-darken-7: #8d8787;
$grey-darken-6: #a6a6a6;
$grey-darken-5: #595959;
$grey-darken-4: #324153;
$grey-darken-3: #43505F;
$grey-darken-2: #525D6C;
$grey-darken-1: #636B79;
$grey: #80848F;
$grey-lighten-1: #ACAEB6;
$grey-lighten-2: #D2D4D7;
$grey-lighten-3: #ECECEE;
$grey-lighten-4: #F8F8F9;
$grey-lighten-5: #ddd;
$grey-lighten-6: #9c9ea8;
$grey-lighten-7: #ccc;
$grey-lighten-8: #fafafa;
$grey-lighten-9: #DEDEDE;



$white: #ffffff;

$green: #008000;

$black:#000;
$black-1: #323232;