<div class="pagination" ng-if="1 < pages.length || !autoHide">
        <a href="" ng-if="boundaryLinks" ng-class="{ disabled : pagination.current == 1 }" ng-click="setCurrent(1)">&laquo;</a>

        <a href="" ng-if="directionLinks" ng-class="{ disabled : pagination.current == 1 }" ng-click="setCurrent(pagination.current - 1)">Previous</a>

        <a href=""
           ng-repeat="pageNumber in pages track by tracker(pageNumber, $index)"
           class="numbering"
           ng-class="{ active : pagination.current == pageNumber, disabled : pageNumber == '...' }" ng-click="setCurrent(pageNumber)">{{ pageNumber }}</a>

        <a href="" ng-if="directionLinks" ng-class="{ disabled : pagination.current == pagination.last }" ng-click="setCurrent(pagination.current + 1)">Next</a>

        <a href="" ng-if="boundaryLinks"  ng-class="{ disabled : pagination.current == pagination.last }" ng-click="setCurrent(pagination.last)">&raquo;</a>
</div>