
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Roboto');

//TODO: Have to clean up styles here and throughout the project, most of the classes are redundant
html {
    font-family: 'Roboto', sans-serif;    
}

*:focus {
    outline: none;
    border: 0;
}

.box-frame
{
    border: 1px solid $border-color;
    margin-top: 20px;
    padding: 5px;
    border-radius: 5px;
}

body{
    width:100%;
    height:100%;
    margin: 0px;
}

input, select {
    color: $form-field-color;
}
select {

    border:none;
    
    border-bottom:$form-field-color 1px solid;

}
.mat-tab-group
{
    width: 100%;
    padding: 10px;
}
.seqcell
{ //have to include !important can remove it once figure out how this flex style is overwritten else where
    flex:0 0 75px !important;
}

.objcell
{
    flex:0 0 250px;
}

/*.mat-tab-label-active
{
    border-bottom: 2px solid $active-field-color;
    color: $active-field-color;
    font-weight: bold;
 }*/

 .mat-cell
 {  //have to include !important can remove it once figure out how this color style is overwritten else where
     color: $form-field-color !important;
     padding: 10px;
 }
.mat-header-row
{
    border-bottom-color: $form-field-color;
    border-bottom-width: 2px;
}

.mat-row
{
    border: none;
}

.resetstyles
{
    
    all: initial;
    
}

.mat-select-value {
    display: table-cell;
    align-items: center;
    padding: 2px 2px 1px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    background-color: transparent;
    position: relative;
    box-sizing: content-box;
    min-width: 64px;
    min-height: 26px;
    flex-grow: 1;
    font-size: 14px;
}

mat-form-field {
    .mat-select-value { 
        border:none;
    }
    width:100%;
}

.mat-input-container  .mat-block {
    display: block;
}
.mat-input-container {
    display: inline-block;
    position: relative;
    padding: 2px;
    margin: 18px 0;
    vertical-align: middle;
}

.mat-input-container label {
    font-size: 14px;
}
 
.layout-row {
    flex-direction: row;
}
.layout-column {
    flex-direction: column;
}

.leftmar
{
    
    margin-left: 100px
}

.layout, .layout-column, .layout-row {
    box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
}

.flex-35, .layout-row>.flex-35 {
    flex: 1 1 100%;
    max-width: 35%;
    max-height: 100%;
    box-sizing: border-box;
}

.title-bar {
	box-shadow: 0 2px 4px 0 rgba(50, 65, 83, 0.38);
	background:$white;
    padding:0 1.5rem;
    position:relative;
    display:flex;
    align-items:center;
    justify-content:last baseline
}

.mat-table {
    display: table !important;
    width: 100%;
    > .mat-header-row, > .mat-row {
        display: table-row;
        padding: 0;
        border:0px;
        > .mat-header-cell {
            border-bottom: 4px solid rgba(0, 0, 0, 0.12);
        }
        > .mat-header-cell, > .mat-cell {
            display: table-cell;
            height: 48px;
            vertical-align: middle;            
        }
        > .mat-header-cell {
            padding:2px 4px;
        }
        > .mat-cell.custom-input {
                width: 188px;
        }
    }
}

.mat-tab-label-active {
    color: $black-darken-1 !important;
}

.mat-tab-group.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus {
    background-color: $white !important;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: $blue-darken-4 !important;
}
    
.full-width {
    min-width: 100%;
    width:100%;
    display: table;
}

div.scrollable-y {
    max-height:-webkit-fill-available;
}
ul.collayout {
    float: left;
    list-style-type: none;
    display: table;
    -webkit-padding-start: 0;
}

ul.collayout li {
    float: left;
    padding-left:0px;
    padding-right: 100px;
}
ul.collayout li:last-child {
     float: left;
     padding-left:100px;
     padding-right: 0px;
}

.ands-icons {
cursor: pointer;
}

/* Absolute Center Spinner */
.loading-indicator {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  /* Transparent Overlay */
  .loading-indicator:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
  }

  .mat-cell{
    color: black !important;
  }

mat-checkbox.mat-default-theme.mat-checked .mat-ink-ripple, mat-checkbox.mat-checked .mat-ink-ripple {
    color: $white;
} 

.table-header{   
    color: #4a4a4a;
    font-weight: 600;
    width: auto;
    line-height: 32px;
    vertical-align: middle;
    font-size: 14px;
    background-color: #e5e7ef;
    padding: .5rem !important;
}

/*
    Additional CSS Changes for OM Lightning look and feel - Price Agreements
*/

a.color-blue {}mat-cell.mat-cell.cdk-column-Name.mat-column-Name.ng-star-inserted {}mat-cell.mat-cell.cdk-column-Name.mat-column-Name.ng-star-inserted {}.header {
    color: $black-darken-1;
    height: 58px;
    padding: 1rem;
    border-bottom: 1px solid #dddbda;
    border-radius: .25rem;
    background: $grey-lighten-3;
    -webkit-box-shadow: 0 0px 2px 0 rgba(0,0,0,.1) !important;
    box-shadow: 0 0px 2px 0 rgba(0,0,0,.1) !important;
    border: 1px solid #dddbda !important;
    z-index: 1;
}

.header .header-title {
    background: $grey-lighten-3 !important;
}

.header .header-title h4 {
    color: $black-darken-1 !important;
    font-family: "Salesforce Sans",Arial,sans-serif !important;
    font-size: 18px !important;
    margin-left: 0px!important;
    padding-bottom: 0px!important;
    padding-left:unset !important;
    margin-bottom:unset !important;
    margin-top:48px !important;
}

.mat-toolbar ol li {
    margin-left: 0em !important;
}

.line-items-container .mat-toolbar .align-items .breadcrumb {
    background-color: transparent !important;
    left: 44px !important;
    top: unset !important;
}

.sub-header .material-icons {
    font-family: "Salesforce Sans",Arial,sans-serif!important;
}

.line-items-container .mat-toolbar .align-items .breadcrumb>.active, .line-items-container .mat-toolbar .align-items .breadcrumb>li>a {
    color: $active-field-color !important;
    text-decoration: none;
    font-family: "Salesforce Sans",Arial,sans-serif !important;
    font-size: 13px;
}

.line-items-container .home-icon {
    top: 0px !important;
    position: relative !important;
    text-decoration: none !important;
    text-transform: capitalize !important;
}

.line-items-container .mat-toolbar .align-items .breadcrumb .proposalId {
    font-family: "Salesforce Sans",Arial,sans-serif !important;
    font-size: 13px !important;
    cursor: default !important;
    color: $black-lighten-1 !important;
}

.line-items-container .mat-toolbar .align-items .breadcrumb .proposalId:hover {
    text-decoration: none !important;
}

a.home-icon:hover, .mat-figure a:hover {
    text-decoration: underline !important;
}

.slds-avatar {
    width: var(--lwc-squareIconMediumBoundary,2.5rem);
    height: var(--lwc-squareIconMediumBoundary,2.5rem);
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    border-radius: var(--lwc-borderRadiusMedium,.25rem);
    line-height: var(--lwc-lineHeightReset,1);
    font-size: var(--lwc-fontSizeHeadingSmall,.875rem);
    color: var(--lwc-colorTextInverse,#fff);
    float: left;
    margin-right: 18px;
    margin-left: 15px !important;
    margin-top: 65px !important;
}

slds-avatar img {
    max-width: 100%;
    height: auto;
}

.slds-m-right_small img {
    width: 2.5rem;
    height: 2.5rem;
    fill: $white;
    border-radius: .25rem;
}

a.header-logo {
    display: none!important;
}

.header-title h4:first-of-type {
    display: none;
}

.purchase-order-list-container {
    max-height: calc(100% - 92px) !important;
    height: calc(100% - 92px) !important;
    width: 100%!important;
    position: unset;
    top: unset;
    padding: unset !important;
}

.purchase-order-list-container .table-container {
    border: 0px solid #dedede;
    border-top: 1px solid #dddbda;
    border-width: 1px 0px 0px !important;
}

.mat-table {
    font-family: "Salesforce Sans",Arial,sans-serif !important;
    border-bottom: 1px solid #dddbda;
    width: 100%;
    margin-bottom: 10px;
}

.mat-header-row {
    min-height: unset;
}

.mat-row {
    min-height: unset;
}

.mat-table > .mat-header-row > .mat-header-cell, .mat-table > .mat-row > .mat-header-cell {
    border-bottom: 0 solid rgba(0,0,0,.12) !important;
    height: unset !important;
    color: $grey-darken-6!important;
    font-size: 13px !important;
    font-weight: 700 !important;
    line-height: unset !important;
    padding: .2rem .5rem !important;
    background-color: $grey-lighten-2 !important;
}

.mat-sort-header-container {
    font-family: "Salesforce Sans",Arial,sans-serif !important;
    font-size: 13px !important;
    font-weight: 700 !important;
}

.mat-sort-header-button {
    height: unset !important;
    font-size: 13px !important;
    font-weight: bold;   
}

mat-header-cell>span:nth-child(2) {
    float: right !important;
    margin-right: 10px !important;
    margin-top: 3px !important;
}

.mat-sort-header-arrow {
    margin: 7px 0 0 5px!important;
}

.mat-table > .mat-header-row > .mat-cell, .mat-table > .mat-row>.mat-cell {
    font-family: "Salesforce Sans",Arial,sans-serif !important;
    border-top: 1px solid #dddbda !important;
    height: unset !important;
    color: $black-darken-1!important;
    font-size: 13px !important;
    line-height: unset !important;
}

.purchase-order-list-container .mat-cell {
    line-height: unset;
    font-size:13px !important;
}

.mat-cell {
    padding: .5rem;
    font-size: 13px !important;
}

.mat-cell a {
    color: $blue-darken-3 !important;
    text-decoration: none;
}

.mat-cell a:hover {
    text-decoration: underline;
}

.mat-row:hover {
    background-color: $grey-lighten-3;
}

.mat-option, .mat-radio-button, .mat-select, mat-form-field {
    font-family: "Salesforce Sans",Arial,sans-serif !important;
    font-size: 14px;
}

app-agreement-list {
    display: block !important;
    margin:0px 15px !important;
    margin-top: 92px !important;
    width: calc(100% - 30px)!important;
}

.line-items-container .mat-toolbar {
    position: fixed;
    z-index: 3 !important;
    border: 0px solid #dedede !important;
    background-color: transparent !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.line-items-container .mat-toolbar .align-items .align-toolbar-btn {
    float: right !important;
    margin-top: -10px !important;
}

.mat-flat-button.mat-primary {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    vertical-align: middle;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 1px solid #0070d2;
    -webkit-transition: border .15s linear;
    transition: border .15s linear;
    background: $blue-darken-1;
    border-radius: .25rem;
    font-weight: 400;
    font-family: "Salesforce Sans",Arial,sans-serif !important;
    font-size: 13px;
    line-height: 32px;
    height: 32px;
    background-color: $blue-darken-1 !important;
}

.mat-flat-button.mat-accent[disabled], .mat-flat-button.mat-primary[disabled], .mat-flat-button.mat-warn[disabled], .mat-flat-button[disabled][disabled] {
    color: $white !important;
    background-color: $grey-lighten-6 !important;
    border-color: $grey-lighten-6 !important;
}

.btn:hover, button:hover {
    -webkit-box-shadow: unset !important;
    box-shadow: unset !important;
    background-color: unset!important;
    border-color: unset!important;
}

mat-grid-list.detail-header {
    padding: 1rem !important;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.1) !important;
    border: 1px solid #dddbda !important;
    margin-top: 37px !important;
    height: auto !important;
    margin: 55px 0 0!important;
}

.detail-header .mat-grid-tile {
    position: unset;
    width: unset !important;
}

.detail-header .mat-grid-tile .mat-figure {
    padding: 0 !important;
    color: $grey-darken-4;
}

.line-items-container {
    font-family: "Salesforce Sans",Arial,sans-serif !important;
    font-size: 13px;
    top: unset !important;
}

mat-grid-list.detail-header > div > div {
    display: inline-block;
    width: 14%;
}

mat-grid-list.detail-header mat-grid-tile {
    padding: 0 !important;
    padding-top: 5px !important;
}

mat-grid-list.detail-header mat-grid-tile .header-value {
    width: 100%;
    color: $black-darken-1;
    font-weight: 400;
}

.mat-flat-button.mat-primary[disabled], .mat-flat-button.mat-warn[disabled], .mat-flat-button[disabled][disabled] {
    background-color: $grey-lighten-6 !important;
    border-color: $grey-lighten-6 !important;
    color: $white !important;
}

.purchase-order-list-container .container {
    height: 80px !important;
}

.purchase-order-list-container .group-element-container, .group-element-container {
    margin: 0 5px !important;
}

html body.sfdcBody {
    padding: 0px !important;
}

/* Tabs */

.mat-tab-header {
    margin:0px !important;
    margin-top: 5px !important;
}

.mat-tab-label {
    opacity: 1 !important;
    padding: 0 20px !important;
    min-width: 100px !important;
}

.mat-tab-label, .mat-tab-link {
    font-family: "Salesforce Sans",Arial,sans-serif !important;
    font-weight: 700 !important;
}

.mat-ink-bar {
    height: .1875rem;
}

/****/

.purchase-order-list-container .selected-label {
    font-family: "Salesforce Sans",Arial,sans-serif !important;
    font-size: 14px !important;
    letter-spacing: .2px !important;
    height: auto !important;
    width: auto !important;
    margin-top: 25px !important;
    display: block !important;
}

.mat-cell .mat-input-container {
    margin: 0px !important;
}

.mat-cell .mat-icon-button {
    box-shadow: unset !important;
    border-radius: unset !important;
}

/* Date Picker Calendar */

.mat-calendar, .mat-calendar-body-label, .mat-calendar-period-button {
    font-family: "Salesforce Sans",Arial,sans-serif !important;
    font-size: 13px !important;
}

.mat-calendar-header .btn, .mat-calendar-header button {
    box-shadow: unset !important;
}

.mat-calendar-controls {
    margin-top: 0px !important;
}

.mat-calendar-body-selected {
    background-color: $blue-darken-4 !important
}

mat-header-cell > span:first-child {
    display: block;
    width: calc(100% - 23px) !important;
}

.mat-sort-header-container button.mat-sort-header-button {
    width: 100% !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

.mat-sort-header-container:hover button.mat-sort-header-button {
    width: 100% !important;
}

.mat-menu-content {
    padding: 15px !important;
    font-family: "Salesforce Sans",Arial,sans-serif !important;
    font-size: 13px !important;
}

.mat-menu-content .mat-input-container {
    margin: 0px;
}

.mat-menu-content .filter-btn {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    text-align: center !important;
    vertical-align: middle !important;
    justify-content: center !important;
    border: 1px solid #dddbda !important;
    transition: border .15s linear !important;
    background-color: $blue-darken-1 !important;
    border-color: $blue-darken-1 !important;
    color: $white !important;
    font-family: "Salesforce Sans",Arial,sans-serif !important;
    font-size: 13px !important;
    float: right !important;
    display: inline-block !important;
    height: 32px !important;
    box-shadow: unset !important;
}

.mat-menu-content .filter-btn:hover {
    background-color: $blue-darken-5 !important;
    border-color: $blue-darken-5 !important;
}

.mat-menu-content .clear-filter-btn {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    text-align: center !important;
    vertical-align: middle !important;
    justify-content: center !important;
    border: 1px solid #dddbda !important;
    transition: border .15s linear !important;
    background-color: $white !important;
    border-color: $grey-lighten-4 !important;
    color: $blue-darken-1 !important;
    font-family: "Salesforce Sans",Arial,sans-serif !important;
    font-size: 13px !important;
    float: none !important;
    display: inline-block !important;
    height: 32px !important;
    box-shadow: unset !important;
    margin-left: 79px;
}

.mat-menu-content .clear-filter-btn:hover {
    background-color: $grey-lighten-5 !important;
}

.line-items-container .container {
    height: calc(100vh - 40px)!important;
}

.header {
    z-index: 2 !important;
    height: 90px !important;
    padding: 0rem !important;
    border-bottom: 1px solid #dddbda !important;
    border-radius: .25rem !important;
    display: unset !important;
}

.mat-tab-body-content {
    margin: 0 !important;
}

.mat-elevation-z8 {
    -webkit-box-shadow: unset !important;
    box-shadow: unset !important;
}

.table-container {
    border-width: 0px !important;
    border-top-width: 1px !important;
}

/* Config Modal */

.product-configuration-dialog-container .wrapper {
    padding: 0 0 1rem 0 !important;
    font-family: "Salesforce Sans",Arial,sans-serif !important;
}

.dialog-title {
    font-family: "Salesforce Sans",Arial,sans-serif !important;
    font-weight: 300 !important;
    font-size: 1.25rem !important;
    line-height: 1.25 !important;
}

.product-configuration-dialog-container .wrapper p {
    margin: 10px 0px !important;
}

.product-configuration-dialog-container .wrapper .aside-1 .product-name {
    font-size: 16px !important;
    font-weight: 700 !important
}

.product-configuration-dialog-container .label {
    font-weight: unset !important;
}

.product-configuration-dialog-container .accordian-container .accordian-header {
    font-family: "Salesforce Sans",Arial,sans-serif !important;
}

.product-configuration-dialog-container .accordian-container .accordian-child-item-container {
    padding: 0 10px !important;
}

.product-configuration-dialog-container .accordian-container .accordian-child-item-container .wrapper {
    padding-bottom: .4rem !important;
}

.product-configuration-dialog-container .accordian-container {
    font-family: "Salesforce Sans",Arial,sans-serif !important;
    position: relative;
    padding: 0;
    background: $white;
    border: 1px solid #dddbda;
    border-radius: .25rem;
    background-clip: padding-box;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.1);
}

.accordian-container div .accordian {
    border-top: 1px solid #dddbda !important;
    margin-bottom: 0px !important;
}

.accordian-container div:first-child .accordian {
    border-top-width: 0px !important;
}

.accordian-container .accordian-header {
    background-color: $white !important;
    font-size: 16px !important;
    font-weight: normal !important;
}

.accordian-container .accordian-header:hover {
    color: $blue-darken-3 !important;
}

app-price-detail {
    top: 35px !important;
    position: absolute !important;
    width: 100% !important;
}

.mat-tab-group {
    padding: 0px !important;
    margin: 10px 15px 0px !important;
    width: calc(100% - 30px) !important;
}

.group-element-container, .purchase-order-list-container .group-element-container {
    margin: 0!important;
}

.create-order-container {
    margin-top: 0px !important;
}

.purchase-order-list-container .search-items {
    top: 5px !important;
}

.group-element-container .mat-input-container {
    margin: 0px !important;
}

.mat-sort-header-container button.mat-sort-header-button:hover {
    width: 100% !important;
}

.mat-checkbox-layout {
    margin: unset !important;
    line-height: unset !important;
    display: inline-flex !important;
}

.cdk-visually-hidden {
    border: 0 !important;
    height: 1px !important;
    margin: -1px !important;
    width: 1px !important;
    outline: 0 !important;
}

input[type="text"] {
    border: 0px solid rgb(221, 219, 218) !important;
    background-color: unset !important;
}

input[type="text"]:focus, input[type="text"]:active {
    outline: 0 !important;
    border-color: unset !important;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: unset !important;
    box-shadow: unset !important;
}

app-order-list .group-element-container .mat-input-container {
    margin-top: 25px !important;
}

app-order-list .group-element-container .mat-form-field-wrapper {
    padding-bottom: 1.3rem !important;
}

.mat-datepicker-toggle .mat-button-wrapper {
    font-size: 20px !important;
}

.main-container {
    position: relative;
    height: 100% !important;
    top: unset !important;
    padding-top: 90px !important;
}

.main-container .mat-toolbar {
    z-index: 3 !important;
    position: absolute !important;
    background: transparent;
    border-width: 0px !important;
    box-shadow: unset !important;
    top: 24px !important
}

.main-container .mat-toolbar .toolbar-header {
    font-family: "Salesforce Sans",Arial,sans-serif !important;
    font-size: 14px !important;
    margin-left: 66px !important;
    margin-top: 17px !important;
    display: inline-block !important;
}

.main-container .mat-toolbar .mat-button {
    font-family: "Salesforce Sans",Arial,sans-serif !important;
    font-size: 14px !important;
}

.main-container .mat-toolbar .btn.flat, .main-container .mat-toolbar button.flat {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    text-align: center !important;
    vertical-align: middle !important;
    justify-content: center !important;
    border: 1px solid #dddbda !important;
    transition: border .15s linear !important;
    border-color: $grey-lighten-4 !important;
    background-color: $white !important;
    border-radius: .25rem !important;
    line-height: 1.875rem !important;
    height: 32px !important;
    color: $blue-darken-1 !important; 
}

.mat-flat-button.mat-primary:hover {
    background-color: $blue-darken-5 !important;
    border: 1px solid #005fb2 !important;
}

.main-container .mat-toolbar .btn.flat:hover, .main-container .mat-toolbar button.flat:hover {
    background-color: $grey-lighten-5 !important;
}

.title-container *{
    font-family: "Salesforce Sans",Arial,sans-serif !important;
    font-size: 18px !important; 
}

.mat-icon-button {
    border-radius: unset !important;
    box-shadow: unset !important
}

.main-container .sub-container1 .mat-form-field-underline, .main-container .sub-container2 .mat-form-field-underline {
    bottom: 1.5em;
}

.main-container .container .sub-container1 .mat-form-field-suffix .mat-icon-button, .main-container .container .sub-container2 .mat-form-field-suffix .mat-icon-button {
    top: 20px !important;
}

.main-container .header-field {
    margin-bottom: 4px !important;
}

.main-container .sub-container1 .lookup-search, .main-container .sub-container2 .lookup-search {
    top: 45px !important;
}

.main-container .container .title-container {
    width: 800px !important;
}

.main-container .container mat-grid-list.sub-container1, .main-container .container mat-grid-list.sub-container2 {
    width: 800px !important;
}

.main-container .container mat-grid-list.sub-container1 mat-grid-tile, .main-container .container mat-grid-list.sub-container2 mat-grid-tile {
    width: 264px!important;
}

.main-container .container mat-grid-list.sub-container1 .mat-form-field, .main-container .container mat-grid-list.sub-container2 .mat-form-field {
    width: 220px!important;
}

/* Pagination */

.purchase-order-list-container .paginator {
    top: unset !important;
    position: unset !important;
}

.mat-paginator-container {
    align-items: center !important;
    padding: unset !important;
}

.mat-paginator, .mat-paginator-page-size .mat-select-trigger {
    font-family: "Salesforce Sans",Arial,sans-serif !important;
}

.mat-paginator-page-size {
    margin-right: 10px !important;
}

.mat-paginator-page-size-label {
    margin: 0 10px !important;
}

.mat-paginator-range-actions {
    min-height: unset !important;
}

.mat-paginator-page-size-select {
    min-width: 64px !important;
    margin-top: unset !important;
}

.mat-paginator-page-size-select .mat-select-value {
    min-width: 45px !important;
}

.jumpToPageInput {
    position: absolute !important;
    top: unset !important;
    right: 46px !important;
}

.mat-paginator-range-label {
    margin: 0 10px 0 15px !important;
}

.purchase-order-list-container .pageCount {
    right: 0px !important;
    top: 20px !important;
}

/* Order List Tab Pagination */

.mat-tab-body-wrapper .mat-tab-body:last-child .mat-paginator-page-size {
    margin-top: -8px !important;
}

.mat-tab-body-wrapper .mat-tab-body:last-child .mat-paginator-range-actions {
    margin-top: 8px !important;
    margin-right: 26px !important;
}

.mat-tab-body-wrapper .mat-tab-body:last-child .mat-paginator-page-size-select .mat-form-field-wrapper {
    padding-bottom: 1rem!important;
}

.mat-tab-body-wrapper .mat-tab-body:last-child .jumpToPageInput {
    top: -20px !important;
    right: 48px !important;
}

.mat-tab-body-wrapper .mat-tab-body:last-child .pageCount {
    top: 22px !important;
}