$global-header-bgcolor: #314154;
$title-color: #314154;
$summary-field-subLabel: #c8cace;
$success-color: #349d2a;
$danger-color: #ad1c3b;
$warning-color: #FFEE7A;
$primary-btn-color: #3ba1d9;
$mobile-breakpoint : '960px';
$mobile-sm-breakpoint : '400px';
$gray-background-color: #f6f6f7;
$form-field-color:#9c9ea8;
$active-field-color: #0079CC;
$border-color:rgba(0,0,0,.12);

/* ==========================================================================
   Colors
   ==========================================================================
*/


$yellow: #FDE561;

$orange: #FB6426;

$red: #E9003A;
 
$blue-darken-1:#0070d2;
$blue-darken-2:#0077c5;
$blue-darken-3: #0079CC;
$blue-darken-4: #1589ee;
$blue-darken-5: #005fb2;
$blue: #4DB2DE;
$blue-lighten-1:#8BCCE9;
$blue-lighten-2:#B4D6E4;
$blue-lighten-3:#3C9CC3;
$blue-lighten-5:#f1fafd;
$purple: #653E8F;

$grey-darken-9: #4A4A4A;
$grey-darken-8: #a6a6a6;
$grey-darken-7: #8d8787;
$grey-darken-6: #514f4d;
$grey-darken-5: #595959;
$grey-darken-4: #3e3e3c;
$grey-darken-3: #43505F;
$grey-darken-2: #324153;
$grey-darken-1: #404a59;
$grey: #80848F;
$grey-lighten-1: #fafafa;
$grey-lighten-2: #fafaf9;
$grey-lighten-3: #f3f2f2;
$grey-lighten-4: #dddbda;
$grey-lighten-5: #f4f6f9;
$grey-lighten-6: #c9c7c5;
$grey-lighten-7: #ACAEB6;
$grey-lighten-8: #9c9ea8;
$grey-lighten-9: #F1F1F1;
$grey-lighten-10: #CCCCCC;
$grey-lighten-11: #93A1AA;

$black: #323232;

$white: #ffffff;

$green: #6BBF6E;

$black-lighten-1: #333;
$black-darken-1: #080707;