<!--TODO remove DFD specific styling from novaOverrides.css when we are ready to use nova checkbox styling-->
<div md-no-ink
     ng-click="dynamicField.toggleBoolean($event)"
     class="ands-checkbox"
     ng-class="[{'md-checked': dynamicField.getSetModel() === true }, {'required': dynamicField.IsRequired &&
     dynamicField.getSetModel() !== true}]"
     type="checkbox"
     role="checkbox"
     ng-disabled="dynamicField.IsDisabled || !dynamicField.IsEditable"
     aria-checked="{{ dynamicField.getSetModel() === dynamicField.trueValue }}"
     aria-invalid="{{ dynamicField.IsDisabled || !dynamicField.IsEditable }}">
	<div class="md-container" md-ink-ripple="" md-ink-ripple-checkbox="">
		<div class="md-icon"></div>
	</div>
</div>