<!-- fieldType: PICKLIST -->
<ui-select ng-model="dynamicField.selected"
					 theme="select2"
					 ng-init="dynamicField.loadReferenceObjects();"
					 ng-disabled="dynamicField.IsDisabled || !dynamicField.IsEditable"
					 append-to-body="true"
					 class="field--picklist"
					 on-select="dynamicField.onPicklistSelection({'selectElement':$select, 'selectMultiple':$selectMultiple})"
					 on-remove="dynamicField.onPicklistSelection({'selectElement':$select, 'selectMultiple':$selectMultiple})"
					 search-enabled = "{{dynamicField.fieldType === 'REFERENCE'}}"
					 ng-style="dynamicField.getStyleObject(dynamicField.properties.Style)"
					 uis-open-close="dynamicField.onPicklistOpenClose(isOpen)"
					 ng-required="{{dynamicField.IsRequired}}">
		<ui-select-match placeholder="--{{dynamicField.labels.None}}--" title="{{$select.selected.label}}" allow-clear="{{!dynamicField.disableClear}}">
			{{$select.selected.label}}
		</ui-select-match>
		<ui-select-choices repeat="entry.value as entry in dynamicField.entries | filter : $select.search">
			<div ng-bind-html="trustAsHtml((entry.label | highlight: $select.search))"></div>
		</ui-select-choices>
</ui-select>