<!-- Field Type: Date -->
<!--Pickaday logic-->
<p pikaday="dynamicField.tempDate" on-select="dynamicField.getSetModel(date)" on-open="dynamicField.updateTempDate()">
    <input type="text" 
    	   ng-model="dynamicField.getSetModel" 
    	   ng-model-options="dynamicField.modelOptions" 
    	   class="field--date" 
    	   ng-style="dynamicField.getStyleObject(dynamicField.properties.Style)"
    	   id="{{dynamicField.properties.ElementId}}"
    	   ng-class="dynamicField.properties.StyleClass"
    	   title="{{dynamicField.getSetModel(date)}}"
    	   ng-required="{{dynamicField.IsRequired}}" />
</p>

