<md-input-container md-autofocus md-no-float class="md-block md-dynamic-field">
	<md-select 
		id="picklistSelectMaterialDesign"
		ng-model="dynamicField.selected" 
		ng-mouseenter="dynamicField.mouseEnabled = true" 
		ng-mouseleave="dynamicField.mouseEnabled = false" 
		ng-init="dynamicField.loadReferenceObjects();" 
		aria-label="dynamicField.selected"
		md-container-class="md-dropdown readOnlyInputStyleMaterialDesign"
		md-on-close="dynamicField.onPicklistSelectionMaterial(dynamicField.selected)"
		placeholder="--{{dynamicField.labels.None}}--">
		<md-option md-option-empty>{{dynamicField.labels.None}}</md-option>
		<md-option ng-repeat="entry in dynamicField.entries" ng-value="entry.value">
			{{entry.label}}
		</md-option>
	</md-select>
</md-input-container>