<!-- fieldType: QUANTITY, PERCENTAGE, CURRENCY, DOUBLE -->
<p>
    <input ng-if="!dynamicField.gridCartView" 
    type="{{dynamicField.DisplayType}}" 
    ng-model="dynamicField.getSetModel" 
    ng-model-options="dynamicField.modelOptions" 
    class="field--dynamic field-background" 
    id="{{dynamicField.properties.ElementId}}" 
    style="{{dynamicField.properties.Style}}"
    ng-disabled="dynamicField.IsDisabled || !dynamicField.IsEditable"
    ng-class="[dynamicField.properties.StyleClass, {'dyanmic-field-disabled-input': dynamicField.IsDisabled}]"
    ng-required="{{dynamicField.IsRequired}}" />

    <div ng-if="dynamicField.gridCartView" id="dynamicform">
        <md-input-container>
            <label></label>
            <input type="{{dynamicField.DisplayType}}" 
            ng-model="dynamicField.getSetModel" 
            class="dynamicform-input-item readOnlyInputStyleMaterialDesign"
            id="{{dynamicField.properties.ElementId}}" 
            ng-disabled="dynamicField.IsDisabled || !dynamicField.IsEditable"
            ng-model-options="dynamicField.modelOptions"
            ng-mouseover="dynamicField.mouseIsOverInput=true"
            ng-mouseleave="dynamicField.mouseIsOverInput=false"
            ng-focus="dynamicField.mdFocus=true"
            ng-blur="dynamicField.mdFocus = false"
            ng-class="{'showInputonHover': (dynamicField.mouseIsOverInput || dynamicField.mdFocus) && !dynamicField.isReadOnlyMode}">
        </md-input-container>
    </div>
</p>

