<!-- fieldType: MULTISELECT -->
<ui-select multiple 
					 ng-model="dynamicField.selected"
					 theme="select2"
					 ng-disabled="dynamicField.IsDisabled || !dynamicField.IsEditable"
					 append-to-body="true"
					 close-on-select="false"
					 class="field--multi-picklist"
					 on-select="dynamicField.onPicklistSelection({'selectElement':$select, 'selectMultiple':$selectMultiple})"
					 on-remove="dynamicField.onPicklistSelection({'selectElement':$select, 'selectMultiple':$selectMultiple})"
					 uis-open-close="dynamicField.onPicklistOpenClose(isOpen)"
					 ng-required="{{dynamicField.IsRequired}}">
    <ui-select-match placeholder="--{{dynamicField.labels.None}}--"
					allow-clear="true">
			{{$item.label}}
		</ui-select-match>
    <ui-select-choices repeat="entry.value as entry in dynamicField.entries | filter : $select.search"
											 ui-disable-choice="entry.disable">
      <div ng-bind-html="trustAsHtml((entry.label | highlight: $select.search))"></div>
    </ui-select-choices>
</ui-select>