/* Custom CSS to support Attribute Based Configuration - Matrix Rules Admin UI*/
/*The below CSS overrides the existing Style.css which is for Incentives which is being reused.*/

.primary {
	  background-color : #032649;
}

.primary h3 {
  font-size: 1em;
  color: #cccccc;
}

.primary h1 {
	color : white;
}
.back-nav a {
  color: #cccccc;
}

.back-nav i {
  font-size: 1.25em;
  color : #cccccc;
}

.back-nav {
  padding-right: 0px;
}
.pipeSep {
	border-right: 1px solid #d7d7d7;
  	padding-right: 0.5em;
}


.dateFormat {
	display: none;
}

.footer {
	background: #4D5D80;
}


.inner-footer a {	
	padding: 10px 20px;
	font-size: 15px;	
  cursor : pointer;
}

.inner-footer a.cancel {
  	color: #4BCA81;
  	background-color: white;
  	font-weight: normal;

}

.inner-footer .save {	
	background-color: #4BCA81;
  	color: white;
  	font-weight: bold;


  
}

a, a:link, a:visited, a:hover, a:active {

	color: #2A94D7;

}


.field {
	font-size: 0.85em;
}

.subHeading{
	margin: 33px 0px 0px 2px!important;
  	color: #333333;
  	font-size: 18px
}


.subHeadingBlank{
	margin: 50px 0px 0px 2px;
  	min-height: 18px;
  	color: #333333;
}
.activeChkBox {
	margin : 7px 0px 30px 0px;
}

.attributeTable {
	width: 100%;
}


.main-sub .header {
  padding : 0px;
}

.matrixAttributes {
  margin-left : 12px;
  margin-top: 9px;
}

.statusSec {

  margin: 0px;
  color: #FF9900

}


.createMatrixbtn  {
    display: inline-block;

}
.updateMatrixbtn {
  display : inline-block
}

.createMatrixbtn a {

  box-sizing: border-box;
  border-radius: 3px;
  float: left;
  padding: 10px 11px;
  font-size: 15px;
  cursor: pointer;
  background-color: rgba(53, 153, 224, 0.97);
  color: white;
} 

.updateMatrixbtn a {

  box-sizing: border-box;
  border-radius: 3px;
  float: left;
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
  background-color: rgba(66, 86, 100, 0.97);
  color: white;
} 

.addButton {

  box-sizing: border-box;
  border-radius: 3px;
  float: left;
  padding: 0px 00px;
  font-size: 24px;
  cursor: pointer;
  background-color: white;
  color: #4BCA81;
  font-weight: bold;
  height: auto !important;
  width: auto !important;
}

.importCSVBtn {
  float:right;
}

.importCSVBtn a {

  box-sizing: border-box;
  border-radius: 3px;
  float: left;
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
  background-color: rgb(242, 242, 242);

} 


.importCSVBtn a:hover {

  cursor: pointer;
  color : rgb(242, 242, 242);
  background-color : rgb(42, 148, 215);

}


.overlay{
  display:none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1000000px;
  z-index: 10;
  background-color: rgba(203, 203, 203, 0.5); /*dim the background*/
}
.spinner{
    position: fixed;
    top: 45%;
    left: 45%;
    color : rgb(7, 15, 53);
}

 .displayNone { 
    display:none; 
}
.displayBlock {
    display:block;
}
.ui-autocomplete {
	max-height: 300px;
	overflow-y: scroll;
}
.ui-autocomplete-loading { 
    position:relative;
}

.ui-autocomplete-loading { 
    background: white url(/img/loading32.gif) right center no-repeat;
    background-size:15px 15px; 
}


.multipicklist {
  height: 75px;
}

.multiSelectWidget {
  margin-top : 5px;
}


.delete-btn {
  color :white !important;
  font-weight: normal !important;
  width:20px !important;
  float:left;
  height: auto !important;
  background-color:rgb(216, 210, 210) !important;
  border:dotted 2px rgb(216, 210, 210) !important;
}
.delete-btn:hover {
  color:#fff !important;
  background-color:red !important;
  border:dotted 2px red !important;
}


.add-btn {
  float:left;
  width:17px !important;
  height: auto !important;
  color:#00d031 !important;
  background-color:#fff !important;
  border:dotted 2px #c9c9c9 !important;
}
.add-btn:hover {
  color:#fff !important;
  background-color:#00d031 !important;
  border:dotted 2px #00d031 !important;
}

.confirmation-modal {
  position: fixed;
  top: 36%;
  left: 36%;
  border: black;
  background-color: whitesmoke;
  width: 400px;
  height: 155px;
}
.modal-ok {
  background-color: #58C070;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  font-size: 13px;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 10px;
  float: left;
  width: 43px;
}
.modal-cancel {
  background-color: rgb(189, 189, 189);
  color: white;
  font-weight: normal;
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 10px;
  float: left;
}
.confirmation {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1000000px;
  z-index: 10;
  background-color: rgba(203, 203, 203, 0.5);
    /*dim the background*/
}
.content .block-divide-left {
  float: left;
  width: 300px;
}
.content .block-divide-right {
  float: left;
  margin-left: 55px;
  width: 300px;
}
.modal-header {
  height: 37px;
  background-color: rgb(3, 38, 73);
  border-radius: 3px;
  text-align: center;
  padding-top: 13px;
  padding-left: 21px;
  vertical-align: middle;
  color: rgb(243, 245, 249);
  font-size: 20px;
}
.modal-content {
  font-size: 12px;
  color: rgb(79, 71, 71);
  padding: 6px;
  text-align: center;
  width: 80%;
}
.modal-action-buttons {
  clear: both;
  display: inline-block;
  align-self: center;
  margin-left: 137px;
  margin-top: 4.0rem;
}
.marginR10 {
  margin-right: 10px;
}
.matrixEntriesSection {
  display: inline-block;
  margin-right: 0px
}
.addEachRowDiv {
  display: inline-block;
  vertical-align: top;
  margin-top: 20px;
  margin-left: 7px;
  margin-right: 10px
}
.deleteEachRowDiv {
  display: inline-block;
  vertical-align: top;
  margin-top: 20px;
  margin-left: 0px;
 
}
.font11 {
  font-size: 11px;
}
.attributeSelection {
  max-width: 1270px;
  display: inline-block;
  margin-right: 0px
}
.addAttributeSectionDiv {
  display: inline-block;
  vertical-align: top;
  margin-top: 38px;
  margin-left: 0px
}
.width20Imp {
  width: 20px !important;
}
.matrixActionDiv {
  margin-top: 30px;
  margin-left: 56px;
}
.paddingTop30 {
  width: auto !important;
  padding-top: 30px !important;
}
.fontAwsome {
  font-family: FontAwesome;
}
.marginR5 {
  margin-right: 5px;
}

.pagination div {
  display: inline-block;
  padding : 2px 2px;
  vertical-align: middle;
}

.pagination {
  padding: 0px 40px;
  font-size: 12px;
  background-color: rgb(232, 230, 230);
  border-radius: 9px;
}

.itemsPerPage {
  width:  115px;
  text-indent: 6px;

}

#pageNumber {
  width: 50px;
  height: 33px;
  text-indent: 0;
  text-align: center;
}

#prevPagination , #nextPagination {
  text-decoration: underline;
  color : blue;
  cursor:pointer;
}

#prevPagination.disabled, #nextPagination.disabled {
    color: #CCC;
    cursor: default;
    pointer-events: none;
}

.matrixAttrributeCount {
  padding-top : 12px ;
  width: auto !important;
}

.matrixAttributeActions {
  padding-top : 20px !important;
}

.scrollable-outer {
    overflow: auto;
    padding-right : 10px;
}

.scrollable-inner {
  width : 10000px;
}

.pageNumberDiv {
  vertical-align: top !important;
}

.multipickSearchInput {
  width: 98%;
  height: 90%;
}
.recent-item {
  display: inline-block;
  margin-left: 5px;
  cursor : pointer;
}

.active-menu-item {
  color : blue;
}

.control-counter-container {
	margin-right: 2px !important; 
}

.multi-select-widget input {
	display: table !important;
	height: 32px !important;
}

div.control-counter-container[style] {
	display: table-cell !important;
}

.multi-select-widget .control-counter-container > span {
		vertical-align: middle;
}

.multi-select-widget .control-counter-container > span i {
		padding: 3px;
}
