
body {
    /*height:100%;*/
    -webkit-user-select:none;
}


form {
    margin: 0;
    padding: 0;
}

.mobileCardHide {
    display:none;
}

.panel-default > .panel-heading {
  color: #303031;
  background-color: #ECF0F3;
  border-color: #FAFBFB;
}
.panel-heading {
	/*text-align: left;*/
	/*color: #303031;*/
	/*background-color: #ECF0F3;*/
	border-top: none;
	border-bottom: none;
	padding: 10px 15px;
	height: 27px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}
.panel-heading {
	/*color: #FFF;*/
	font-size: 16px;
	line-height: 16px;
	padding-top: 6px;
	padding-bottom: 3px;
	/*height: 27px;*/
	padding: 5px 20px 6px 5px;
}

.subheading {
	padding: 7px 15px 5px 15px;
	text-align: left !important;
	font-size: 16px;
	line-height: 16px;
	background-color: #428BCA !important;
	height: 32px;
}

.sectionHeading {
	padding: 0px 15px 0px 15px;
	text-align: left !important;
	background-color: #F7F8FA !important;
	border-top: 1px solid #ECEDEF !important;
	border-bottom: 1px solid #ECEDEF !important;
	border-right: 1px solid #DBDDDB;
	height: 40px;
}

.sectionBody {
    padding: 10px 15px 20px 15px;
}


#productTitle {
    display: inline;
}
.subtitle {
	text-align: left !important;
	font-weight: bold;
	font-size: 16px;
	line-height: 16px;
	color: #FFF !important;
}
.groupLabel {
	position: relative;
	top: -2px !important;
	text-align: left !important;
	font-weight: normal;
	font-size: 15px !important;
	line-height: 40px;
	color: #303031 !important;
}

.fieldsRow {
/*    display: table-row;*/
}

.fields {
    display: table-cell;
}

.field {
	padding-right: 0px;
	padding-left: 0px;
    padding-bottom: 7px;
}

.fieldLabel, .fieldLabelAbove {
	display: inline-block;
	text-align: left !important;
	font-size: 15px;
	line-height: 15px;
	font-weight: bold !important;
	color: #3E4143;
	padding-bottom: 4px;
}

.fieldLabelAbove {
	display: block;
	width: 100%;
	padding-below: 8px;
}

.fontNormal {
    font-size: 18px;   
}

.resultsHeading {
	/*padding: 7px 15px 6px 15px;
	text-align: left !important;
	background: #d9dcdf !important;
	border-right: 1px solid #d9dcdf !important;
	height: 26px !important;*/
	
	padding: 6px 15px 6px 15px;
	text-align: left !important;
	font-size: 16px;
	line-height: 16px;
	background-color: #d9dcdf !important;
	border-right: 1px solid #d9dcdf !important;
	height: 26px !important;
}

.resultsSet {
	font-size: 16px;
	line-height: 16px;
	color: #303031 !important;
}

.panel {
    border: none !important;
}

#searchResults {
	border-right: 1px solid #DBDDDB;
/*	height: 100%;*/
}



/************** OLD VERSION CSS - PLEASE DONT REMOVE ******************************************/
.modal-dialog {
    background: none;
}

.carousel-indicators {
    position: relative;
    /*background-color: #293f54;*/
    background-color: #f5f7f9;
    top: 0px;
     left: 0; 
    z-index: 15;
    width: 100%;
    padding-left: 0;
    margin-left: 0;
    text-align: center;
    list-style: none;
    margin-bottom: 0px;
}

.ruleItems {
    list-style: none;
    margin: 0;
    padding: 0;
}

.rulePanel {
    padding: 15px 15px 0 15px;
    border-bottom: 1px solid;
}

.rulePanelHeading {
    display: table;
    border-bottom: 1px solid #999;
    width: 100%;
}

.rulePanelHeading  > div{
    display: table-cell;
}

.ruleMessage {
    padding-bottom: 10px;
}

.ruleToggle {
    width: 40px;
    text-align: center;
}

.ruleDismiss {
    padding-bottom: 15px;
}

.ruleProducts {
    padding-top: 10px;
}

.ruleProduct {
    border: none !important;
}

.ruleProduct > div {
    display: table-cell;
    vertical-align: middle;
}

.ruleItemActionContainer {
    
    text-align: right;
}


div.warning { /* for rule container */
    background-color: #faebcc; 
}

span.warning { /* for icons and text */
    color: #faebcc;
}

div.error { /* for rule container */
    background-color: #fdd6d8;
}

span.error { /* for icons and text */
    color: #faebcc;
}

.rotate90 {
    transform:rotate(90deg);
    -ms-transform:rotate(90deg); /* IE 9 */
    -webkit-transform:rotate(90deg); /* Opera, Chrome, and Safari */
}

.prodLine {
    /*height: 104px;*/
}

.icon-danger {
    color: #d9534f;
}

.icon-warning {
    /*background-color: #f0ad4e;*/
    color: #f0ad4e;
    /*border-color: #eea236;*/
}

.icon-success {
    color: #5cb85c;
    /*border-color: #4cae4c;*/
}

.carousel-indicators li {
    border: none;
    background-color: #a5afb7;
    width: 7px;
    height: 7px;
}

.carousel-indicators .active {
    background-color: #0e7abd;
    width: 7px;
    height: 7px;
}

.subHeader {
  font-size: 18px;
  line-height: 38px !important;
}

.headerBtn {
    /*background: black;*/
    /*border: 1px solid red;*/
    font-weight: bold;
    background-color: white;
    border-color: #bbc0c4;
    color: #44596c;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f1f1f1));
    background-image: -webkit-linear-gradient(top, #ffffff, #f1f1f1);
    font-size: 16px;
    display: block;
    float: left;
    box-sizing: border-box;
    width: 50%;
    height:35px;
    line-height: 35px;
}

.headerBtnActive {
    color: white;
    background-color: #3f9fd9;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3f9fd9), to(#2789c7));
    background-image: -webkit-linear-gradient(top, #3f9fd9, #2789c7);
}

.headerBtnContainer {
    text-align: center;
}

.menuList {
  list-style: none;
  padding: 0 !important;
  margin-bottom: 0 !important;
}

.menuList li {
    border-bottom: 1px solid black;
    font-weight: bold;
    background-color: white;
    border-color: #bbc0c4;
    color: #44596c;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f1f1f1));
    background-image: -webkit-linear-gradient(top, #ffffff, #f1f1f1);
    font-size: 16px;
}

.menuList h3 {
  margin-left: 10px !important;
}

#menuItems h4 {
  padding: 0 0 0 10px !important;
  margin: 0;
  background-color: #33495f;
  color: white;
}

#menuItems {
  display: none;
  position: absolute;
  top: 39px;
  background-color: white;
  height: 100%;
  width: 250px;
  border: 1px solid black;
}

.menuActionItemActive{
  background-color: white;
}

.menuActionItemActive a{
  color: blue;
}

#cartPageBtn {
    float:left;
}

#catalogPageBtn {
    float:right;
}

.flag--body {
    padding-right: 10px;
}

.spinner {
  display: inline-block;
  opacity: 0;
  max-width: 0;

  -webkit-transition: opacity 0.25s, max-width 0.45s; 
  -moz-transition: opacity 0.25s, max-width 0.45s;
  -o-transition: opacity 0.25s, max-width 0.45s;
  transition: opacity 0.25s, max-width 0.45s; /* Duration fixed since we animate additional hidden width */
}

.has-spinner.active {
  cursor:progress;
}

.has-spinner.active .spinner {
  opacity: 1;
  max-width: 50px; /* More than it will ever come, notice that this affects on animation duration */
}

.spin {
  -webkit-animation: spin 1s infinite linear;
  -moz-animation: spin 1s infinite linear;
  -o-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
     -webkit-transform-origin: 50% 58%;
         transform-origin:50% 58%;
         -ms-transform-origin:50% 58%; /* IE 9 */
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*****Catalog UI*****/
.twitter-typeahead {
    width: 100%;
}
.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
    margin-bottom: 0;
}
.input-group .form-control.tt-query:not(:first-child):not(:last-child) {
}

.tt-query {
    padding: 6px 18px;
}
.tt-hint {
    display: block;
    width: 100%;
    /*height: 56px;*/
    /*padding: 4px 16px;*/
    padding: 3px 26px;
    /*font-size: 18px;*/
    line-height: 25px;
    color: #999;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.addButtonContainer {
    height:60px;
    line-height:60px;
}


.tt-text {
    display: block;
    width: 100%;
    /*height: 56px;*/
    padding: 4px 16px;
    /*font-size: 18px;*/
    /*line-height: 25px;*/
    color: #000;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.tt-dropdown-menu {
    min-width: 160px;
    width: 100%;
    margin-top: 2px;
    padding: 5px 0;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}
.tt-suggestion {
    display: block;
    /*padding: 3px 20px;*/
}

.tt-suggestions {
    display: block;
    padding: 14px;
    border-color: #cfd4d9;
    /*font-size: 15px;*/
    background-color: #f0f1f2;
}
.tt-suggestion.tt-is-under-cursor {
    color: #fff;
    background-color: #428bca;
}
.tt-suggestion.tt-is-under-cursor a {
    color: #fff;
}
.tt-suggestion p {
    margin: 0;
    font-size: 22pt !important;
    border: 1px solid #bbc0c4;
    background-color: white;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f1f1f1));
    background-image: -webkit-linear-gradient(top, #ffffff, #f1f1f1);
    background-image: -moz-linear-gradient(top, #ffffff, #f1f1f1);
    background-image: -ms-linear-gradient(top, #ffffff, #f1f1f1);
    background-image: -o-linear-gradient(top, #ffffff, #f1f1f1);
}

.twitter-typeahead {
    width: 100%;
}
.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
    margin-bottom: 0;
}
.input-group .form-control.tt-query:not(:first-child):not(:last-child) {
}
div.tt-dropdown-menu {
    min-width: 160px;
    width: 100%;
    margin-top: 2px;
    padding: 5px 0;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

.league-name {
    background-color:#333;
    color: white;
}

p.tt-dropdown-menu {
    font-size: 22pt;
    border: 1px solid #555;
}

p.tt-suggestion {

}

.tt-suggestion {
    display: block;
    padding: 3px 20px;
}
.tt-suggestion.tt-is-under-cursor {
    color: #fff;
    background-color: #428bca;
}
.tt-suggestion.tt-is-under-cursor a {
    color: #fff;
}
.tt-suggestion p {
    margin: 0;
}

.flag--image.prm.figure {
    background: none;
    background-size: auto 120%;
    display: block;
    min-height: 69px;
    width: 110px;
    zoom: 1;
    max-width: 100%;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 40px;
    -webkit-margin-end: 40px;
    position: relative;
    margin-left: 0;
}

.flag--image.prm.figure .layer {
    background-size: 100%;
    background-position: left top;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: absolute;
}

input.search-query {
    padding-left: 26px;
	border-radius: 4px;
}

h3.league-name {
    margin-bottom: 0px;
    margin-top: 5px;
}

#list {
    /*-webkit-overflow-scrolling: touch;*/
    overflow: auto;
    height:220px;
}

#searchResults {
     overflow: auto;
    /*height:200px;*/
}


/*******Cart UI********/

.footer {
    width: 100%;  
    background: black; 
    color: white; 
    padding: 6px; 
    position: fixed; 
    text-align: right;
    bottom: 0px; 
    left: 0px;
    font-size: 1.5em;
}


.catalogHeading {
    padding: 3px;
    height:39px;
}

.moreLineItems
{
    height:20px;
    background-color:#ccc;
    border-top: 1px solid #999;
    /*background-image:url(../images/footer.png);*/
    /*background-repeat:repeat-x;*/
    /*margin-top:20px;*/
    width:100%;
    color: #444;
    /*position:absolute;*/
    text-align: center;
    padding-right: 5px;
    position:fixed;
    bottom:35px;
}

.panel {
    margin-bottom: 0px;
}


.lineItemMenu {
    position:absolute;
    opacity: 0.6;
    background-color:#aaa;
}

.prodSel {
    position:absolute;
    /*opacity: 0.6;*/
    background-color:#00F748;
}




#list {
    margin-bottom: 25px;
}

ul[id="list"] > li {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.lineAction {
    margin-right: 6px;
    -webkit-user-select: none;
}

.ui-loader {
    display: none;
}

.wrapper { /*Contains expandable Search bar*/
    display: table;
    width: 100%;
    text-align: center;
	background-color: #EDEFF0;
	padding: 14px 14px 14px 14px;
}

.wrapper > div{
    display: table-cell;
    background: #f0f1f2;
}

.wrapper .centre{
    /*background: yellow;*/
}

.centre > input{
    width:100%;
}

.wrapper .right-column {
    width: 40px;
}

.wrapper .left-column {
    width: 40px;
}

.form-search {
    position: relative;
	font-size: 15px;
}

.form-search:before {
    content:'';
    display: block;
    width: 14px;
    height: 14px;
    background-image: url(http://getbootstrap.com/2.3.2/assets/img/glyphicons-halflings.png);
    background-position: -48px 0;
    position: absolute;
    top: 10px;
    left: 8px;
    opacity: .6;
    z-index: 1000;
	font-size: 16px;
}

.toast-position{
    top:200px;
    right:60px;
}

li.selectedProduct {
    /*border:5px solid green;*/
}

li.excludedProduct {
    background-color: #CCC;
}


/*Categories filter*/

.jstree-default.jstree-focused { background:none !important; }

.jstree .jstree-wholerow-real a {
    font-size: 20dp;
    width: 100%;
    margin-top:10px;
    margin-bottom:10px;
}



/********************************** OLD VERSION CSS - PLEASE DONT REMOVE  - END ****************************************/

/************************************** SF1 GLOBAL CSS *****************************************************************/


.oneAlohaPage {
    overflow: hidden !important;
}

html {
    margin: 0;
    padding: 0;
}

body {
  overflow: hidden;
  position: fixed;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #F0F1F2;
}

.dropdown-menu {
	position: absolute;
	bottom: 56px;
	left: 0px;
	width: 100%;
	text-align: left;
	font-size: 16px;	
}

/*.dropdown-menu.pull-left {
  left: 0;
  right: auto;
}*/

.dropupMenu {
	position: absolute;
	bottom: 56px;
	left: 0px;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  }

#wrapper {
    width: 100%;
/*    height: 650px;*/
    background-color:#aaa;
    overflow: hidden;
}

#upper {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: white;
    background-color: #344A5F;
	-webkit-box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.2);
	-moz-box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.2);
	box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.2);
/*  background-image: -webkit-gradient(linear,left 0,left 100%,from(#2993D6),to(#0B79BC));
    background-image: -webkit-linear-gradient(top,#2993D6 0,#0B79BC 100%);
    background-image: -moz-linear-gradient(top,#2993D6 0,#0B79BC 100%);
    background-image: linear-gradient(to bottom,#2993D6 0,#0B79BC 100%);*/
    display: table;
    padding: 0 18px;
}

#upper > span {
    display: table-cell;
    font-size: 22px;
}

#upper > .glyphicon, #upper > [class*="icon-utility-"] {
    width: 50px;
    display: table-cell;
    font-size: 18px;
}

.pageTitleIcon {
    width: 40px;
}

#menuIcon {
	text-align: left;
}

/*#searchIcon { /* Glyphicon at left of Quote header */
	/*position: relative;
	padding: 0px 20px 0px 10px;
}

*/
/*#searchIcon { /* Glyphicon at right of Quote header */
	/*
	font-size: 20px;
    line-height: 20px;
	padding: 3px 25px 0px 4px;
}
*/
.searchIcon { /* SF1 icon at right of Quote header */
	font-size: 19px !important;
    text-align: right;
}

.rulesIcon {
	position: relative;
	top: 1px;
	font-size: 21px !important;
    line-height: 21px;
	color: #FFF;
}

/* Approvals Icons */

/*.icon-status-approvalrequired:before {
    content: "";
}
*/
.approvalIcon {
	font-size: 27px !important;
	line-height: 27px;
	font-family: 'apttus-approval-status';
}

/*[class*="icon-status-"] {
    -moz-osx-font-smoothing: grayscale;
    font-family: 'apttus-approval-status';
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-transform: none;
}*/

/* End Approvals Icons */

.iconLeft {
	padding-left: 18px !important;
}
.iconRight {
	padding-right: 20px !important; 
}

#cartIcon { /*For glyphicon*/
 	position: relative;
    font-size: 28px;
    line-height: 28px;
	color: #AAB7D5;
    text-align: right !important;
}

#dealMaxIcon > *{
/*    margin-right: 50%;*/
}
/*#cartIcon { /*For SF1 icon*/
    /*font-size: 18px;
    line-height: 18px;
	padding: 0px 26px 0px 20px;
	color: #AAB7D5;
}*/

#approvalIcon:before {
    top: 2px;   
}

#rulesIcon {
	position: relative;
}

#rulesIcon:before {
/*	margin-left: 20%;*/
}

#locationIcon {
	font-size: 20px;
    line-height: 20px;
	padding: 3px 0px 0px 4px;
	color: #6CC7FF;
}

#lower {
    height: 500px;
    overflow-y: auto;
    /*overflow-y: scroll;*/
    -webkit-overflow-scrolling: touch;
}

.content {
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    transition-property: all;
    transition-duration: .7s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

    -webkit-transition-property: all;
    -webkit-transition-duration: .7s;
    -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.container {
    position: fixed;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: -1px; /*weird semi-transparent border bug fix*/
}

.panel {
    border-radius: 0;
}

.position-saver {
    display: list-item;
    height: 50px;
    width: 100%;
    line-height: 50px;
    text-align: center;
    background-color: #EDEFF0;
    border-top: 1px solid #ccc;
}

#bar {    
    position: static;
    display: table;
    width: 100%;
	height: 46px !important;
    color: #fff;
    background-color: #294052;
    border-top: 1px solid #203446;
	border-bottom: 1px solid #3B5165;
	-webkit-box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.2);
	-moz-box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.2);
	box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.2);
}

#bar > span {
  display: table-cell;
  text-align: center;
  font-size: 18px;
  line-height: 44px;
  width: 64px;
}

.activeBarIcon {
	background-color: #344B5D;
	display: table-cell;
	height: 46px !important;
	width: 15%;
	text-align: center;
}
/*.activeBarIconMiddle, .activeBarIconLeft, .activeBarIconRt {
    background-color: #344B5D;
	display: table-cell;
}
.activeBarIconMiddle {
	width: 25%;
	text-align: center;
}
.activeBarIconLeft {
	width: 15%;
	text-align: left;
}
.activeBarIconRt {
	width: 15%;
	text-align: right;
}*/

#bottomBar {
    position: fixed;
	bottom: 0;
	background-color: #EDEFF0;
    background: -moz-linear-gradient(center top , #F1F1F3 5%, #EBEBED 100%) repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    border-top: 1px solid #DEE1E4;
	border-right: 1px solid #DBDDDB; 
    bottom: 0;
	-webkit-box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.2);
	-moz-box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.2);
	box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.2);
    display: block;
    height: 46px;
    line-height: 46px;
    width: 100%;
	text-align: right;
}

.bottomBar {
	background-color: #EDEFF0;
    background: -moz-linear-gradient(center top , #F1F1F3 5%, #EBEBED 100%) repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    border-top: 1px solid #DEE1E4;
	border-right: 1px solid #DBDDDB; 
    bottom: 0;
	-webkit-box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.2);
	-moz-box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.2);
	box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.2);
    display: block;
    padding: 5px 16px 5px 16px;
    height: 46px;
    line-height: 46px;
    width: 100%;
	text-align: center;
}

.fixedBottom {
/*    position: absolute;*/
	bottom: 0;
}

.aptPull-left {
    float: left;
}

.aptPull-right {
    float: right;
}

#pageActions {
/*	padding: 5px 16px 5px 16px;*/
}

#quoteInformation {
  width: 100%;
  z-index: 2000;
/*  position: absolute;*/
  background-color: white;
  /*top: 30px;*/
  right: 0px;
  height: 38px;
  max-height: 38px;
  overflow-y: hidden;
/*
  transition-property: all;
  transition-duration: .7s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

  -webkit-transition-property: all;
  -webkit-transition-duration: .7s;
  -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
*/
}

.btn-default {
    background: #EAEDEF;
}

.btn-default > .glyphicon {
    color: #696E71;
}

/*-------------------------------------------------------------------------------------------------*/

#quoteInformation {
  background-color: #F0F1F2 !important;
}

.overlay {
  width: 100%;
  z-index: 2000;
  position: fixed;
  background-color: #F0F1F2;
  overflow: auto;
  top: 92px;
  right: 0px;
  height: 38px;
  max-height: 38px;
  overflow-y: hidden;  
/*
  transition-property: all;
  transition-duration: .7s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

  -webkit-transition-property: all;
  -webkit-transition-duration: .7s;
  -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
*/
}

.overlayPanel {
  margin: 12px;
/*  width: 100%;*/
/*  max-width: 296px;*/
  height: auto;
    background-color: #FFF;

  border: 1px solid #D6DADE;
  border-radius: 5px;
}
.overlayPanelHeading {
  padding: 10px 15px;
  background-color: #FFF;
  border-bottom: 1px solid #D6DADE;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: left;
}
.overlayPanelTitle {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 15px;
  font-weight: bold;
}
.overlayPanelBody {
  padding: 10px 15px;
  background-color: #FFF;
  font-size: 15px;
}
.overlayPanelFooter {
  height: 20px;
  padding: 10px 15px;
  background-color: #FFF;
  border-top: 1px solid #ddd;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

/*-------------------------------------------------------------------------------------------------*/


#rulesPanel {
  width: 100%;
  z-index: 2000;
/*  position: fixed;*/
  background-color: white;
  overflow: auto;
  top: 80px;
  right: 0px;
  height: 38px;
  max-height: 38px;
/*
  transition-property: all;
  transition-duration: .7s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

  -webkit-transition-property: all;
  -webkit-transition-duration: .7s;
  -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
*/
}

.closed {
  max-height: 0 !important;
}


#quoteInfoFields {
    overflow: auto;
}

#cartInformation {
/*
  width: 100%;
  z-index: 2000;
  position: absolute;
  background-color: white;
  display:block;
  top: 30px;
  right: -375px;
  height: 538px;
  -webkit-transition: right 0.5s ease-in; 
*/
}

#cartInformation.animate {
  right: 0px;
}

#menuWindow {
/*  width: 100%;*/
    width: 50%;
    z-index: 2000;
    position: absolute;
    background-color: white;
    border-right: 1px solid #222;
    display:block;
/*    top: 30px;*/
    /*left: -375px;*/
/*    -webkit-transition: left 1s ease-in; */
}

#menuWindow.animate {
  left: 0px;
}

.toast-show {
    left: 0;
    top:92px;
    width: 100%
}

.toast-show > div {
    width: 100% !important;
    opacity: 1 !important;
}

.cartBadge {
    display: inline-block;
	font-family: ProximaNova, Arial, sans-serif;
    font-weight: bold;
	position: absolute;
	top: 20px;
    right: 13px;
	width: 16px;
	height: 16px;
    background: #B10F00;
    padding: 1px 5px 3px 5px;
    font-size: 15px;
}

.rulesBadge {
    display: inline-block;
    font-family: ProximaNova, Arial, sans-serif;
    font-weight: bold;
	position: absolute;
	top: 20px;
    right: 8px;
	width: 16px;
	height: 16px;
    background: #B10F00;
    padding: 1px 5px 3px 5px;
    font-size: 15px;
}



.fixedPlace {
    position: fixed;
    overflow: hidden;
}

/*Item checkbox */
.selectItemCheck {
    margin-right: 10px;
}


#sf1App {
     margin-left: -50%; /* Start position: menu hidden */
    -webkit-transition: margin-left 0.7s;
    -moz-transition: margin-left 0.7s;
    -o-transition: margin-left 0.7s;
    transition: margin-left 0.7s;
}

#sf1App.menuOpen {
    margin-left: 0%;   
}


#wrapper {
    margin-left: 50%;
    width: 100%;
    position: absolute;
}




/* Bigbox CSS */

#bigbox {
    background-color: #fff;
    margin-left: 0; /* Start position: right outside */
    -webkit-transition: margin-left 1s;
    -moz-transition: margin-left 1s;
    -o-transition: margin-left 1s;
    transition: margin-left 1s;
}
#bigbox.home_inside {
    margin-left: 0;
}
#bigbox.about_inside {
    margin-left: -100%;
}
#bigbox.contact_inside {
    margin-left: -200%;
}
#bigbox.transition { /* Effects only */
    -webkit-transition: margin-left 1s;
    -moz-transition: margin-left 1s;
    -o-transition: margin-left 1s;
    transition: margin-left 1s;
}


#home_content {
    margin-left: 0; /* inside the #bigbox */
    background-color: #fff;
}


#about_content {
    margin-left: 100%; /* "relative" position to #home_content */
    background-color: #fff;
}



/*Item CSS */

.listContent {
	border-right: 1px solid #DBDDDB; 	
}

.listItems {
  padding: 0;
  margin: 0;
}

.listItem {
/*  background-color: #fff;*/
  color: #434345;
  display: table;
  width: 100%;
  min-height: 60px;
  border-bottom: 1px solid #D6DADE;
}

.listItemContent {
  display: table-cell;
  padding: 5px 10px 5px 10px;
}

.productImage {
	width:75px;
	height: 75px;
	display: table-cell;
    padding: 5px 10px 5px 10px;
    vertical-align: top;
}

.productImage > img {
  width:64px;
  height: 64px;
/*  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;*/
/*  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);*/
}

.listItemDescription {
    font-size: 15px;
	line-height: 15px;
	/*color: #3E4143;*/
	color: #2A2C2D;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: none;
}

a:focus {
  outline: none;
}

input[type="text"]:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: none;
}

*:focus {
    outline: none;
}

/*.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
*/
.btn.btn-primary {
  font-size: 15px;
  color: white;
  border-color: #285e8e;
  background: #428bca;
  border-radius: 5px;
  /* Old browsers */
  background: -moz-linear-gradient(top,   #428bca 0%, #3276b1 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #428bca), color-stop(100%, #3276b1));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,   #428bca 0%, #3276b1 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #428bca 0%, #3276b1 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top,   #428bca 0%, #3276b1 100%);
  /* IE10+ */
  background: linear-gradient(to bottom,   #428bca 0%, #3276b1 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#428BCA', endColorstr='#3276B1',GradientType=0 );
  /* IE6-9 */ }
  .btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active, .btn.btn-primary.active {
    color: white;
    border-color: #285e8e;
    background: #3276b1;
    /* Old browsers */
    background: -moz-linear-gradient(top,   #3276b1 0%, #428bca 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3276b1), color-stop(100%, #428bca));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,   #3276b1 0%, #428bca 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #3276b1 0%, #428bca 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top,   #3276b1 0%, #428bca 100%);
    /* IE10+ */
    background: linear-gradient(to bottom,   #3276b1 0%, #428bca 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3276B1', endColorstr='#428BCA',GradientType=0 );
    /* IE6-9 */
  }
  
.btn-primary.disabled {
  background-color: #428bca;
  border-color: #357ebd; }
  .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled:active, .btn-primary.disabled.active {
    background-color: #428bca;
    border-color: #357ebd; }
.btn-primary[disabled] {
  background-color: #428bca;
  border-color: #357ebd; }
  .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled]:active, .btn-primary[disabled].active {
    background-color: #428bca;
    border-color: #357ebd; } 

.btn-default {
  font-size: 15px;
  color: #303031;
  border-color: #D6D9DC;
  background: #F1F1F1;
  border-radius: 5px;
  margin-left: 12px;
  /* Old browsers */
  background: -moz-linear-gradient(top,   #FEFEFE 0%, #F1F1F1 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FEFEFE), color-stop(100%, #F1F1F1));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,   #FEFEFE 0%, #F1F1F1 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #FEFEFE 0%, #F1F1F1 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top,   #FEFEFE 0%, #F1F1F1 100%);
  /* IE10+ */
  background: linear-gradient(to bottom,   #FEFEFE 0%, #F1F1F1 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEFEFE', endColorstr='#F1F1F1',GradientType=0 );
  /* IE6-9 */ }
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active {
    color: #434345;
    border-color: #D6D9DC;
    background: #FEFEFE;
    /* Old browsers */
    background: -moz-linear-gradient(top,   #F1F1F1 0%, #FEFEFE 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F1F1F1), color-stop(100%, #FEFEFE));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,   #F1F1F1 0%, #FEFEFE 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #F1F1F1 0%, #FEFEFE 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top,   #F1F1F1 0%, #FEFEFE 100%);
    /* IE10+ */
    background: linear-gradient(to bottom,   #F1F1F1 0%, #FEFEFE 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F1F1F1', endColorstr='#FEFEFE',GradientType=0 );
    /* IE6-9 */
}

.dropdown-toggle {
  position: absolute;
  left: 12px;
  height: 35px;
  width: 48px;
  padding-right: 8px;
  padding-left: 8px;
}

.drillDownBtn {
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 0;
  border: 0;
  border-radius:0;
  border-left: 1px solid #D6DADE;
  background: #F2F4F7;
}
.drillDownBtn:focus,
.drillDownBtn:active:focus,
.drillDownBtn.active:focus {
  outline: none;
}


/*.drillDownBtn {
  margin: 0;
  margin-top: -5px;
  height: 100%;
  padding: 0;
  width: 100%;
  border: 0;
  border-radius: 0;
  border-left: 1px solid #D6DADE;
  background: #EAEDEF;
}*/

.listItemButton {
  margin: 0;
  height: 100%;
  width: 35px;
  padding: 0;
  border: 0;
  /*border-left: 1px solid #cfd4d9;*/
  display:table-cell;
  /*background: #EAEDEF;*/
  /*background: #EFF2F4;*/
  background: #F2F4F7;
}
.optionsBtn {
 	margin: 0;
	height: 40px !important;
	width: 35px !important;
	padding: 0;
	border: 0;
	display: inline-block;
}
/*.listItemButton {
  position: relative;
  border: 0;
  display: table-cell;
  margin-top: -5px;
  margin-bottom: -5px;
  width: 35px;
  background: #EAEDEF;
}

.listItemButton a {
  position: absolute;
  text-decoration: none;
  z-index: 10;
  opacity: 0;
  filter: alpha(opacity=1); 
  color: #696E71;
}*/

/*.listItemButton a:hover, .listItemButton a:focus {
  color: #696E71;
}

.listItemButton .glyphicon-chevron-right a:hover {
	color: #096197;
}
*/

.listItemName {
  font-weight: bold;
  font-size: 15px;
  padding: 5px 20px 6px 5px;
  color: #096197;
}

input[type="checkbox"] {
  
  /* Double-sized Checkboxes 
  -ms-transform: scale(2); 
  -moz-transform: scale(2);
  -webkit-transform: scale(2);
  -o-transform: scale(2);
  */
  
}

.listItemInfo {
  display: table-row;
  /*background:light-green;*/
  width: 100%;
}

.listItemFields {
  vertical-align:top;
  display:table-cell;
  padding: 0 5px;
  width:100%;
}

.listItemFields >span {
    display: inline-block;
    word-wrap:break-word;
    /*color: #696e71;*/
    /*color: #4D5153;*/
    color: #3e4143;
    width: 100%;
    font-weight: bold;
}

.aptCurrency, .aptCurrency_wBtmMargin {
/*
	color: #2A932A !important;	
	font-weight: bold;
*/
}
.aptCurrency_wBtmMargin {
	margin-bottom: 10px;
}

.currencyText {
    color: #2A932A !important;
    font-weight: bold;
}

.quantitySingle, .quantity2wide, .discount2wide {
	font-size: 14px;
	line-height: 1.42857143;
	font-weight: bold;
	height: 30px;
	/*width: 56px;*/
	width: 80px;
	padding: 2px 6px 2px 6px;
	margin-bottom: 14px;
	color: #3E4143;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	/*-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;*/
}

.wide2Fields {
    display: table-row;
}

.wide2Fields > span {
	display: table-cell;
    padding-right: 7px;
}

.discount2wide {
	position: absolute;
	top: -44px;
	left: 108px;
}
.discountLabel {
	position: absolute;
	top: -63px;
	left: 108px;
}
.percentage {
	display: inline-block;
	position: absolute;
	top: -38px;
	left: 194px;
}

#multiSelectActions {
  display:none;
}

.addedProduct {
    color: #2A932A;
}

.installedProduct {
    color: blue;
}

.bundleProduct {
    color: orange;
}

.paginationContainer {
  display:table;
  width:100%;
  text-align: center;
}

.paginationContainer > div{
  display:table-cell;
  width:50%;
}

.paginationContainer button{
  width:100%;
  border-radius: 0;
}

.quoteBarBtn {
  width:100%;
  border-radius: 0;
}

#quoteTitle {
	position: relative;
	right: 5px;
	text-align: center;
	/*left: -28px;*/
	font-size: 22px !important;
    font-weight: bold;
}

.quoteCaret {
    position: absolute;
	top: 16px;
	padding-left: 6px;
    font-size: 14px !important;
    font-weight: normal;
}

.upDownArrows, .menuUpArrow {
	position: absolute;
    font-size: 16px !important;
	line-height: 16px !important;
    font-weight: normal;
}
.upDownArrows {
	top: 16px;
	padding-left: 6px;
}
.menuUpArrow {
	top: 9px;
	left: 15px;
}

.list-group{
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
	background: #344B5D !important;
    border-radius: 0 !important;
}

.list-group-item{
	background: #344B5D !important;
    border-radius: 0 !important;
	border: 1px solid transparent;
	border-bottom: 2px solid #294052;
	color: #FFF;
	font-size: 14px;
	line height: 14px;
	font-weight: bold;
}
.circle { /* To contain step numbers */
	display: inline-block;
	position: relative;
	top: 1px;
	border-radius: 50%;
	width: 24px !important;
	height: 24px !important;
	line-height: 22px !important;
	background: #294052;
	border: 2px solid #1A3041;
	font-size: 14px;
	text-align: center;
	/*padding-bottom: 2px;*/
}
#menuWindow {
	background-color: #294052;
}
.nav-tabs {
	height: 46px;
	background-color: #294052;
	border-bottom: 1px solid #344B5D;
	color: #FFF;
	font-size: 18px;
	line-height: 46px;
}
.nav-tabs > li {
	background-color: #294052;
	color: #FFF;
}
.nav-tabs > li > a {
	border: none;
	border-radius: 0;
	background-color: #294052;
	padding-top: 12px;
	line-height: 46px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border: none;
	border-radius: 0;
	border-bottom: 1px solid #344B5D;
	background: #344B5D;
	width: 54px;
	height: 46px;
    display: table-cell;
	padding-top: 12px;
	text-align: center;
    font-size: 18px;
	color: #FFF;
}
.nav-tabs > li.active > a {
	border-right: #203446;
	border-left: #203446;
}

.nav>li>a:hover, .nav>li>a:focus {
text-decoration: none;
background-color: #294052;
}
.nav-tabs > .glyphicon {
    display: table-cell;
    width: 40px;
    font-size: 18px;
	padding-left: 2px;
	height: 46px;
}
.menuIcon {
	color: #FFF;
}
.tasksIcon {
	color: #FFF;
	position: relative;
	top: 0px;
	font-size: 21px !important;
    line-height: 21px;

}
.catalogIcon {
	color: #FFF;
	font-size: 19px !important;
    line-height: 19px;
}
.closeBox {
	color: #FFF;
	padding: 13px 15px 13px 12px;
}	

.tab-pane:active {
	background: #344B5D !important;
    border-radius: 0 !important;
}

#quoteInfoIcon {
	font-family: ProximaNova, Arial, sans-serif;
    font-weight: bold;
    font-size: 29px !important;
	color: #5CB85C;
    text-align: left !important;
}

/* COLORS */
span.green {
/*    background: #5CB85C;*/
    color: #5CB85C;
}

span.yellow {
/*    background: #F3EA00;*/
    color: #F3EA00;
}

span.orange {
/*    background: #FF8A00;*/
    color: #FF8A00;
}

span.red {
/*    background: #B10F00;*/
    color: #B10F00;
}

.circleGreen { /*DealMax*/
	display: inline-block;
	position: relative;
	border-radius: 50%;
	width: 22px !important;
	height: 22px !important;
	line-height: 22px !important;
	background: #5CB85C;
    top: 2px;
	border: 1px solid #4B964B;
}
.circleYellow { /*DealMax*/
	display: inline-block;
	position: relative;
	border-radius: 50%;
	width: 22px !important;
	height: 22px !important; 
	line-height: 22px;
	background: #F3EA00;
    top: 2px;
	border: 1px solid #E1C901;
}
.circleOrange { /*DealMax*/
	display: inline-block;
	position: relative;
	border-radius: 50%;
	width: 22px !important;
	height: 22px !important; 
	line-height: 22px;
	background: #FF8A00;
    top: 2px;
	border: 1px solid #D97500;
}
.circleRed { /*DealMax*/
	display: inline-block;
	position: relative;
	border-radius: 50%;
	width: 22px !important;
	height: 22px !important; 
	line-height: 22px;
	background: #B10F00;
    top: 2px;
	border: 1px solid #960D00;
}
.circleBlue { /*DealMax*/
	display: inline-block;
	position: relative;
	top: 2px;
	border-radius: 50%;
	width: 22px !important;
	height: 22px !important; 
	line-height: 22px;
	background: #0A6DA9;
    top: 2px;
	border: 1px solid #085787;
}

.pageHeading {
    display: table;
	width: 100%;
	background: #203446 !important;
    text-align: center !important;
    color: white !important;
    border: none;
    border-radius: 0;
	padding: 4px 20px 5px 20px;
	height: 30px !important;
}
.pageHeading_wLocation {
	display: table;
	width: 100%;
	background: #203446 !important;
    text-align: center !important;
    color: white !important;
    border: none;
    border-radius: 0;
	padding: 5px 13px 6px 20px;
	height: 30px !important;
}

.pageHeading > * {
    display: table-cell !important;
}

.pageHeading > span {
    /*text-align: right;*/
}

.panel-title_wLocation {
	margin-right: -5px;
	position: relative;
	top: -3px;
	padding-left: 12%;
	text-align: center;
	color: #FFF;
	font-size: 16px;
	line-height: 18px;
}

.panel-title_wBack {
	position: relative;
	top: 1px;
	color: #FFF;
	font-size: 16px;
	line-height: 18px;
	height: 18px;
}

.panel-title {
	color: #FFF;
	font-size: 16px;
	line-height: 16px;
	padding: 6px 0px 3px 0px;
	height: 27px;
}

.panel-title_Results {
	font-size: 15px !important;
	line-height: 15px;
}

.borderBottom {
    border-bottom: 1px solid #F3F3F3;   
}

.borderGrey {
    border: 1px solid #F3F3F3;   
}

#backIcon {
    color: #FFF;
	background: #428bca;
    background: -moz-linear-gradient(-45deg, #3276b1 0%, #428bca 100%);
    background: -o-linear-gradient(-45deg, #3276b1 0%, #428bca 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3276b1), color-stop(100%, #428bca));
    background: -webkit-linear-gradient(-45deg, #3276b1 0%, #428bca 100%);
    background: linear-gradient(-45deg, #3276b1 0%, #428bca 100%);
    border: solid #285e8e;
    border-width: 1px 1px 1px 0;
    -moz-border-radius: 2px 4px 4px 1px;
    -webkit-border-radius: 2px 4px 4px 1px;
    border-radius: 2px 4px 4px 1px;
    display: inline-block;
	padding: 0 7px 1px 3px;
    height: 23px;
	font-size: 14px;
    line-height: 22px;
    position: relative;
    text-decoration: none;
	position: relative;
	top: 1px;
    margin: 2px 2px 2px 8px;
}

#backIcon:before {
    color: #FFF;
	background: #3276b1;
    background: -moz-linear-gradient(-45deg, #3276b1 0%, #428bca 100%);
    background: -o-linear-gradient(-45deg, #3276b1 0%, #428bca 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #3276b1), color-stop(100%, #428bca));
    background: -webkit-linear-gradient(-45deg, #3276b1 0%, #428bca 100%);
    background: linear-gradient(-45deg, #3276b1 0%, #428bca 100%);
    border: solid #285e8e;
    border-width: 0 0 1px 1px;
    border-radius: 2px 0 2px 2px;
    content: '';
    display: block;
    height: 15px;
    width: 15px;
    left: -8px;
    position: absolute;
    top: 3px;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#backIcon:hover, #backIcon:focus {
    color: #FFF;
	border-color: #285e8e;
    background: #3276b1;
    background: -moz-linear-gradient(-45deg, #428bca 0%, #3276b1 100%);
    background: -o-linear-gradient(-45deg, #428bca 0%, #3276b1 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #428bca), color-stop(100%, #3276b1));
    background: -webkit-linear-gradient(-45deg, #428bca 0%, #3276b1 100%);
    background: linear-gradient(-45deg, #428bca 0%, #3276b1 100%);
}

#backIcon:hover:before, #backIcon:focus:before {
    color: #FFF;
	border-color: #285e8e;
    background: #3276b1;
    background: -moz-linear-gradient(-45deg, #428bca 0%, #3276b1 100%);
    background: -o-linear-gradient(-45deg, #428bca 0%, #3276b1 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #428bca), color-stop(100%, #3276b1));
    background: -webkit-linear-gradient(-45deg, #428bca 0%, #3276b1 100%);
    background: linear-gradient(-45deg, #428bca 0%, #3276b1 100%);
}

#backIcon span {
    color: #FFF;
    font-weight: bold;
    position: relative;
}

.backIcon {
    width: 40px;
}

.hide {
    display: none;
}

/************************************** SF1 GLOBAL CSS  - END ************************************************************/

/************************************** SF1 CATALOG CSS       ************************************************************/

body {
	background: #FFF;
}

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, a, label {
    font-family: ProximaNova, Arial, sans-serif !important;
    -webkit-font-smoothing: antialiased;
}

.flag--body {
    float:left;
    width: initial;
}

.addButtonContainer {
    float:right;
    margin-left: 10px;
}

 @media (max-width: 373px) { 
    .flag--body {
        width: initial;
    }

    #addToCartBtn {
        display: none !important;
    }
}

@media (min-width: 374px) and (max-width: 395px) { 
    .flag--body {
        width: initial;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { 
    .flag--body {
        width: initial;
    }
 }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { 
    .flag--body {
        width: initial;
    }
 }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { 
    .flag--body {
        width: initial;
    }
}

.productImage {
    display: table-cell;
    width: 75px;
}

.listItemContent input[type="number"] {
    /*width: 4em;*/
	width: 6em;
}

#catalogTitle {
    display: table;
    width: 100%;
}

#catalogTitle > * {
    display: table-cell;
}

#catalogTitle >span {
    text-align: right;
}

#addToCartSingle {
    border:0;
    display:table-cell;
    width: 40px;
	padding-right: 15px;
    vertical-align: middle;
}

#addToCartSingle button {
    height: 40px;
    width: 40px;
    padding: 0px 8px 4px 8px;
    font-size: 18px;
}

.addToCartSingle {
    height: 40px;
    width: 40px;
    padding: 0px 8px 4px 8px;
    font-size: 18px;
}

.aptProdPrice {
    padding-bottom: 7px;   
}

.fieldValue > div , .fieldValue > span {
    display: inline;
}

#locationBox {
	background-color: #EDEFF0;
	border-right: 1px solid #DBDDDB;
}

.ui-btn {
	position: relative;
	bottom: 19px;
	left: 10px;
}

.aptLocationSection {
	text-align: left;
	padding: 14px 10px 0px 16px;
	border-bottom: 1px solid #ccc;
	color: #3E4143;
	font-size: 14px;
	line-height: 14px;
}

.aptLocationSection .ui-btn {
	position: relative;
	bottom: 16px;
	left: 10px;
	margin-bottom: -3px;
}

span.locationSelect {
	display: none;
}

#productDrillDownAdded {
/*    display: none;*/
    color: #2A932A;
}


/************************************** SF1 CATALOG CSS  END ************************************************************/

/************************************** SF1 PRICING CSS      ************************************************************/


.productImage {
    display: table-cell;
    width: 75px;
}

.ui-checkbox {
    display: inline;
}


.aptQuantity {
/*	display: table-cell;*/
/*	font-weight: bold !important;*/
}

.aptQuantity > div {
    display: inline;
}

.aptQuantity > span {
    display: block;
	font-family: ProximaNova, Arial, sans-serif !important;
}



.lineItemNumber {
    display: table-cell;
    width: 35px;
    background: #5CB85C;
	font-size: 18px;
	font-weight: bold;
}

.lineItemNumber  > span{
    display: block;
    text-align: center;
    color: white;
    font-weight: bold;
}

.cartTotal {
/*
    position: absolute;
	bottom: 0px;
*/
	height: 30px;
    line-height: 30px;
	background: #FAFBFB !important;
    color: #2A932A !important;
	text-align: right;
	font-weight: bold;
    padding-right: 10px;
}

/************************************** SF1 PRICING CSS  END ************************************************************/

.lineItems {
    padding: 0;
}

/************************************** SF1 MINICART CSS     ************************************************************/

#pricingBar {
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: black;
    color: white;
}

#list {
    margin-bottom: 0 !important;
}

/************************************** SF1 MINICART CSS END  ************************************************************/

/************************************** SF1 MODAL CSS START  ************************************************************/

/* General styles for the modal */

/* 
Styles for the html/body for special modal where we want 3d effects
Note that we need a container wrapping all content on the page for the 
perspective effects (not including the modals and the overlay).
*/
.md-perspective,
.md-perspective body {
	height: 100%;
	overflow: hidden;
}

.md-perspective body  {
	background: #222;
	-webkit-perspective: 600px;
	-moz-perspective: 600px;
	perspective: 600px;
}

/*.md-modal { /* Original code */
	/*position: fixed;
	top: 50%;
	left: 50%;
    top: 60%;
    width: 80%;
	max-width: 630px;
	min-width: 100px;
	height: auto;
	z-index: 2000;
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}*/

.md-modal {  /* For Catalog, in original position, with 1 button */
	position: fixed;
	/*top: 50%;
    top: 60%;*/
	left: 50%;
	/*bottom: 12px;*/
	/*bottom: -40px;*/
	bottom: 0;
    /*width: 80%;*/
	width: 100%;
	max-width: 630px;
	min-width: 100px;
	height: auto;
	z-index: 2000;
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-50%) translateY(0%);
	-moz-transform: translateX(-50%) translateY(0%);
	-ms-transform: translateX(-50%) translateY(0%);
	transform: translateX(-50%) translateY(0%);
}

.md-show {
	visibility: visible;
}

.md-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 1000;
    background: black;
    opacity: 0.5;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show ~ .md-overlay {
	opacity: 0.5;
	visibility: visible;
}

/* Content styles */
.md-content {
	color: #fff;
    background: #344B5D;
	opacity: 0.75;
    border: 1px solid #294052;
	position: relative;
	border-radius: 0px;
	margin: 0 auto;
}

.md-content h3 {
	margin: 0;
	padding: 0.4em;
	text-align: center;
	font-size: 2.4em;
	font-weight: 300;
	opacity: 0.8;
	background: rgba(0,0,0,0.1);
	border-radius: 3px 3px 0 0;
}

.md-content > div {
	padding: 15px 40px 30px;
	margin: 0;
	font-weight: 300;
	font-size: 1.15em;
}

.md-content > div p {
	margin: 0;
	padding: 10px 0;
}

.md-content > div ul {
	margin: 0;
	padding: 0 0 30px 20px;
}

.md-content > div ul li {
	padding: 5px 0;
}
    
    
.overflowMenu {
    z-index: 9001;
}

.overflowList {
    list-style: none;
    padding: 0;
}

.overflowList li {
    /*padding: 5px;*/
	padding-top: 10px;
	padding-right: 15px;
	padding-bottom: 2px;
	padding-left: 15px;
}
    
/* Effect 3: Slide from the bottom */
.md-effect-3 .md-content {
	-webkit-transform: translateY(20%);
	-moz-transform: translateY(20%);
	-ms-transform: translateY(20%);
	transform: translateY(20%);
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show.md-effect-3 .md-content {
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	opacity: 1;
}
   	
/************************************** SF1 MODAL CSS END  ************************************************************/


.quoteField {
    padding: 0;
}

.quoteField > * {
    display: table-cell;
    width: 50%;
}

.quoteLabel {
    text-align: right !important;
}

.quoteValue {
    text-align: left;   
}

/************************************** MEDIA QUERIES  ************************************************************/

/* Phone portrait*/
@media (max-width: 700px) { 
    
    #menuWindow {
        width:85%;
    }
    
    #sf1App {
        margin-left: -85%;   
    }
    
    #wrapper {
        margin-left: 85%;
    }
    
}



/* Phone landscape*/
@media (min-width: 500px) { 
    .cartBadge {
/*        right: 38%;*/
    }

    .rulesBadge {
        right: 29%;
    }
 }

/* Tablet Portrait */
@media (min-width: 700px) { 
    
    .cartBadge {
/*        right: 38%;*/
    }

    .rulesBadge {
        right: 35%;
    }
 }

/* Tablet Landscape */
@media (min-width: 1000px) { 
    .cartBadge {
/*        right: 38%;*/
    }

    .rulesBadge {
        right: 40%;
    }
 }
