/*Nova design changes css*/
.app-bar-title-override {
	width: 20%;
    flex: 0 !important;
}

.logo-align {
	width: 3rem;
	margin: 0 0 0 1rem !important;
}

.loading-bar {
	top: 4rem;
}

.subheader {
	margin-top: 2rem;
}

.nova-popup-fix {
	margin-top: 0 !important;
}

.nova-grid-content-fix {
	margin-top: 2rem !important;
}

.catlog-align {
	margin-top: 4rem !important;
}

nav {
	background-color: #F0F1F2;
}

.bredcrumb-align {
	margin-top: 0.7rem !important;
}

.asset-filter-align {
	margin-top: 2.4rem !important;
}

.nova-assets-sideview-override {
	margin-top: 4.5rem;
}

.cost-align-top {
	margin-top: 3.3rem !important;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	/* IE9+ specific styles go here */
	.nova-popup-fix {
		margin-top: -12.5rem !important;
	}
}

@media screen and (min--moz-device-pixel-ratio: 0) {
	/*Firefox specific styles go here */
	.nova-popup-fix {
		margin-top: 19rem !important;
	}
}

.content-margin-top {
	margin-top: 0;
}

.toggle-element {
	display: block;
}

md-dialog#grid-cart-subtotal-popup {
	top: 8rem;
}