/* ==========================================================================
   Buttons
   ==========================================================================
*/

button,
.btn {
	margin: 4px;
	padding:2px 12px;
	//box-shadow: 0 2px 4px 0 rgba(50, 65, 83, 0.38);
	border:0;
	outline:0;
	overflow:hidden;
	display: inline-block;
	cursor:pointer;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity, transform;
	transition: all .3s ease-out;
	font-size: 14px;
	border-radius: 2px;	
	height: 36px;
	text-align: center;
	&.primary {
		background: #0079CC;
		color:$white;
		&:active {
			background:  #0079CC;
		}
	}
	&.flat{
		height: 21px;
		letter-spacing: 0.4px;	
		line-height: 21px;
		background:transparent;
		color: #323232;
		&:active {
			color:#323232;
		}
	}
	&.primary.flat {
		color:$blue;
		&:active {
			color:$blue-darken-2;
		}
	}
	&.secondary {
		background:$white;
		height: 36px;	
		border: 1px solid #0079CC;	
		color:$blue-lighten-3;
		&:active {
			color:$blue-lighten-2;
		}
	}
	&.action {
		background:$blue;
		color:$white;
		&:active {
			background:$blue-lighten-1;
		}
	}
	&.disabled {
		background:$grey-lighten-2;
		color:$grey;
		box-shadow:none;
		&:hover {
			box-shadow:none;
		}
	}
	&:hover {
		box-shadow: 0 3px 8px 0 rgba(50, 65, 83, 0.5);
	}
	&.flat:hover {
		box-shadow:none;
	}
}