
		textarea2 {
			width: 25%;
		}
		
		.oddRow {
			background-color: #FFFFFF;
		}
		
		.evenRow {
			background-color: #EDF3FE;
		}
		
		.searchField {
		    float:left; 
		    width:300px; 
		    height:27px; 
		    line-height:27px;
		    text-indent:10px; 
		    font-family:arial, sans-serif; 
		    font-size:1em; 
		    color:#333; 
		    background: #fff; 
		    border:solid 1px #d9d9d9; 
		    border-top:solid 1px #c0c0c0; 
		    border-right:none;
		}
		
		 .inputStyle {
		    margin-left: 5px;
			margin-top: 45px;
			margin-bottom: 15px;
			width:150px;
		}

