.proposal-summary__current {
    display: none!important;
}
a.btn ng-binding {
visibility:hidden; display:none;
}
.block-refine-subcategories__children {
              text-align: -webkit-right;
              text-align: -moz-right;
              text-align: -o-right; 
              text-align: -ms-right;
              text-align: right;
}
.header-global {
    background-color: #2093DA;
    color: #FFF;
    position: fixed;
    top: 0;
    width: 100%;
    height: 3.7rem;
    z-index: 100000;
    line-height: 2.2rem;
    
   
    display: inline-block;
    background-size: 90px 50px;
    background-position: center center;
}


.configure-product__product-prices .configure-product__price-row:last-child {
    display: none;
}


#j_id0:finalizeCart:idCartHeader:j_id11:j_id31 { display: none; }

.category-selection 
              visibility: hidden;
              position: absolute;
}
.select2-disabled{
              display:none!important;
              visibility: hidden;
}
.main-cart-totals-container tbody tr:last-child 
{
    display:none;
}
div.main-product-catalog__product-block.ng-scope .ng-scope.ng-binding {
    display: none;
}

.main-product-catalog .pbBody .dataCol a, .main-product-catalog h3 a, .pbBody .main-product-catalog .dataCol a {
    color: #2C99DC;
    text-decoration: underline;
}

configure-product-header .main-configure-product__product-header-col {
              display: none;
}

configure-product-header .main-configure-product__product-information {
              width: 100%;
}
.proposal-summary__proposal__header__button > a:last-child{
 display:none!important;
  visibility: hidden;
}

label.product-option__name > span {
    display: none;
}
.main-product-catalog li a {
    display: none;
}

.product-option__quantity input[type] {
    width: 4.5rem !important;
}
.product-option__quantity__readonly{
display: inline-block;
padding-left: 0rem;
}

.product-option__quantity input[type]{
text-align: center;
}
li.option-line-col {
    border-bottom-width: 1px;
    border-bottom-color: #DDDDDD;
    border-bottom-style: dotted;
}
md-dialog-content div.product-attribute {
     display: none;
}

.category-selection {
	display: none;
}

.ui-grid-header-cell .ui-grid-cell-contents
{
 width: 100% !important;
}

.grid-cart-breakup-banner{
width: fit-content;
}
.ands-app-bar .ands-app-bar-title .ands-app-bar-logo {
    display: inline;
    padding: 0;
    margin: 0;
    width: 5.9375rem;
    height: 1.125rem;
    white-space: nowrap;
    background: url(https://nokia.my.salesforce.com/resource/NokiaCPQ) center;
    text-indent: -9999px;
}
.ui-grid-cart-totals-cell .ui-grid-cell-contents
{
 width: fit-content;
}
.aptNokia.read-only-plain-text {
	min-width: 5rem;
}
.ands-app-bar-title{
	min-width: 70px;
	height:25px;
}
.app-bar-title-override{
	background-color: #2093DA;
}
a.ands-app-bar-logo {
	display: inline-block;
	width: 92px;
	height: 32px;
	background: url(https://nokia.my.salesforce.com/resource/1523599979000/NokiaCPQ) no-repeat;
	background-position: left;
	background-size: contain;
}
.display-actions {
	background: #f3f2f2;
	box-shadow: 0 -2px 2px 0 rgba(0,0,0,0.16);
	color: #FFF;
	padding: 0;
	height:35px;
	width: 100%;
	position: fixed;
	clear: both;
	bottom: 0rem;
	z-index: 29999; /* should be less than modal-backdrop z-index */
	display: flex;
}
.display-actions-buttons {
	flex: auto;
	display: flex;
	flex-direction: row-reverse;
	padding:0rem;
}
.display-actions-block-bottom {
	height: auto;
	min-height: 3.2rem;
	bottom: 0;
	left: 0;
	background: #f3f2f2;
	-webkit-box-shadow: 0 -2px 2px 0 rgba(0,0,0,0.16);
	box-shadow: 0 -2px 2px 0 rgba(0,0,0,0.16);
	z-index: 8000;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	flex-wrap: wrap;
	padding:0rem;
}