.THIS .fir-input {
    height: 65px;
    margin-top: var(--lwc-spacingSmall,0.75rem);
}
            
.THIS .label-fix {
    position: relative;
    right: 5px;
	display: inline-block !important;
}
        
.THIS .fir-input.mandatory {
    border-color: rgb(194, 57, 52, 0.5);
}
        
.THIS .fir-input.mandatory:-o-input-placeholder{
    font-weight: bold;
}
        
.THIS .fir-input.mandatory:-ms-input-placeholder {
    font-weight: bold;
}
        
.THIS .fir-input.mandatory::-moz-placeholder {
    font-weight: bold;
}
        
.THIS .fir-input.mandatory::-webkit-input-placeholder {
    font-weight: bold;
}