/**
 *	Apttus Contract Management
 *	agreementdocumentsearch.css
 *	 
 *	@2019 Apttus Inc. All rights reserved.
 * 
 */
html{
	background:none;
}
body {
	margin: 0px;
	background-color: #b0c4df!important;
}
.slds-icon-text-default{
	fill: #706e6b!important;
}
.searchHeader {
	padding: 1.2rem 1rem 1.2rem 1rem!important;
}
.errorMessage {	
	width:50%!important;
	margin-top:1%!important;
}
.filterSection{
	width:45% !important; 
	display:inline-block !important;
}
.resultsPanel {
	background-color:white;
	margin:0px 8px;
	border-radius:4px;
}
.resultsDiv {
	overflow:auto;
	max-height:64vh;
}
.noMatchErrorCls{
	justify-content: left!important; 
	margin-top: 1%!important; 
	width: 60%!important; 
	margin-left: 1%!important; 
	border-radius: 2px!important; 
	margin-top:1%!important;
}
.headerSection {
	background-color: white;
	margin: 8px;
	border-radius: 4px;
	z-index: 1;position: sticky;
	border-bottom: 1px solid rgb(221, 219, 218);
}
.slds-icon_background{
	background-color:#4dca76!important;
}

.downloadIconCls{
	fill: White!important;
}
.slds-icon_container--circle{
	padding:.3rem!important;
}
.search-text{
	width:40% !important;
}
.emailIcon{
	float:right!important;
	margin-right:4%!important;
	background:#f2cf5b!important;	
}
.search-button{
	margin-left:.1%!important;
	position:absolute!important;
}

.viewIconCls{
	fill: White!important;
}
.addClausePopuUpCls{
	position:fixed!important;
	top:4%!important;
	padding:0px!important;
	width:80%!important;
	left:10%!important;
}
.addClauseInputContainer{
	padding:0px!important;
}
.animated-background {
	border-radius:4px;
	margin-bottom: 9px;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-name: placeHolderShimmer;
	animation-timing-function: linear;
	background: #f6f7f8;
	background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
	background-size: 800px 104px;
	height: 10px;
	position: relative;
}
.timeline-item {
	background: #fff; 
	border-radius: 3px;
}
@keyframes placeHolderShimmer{
0%{
background-position: -468px 0
}
100%{
background-position: 468px 0
}
}
.slds-button:focus {

box-shadow: none!important;
}






.slds-scope hr {
margin :0rem!important;
}
.shadow {
margin-left: 3%;

-webkit-box-shadow: 6px 6px 6px -4px lightgrey;
-moz-box-shadow: 6px 6px 6px -4px lightgrey;
box-shadow: 6px 6px 6px -4px lightgrey;


}
.highlight {
background-color: yellow;
}

.errorCls{
color:red;
}
.hideCls{
	display :none;
}

.expandIcon{
padding:0px!important;
margin: 0 2% 0 0%;
}
.prl2{
float:right;
font-weight:bold;
padding-right:1%;
}
.pr{
margin-top:1%;
}

.collapseIcon{
padding:0px!important;
margin: 0 2% 0 0%;
}

.shadow::-webkit-scrollbar-track
{
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
border-radius: 10px;
background-color: #F5F5F5;
}

.shadow::-webkit-scrollbar
{
width: 10px;
background-color: #F5F5F5;
}

.shadow::-webkit-scrollbar-thumb
{
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
background-color: lightgrey;
}