/**
 *	Apttus Contract Management
 *	agreementdocumentsearchiframe.css
 *	 
 *	@2019 Apttus Inc. All rights reserved.
 * 
 */
.viewerContainerScroll::-webkit-scrollbar {
	width: 11px;
}
 
/* Track */
.viewerContainerScroll::-webkit-scrollbar-track {
	-webkit-border-radius: 8px;
	border-radius: 8px;
	background: #f7f9fb;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
/* Handle */
.viewerContainerScroll::-webkit-scrollbar-thumb {
	-webkit-border-radius: 8px;
	border-radius: 8px;
	background: #b1b1b4; 
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}
.slds-select{
	width:90%!important;
}
   
button:disabled{
	background:#c9c7c5!important;
	border: #c9c7c5!important;
}
.page{
	border : 1px solid grey !important;
}
html body.sfdcBody{
	padding:0px!important;
}