@font-face {
  font-family: 'Salesforce Sans';
  src: url('salesforce_lds/assets/fonts/webfonts/SalesforceSans-Regular.eot?orgId=00D58000000t8Dk');
  src: url('salesforce_lds/assets/fonts/webfonts/SalesforceSans-Regular.eot?orgId=00D58000000t8Dk#iefix') format('embedded-opentype'), url('salesforce_lds/assets/fonts/webfonts/SalesforceSans-Regular.woff2?orgId=00D58000000t8Dk') format('woff2'), url('salesforce_lds/assets/fonts/webfonts/SalesforceSans-Regular.woff?orgId=00D58000000t8Dk') format('woff'), url('salesforce_lds/assets/fonts/SalesforceSans-Regular.ttf?orgId=00D58000000t8Dk') format('truetype'), url('salesforce_lds/assets/fonts/webfonts/SalesforceSans-Regular.svg?orgId=00D58000000t8Dk') format('svg');
  font-weight: 400;
}

@font-face {
  font-family: 'Salesforce Sans';
  src: url('salesforce_lds/assets/fonts/webfonts/SalesforceSans-Bold.eot?orgId=00D58000000t8Dk');
  src: url('salesforce_lds/assets/fonts/webfonts/SalesforceSans-Bold.eot?orgId=00D58000000t8Dk#iefix') format('embedded-opentype'), url('salesforce_lds/assets/fonts/webfonts/SalesforceSans-Bold.woff2?orgId=00D58000000t8Dk') format('woff2'), url('salesforce_lds/assets/fonts/webfonts/SalesforceSans-Bold.woff?orgId=00D58000000t8Dk') format('woff'), url('salesforce_lds/assets/fonts/SalesforceSans-Bold.ttf?orgId=00D58000000t8Dk') format('truetype'), url('salesforce_lds/assets/fonts/webfonts/SalesforceSans-Bold.svg?orgId=00D58000000t8Dk') format('svg');
  font-weight: 700;
}

@font-face {
  font-family: 'Salesforce Sans';
  src: url('salesforce_lds/assets/fonts/webfonts/SalesforceSans-Italic.eot?orgId=00D58000000t8Dk');
  src: url('salesforce_lds/assets/fonts/webfonts/SalesforceSans-Italic.eot?orgId=00D58000000t8Dk#iefix') format('embedded-opentype'), url('salesforce_lds/assets/fonts/webfonts/SalesforceSans-Italic.woff2?orgId=00D58000000t8Dk') format('woff2'), url('salesforce_lds/assets/fonts/webfonts/SalesforceSans-Italic.woff?orgId=00D58000000t8Dk') format('woff'), url('salesforce_lds/assets/fonts/SalesforceSans-Italic.ttf?orgId=00D58000000t8Dk') format('truetype'), url('salesforce_lds/assets/fonts/webfonts/SalesforceSans-Italic.svg?orgId=00D58000000t8Dk') format('svg');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'Salesforce Sans';
  src: url('salesforce_lds/assets/fonts/webfonts/SalesforceSans-BoldItalic.eot?orgId=00D58000000t8Dk');
  src: url('salesforce_lds/assets/fonts/webfonts/SalesforceSans-BoldItalic.eot?orgId=00D58000000t8Dk#iefix') format('embedded-opentype'), url('salesforce_lds/assets/fonts/webfonts/SalesforceSans-BoldItalic.woff2?orgId=00D58000000t8Dk') format('woff2'), url('salesforce_lds/assets/fonts/webfonts/SalesforceSans-BoldItalic.woff?orgId=00D58000000t8Dk') format('woff'), url('salesforce_lds/assets/fonts/SalesforceSans-BoldItalic.ttf?orgId=00D58000000t8Dk') format('truetype'), url('salesforce_lds/assets/fonts/webfonts/SalesforceSans-BoldItalic.svg?orgId=00D58000000t8Dk') format('svg');
  font-style: italic;
  font-weight: 700;
}

.gbAppPage, .gbAppPage button, .gbAppPage h1, .gbAppPage h2, .gbAppPage h3, .gbAppPage h4, .gbAppPage h5, .gbAppPage h6, .gbAppPage input, .gbAppPage option, .gbAppPage select, .gbAppPage td, .gbAppPage textarea {
  font-family: 'Salesforce Sans', Arial, sans-serif;
}