.gbCustomThemePage .pageInstr {display:block; margin-bottom:10px;}
.gbCustomThemePage .clearfix{content: ""; display: table; clear: both;}

#customThemeList {background-color:#fff; border-spacing:0px; width:100%;}
#customThemeList td {border:1px solid #D4DADC !important; border-left:none !important; border-top:none !important; padding:4px; vertical-align:top;}
#customThemeList .lastHeaderCol {border-right:none !important;}
#customThemeList .themeType {border-right:none !important; white-space:nowrap;}
#customThemeList .themeSummary {cursor:pointer; width:175px; max-width:175px; word-wrap:break-word; text-decoration:underline;}
#customThemeList .themeRow .orange {color:orange;}
#customThemeList .themeRow .orange.red {color:red;}
#customThemeList .themeListInfo td {border-right:none !important;}
#customThemeList .highlightRow td {background-color: #E3F3FF !important;}

/* from folder.css */
#customThemeList .minus {background: transparent url(images/toggle_controls.png) no-repeat scroll -30px 0; padding-left: 10px; cursor: pointer; margin: 0 0 0 2px;}

.customThemeContainer {display:flex;}
.customThemeContainer .themeDetailsContent {border:1px solid #D4DADC; margin-left:5px; height:500px; width:60%; min-width:800px; overflow-y: scroll;}
.customThemeContainer .themeListContent {border:1px solid #D4DADC; overflow-y:auto; height:500px; width:22%;}
.customThemeContent {display:inline-block; background-color: #fff; vertical-align:top;}
.customThemeContent .gradientHeader {padding:4px; border-bottom:1px solid #D4DADC;}

#themeDetails, #themeDetailsInfo {padding:10px;}

#themeDetails {height:100%;}
#themeDetails .fieldNames {text-align:right; vertical-align:top; width:17%;}
#themeDetails .fieldNames, #themeDetails .inputs {display:inline-block;}
#themeDetails .fieldNames .cell {margin-bottom:13px;}
#themeDetails .inputs .cell {margin-bottom:7px;}
#themeDetails .inputs {margin-left:10px; vertical-align:top; width:80%; height:80%;}
#themeDetails .inputs .themeSummary {width:40%;}
#themeDetails .inputs #themeBody {width:100%; height:100%; min-height:400px; border: 1px solid #DDD; border-radius: 4px; border-bottom-right-radius: 0px;}
#themeDetails .themeBodyLabel {display: block; position: relative; width: 200px; text-align: left; padding: 16px 0 0 35px; font-weight: bold;}
#themeConfigContainer {padding-top: 40px;}
#themeConfigContainer .clearLink, #themeConfigContainer .addLink {color: #015BA7!important; cursor: pointer; padding-left: 6px;}

#themeDetails .bgColorPicker, #themeDetails .textColorPicker{display: inline-block; float: left;}
#themeDetails .colorPickerContainer {margin: 8px 20px 20px 10px;}
#themeDetails .colorPickerHeader {text-align: left; margin: 0 0 4px 0;}

#themeDetails .colorPickerDiv{display:table; vertical-align: middle;}
#themeDetails .colorPickerRow{display: table-row;}
#themeDetails .colorPickerRow div{display:table-cell; height:14px; width:14px; border-radius:2px; cursor:pointer;}
#themeDetails .bgColorPicker .colorPickerRow > div{border:1px solid white;}
#themeDetails .textColorPicker .colorPickerRow > div{border:1px solid #eaeaea;}
#themeDetails .colorPickerRow div.selected{border:1px solid #4C4C4C !important;}
#themeDetails .hexCheckBox{margin: 10px 5px 0 1px;}
#themeDetails .hexInputContainer{margin-top: 7px; display: none;}

#themeDetails .bgColorPicker .color-1{background-color:#be0c0c !important;}
#themeDetails .bgColorPicker .color-2{background-color:#ef580d !important;}
#themeDetails .bgColorPicker .color-3{background-color:#e2d142 !important;}
#themeDetails .bgColorPicker .color-4{background-color:#239458 !important;}
#themeDetails .bgColorPicker .color-5{background-color:#1476e4 !important;}
#themeDetails .bgColorPicker .color-6{background-color:#808080 !important;}
#themeDetails .bgColorPicker .color-7{background-color:#ff9fa2 !important;}
#themeDetails .bgColorPicker .color-8{background-color:#ffc88c !important;}
#themeDetails .bgColorPicker .color-9{background-color:#f1f89f !important;}
#themeDetails .bgColorPicker .color-10{background-color:#94ffc9 !important;}
#themeDetails .bgColorPicker .color-11{background-color:#dbeefc !important;}
#themeDetails .bgColorPicker .color-12{background-color:#d6d6d6 !important;}

#themeDetails .textColorPicker .colorPickerRow > div:before {content: "a"; position: relative; left: 4px;}
#themeDetails .textColorPicker .color-1{color:#be0c0c !important;}
#themeDetails .textColorPicker .color-2{color:#ef580d !important;}
#themeDetails .textColorPicker .color-3{color:#e2d142 !important;}
#themeDetails .textColorPicker .color-4{color:#239458 !important;}
#themeDetails .textColorPicker .color-5{color:#1476e4 !important;}
#themeDetails .textColorPicker .color-6{color:#808080 !important;}
#themeDetails .textColorPicker .color-7{color:#ff9fa2 !important;}
#themeDetails .textColorPicker .color-8{color:#ffc88c !important;}
#themeDetails .textColorPicker .color-9{color:#f1f89f !important;}
#themeDetails .textColorPicker .color-10{color:#94ffc9 !important;}
#themeDetails .textColorPicker .color-11{color:#dbeefc !important;}
#themeDetails .textColorPicker .color-12{color:#ffffff !important; background-color: #7b7b7b}
