.gbIconAlert, .gbIconCheckmark {display:none;}
.msgBox.infoMsg .msgDetail, .msgBox.warningMsg .rMessages, .msgBox .messageTime, .msgBox .msgTxt {margin-left:0 !important;}
.gbwForm .placeholderNoSort {text-indent:0;}