
ol{margin: 0;}
h1, h2, h3 { margin: 0;}
h2, h3 {font-size: 18px; color: #333;}
ul{list-style-type: none;margin: 0;}
body {
    background: #f0f1f2;
    font-family: 'Arial Regular', 'Arial', sans-serif;
    margin: 0px;
}
/* to hide IE default close icon for input */
::-ms-clear {
    display: none;
}

input,
select {
    height: 33px;
}
input,
textarea,
select {
    box-sizing: border-box;
    display: block;
    border: 1px solid #d7d7d7;
    border-radius: 3px;
    outline: none;
    text-indent: 10px;
    font-size: 14px;
    width: 100%;
}
input[type='checkbox'] {
    width: auto;
}

textarea { height: 66px; }

a, a:link, a:visited, a:hover, a:active {text-decoration:none;}
a { color: #2a94d7; }

/* hide SF default date picker */
div.hideCurrDate span.dateInput span.dateFormat{
   display:none;
}

.mini .hideCurrDate {
    width: 172px;
}

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
    outline: none;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
}
[type="checkbox"] + label + label {
    cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 17px; height: 17px;
    border: 1px solid #ccc;
    background: #f8f8f8;
    border-radius: 3px;
}
[type="checkbox"]:checked + label:before {
    background-color: #2a94d7;
    box-shadow: none;
    border: 1px solid #2a94d7;
}

/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    content: '\2713';
    position: absolute;
    top: 0; left: 4px;
    font-size: 14px;
    color: #fff;
    transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}
[type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
    color: #999;
}
[type="checkbox"]:disabled + label {
    color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
    border: 1px dotted blue;
}

.fa-question-circle {
    color: #999;
    display: inline-block;
    margin-left: 7px;
}

.primary {
    position: fixed;
    top: 0;
    left: 0;
    background: #185a7d;
    color: #fff;
    width: 100%;
    height: 59px;
    overflow: hidden;
    min-width: 400px;
    z-index: 9999;
}
.primary h1, .primary h3 {
    margin: 0;
}
.primary h1 {
    color: #cccccc;
    font-size: 1.375em;
}
.primary h3 {
    font-size: 0.875em;
}
.primary div {
    float: left;
    margin: 7px 10px 10px 10px;
    height: 42px;
}

.back-nav {
    border-right: solid 1px #666666;
    padding-right: 10px;
}

.back-nav i {
    font-size: 1.750em;
    line-height: 39px;
}
.back-nav a {
    color: #fff;
}
.back-nav i:hover {
    color: rgb(42,148,214);
    cursor: pointer;
}
.title {
    line-height: 41px;

}

.sub-title {
    margin-left: 24px;
}
.sub-title h1, .sub-title h2, .sub-title h3 {
    display: inline-block;
    margin-top: 10px;
}
.sub-title h1 {
    font-size: 20px;
}
.sub-title h2 {
    color: #AEAEAE;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}
.rollup .sub-title {
    margin-left: 10px;
}
.sub-title h3 {
    color: #ff9900
}
.nav-container {
    height: 100%;

}
.nav-container .nav-toggle {
    border-radius: 5px;
    padding: 52px 3px;
    margin-left: 3px;
    float: left;
    background-color: #e8e9ea;
    color: #cbcccd;
}
.nav-container .nav-toggle:hover {
    background-color: #e2e3e4;
    color: #b5b6b6;
    cursor: pointer;
}

.nav {
    padding-left: 0;
    list-style-position: inside;
    width: 100px;
}
.nav li {
    padding: 12px 14px;
    cursor: pointer;
    color: #999999;
    background-color: #e4e4e4;
    margin-bottom: 3px;
    text-align: center;
}
.nav li .fa {
    font-size: 37px;
}

.nav li .fa-step-backward {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}

.nav li h4 {
    font-size: 12px;
    font-weight: normal;
    margin: 3px 0;
}
.nav li:hover {
    color: #4bca81;
}
.nav li.active {
    background: #fff;
    font-weight: bold;
}
.nav li.active:hover {
    cursor: default;
    color: #999999;
}
.nav li.first {
    border: none;
}

/* -------------------  modal styling ------------------- */
/* The Modal (background) */
.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #888;
    border-radius: 10px;
}

.main {
    padding: 89px 10px 0 10px;
    margin-bottom: 80px;
}

.main > table {
    width: 100%;
}

.main > table > tbody > tr > td:nth-child(1){
    vertical-align: top;
    min-width: 118px;
    width: 118px;
}

.body-content-container {
    vertical-align: top;
}

.main-sub {
    background: #fff;
    border-radius: 5px;
    border: solid 1px #d7d7d7;
    min-width: 768px;
}
.main-sub.summary-view {
    border-radius: 0;
    border: none;
}

.main-sub .header {
    padding: 10px 20px;
    border-bottom: solid 1px #e2e2e2;
}
.main-sub.summary-view .header {
    background-color: #f7f8f9;
}
.main-sub.summary-view .header:hover {
    cursor: pointer;
    background-color: #f2f2f2;
}

.main-sub .section {
    padding: 0 0 22px 0;
}

.footer {
    height: 65px;
    width: 100%;
    background: #54698D;
    position: fixed;
    bottom: 0;
}

.footer .inner-footer {
    padding: 15px 15px 0 286px;
    min-width: 385px;
}

.primary-btn {
    box-sizing: border-box;
    border-radius: 3px;
    padding: 9px 15px;
    font-size: 14px;
    cursor: pointer;
}

.secondary {
    background-color: #fff;
    color: #4BCA81;
}

.secondary:hover {
    background-color: #379965;
    color: #fff;
}

.modal-secondary {
    background-color: #fff;
    color: #999;
    border: solid 1px #e4e4e4;
}

.modal-secondary:hover {
    background-color: #cccccc;
    border: solid 1px #cccccc;
    color: #fff;
}

.tercery {
    background-color: #185a7d;
    color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    display: inline-block;
}
.tercery:hover {
    background-color: #2a94d7;
    color: #fff;
}

.tercery.disabled {
    cursor: default;
    background-color: #f2f2f2;
    color: #CCC;
}
.tercery.disabled:hover {
    background-color: #f2f2f2;
    color: #CCC;
}

.primary-action {
    background-color: #4BCA81;
    color: #fff;
    font-weight: bold;
}

.primary-action:hover {
    background-color: #379965;
}

.inner-footer .primary-commands a {
    margin-left: 10px;
}

.inner-footer a.cancel{
    color: #64b182;
    background: #a6e0b8;
    font-weight: bold;
}

.inner-footer a {
    float: left;
}

.previous-container{
    float: left;
}

.primary-commands {
    float: right;
}

.primary-commands li {
    float: left;
}

.primary-commands li a {
    margin-left: 7px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 0.875em;
    font-weight: 700;
}

.primary-commands input.cancel:hover, .primary-commands input.next:hover , .previous-container input.previous:hover {
    background: #379965;
}

.primary-commands input.cancel {
    color: #64b182;
    background: #fff;
    font-weight: bold;
}

.header .secondary-commands a {
    padding: 7px 12px;
}

/* command buttons */

.command-buttons {
    float: right;
    font-weight: normal;
    font-size: 1em;
    padding: 0
}
.command-buttons li, .command-buttons a {
    padding: 4px 0;
}
.command-buttons li {
    float: left;
}
.command-buttons a {
    font-size: 14px;
    margin-right: 7px;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 9px 20px;
}
.command-buttons a.disabled:hover {
    cursor: default;
}


/* secondary command buttons */

.secondary-commands a {
    color: #2A94D7;
    background-color: #F2F2F2;
}
.secondary-commands li a:hover {
    color: #fff;
    background-color: #2A94D7;
}
/* disabled */
.secondary-commands a.disabled {
    color: #C9C9C9;
}
.secondary-commands a.disabled:hover {
    color: #C9C9C9;
    background-color: #F2F2F2;
    cursor: default;
}

.inner-container {
    margin: 0 45px;
    overflow-x: auto;
    overflow-y: hidden;
}
.inner-container-maximize {
    margin: 0 0 0 20px;
    overflow: auto;
}

.column-three-grid {
    width: 275px;
    margin-right: 40px;
    float: left;
}

.column-three-grid input,
.column-three-grid select,
.column-three-grid textarea {
    width: 100%;
}

.column-three-grid:nth-child(3n+1) {
    clear: both;
}
.column-three-grid:nth-child(3n) {
    margin-right: 0;
}
.form-row {
    overflow: auto;
}
.content {
    padding-top: 10px;
}

.content .form2 {
    float: left;
    margin-left: 55px;
    width: 300px;
}
.content .form3 {
    float: left;
    margin-left: 15px;
}
.content .view {
}

fieldset {
    border: none;
    padding: 0;
}
.field {
    margin-top: 20px;
    position: relative;
}

.field > label {
    margin-bottom: 6px;
    display: inline-block;
}

a.advanced-search-link {
    color: #2a94d7;
}

.search {
    position: relative;
}
.search div {
    cursor: pointer;
}
.search .spy-glass {
    position: absolute;
    top: 10px;
    right: 12px;
    color: #079CCE;
    font-size: 20px;
    cursor: pointer;
}
.search .spy-glass div {
    display: none;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    position: relative;
    color: #999;
    background-color: #e4e4e4;
}
.search .spy-glass div:hover {
    color: #fff;
    background-color: #079CCE;
}
.search .spy-glass div i {
    position: absolute;
    top: 4px;
    left: 5px;
    font-size: 14px;
}
label, .criteria th {
    font-size: 14px;
    color: #666;
    font-weight: bold;
}
input[type="radio"] {
    width: 16px;
    height: 16px;
}
/*
border color when selected 
#2a94d7
border color unsselected
#e0e0e0

 */
/*input[type="radio"] {
    display:none;
    box-sizing: border-box;
    border: solid 1px #e0e0e0;
}
input[type="radio"] + label {
    color: #fff;
    border: solid 1px #e0e0e0;
    font-family:Arial, sans-serif;
    font-size:14px;
}
input[type="radio"] + label span {
    display:inline-block;
    width:17px;
    height:17px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    cursor:pointer;
    -moz-border-radius:  50%;
    border-radius:  50%;
}

input[type="radio"] + label span {
     background-color:#fff;
     border: solid 1px #e0e0e0;
}

input[type="radio"]:checked + label span{
     border: solid 4px #e0e0e0;
}

input[type="radio"] + label span,
input[type="radio"]:checked + label span {
  -webkit-transition:background-color 0.4s linear;
  -o-transition:background-color 0.4s linear;
  -moz-transition:background-color 0.4s linear;
  transition:background-color 0.4s linear;
}*/


input[disabled="disabled"],
select[disabled="disabled"],
textarea[disabled="disabled"]{
    color: #d7d7d7;
}



.multi-select-widget {
    width: 100%;
}
.scope.inner-container {
    margin: 10px 20px 30px 20px;
}
.scope-section {
    overflow: auto;
    max-width: 100%;
}
.scope-section-row {
    display: flex;
    flex-direction: row;
}
.scope-section:nth-child(2n), .scope-section:nth-child(3n) {
    margin-top: 19px;
}
.scope-section-field {
    margin-right: 20px;
    float: left;
    min-height: 112px;
    order: 1;
    padding: 10px 0;
}

.scope-section-field.product-scope-section-field {
    order: 2;
}
    .scope-section .multi-select-widget {
        margin-top: 5px;
        width: 240px;
    }
    .scope-section-label {
        font-size: 14px;
        font-weight: normal;
    }
    .scope-section-ctrl-cont {
        font-size: 14px;
        font-weight: normal;
        display: inline-block;
        vertical-align: top;
    }
    .scope-section-ctrl-cont > label {
        font-size: 14px;
        font-weight: normal;
        color: #999999;
    }
    .scope-section-excld-incl {
        padding: 20px 0px 0 12px;
        display: inline-block;
    }
    .scope-section-excld-incl.product-criteria {
        padding-top: 0;
    }

.search > div > input[type="text"] {
    margin: 0;
}
.field .split-column:first-child {
    margin-right: 2%;
}
.field .split-column {
    display:inline-block;
    width: 48%;
}
.field .split-column select, .field .split-column input {
    width: 100%;
}

.field .split-column input[type="text"], .field .split-column label {
    width: 100%;
}
.scope {
    margin-top: 12px;
    overflow: auto;
    padding: 0;
}
.scope li {
    float: left;
}
.scope .label {
    width: 182px;
}

.field .scope-search input, .field .scope-search .cards {
    width: 385px;
}
.incentive-search input, .incentive-search .cards {
    width: 300px;
}
.content .field select[multiple="multiple"] {
    height:auto !important;
}
.field .disabled {
    background: #f2f2f2;
}
textarea.field-input {
    height: auto !important;
}

.information-page {
    padding-left: 45px;
}

.field .code {
    text-transform: uppercase;
}

.date-ref-section-cont {
    padding-top:14px;
    min-width: 955px;
}

.inner-container-rollup {
    min-width: 955px;
}
.rollup-duration-reference-section > div {
    padding-top: 21px;
    overflow: auto;
}

.rollup-duration-reference-section .mini {
    float: left;
    margin-right: 8px;
}
.rollup-duration-reference-section .mini input,
.rollup-duration-reference-section .mini select {
    font-size: .875em;
}
.rollup-duration-reference-section .mini select.rollup-duration-ds {
    width: 150px;
}
.rollup-duration-reference-section .mini select.rollup-duration-field {
    width: 165px;
}
.rollup-duration-reference-section .mini select.rollup-duration-offsettype {
    width: 128px;
}
.rollup-duration-reference-section .mini input.rollup-duration-offsetvalue {
    width: 98px;
}

.radio-option {
    font-weight: normal;
}
.vertical .radio-option {
    overflow: auto;
    margin-bottom: 5px;
}
.radio-option label {
    line-height: 22px;
    margin-left: 8px;
}
.radio-option label, .radio-option input { }

.radio-option > div {
    overflow: auto;
    margin: 10px 0 5px 0;
}
.radio-option label {
    line-height: 22px;
    margin-left: 8px;
    font-weight: normal;
}
.radio-option label, .radio-option input {
    float: left;
}

.benefit-products-operator .radio-option label {
    text-transform: uppercase;
}

.radio-option td {
    padding-right: 15px;
}

.scope .radio-option > div {
    margin: 0 0 5px 0;
}
.field .apply-options {
    margin-top: 10px;
}
.field .apply-options label {
    font-weight: normal;
}
input[type="radio"] + label span {
    display: inline-block;
    height: 20px;
    width: 20px;
    vertical-align: middle;
    cursor: pointer;
    moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #d7d7d7;
    box-sizing: border-box;
}
input[type="radio"]:checked + label span {
    border: 5px solid #2a94d7;
}

.default-option {
    color: #ccc;
}
select.field-input option {
    padding: 10px;
}
select.field-input option[disabled="disabled"] {
    color: gray;
}
.date-input{
    background:#ffffff url("../images/calendar-icon.png") right center no-repeat;
    width:115px;
}
.option-search-control {
    overflow: auto;
}
.circle-btn {
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}
.search .cards {
    font-size: 0.875em;
    padding: 12px 0;
}
.search .cards div {
    display: inline-block;
}
.search .cards .card {
    background-color: #f2f2f2;
    padding: 6px 12px;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 7px;
}
.search .cards .cancel-btn {
    background-color: #c9c9c9;
    width: 18px;
    height: 18px;
    margin-left: 14px;
}
.search .cards .cancel-btn:hover {
    background-color: #079CCE;
}
.search .cards span {
    color: #999;
}
.search .cards i.fa-times {
    color: #fff;
    font-size: 0.813em;
}
.fa {
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Not implemented yet */
    -o-user-select: none;
    user-select: none;
}
.cell_numbering_1 {
    width: 1%;
    font-weight: bold;
}
.cell_field_15 {
    width: 15%;
}
.cell_field_15 select {
    width: 100%;
}
.cell_datasource_14 {
    width: 14%;
}
.cell_datasource_14 select {
    width: 100%;
}
.cell_value_7 {
    width: 7%;
}
.cell_value_7 input {
    width: 100%;
}
.cell_controls_5 {
    width: 6%;

}
.cell_operator_9 {
    width: 9%;
    font-weight: bold;
}
.cell_operator_9 select {
    width: 100%;
}

.additional-criteria-container {
    margin-top: 15px;
    margin-left: 24px;
}

.additional-criteria {
    width: 593px;
}

.inner-container.collapsible-cont {
    border-top: solid 1px #e2e2e2;
    margin: 0;
    padding: 0 20px 30px 20px;
}

.inner-container-criteria {
    padding: 20px 20px;
}

.collapsible.three-col {
    margin: 0 0 15px 0;
}

.section.information{
    min-width: 990px;
}
.section.information .collapsible {
    margin-left: 20px;
}

.section.information .inner-container {
    margin: 0;
    padding: 0 20px 30px 20px;
}

.section .collapsible {
    margin-left: 24px;
}
.collapsible {
    cursor: pointer;
    margin-bottom: 5px;
}
.collapsible .fa {
    width: 15px
}

.criteria-grid-wrapper {
    padding: 7px;
}

.criteria-container {
    background-color: #f7f8f9;
    overflow-x: auto;
}

.criteria-container .hint-text {
    font-size: 0.875em;
    color: #666;
    margin-left: 22px;
    padding: 10px 0;
}

.criteria-expression {
    margin-left: 30px;
    margin-top: 7px;
}

.criteria-expression h3 {
    font-size: 0.875em;
    color: #555555;
}

.criteria-expression input {
    width: 500px;
}

.criteria .multi-select-widget {
    height: 31px;
}

.criteria .multi-select-widget input[type="text"] {
    margin-top: 0;
}

.criteria {
    width: 100%;
    min-width: 1137px;
}
.criteria th {
    text-align: left;
    padding-bottom: 6px;
}
.criteria > tbody > tr > td {
    padding: 0 7px 5px 0;
}
.criteria .cell_controls_5 {
    padding: 0 0 0 0;
}
.criteria .circle-btn {
    width: 20px;
    height: 20px;
    font-size: 0.875em;
    float: left;
}
.criteria .circle-btn i {
    margin-top: 2px;
}
.criteria .cancel-btn {
    color: #fff;
    background-color: #c9c9c9;
}
.criteria .cancel-btn:hover {
    background-color: #ff0000;
}
.criteria .add-btn {
    width: 17px;
    height: 17px;
    color: #00d031;
    background-color: #fff;
    border: dotted 2px #c9c9c9;
}
.criteria .search input { }
.criteria .add-btn:hover {
    color: #fff;
    background-color: #00d031;
    border:dotted 2px #00d031;
}
.criteria .search .spy-glass { top: 5px; }

.criteria > tbody > tr > td > select, .criteria > tbody > tr > td input {
    width: 100%;
}
.row-controls {
    padding: 0 7px 5px 0;
}
.cancel-btn {
    margin-right: 5px;
}
.criteria > thead > tr > th:nth-child(1) {
    min-width: 57px;
}
.criteria > thead > tr > th:nth-child(2) {
    min-width: 25px;
}
.criteria > tbody > tr > td:nth-child(2) {
    font-weight: bold;
}
.criteria > thead > tr > th.criteria-datasource,
.criteria > thead > tr > th.criteria-field,
.criteria > thead > tr > th.criteria-value {
    min-width: 255px;
}
.criteria > thead > tr > th.criteria-operator {
    min-width: 90px;
}
.criteria > thead > tr > th.criteria-valueType {
    min-width: 125px;
}
.criteria > thead > tr > th.criteria-offsetValueType {
    min-width: 159px;
}
.criteria > thead > tr > th.criteria-offsetValue {
    min-width: 112px;
}


#dialog {
    display: none;
}


.product-search-header {
    width: 100%;
}
.product-search-header th {
    text-align: left;
}

.product-search-header, .advanced-search-results {
    font-size: 0.875em;
}

.advanced-search-header > thead > tr > th {
    padding: 7px 0;
}

.advanced-search-results {
    color: #666;
    width: 100%;
}
.advanced-search-results td, .product-search-header th {
    padding: 16px 0;
}
.advanced-search-results tr {
    border-bottom: 1px solid #ccc;
}
.advanced-search-results tr:nth-child(odd) {
    background-color: #f8f8f8;
}
.scrollable-data {
    overflow-y: auto;
    border-bottom:1px solid #ccc;
    border-top:1px solid #ccc;
    margin-bottom: 0px;
}
.product-search-header .checkbox-4 {
    text-align: center;
}
.checkbox-4 {
    width: 4%;
    text-align: center;
}
.product-15 {
    width: 15%;
}
.product-family-category-19 {
    width: 19%;
}
.pricelist-12 {
    width: 12%;
}
.charge-type-16 {
    width: 16%;
}

/* paging controls */
.data-controls {
    padding: 0 20px;
    font-size: 0.875em;
}
.top-data-controls {
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    margin-top: 0;
}
.commands {
    float: left;
    padding-top: 9px;
}
.commands .btn {
    width: 93px;
    color: #fff;
    margin-right: 7px;
}
.commands .disabled {
    background-color: #b4bcc4;
}
.btn {
    box-sizing: border-box;
    border-radius: 3px;
    padding: 9px 20px;
    font-weight: bold;
    font-size: 0.875em;
}
.cancel {
    background-color: #647687;
}
.select-active {
    background-color: #4bc077;
}
a.select:hover, a.cancel:hover {
    background-color: #379965;
}
.select {
    color: #64b182;
    background-color: #a6e0b8;
    font-weight: bold;
}
.paging {
    float: right;
    font-weight: 700;
    color: #5E5E5E;
    padding: 10px 0;
}
.paging a {
    color: #5E5E5E;
}
.numbering a {
    color: #5E5E5E;
}
.numbering a:hover {
    color: #2A94D7;
}

.paging .disabled {
    color: #aeaeae;
}
.paging .numbering a {
    padding: 5px 9px;
}
.paging .numbering .active {
    background-color: #e4e4e4;
    border-radius: 3px;
}
.paging-status {
    color: #a1a1a6;
    float: left;
}
.clearfix {
    *zoom: 1;
}

.clearfix:before,
.clearfix:after {
    display: table;
    line-height: 0;
    content: "";
}

.clearfix:after {
    clear: both;
}
.field-half-width .field {
    float: left;
    margin-right: 10px;
}
.field-half-width .field input {
    width: 125px !important;
    min-width: 125px !important;
}

.circle-btn {
    border-radius: 50%;
    text-align:center;
    cursor:pointer;
    width: 20px;
    height: 20px;
    font-size: 14px;
}
.cancel-btn {
    float: left;
    color: #fff;
    background-color: #c9c9c9;
}
.cancel-btn:hover {
    background-color: #ff0000;
}

.add-btn {
    float: left;
    width: 17px;
    height: 17px;
    color: #00d031;
    background-color: #fff;
    border: dotted 2px #c9c9c9;
}
.add-btn:hover {
    color:#fff;
    background-color:#00d031;
    border:dotted 2px #00d031;
}
.benefits-component-wrapper .entryProductIdSearchHidden.displayNone,
.benefits-component-wrapper .entryProductFamilyId.displayNone {
    display:none;
}
.benefit-dimensions input, .benefit-dimensions select{
    min-width: inherit !important;
}
.paging-status span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}
.advanced-search-container {
    padding: 17px 0 20px 20px;
}
.advanced-search-container .search, .advanced-search-container .search input {
    width: 420px;
    height: 32px;
}
.advanced-search-container .search input {
    margin: 0;
}
.advanced-search-container .search .spy-glass {
    top: 6px;
}

/* modal popup styling */
.advanced-search {
    background-color: #fff;
}
.advanced-search-outer-cont {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* jquery modal popup overrides */
.ui-widget {
    font-size: 14px;
    font-family: inherit;
}
.ui-menu .ui-menu-item {
    width: initial;
}
.ui-dialog-content .circle-btn {
    position: absolute;
    display:inline-block;
}
.ui-dialog-content .modal-dialog-close i {
    position: initial;
}

.ui-widget-header {
    border: none!important;
    background: none!important;
}
.ui-dialog .ui-dialog-content {
    padding: 0!important;
}
.ui-dialog {
    padding: 0!important;
}
.ui-dialog .ui-dialog-titlebar {
    padding:0!important;
}
.ui-dialog .ui-dialog-content {
    overflow: hidden!important;
}
.ui-dialog .ui-dialog-title {
    margin: 0!important;
    height:0!important;
}
span.ui-dialog-title {
    display: none;
}

.modal-dialog-close {
    width: 22px;
    height: 22px;
    position: absolute;
    color: #999;
    background-color: #e4e4e4;
    right: 12px;
    top: 10px;
}
.modal-dialog-close:hover {
    color: #fff;
    background-color: #079CCE;
}

.modal-dialog-close i {
    font-size: 14px;
    position: absolute;
    top: 4px;
    left: 5px;
}

.benefit-summary {
    width: 1088px;
    margin-top: 18px;
    color: #666;
}
.benefit-summary tr {
    background-color: #F8F8F8;
}
.benefit-summary tbody tr:hover, .benefit-summary tbody tr.selected {
    background-color: #CCFFCC;
    cursor: pointer;
}
.benefit-summary th {
    text-align: left;
    font-size: 0.875em;
    font-weight: bold;
    background-color: #F8F8F8;
    border-bottom:solid 1px #E4E4E4;
}
.benefit-summary tbody tr td, .benefit-summary thead tr th {
    padding: 10px 15px;
}
.benefit-summary .line-number {
    width: 7%;
}
.benefit-summary .benefit-product {
    width: 22%;
}
.benefit-summary .benefit-type {
    width: 17%;
}
.benefit-summary .price-matrix {
    width: 18%;
}

/* validation and error messaging */
.is-required, .required {
    border-left:solid 4px #c06057;
}
.required, .fa-exclamation-circle, .section-error h4, .message.errorM3 h4 {
    color: #c06057;
}
.required, .section-error, .message.errorM3 {
    background-color: #F6E4E4;
}
.required {
    border:solid 1px #c06057;
}
.field .fa-exclamation-circle {
    position: absolute;
    top: 30px;
    right: -20px;
}
.section-error, .message.errorM3 {
    border-top: solid 1px #c06057;
    border-bottom: solid 1px #c06057;
    padding: 0.7em 2.813em;
    margin: 10px 0;
}
.section-error span {
    color: #666666;
    font-size: 0.875em;
}

.section-error-list {
    list-style-type: disc;
    color: #c06057;
    font-size: 14px;
    margin-bottom: 11px;
}

.section-error h4, .message.errorM3 h4 {
    font-size: 1em;
    font-weight: normal;
    margin-bottom: 0.3em;
    margin-top: 0;
}

.criteriaexprvalidator-error-msg-cont {
    padding: 0;
    list-style-type: none;
    padding: 7px 0;
}

.criteriaexprvalidator-validationerror {
    border: 2px solid #c06057;
}
.criteriaexprvalidator-error-msg-cont > li, .message.errorM3 ul > li {
    color: #c06057;
    font-size: 0.875em;
}

.message.errorM3 ul {
    list-style-type: disc;
}

.field.checkbox {
    height: 20px;
}
.field.checkbox {
    height: 20px;
}
.messageCell, .errorMsg {
    color: #c06057;
}

/* coupons page */

.coupon-control-container {
}

.command-buttons.coupon {
    float: left;
}

.command-buttons.coupon li{
    padding: 8px 0;
}

.command-buttons.coupon a {
    color: #fff;
    background-color: #2a94d7;
    padding-left: 12px;
}

.command-buttons.coupon li a:hover {
    background-color: #1c78b1;
}

.command-buttons.coupon a.disabled {
    color: #C9C9C9;
    background-color: #F2F2F2;
}

.command-buttons.coupon a.disabled:hover {
    color: #C9C9C9;
    background-color: #F2F2F2;
    cursor: default;
}

.coupon-control-container .search {
    float: right;
}

.inner-container.coupon .quantity {
    float: left;
    width: 100px;
    margin-right: 10px;
}

/* base table styling */
.datatable {
    border: solid 1px #e4e4e4;
    border-radius: 5px;
    color: #666;
    border-collapse: separate;
    border-spacing: 0;
    padding: 0;
    margin: 0;
}
.datatable tbody tr td, .datatable thead tr th {
    padding-left: 15px;
    padding-right: 15px;
}
.datatable tbody tr td {padding: 5px 7px; height: 30px;}
.datatable thead tr th {padding: 10px 7px 5px 7px; height: 30px;}
.datatable thead tr.last-head-row th {padding: 0px 7px 7px 7px;}
.datatable {
    background-color: #F8F8F8;
}
.datatable tbody tr:hover, .datatable tbody tr.selected {
    background-color: #CCFFCC;
    cursor: pointer;
}
.datatable tbody tr.selected {
    cursor: default;
}
.datatable th {
    text-align: left;
    font-size: 0.875em;
    font-weight: bold;
}
.datatable .last-head-row th {
    border-bottom: solid 1px #E4E4E4;
}
.datatable .search .spy-glass {
    top: 5px;
}
.datatable .last-head-row input[type="text"], .datatable .last-head-row select {
    font-size: initial;
    font-weight: normal;
}

.data-grid {
    font-size: 14px;
    /*width: 100%;*/
}
.data-grid > thead > tr > th {
    font-weight: bold;
    color: #666;
    text-align: left;
    padding: 7px 7px;
    white-space: nowrap;
}
.data-grid > thead > tr > th {

}
.data-grid > thead {
    border-bottom: solid 1px #e4e4e4;
}
.data-grid > tbody > tr > td {
    padding: 15px 7px 7px 7px;
    vertical-align: top;
}

.data-grid > tbody > tr > td .incentive-field-cont {
    margin: 0;
}

.data-grid .actions {
    text-align: right;
    width: 85px;
    min-width: 85px;
}

.data-grid .actions .spnRowCheckContainer {
    display: inline-block;
    margin-top: 5px;
}

.data-grid .add-btn {
    margin-right: 7px;
}
.data-grid > thead > tr > th.row-count,
.data-grid > tbody > tr > td.row-count {
    padding: 0;
}
.data-grid > tbody > tr > td.row-count {
    padding-top: 25px;
}
.data-grid > tbody > tr > td.actions {
    padding-top: 18px;
}
.row-count {
    width: 15px;
    font-weight: bold;
}
.benefits-rate-table-header {
    display: inline;
    margin-right: 15px;
}
.benefits-header-action {
    padding: 7px 15px;
    margin-bottom: 7px;
}
.data-grid.benefits {

}
.data-grid.benefits .multi-select-widget {
    min-width: 171px;
}

.tier-rate-grid {
    font-size: 16px;
    width: 450px;
}
.tier-rate-grid > thead > tr > th {
    color: #999999;
    text-align: right;
    padding: 0 7px 12px 7px;
    font-size: 13px;
    font-weight: normal;
}
.tier-rate-grid > thead {
    border-bottom: solid 1px #e4e4e4;
}
.tier-rate-grid > tbody > tr > td {
    margin-top: 5px;
    padding: 7px;
    text-align: right;
}
.tier-rate-grid .actions {
    text-align: center;
    width: 60px;
}

.tier-rate-grid .tier-rate-actions {
    text-align: right;
    padding-top: 15px;
}

.tier-rate-modal {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.tier-rate-modal .tier-rate-grid th {
    font-size: 14px;
    font-weight: bold;
    color: #666;
}
.rate-tier-modal-actions {
    padding: 12px 18px;
    background-color: #f2f2f2;
}
.rate-tier-modal-actions > a {
    float: none;
    display: inline-block;
    font-weight: normal;
}
.tier-rate-modal h2 {
    color: #666;
    text-align: left;
    padding: 12px 18px;
    border-bottom: solid 1px #e4e4e4;
}
.tier-rate-modal .tier-rate-grid {
    margin: 12px 18px;
    width: auto;
}
.tier-rate-modal .add-btn {
    margin-right: 9px;
}
.tier-rate-modal .add-btn {
    margin-right: 9px;
}
.tier-rate-modal input[disabled='disabled'] {
    color: #000;
}
.tier-rate-modal .row-actions {
    min-width: 60px;
}
.tier-rate-modal input {
    width: 104px;
    text-align: right;
    padding-right: 10px;
}
.tier-rate-modal select {
    width: 165px;
}

.options-tab {
    padding: 5px 0;
    border-radius: 3px;
    border: solid 1px #cccccc;
    cursor: pointer;
    color: #2a94d9;
    width: 27px;
    text-align: center;
    display: inline-block;
}
.options-tab:hover {
        background-color: #f7f8f9;
}
    .options-tab .fa-check-square, .options-tab .fa-hand-o-up {
        font-size: 18px;
    }
    .options-tab .fa-check-square:hover {
        cursor: pointer;
        color: #000;
    }

.options-tab-container {
    width: 170px;
    position: absolute;
    border: solid 1px #e4e4e4;
    background-color: #fff;
    margin-left: 54px;
    z-index: 5000;
}
.options-tab-container table {
    margin-bottom: 20px;
    width: 100%;
}
.options-tab-container tr {
    cursor: pointer;
}
.options-tab-container tr:hover {
    background-color: #f2f2f2;
}
.options-tab-container td {
    text-align: left;
    padding: 9px 7px;
}
.options-tab-container td:nth-child(1) {
    padding-left: 8px;
    padding-right: 3px;
    width: 20px;
}

.options-tab-container .fa-times-circle,
.options-tab-container .fa-files-o,
.options-tab-container .fa-minus-circle {
    color: #999;
}

.options-tab-container .fa-times-circle {
    font-size: 21px;

}
.options-tab-container .fa-files-o {
    font-size: 18px;
}
.options-tab-container .fa-minus-circle {
    font-size: 21px;
}
.options-tab-container .add-btn {
    margin-right: 0;
    width: 15px;
    height: 15px;
}
.options-tab-container  .add-btn:hover {
    color: #00d031;
    background-color: #fff;
    border: dotted 2px #c9c9c9;
}

/* coupons table */
table.coupon {
    min-width: 1077px;
    width: 100%;
    margin-top: 10px;
}

table.coupon .command-buttons.coupon li, table.coupon .command-buttons.coupon a {
    padding: 7px 0;
}
table.coupon .command-buttons.coupon a {
    padding-left: 20px;
    padding-right: 20px;
}
table.coupon input[type="text"], table.coupon select, table.coupon .multi-select-widget {
    width: 100%;
}
table.coupon input[type="text"] {
    height: 26px;
}
table.coupon select {
    height: 30px;
}
.coupon .check-box {
    width: 2%;
}
.coupon .line-number {
    width: 4%;
}
.coupon .code {
    width: 13%;
}
.coupon .status {
    width: 7%;
}
.coupon .active {
    width: 6%;
}

.coupon .start-date {
    width: 15%;
}
.coupon .end-date {
    width: 15%;
}
.coupon .assignee-type {
    width: 14%;
}
.coupon .assignee {
    width: 21%;
}
.datatable.coupon input[type="checkbox"]:before {
    position: relative;
    height: 0;
    border: 0;
}
.datatable.coupon input[type="checkbox"]:after {
    position: relative;
}

/* limits page table */
table.benefit-limits {
    width: 1080px;
    margin-top: 10px;
}
.benefit-limits .line-number {
    width: 7%;
}
.benefit-limits .limit-applied-to {
    width: 20%;
}
.benefit-limits .metric {
    width: 26%;
}
.benefit-limits .limit-value-type {
    width: 21%;
}
.benefit-limits .limit-value {
    width: 13%;
}

.rollup-group-by-params {margin-top:20px;}
.rollup-group-by-params > thead > tr > th:nth-child(1) { width: 4%;}
.rollup-group-by-params > tbody > tr > td:nth-child(1) {
    font-size: 14px;
    color: #666;
    font-weight: bold;
}
.rollup-group-by-params input { height: 29px; }
.rollup-group-by-params select { height: 33px; }
.rollup-group-by-params textarea, .rollup-group-by-params select {
    margin-top: 7px;
}

.simple-data-table input, .simple-data-table select {
    width: 100%;
    margin-top: 5px;
    font-size: 0.875em;
    text-indent: 5px;
}

.simple-data-table th {
    text-align: left;
    font-size: 14px;
    color: #666;
    font-weight: bold;
}
.simple-data-table tbody tr td {
    padding: 0px 10px 5px 0;
}
.simple-data-table .cancel-btn {
    color: #fff;
    background-color: #c9c9c9;
    margin-right: 10px;
}


.criteria-value > div.field {
    float: left;
    margin-top: 0;
}
.criteria-value > div.field input, .criteria-value > div.field select {
    width: 200px;
    margin-right: 29px;
}

.benefit-row .search {
    color: #079CCE;
}
.benefit-row .search:hover {
    text-decoration: underline;
}

.milestone-table > thead > tr > th {
    color: #666;
}

.milestone-table > thead > tr > th,  .milestone-table > tbody > tr > td {
    text-align: left;
    padding: 10px;
}