@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?orgId=00D58000000t8Dk&4op898');
  src: url('fonts/icomoon.eot?orgId=00D58000000t8Dk&4op898#iefix') format('embedded-opentype'), url('fonts/icomoon.woff2?orgId=00D58000000t8Dk&4op898') format('woff2'), url('fonts/icomoon.ttf?orgId=00D58000000t8Dk&4op898') format('truetype'), url('fonts/icomoon.woff?orgId=00D58000000t8Dk&4op898') format('woff'), url('fonts/icomoon.svg?orgId=00D58000000t8Dk&4op898#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^=icon-], [class*=icon-] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-plus:before {
  content: "\f067";
  vertical-align: middle;
  font-size: .96em;
}

.icon-list-ul:before {
  content: "\f0ca";
  font-size: .9em;
}

.icon-edit:before {
  content: "\f044";
  vertical-align: middle;
  font-size: 1.1em;
}

.icon-pencil-square-o:before {
  content: "\f044";
}

.icon-bars:before {
  content: "\f0c9";
  font-size: .9em;
}

.icon-navicon:before {
  content: "\f0c9";
}

.icon-reorder:before {
  content: "\f0c9";
}

.icon-rotate-left:before {
  content: "\f0e2";
}

.icon-undo2:before {
  content: "\f0e2";
}

.icon-info:before {
  content: "\e90a";
}

.icon-undo:before {
  content: "\e8d8";
}

.icon-calendar:before {
  content: "\e907";
}

.icon-circle-arrow-right:before {
  content: "\e909";
}

.icon-arrows-vertical:before {
  content: "\e903";
}

.icon-pin:before {
  content: "\e905";
}

.icon-wrap:before {
  content: "\e908";
}

.icon-cog:before {
  content: "\e904";
}

.icon-pencil:before {
  content: "\e906";
}

.icon-spinner:before {
  content: "\e97f";
}

.icon-pie-chart:before {
  content: "\e99a";
}

.icon-filter:before {
  content: "\e900";
}

.icon-ellipses:before {
  content: "\e901";
}

.icon-arrow:before {
  content: "\e902";
}

.icon-grid:before {
  content: "\e910";
  font-size: 2.8em;
  line-height: 1.6em;
}

.icon-broadcast:before {
  content: "\e912";
  font-size: 3.5em;
  line-height: 1.2em;
}

.icon-cogs:before {
  content: "\e913";
  font-size: 3.5em;
  line-height: 1.4em;
}

.icon-storage:before {
  content: "\e914";
  font-size: 3.1em;
  line-height: 1.5em;
}

.icon-tabs-outline:before {
  content: "\e915";
  font-size: 3.9em;
  line-height: 1.1em;
}

.icon-key:before {
  content: "\e911";
  font-size: 3.5em;
  line-height: 1.4em;
}

.icon-compass:before {
  content: "\e916";
  font-size: 3.5em;
  line-height: 1.3em;
}

.icon-info1:before {
  content: "\e917";
}

.icon-information:before {
  content: "\e917";
}

.icon-star:before {
  content: "\e90b";
}

.icon-star1:before {
  content: "\e90c";
}