.sort-filter-menu-container {
    font-size: 14px;
    font-family: Arial;
    font-weight: normal;
    color: #666;
    background-color: #fff;
    position: absolute;
    min-width: 100%;
}
.sort-filter-menu-head {
    display: inline-block;
    background-color: #f2f2f2;
    width: 100%;
    font-weight: normal;
    margin: 0 0 3px;
    padding: 9px 0;
}
.sort-filter-menu-head-filter {
    margin-bottom: 0;
}
.sort-filter-menu-sect-head-lbl {
    padding: 0 7px;
}
    .sort-filter-menu-head:hover {
        background-color: #2a94d7;
        cursor: pointer;
        color: #fff;
    }
.sort-filter-menu-sort-state {
    float: right;
    padding-right: 12px;
}
.sort-filter-menu-state-indicator-cont {
    display: inline-block;
    width: 15px;
    height: 13px;
}
.sort-filter-menu-state-indicator {
    display: inline-block;
    position: absolute;
}
.sort-filter-menu-indicator-collapsed {
}
    .sort-filter-menu-indicator-collapsed > i.fa-sort-desc {
        -ms-transform: rotate(-90deg); /* IE 9 */
        -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
        transform: rotate(-90deg);
    }

.sort-filter-menu-indicator-exp {
}
    .sort-filter-menu-indicator-exp > i.fa-sort-desc {

    }
.sort-filter-menu-sect-collapsed {
    display: none;
}
.sort-filter-menu-sect-expanded {
    padding-left: 2px;
}
.sort-filter-menu-filter-list {
    height: 100%;
    max-height:200px;
    overflow: hidden;
    overflow-y: scroll;
    list-style: none none;
    padding-left: 0;
    margin: 0;
}
.sort-filter-menu-filter-list li {
    padding: 7px 5px;
    white-space: nowrap;
}
.sort-filter-menu-sort-direction-cont {
    padding: 7px 5px;
}
    .sort-filter-menu-sort-direction-cont > label {
        display: block;
        margin-bottom: 7px;
    }
    .sort-filter-menu-sort-direction-cont label:hover {
        cursor: pointer;
    }
.sort-filter-menu-footer {
    display: table;
    width: 100%;
}
    .sort-filter-menu-footer-button {
        background-color: #e4e4e4;
        font-size: 13px;
        padding: 9px 0;
        text-align: center;
        display: table-cell;
        width: 50%;
    }
        .sort-filter-menu-footer-button:hover {
            background-color: #2a94d7;
            color: #fff;
            cursor: pointer;
        }