<div class="sort-filter-menu-container directives-common" ng-show="settings.show" ng-click="$event.stopPropagation()">
    <div class="sort-filter-menu-head" ng-click="showView(views.sorting)">
        <span class="sort-filter-menu-sect-head-lbl">
            <span class="sort-filter-menu-state-indicator-cont"
                  ng-class="{'sort-filter-menu-indicator-collapsed': settings.view != views.sorting, 'sort-filter-menu-indicator-exp': settings.view == views.sorting}">
                <i class="sort-filter-menu-state-indicator fa fa-sort-desc"></i>
            </span>
            {{labels.sort}}
        </span>
        <span class="sort-filter-menu-sort-state">{{(settings.sorting.ascending === null ? '' : (settings.sorting.ascending ? labels.ascending : labels.descending))}}</span>
    </div>
    <div ng-class="settings.view == views.sorting ? 'sort-filter-menu-sect-expanded' : 'sort-filter-menu-sect-collapsed'"
         ng-click="$event.stopPropagation()">
        <div class="sort-filter-menu-sort-direction-cont">
            <label><input type="radio" name="sortDirection" ng-value="true" ng-model="settings.sorting.ascending" ng-click="onSortClick()"> <span><span></span>{{labels.ascending}}</span></label>
            <label><input type="radio" name="sortDirection" ng-value="false" ng-model="settings.sorting.ascending" ng-click="onSortClick()"> <span><span></span>{{labels.descending}}</span></label>
        </div>
    </div>
    <div class="sort-filter-menu-head sort-filter-menu-head-filter" ng-click="showView(views.filtering)">
        <span class="sort-filter-menu-sect-head-lbl">
            <span class="sort-filter-menu-state-indicator-cont"
                  ng-class="{'sort-filter-menu-indicator-collapsed': settings.view != views.filtering, 'sort-filter-menu-indicator-exp': settings.view == views.filtering}">
                <i class="sort-filter-menu-state-indicator fa fa-sort-desc"></i>
            </span>
            {{labels.filter}}
        </span>
    </div>
    <div ng-class="settings.view == views.filtering ? 'sort-filter-menu-sect-expanded' : 'sort-filter-menu-sect-collapsed'">
        <ol class="sort-filter-menu-filter-list">
            <li ng-click="toggleSelectAll()">
                <input type="checkbox" id="filterValuesCheckAll"
                    ng-model="settings.allValuesSelected"
                    ng-click="toggleSelectAll();$event.stopPropagation()"/>
                <label for="filterValuesCheckAll">{{labels.selectAll}}</label>
            </li>
            <li ng-repeat="uv in settings.uniqueValues | orderBy: 'value' track by uv.value" ng-click="toggleFilterValue(uv)">
                <input type="checkbox" id="filterValue{{$index}}"
                    ng-model="uv.selected"
                    ng-click="$parent.toggleFilterValue(uv);$event.stopPropagation()" />
                <label for="filterValue{{$index}}">{{uv.value}}</label>
            </li>
        </ol>
        <div class="sort-filter-menu-footer">
            <span class="sort-filter-menu-footer-button" ng-click="onApplyFilterEvent()">
                {{labels.applyFilter}}
            </span>
            <span class="sort-filter-menu-footer-button" ng-click="onClearFilterEvent()">
                {{labels.clear}}
            </span>
        </div>

    </div>
</div>