.slds-file-selector {
  width: 100% !important;
}

.slds-file-selector__dropzone {
  width: 100% !important;
}

slot[interop-primitiveFileDroppableZone_primitiveFileDroppableZone] {
    padding-left: 40%;
    padding-top: 2%;
    padding-bottom: 2%;
    display: inline-block;
    width: 100%;
}
