/* ==========================================================================
   Buttons
   ==========================================================================
*/

button,
.btn {
	padding:0px 12px;
	box-shadow: 0 2px 4px 0 rgba(50, 65, 83, 0.38);
	border:0;
	outline:0;
	overflow:hidden;
	display: inline-block;
	cursor:pointer;
    z-index: 1;
    will-change: opacity, transform;
	transition: all .3s ease-out;
	height:40px;
	border-radius: 2px;
	.mat-button-wrapper{
		height: 20px;
		width: 162px;
		font-size: 14px;
		font-weight: 500;
		letter-spacing: 0.4px;
		line-height: 20px;
	}
	&.primary {
		background:$blue-darken-3;
		color:$white;
		&:active {
			background:$blue-darken-3;
		}
	}
	&.flat{
		background:transparent;
		color:$grey-darken-2;
		box-shadow:none;
		&:active {
			color:$grey;
		}
	}
	&.primary.flat {
		color:$blue;
		&:active {
			color:$blue-darken-2;
		}
	}
	&.secondary {
		background:$white;
		color:$blue-darken-3;
		&:active {
			color:$blue-lighten-2;
		}
	}
	&.action {
		background:$blue;
		color:$white;
		&:active {
			background:$blue-lighten-1;
		}
	}
	&.disabled {
		background:$grey-lighten-9;
		color:$grey-lighten-11;
		box-shadow:none;
		&:hover {
			box-shadow:none;
		}
	}
	&:hover {
		box-shadow: 0 3px 8px 0 rgba(50, 65, 83, 0.5);
	}
	&.flat:hover {
		box-shadow:none;
	}
}

.slide-toggle.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: $white ;
}
.slide-toggle.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: #0079CC ;
}

.mat-flat-button.mat-primary[disabled], .mat-flat-button.mat-warn[disabled], .mat-flat-button[disabled][disabled] {
	background:$grey-lighten-9;
	color:$grey-lighten-11;
	box-shadow:none;
}