	.wizard-container {
        	width: 1045px;        	 
         }
        .wizard-selection {
             	font-weight: bold;
    		font-size: 0.7rem;
    		margin-right: 1rem;
        	margin-bottom: 8px;
         }
        .wizard-dropdown {
        	width: 176px;
        	height: 20px;
        	margin-right: 1.5rem;
        	margin-bottom: 8px;
        }
        .wizard-btn-go {
        	width: 61px;
    	    	height: 20px;    
    		padding: 0;
        	margin-top: 1px;
        	margin-bottom: 8px;
        }        
        .wizard-listview {
      	  	margin-bottom: 5px;
        }
        .wizard-listview tr td.dataCell:first-child a {
        	color: #006295;
		text-decoration: none;
        }
        .wizard-listview tr td.dataCell:first-child a:hover {
        	color: #006295;
		text-decoration: underline;
        }
	.wizard-runtime-pagination {
		width: 100%;
        }
	.wizard-runtime-pagination a {
		text-decoration: none;
        }
	.wizard-runtime-pagination a:hover {
		text-decoration: underline;
        }
	.searchTextWizardRuntime {        	         
		float: right; 
        	width: 222px; 
        	height: 20px; 
        	margin-bottom: 7px;
        	text-indent: 5px;       	     	
        }