body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing:revert;}

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color: #ffffff; 
  color: #0033cc;
  border: none;
  cursor: pointer;
  position: fixed;
  bottom: 1%;
  margin: auto;
  width: 449px;
  height: 3.7%;
  left: 63.3%;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 1%;
  /* max-width: 23%; */
  max-width: 449px;
  width:100%;
  border: none;
  z-index: 9;
  left: 63.3%;
}

/* Add styles to the form container */
.form-container {
  max-width: 100%;
  padding: 1px;
  background-color: white;
  margin: auto;
}

/* Full-width textarea */
.form-container iframe {
  width: 100%;
  padding: 1px;
  margin: 1px 0 35px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 100%;
  height:calc(78vh - 100px);
  max-height: 769px;
  border-bottom: 1px solid rgb(221, 219, 218);
}

/* When the textarea gets focus, do something */
.form-container iframe:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 6px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: #00C9FF;
  height: 35px;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .open-button {
    left: 50%;
    margin-left: -220px;
  }

  .chat-popup{
    left: 50%;
    margin-left: -220px;
  }
} 

/* Small devices (portrait tablets and large phones, 600px and up) .*/
@media only screen and (max-width: 780px) {
  .THIS .open-button {
    left: 50%;
    margin-left: -220px;
  }
  .THIS .chat-popup{
    left: 50%;
    margin-left: -220px;
  }
}