/**
 *	Apttus Contract Management
 *	TeamMemberSelection-uistyles.css
 *	 
 *	@2019 Apttus Inc. All rights reserved.
 * 
 */
 .sectionTitle {
  text-align: left; 
  display: inline-block; 
  width: 33%;
  font-weight: bold;
}
.padd50 {
  padding-left:20px;
  padding-top:25px;
}
.widthSearchTectbox {
      width:400px;
      height: 25px;
}
.width100 {
    width:100%;
}
.hidden {
  display: none;
}
.border0 {
  border:0px;
}
.mainleft {
  float:left;
  width:50%;
  margin-bottom:50px;
}
.reviewerSelection {
  border-right:solid 1px #CBD4DA;
}
.searchSection {
  float:left;
  padding-top:0px;
}
.searchInput {
  float:left;
  padding-top:2px;
}
.searchButton {float:right;}

.searchSelection {
  padding-left:20px;
  width:407px;
}
.searchNoRecordSection {
  text-align:center;
  padding-top:50px;
  padding-left:20px;
  padding:bottom:40px;
  width:90%;
}
.selectedSection {
  float:left;
  padding-top:30px;
  padding-left:10px;
}
.selectedSectionInner {
  padding-top:20px;
  padding-left:10px;
}
.selectedNoRecordSection {
  text-align:center;
  padding-top:20px;
  padding-left:20px;
  padding:bottom:40px;
  width:90%;
}
.btnAlign {
  float:right;
}


.pageSectionHeader{ 
	padding: 1rem!important;
	border-bottom: 1px solid rgb(221, 219, 218)!important;
	display:block!important;
}
.pageStepTitle{
	text-align: left!important; 
	display: inline-block!important; 
	width: 33%!important;
  font-weight: bold!important;
  font-size: 14px;
}
.progressIndicatorPanel {
	max-width:40%!important;
	display:inline-block!important;
	vertical-align:middle!important;
}
.progressIndicatorToolTip {
	position:absolute!important;
	top:-2.8rem!important;
	margin-left:-1rem!important;
}
.slds-progress__item img{
	width:16px!important;
}

.rightButtonsPanel {
	display:inline-block!important;
	float:right!important;
}

.pbBody{
  margin:0px!important;
  padding: 0px!important;
}

.emailAttachmentHeader {
  float:left;
  width:100%;
  padding-left:20px;
  border-top:solid 1px #2e5f9d;
}
.displayInline {
	display: inline!important;
}