.left-pane-review-cycles .slds-button {
	color: #2b2826!important;
}

.slds-textarea {
    height:100px !important;
}

.lightning-datatable-container .slds-hyphenate {
  overflow-wrap: break-word;
  width : 100%;
}