.THIS .scrollable{
    max-height: none !important;
}
.THIS.Show
{
    display:block;
}
.THIS.Hide
{
    display:none;
}
.THIS .slds-output:hover
{
    text-decoration: underline;
}
.THIS .ErrorMsg{
    color:red;
}