@font-face {
	font-family: ProximaNovaSoft-Medium;
	src: url(../fonts/2D856D_0_0.eot);
	src: url(../fonts/2D856D_0_0.eot?#iefix) format('embedded-opentype'),
		url(../fonts/2D856D_0_0.woff2) format('woff2'),
		url(../fonts/2D856D_0_0.woff) format('woff'),
		url(../fonts/2D856D_0_0.ttf) format('truetype')
}

@font-face {
	font-family: ProximaNovaSoft-Semibold;
	src: url(../fonts/2D856D_1_0.eot);
	src: url(../fonts/2D856D_1_0.eot?#iefix) format('embedded-opentype'),
		url(../fonts/2D856D_1_0.woff2) format('woff2'),
		url(../fonts/2D856D_1_0.woff) format('woff'),
		url(../fonts/2D856D_1_0.ttf) format('truetype')
}

@font-face {
	font-family: ProximaNovaSoft-Bold;
	src: url(../fonts/2D856D_2_0.eot);
	src: url(../fonts/2D856D_2_0.eot?#iefix) format('embedded-opentype'),
		url(../fonts/2D856D_2_0.woff2) format('woff2'),
		url(../fonts/2D856D_2_0.woff) format('woff'),
		url(../fonts/2D856D_2_0.ttf) format('truetype')
}

@font-face {
	font-family: ProximaNovaSoft-Regular;
	src: url(../fonts/2D856D_3_0.eot);
	src: url(../fonts/2D856D_3_0.eot?#iefix) format('embedded-opentype'),
		url(../fonts/2D856D_3_0.woff2) format('woff2'),
		url(../fonts/2D856D_3_0.woff) format('woff'),
		url(../fonts/2D856D_3_0.ttf) format('truetype')
}

body {
	color: #44596C;
	font-family: ProximaNovaSoft-Regular, sans-serif;
	font-weight: 400;
	line-height: 1;
	font-size: 1.5rem;
}
h1,h2,h3,h4,h5,h6{
	font-family: ProximaNovaSoft-Semibold, sans-serif;
}
.page-container{
	margin: 80px 10px 40px;
}
.btn-primary-custom{
	background: #2093da;
	border-color: #2093da;
}
.btn-file input[type=file] {
	position: absolute;
	top: 0;
	min-width: 100%;
	min-height: 100%;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}
.customLabelCSS {
	color: #8f96be!important;
	font-size: 1.2em!important;
}
.customDropdownCSS{
	min-width: 220px!important;
	background: white!important;
	text-align: left!important;
	padding-right: 30px!important;
}
.middle-align{
	vertical-align: middle!important;
}
.requiredFieldIcon{
	background-color: #c00;
	position: absolute;
	left: -3px;
	width: 3px;
	top: 0px;
	bottom: 0px;
	border-radius: 5px 0px 0px 5px;
}
.apt-cart-head-label a:focus span, .apt-cart-head-label a:hover span {
	color: white;
}

/*Action Button on Page Footer starts here*/
.display-actions-block {
	width: 100%;
	position: fixed;
	clear: both;
	bottom: 0rem;
	height: auto;
	z-index: 1000;
}
.display-actions-block .display-actions-block-button {
	background: #4BAA77;
	min-height: 36px;
	height: auto;
}
.display-actions-block .display-actions-block-button button,
.display-actions-block .display-actions-block-button .display-actions-button{
	background: #A5E0BB;
	color: #28492C;
	line-height: 16px;
	vertical-align: middle;
	width: auto;
	font-size: 1.4rem;
	margin: .4rem 1rem;
	padding: .6rem 2rem;
	border: none;
	border-radius: 5px;
	font-weight: 400;
	display: inline-block;
	-webkit-transition: background .1s ease-in;
	transition: background .1s ease-in;
}
.display-actions-block .display-actions-block-button button[disabled],
.display-actions-block .display-actions-block-button .display-actions-button[disabled]{
	background: #B4BCC4;
	color: #F2F2F2;
    cursor: not-allowed;
    font-weight: normal;
}
/*Action Button on Page Footer ends here*/