@import 'scss/mixin';
@import 'scss/variable';
@import 'scss/index';
@import 'scss/components/buttons';

.mat-grid-tile .mat-figure {
    display: block !important;
    position: relative !important;
    top: 0px !important;
    left: 12px !important;
}

.filter-btn{
    background-color:#3C9CC3; 
    color:#fff
}

.clear-filter-btn{
    background-color:#3C9CC3;
    color:#fff
}

.mat-sort-header-arrow {
    margin: 8px 0px 0px 0px !important;
    color: #0079CC;	
    opacity:0;
    height: 12px;
    width: 12px;
    min-width: 12px;
    margin: 0 0 0 6px;
    position: relative;
    float: right;
}
.mat-sort-header-container {
    display: flex;
    cursor: pointer;
    overflow: hidden;
    max-height: 32px;
    text-overflow: ellipsis;
    float: left;
    max-width: calc(100%);
    white-space: nowrap;
    color: #323232;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.4px;
    line-height: 26px;
}

mat-paginator.paginator button.mat-icon-button{
    box-shadow:none !important;
    background:none !important;
}

.mat-sort-header-button {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none;
    background: 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 0;
    cursor: inherit;
    outline: 0;
    font: inherit;
    color: currentColor;
    /* -webkit-box-pack: start; */
    -ms-flex-pack: start;
    /* justify-content: flex-start; */
    -webkit-line-clamp: 2;
    /* word-break: break-word; */
     overflow: visible !important; 
    max-height: 32px;
    /* text-overflow: ellipsis; */
    float: left;
    /* max-width: calc(100%); */
    white-space: nowrap;
    display: block;
    font-size: 12px !important;
}

mat-header-cell > span:first-child {
    display: block;    
    width: calc(100% - 15px);
    //float:left;
}

mat-header-cell > span:nth-child(2) {
   float:left;
}

.mat-sort-header-container:hover button.mat-sort-header-button {
	width: calc(100% - 20px) !important; 
	overflow: hidden !important; 
    text-overflow: ellipsis; 
    white-space: nowrap;
    display: block;
}

.detail-header .mat-grid-tile  {		
    .mat-figure {		
        top: 0;		
        left: 0;		
        right: 0;		
        bottom: 0;		
        position: absolute;		
        display: flex;		
        align-items: flex-start;		
        justify-content: flex-start;		
        height: 100%;		
        padding: 8px;		
        margin: 0;		
        flex-direction: column;		
    }
}

.mat-menu-content{
    color: #323232;
    height: auto;
    font-size: 14px;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: $white ;
}
.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: #0079CC ;
}

.paginator{
    .mat-select-value-text{
        font-size:12px !important;
    }
}