/* Base for label styling */
.directives-common [type="checkbox"]:not(:checked),
.directives-common [type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}
.directives-common [type="checkbox"]:not(:checked) + label,
.directives-common [type="checkbox"]:checked + label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
}
.directives-common [type="checkbox"] + label + label {
    cursor: pointer;
}

/* checkbox aspect */
.directives-common [type="checkbox"]:not(:checked) + label:before,
.directives-common [type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 17px; height: 17px;
    border: 1px solid #aaa;
    background: #f8f8f8;
    border-radius: 3px;
}

.directives-common [type="checkbox"]:checked + label:before {
    background-color: #2a94d7;
    border: 1px solid #2a94d7;
}

/* checked mark aspect */
.directives-common [type="checkbox"]:not(:checked) + label:after,
.directives-common [type="checkbox"]:checked + label:after {
    content: '\2713';
    position: absolute;
    top: 0;
    left: 4px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    transition: all 1ms;
}
/* checked mark aspect changes */
.directives-common [type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}
.directives-common [type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}
/* disabled checkbox */
.directives-common [type="checkbox"]:disabled:not(:checked) + label:before,
.directives-common [type="checkbox"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
}
.directives-common [type="checkbox"]:disabled:checked + label:after {
    color: #999;
}
.directives-common [type="checkbox"]:disabled + label {
    color: #aaa;
}
/* accessibility */
.directives-common [type="checkbox"]:checked:focus + label:before,
.directives-common [type="checkbox"]:not(:checked):focus + label:before {
    border: 1px dotted blue;
}




/***************** RADIO INPUTS *****************/
.directives-common input[type="radio"] + span span {
    display: inline-block;
    height: 20px;
    width: 20px;
    vertical-align: middle;
    cursor: pointer;
    moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #d4d4d4;
    box-sizing: border-box;
}

.directives-common label.disabled > input[type="radio"]:checked + span span {
    border: solid 4px #cccccc;
    background-color: #cccccc;
}

.directives-common input[type="radio"] {
    display:none;
}
.directives-common input[type="radio"] + span {
    font-family:Arial, sans-serif;
    font-size:14px;
}
.directives-common input[type="radio"] + span span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    cursor:pointer;
    -moz-border-radius:  50%;
    border-radius:  50%;
}

.directives-common input[type="radio"] + span span {
    background-color:#fff;
}

.directives-common input[type="radio"]:checked + span span{
    border: solid 4px #2a94d7;
}

.directives-common-link {
    cursor: pointer;
    font-size: 14px;
    color: #2093DA;
}

.directive-common-radio-vertical {
    display: block;
}
.incentive-information-fields-cont {
    padding: 10px 32px;
    overflow: auto;
}

.incentive-information-field {
    width: 270px;
    margin-right:30px;
    float: left;
}
.incentive-information-field.include-exclude {
    width: 150px;
}
.incentive-information-field p, .benefits-component-wrapper,
.deductions-component-wrapper td {
    color: #333333;
    font-size: 13px;
    margin: 6px 0 20px 0;
}
.incentive-information-field label, .benefits-component-wrapper label,
.benefits-component-wrapper th, .deductions-component-wrapper th {
    color: #999999;
    font-size: 14px;
    font-weight: normal;
}
.incentive-information-field input[type='radio'] {
    display: inline;
}
.incentive-information-field input,
.incentive-information-field select,
.incentive-information-field textarea {
    width: 100%;
}

.incentive-information-field:nth-child(3n+1) {
    clear: both;
}
.incentive-information-field:nth-child(3n) {
    margin-right: 0;
}