.apexp .bPageBlock .detailList {
    			width: 100%;
        		border : none;
			}
            .apexp .bPageBlock.apexDefaultPageBlock .pbBody .pbSubheader {
        		background-color:#C7C7C7;        		
        	}
        	.apexp .bPageBlock.apexDefaultPageBlock .pbBody {
        		margin : 0 0 0 0;
        	}            
        	.apexp .bPageBlock.apexDefaultPageBlock .pbBody .pbSubheader h3 {
        		color : #000;
        		font-size : 1.2em;
        	}        	        	      	
        	.bPageBlock .detailList tr td, .bPageBlock .detailList tr th, .hoverDetail .bPageBlock .detailList tr td, .hoverDetail .bPageBlock .detailList tr th {
        		border-bottom: 0px solid #e3deb8;
			}
        	table tr label {
    			padding: 2px 0 0 0;
    			float: right;
			}
			.uploadFileButton {
            	border: 1px solid #b5b5b5;
            	border-bottom-color: #7f7f7f;
            	font-weight: bold;
            	font-size: .9em;
            	-moz-border-radius: 3px;
            	-webkit-border-radius: 3px;
            	border-radius: 3px;
            	font-family: Arial,Helvetica,sans-serif;
            	cursor: pointer;
            	display: inline;
            	text-align: center; 
        		padding: 4px 3px;    		
        		float: left;
	        }         
        	.subjectText {
        		width: 59.5%;        		
        		height:25px; 
        		display:inline-block; 
        		padding-left: 6px;
        	}
        	.emailBody {
        		margin: 0px; 
        		width: 80%; 
        		padding-left: 6px;
        	}
        	.emailAddressField {
        		padding-left: 6px;
        	}